<?xml version="1.0"?>
<theme>
    <name>CEDEC</name>
    <version>2.0</version>
    <compatibility>2.0+</compatibility>
    <author>Varios autores</author>
    <license>Creative Commons by-sa</license>
	<license-url>http://creativecommons.org/licenses/by-sa/3.0/</license-url>
	<description>
        Programadores CSS

        Mercedes Cotelo Lois
        Antonio Monje Fernández - antonio.monje@ite.educacion.es
        http://cedec.ite.educacion.es

        Diseño gráfico
        Francisco Javier Pulido Cuadrado
		
        Diseño adaptativo ("responsive design")
        Ignacio Gros
        http://www.gros.es	

        Trabajo derivado de:

        ﻿Juan Diego Pérez - 2009
        http://www.twitter.com/pekechis

        Anibal de la Torre
        http://www.adelat.org

        Este estilo para eXelearning ha sido desarrollado bajo Licencia Reconocimiento-No comercial 3.0 España License de Creative Commons.

        http://creativecommons.org/licenses/by-sa/3.0/es/

        Usted es libre de:
        
             1.- copiar, distribuir y comunicar públicamente la obra
             2.- Remezclar — transformar la obra
             3.- hacer un uso comercial de esta obra

        Bajo las condiciones siguientes:
        
             1.- Reconocimiento. Debe reconocer los créditos de la obra de la manera especificada por el autor o el licenciador (pero no de una manera que sugiera que tiene su apoyo o apoyan el uso que hace de su obra).
             2.- Compartir bajo la misma licencia. Si altera o transforma esta obra, o genera una obra derivada, sólo puede distribuir la obra generada bajo una licencia idéntica a ésta.
    </description>
    <extra-head><![CDATA[<meta name="viewport" content="width=device-width, initial-scale=1" />
    ]]></extra-head>
    <extra-body><![CDATA[<script type="text/javascript" src="_cedec_js.js"></script>]]></extra-body>
</theme>