/*  =================================================

     Fichero: content.css
     Proyecto: cedec- Nueva plantilla para exeLearning
     Autores: Mercedes Cotelo Lois / Antonio Monje Fernández / Francisco Javier Pulido Cuadrado
     Fecha: Mayo 2011
     Descripcion: Hoja de estilos principal
     Company:   cedec - Centro Nacional de desarrollo Curricular en Sistemas No propietarios.
     Referencias: Obra derivada de (ver license.txt)
     
   ================================================== */
   
/*Reseteo generico de estilos */

* {
	padding: 0;
    margin: 0; 
	font-family: Verdana,Arial, Helvetica, sans-serif !important;
}

/* Estilo general del cuerpo de los contenidos */
body, html 
{
  	background-color: #ffffff;
	color: #646464;
	font-family: Verdana,Arial, Helvetica, sans-serif !important;
	line-height: 120%;
}

body
{
	font-family: Verdana,Arial, Helvetica, sans-serif !important;
}

h1, h2, h3, h4, h5
{
	margin:0px;
	padding:0px;
}

/* Separación entre párrafos*/
p
{
	margin: 0;
	margin-top: 0.7em
}

/* Estilo para los enlaces */
a:link,
a:active,
a:visited
{
	color: #598AC3;
	text-decoration: none;
}

/*Estilo para los enlaces cuando tenemos el cursos sobre ellos*/
a:hover
{
	color: #598AC3;
	text-decoration:underline;
}

/* Imágenes*/
img
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: -3px;
	border: 0px;
	padding: 0px;
}

a img
{
	border: 0px;
	margin: 0px;
	padding: 0px;
}

/*Tablas*/
table
{
	margin: 10px;
	
	border-color: inherit;
	border-collapse: collapse;
	padding: 3px;
}

table[align="center"]
{
	margin-left:auto;
	margin-right:auto;
}

td
{
	border: 0px solid;
	border-color: inherit;
	border-collapse: collapse;
	padding: 3px;
}

/* PARA QUE AL EXPORTAR SE QUITEN LOS BORDES DE LAS PREGUNTAS */
.question table
{
	border: 0;
}

.question td
{
	border: 0;
}

/* Formato para las listas */
/* Para que haya indexación en las listas anidadas */
ol,ul
{
	margin-left: 2em;	
}
/* Cambio el icono para las listas si numerar */
ul li
{
	list-style-image: url(bullet.gif);
}

/* Estilo para el título del NODO, que es cada una de las entradas
de la jerarquía de contenidos que crearemos con eXe */
#main {
	position: relative;
}
div#nodeDecoration
{
	text-align: left;
}

#nodeTitle
{
	
	
	background-position: right center;
	background-repeat: no-repeat;
	color: #598AC3;
	background-color: #ffffff;
   font-weight: bold;
   display: block;
	font-size: 20px;
	line-height: 30px;
/*	border-top: 0px double #CCCCCC;  */
	border-bottom: 3px solid #BD4949;
	padding-top: 1px;
	padding-bottom: 5px;
	margin-top: 0px;
}

/* Cabecera para cuando exportemos a web sola para imprimir */
#header{height:49px;background:url(my_header.jpg) no-repeat 0 0;padding:59px 0 0 10px}
/*=====================================================
			ESTILOS COMUNES PARA TODOS LOS iDEVICES
========================================================*/


/*
Estilos generales para los iDevice
A menos que un estilo particular diga otra cosa, todos
los iDevice heredarán lo que aquí pone
*/
.iDevice
{
	/* Simplemente lo separo un poquito del resto de iDevices
	y separo los contenidos del borde */
	padding: 0px;
}

.iDevice_icon
{
	border: 0px;
	position: relative;
}

.iDevice_inner
{
	margin: 0;
    width: 100%;
	height: auto !important;
	*height: auto !important;
	*height: 0px;
    position: relative;
	overflow-y: auto;
}

.emphasis1
{
	margin:0px;
}

.emphasis0
{
	width: auto;
	height: auto !important;
	*height: auto !important;
	*height: 0px;
	margin-bottom: 5px;
	overflow-y: auto;
}

/*
Idevice Actividad. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.activityIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
	background: #ffffff url('inf_der_activity.gif') no-repeat bottom right;
	border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.activityIdevice .emphasis1
{
	background: transparent url('inf_izq_activity.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
	width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.activityIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_activity.gif"] 
{
	border: 0px;
	position: relative;
   left: -8px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.activityIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_activity.gif"] + .iDeviceTitle
{
	display: block;
	background: #ffffff url('sup_der_activity.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
	color: #be4d4c;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
	height: 40px;       /* Tiene que tener el alto del icono */
	position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
	z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 100px;
   font-size: 14pt        /* z-index inferior al del icono, para que quede tapado */
}


.activityIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_activity.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -40px;
}

/*
Idevice Reflexión. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.ReflectionIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_reflection.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.ReflectionIdevice .emphasis1
{
   background: transparent url('inf_izq_reflection.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.ReflectionIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_reflection.gif"] 
{
	border: 0px;
	position: relative;
   left: -12px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.ReflectionIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_reflection.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_reflection.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #0b6e70;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}

.ReflectionIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_reflection.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}


/*
Idevice Objetivo. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.objectivesIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #efebdc url('inf_der_objectives.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.objectivesIdevice .emphasis1
{
   background: transparent url('inf_izq_objectives.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.objectivesIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_objectives.gif"] 
{
	border: 0px;
	position: relative;
   left: -12px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.objectivesIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_objectives.gif"] + .iDeviceTitle
{
	display: block;
	background: #efebdc url('sup_der_objectives.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
	color: #646464;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
	height: 40px;       /* Tiene que tener el alto del icono */
	position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
	z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
	padding: 35px 0 0 90px;
   font-size: 14pt        /* z-index inferior al del icono, para que quede tapado */
}


.objectivesIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_objectives.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}
/*
Idevice Caso de estudio. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.CasestudyIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #e2dff0 url('inf_der_casestudy.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.CasestudyIdevice .emphasis1
{
   background: transparent url('inf_izq_casestudy.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.CasestudyIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_casestudy.gif"] 
{
	border: 0px;
	position: relative;
   left: -12px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.CasestudyIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_casestudy.gif"] + .iDeviceTitle
{
	display: block;
   background: #e2dff0 url('sup_der_casestudy.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #646464;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 35px 0 0 120px;
   font-size: 14pt            /* z-index inferior al del icono, para que quede tapado */
}


.CasestudyIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_casestudy.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}


/*
Idevice Actividad de lectura. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.readingIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #e7edce url('inf_der_reading.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.readingIdevice .emphasis1
{
   background: transparent url('inf_izq_reading.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.readingIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_reading.gif"] 
{
	border: 0px;
	position: relative;
   left: -12px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.readingIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_reading.gif"] + .iDeviceTitle
{
	display: block;
   background: #e7edce url('sup_der_reading.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #646464;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 35px 0 0 90px;
   font-size: 14pt         /* z-index inferior al del icono, para que quede tapado */
}


.readingIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_reading.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}



/*
Idevice Preconocimiento. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.preknowledgeIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
	background: #ffe7f7 url('inf_der_preknowledge.gif') no-repeat bottom right;
	border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.preknowledgeIdevice .emphasis1
{
	background: transparent url('inf_izq_preknowledge.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
	width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.preknowledgeIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_preknowledge.gif"] 
{
	border: 0px;
	position: relative;
	left: -12px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.preknowledgeIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_preknowledge.gif"] + .iDeviceTitle
{
	display: block;
	background: #ffe7f7 url('sup_der_preknowledge.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
	color: #646464;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
	height: 40px;       /* Tiene que tener el alto del icono */
	position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
	z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
	padding: 35px 0 0 110px;
	font-size: 14pt/* z-index inferior al del icono, para que quede tapado */
}


.preknowledgeIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_preknowledge.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}

/*
Idevice Multiopción. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.MultichoiceIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.MultichoiceIdevice .emphasis1
{
	background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.MultichoiceIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.MultichoiceIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #be4d4c;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}


.MultichoiceIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}

/*
Idevice Cloze. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.ClozeIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.ClozeIdevice .emphasis1
{
   background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.ClozeIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}


/*
El título se utiliza para el efecto superior derecho
*/
.ClozeIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #be4d4c;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}


.ClozeIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}

/*
Idevice Verdadero falso. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.TrueFalseIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
	background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
	border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.TrueFalseIdevice .emphasis1
{
	background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
	width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.TrueFalseIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] 
{
	border: 0px;
	position: relative;
	left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.TrueFalseIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] + .iDeviceTitle
{
	display: block;
	background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
	color: #be4d4c;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
	height: 40px;       /* Tiene que tener el alto del icono */
	position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
	z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
	padding: 25px 0 0 90px;
	font-size: 14pt
}


.TrueFalseIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}


/*
Idevice Multiselección. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.MultiSelectIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.MultiSelectIdevice .emphasis1
{
   background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.MultiSelectIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.MultiSelectIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #be4d4c;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}


.MultiSelectIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}

/*
Idevice Examen scorm. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.QuizTestIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.QuizTestIdevice .emphasis1
{
   background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.QuizTestIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.QuizTestIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #be4d4c;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}


.QuizTestIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_question.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}



/* Estilo para las retroalimentaciones */
.feedback
{
	border: 1px dashed #4E4E4E;
	color: #4E4E4E;
	background-color: #FFFFFF;
	padding: 5px;
	margin: 5px;
	font-family: Verdana,Arial, Helvetica, sans-serif !important;
	font-size:1em;	
	height: auto !important;
	*height: auto !important;
	*height: 0px;
	margin-bottom: 5px;
	overflow-y: auto;
}

/* Estilo para los formularios y botones*/
input
{
	font-weight: bold;
	color: inherit;
	border-color: inherit;
	border-style: solid;
	border-width: 1px;
}

select
{
	font-weight: bold;
	color: inherit;
	border-color: inherit;
	border-style: solid;
	border-width: 1px;
}

/* Estilo para las sugerencias y ayudas pedag�gicas */
.popupDiv
{
	background-color: #FFFFFF;
	border: 2px solid #607489;
	padding: 4px;
	margin-left: 15px;
	text-align: left;
}

.popupDivLabel
{
	text-align: center;
	font: message-box;
	font-weight: bold;
	color: #bd4949;
	margin: 4px;
	background-color: #FF0000;
}


/*
Idevice Galería de imágenes --> Galería de imágenes. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.GalleryIdevice {
	position: relative;
	margin: 20px auto;
	width: 110%;
   background: #ffffff url('inf_der_gallery.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.GalleryIdevice .emphasis1
{
   background: transparent url('inf_izq_galeria.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.GalleryIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_gallery.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.GalleryIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_gallery.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_gallery.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #2c8384;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
	z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 80px;
   font-size: 14pt
}


.GalleryIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/cedec/icon_gallery.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}

/* Caracter�sticas para cada una de las fotos de la galer�a */
img.gallery
{
	margin-left: 30px;
	border: 2px solid #2C8384;
	padding: 10px;
	margin-top: 10px !important;
	*margin-top: 60px !important; 
	*margin-top: 60px;
}

/* Caracter�sticas del t�tulo de las fotos de la galer�a */
.caption
{
	font-weight: normal;
	margin-left: 5px !important;
	*margin-left: 30px !important;
	*margin-left: 50px;
	padding: 10px;
	margin-bottom: 50px;
	text-align: center;
}

/* IDEVICE IMAGEN AMPLIADA */
.image_text
{
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	color:#4E4E4E;
	background-image:url(fondoev_bn.gif);
	background-position: left top;
	background-repeat: repeat-y;
	background-color: #FCFCFC;
	border: 1px solid #000000;
}

.image_text .image
{
	background-image:url(icon_zoom.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

.image object
{
	margin: 0px;
	padding: 0px;
	margin-top: 55px;	
}
.image_text + .block
{
	float:left;
	margin: 5px;
	margin-right: -15px;
	color: #4E4E4E;
}

/* IDEVICE SITIO EXTERNO SITIO WEB */
iframe
{
	border: 1px solid #000000;
	padding: 2px;
}
/* CAMBIOS DE TIPO DE LETRAS EN SITIOS DETERMINADOS
 * SOBRECARGANDO EL BASE.CSS DE LA APLICACIÓN
 */
.reading_reference
{
	font-family: Verdana,Arial, Helvetica, sans-serif !important;	
}




/* ESTILOS PARA IMPRIMIR */

img
{
	page-break-inside:avoid;
}
