/* ==========================================
Copyright University of Auckland 2004
Created by Brent Simpson, brent.simpson@auckland.ac.nz
Centre for Flexible and Distance Learning
	Modificado: Aníbal de la Torre /Juan Diego Pérez
	Responsive design by Ignacio Gros for eXeLearning.net
============================================= */
#header {
    color:#598AC3;
    background-color:#fff;
    height:66px;
    padding:59px 20px 0; 
    font-weight:normal;
    line-height:1.2em
}

#nodeDecoration{
	margin-bottom:30px;
}

/* Pagination */
.pagination{padding-top:10px;text-align:right}
.pagination a{padding:3px}
.pagination a:hover{text-decoration:none}
#topPagination{
	position:absolute;
	right:20px;
	top:7px;
	z-index:99
}
#topPagination .pagination{border:none}
#main-wrapper{padding:10px 0 0 238px}
#main{width:100%}

#content{width:985px;margin:0 auto;text-align:left;position:relative;padding-bottom:28px}
#skipNav a{
    font-size:.9em;
    background:#598AC3;
}
#siteNav{
	z-index:1000;
	width:220px;
	float:left;
	text-align:left;
	padding-right:5px;
	border-right:1px dashed #365475;
}
#siteNav ul,#siteNav li{
	margin:0;
	padding:0;
	list-style:none;
}
#siteNav a{
	list-style-image:none;
	display:block;
	padding:4px 0 4px 18px;
	color:#598AC3;
	font-weight:bold;
	background-color:#fff;
	text-decoration:none;
	width:198px;
}
#siteNav a:hover{
	color:#365475;
	font-weight:bold;
	background-color:#F5F5F5;
	border:1px dashed #ccc;
}
#siteNav .daddy{
	background-image:url(collapse2.gif);
	background-repeat:no-repeat;
	background-position:2px 6px;
}
#siteNav .active{
	background-color:#FDFAF9;
	background-repeat:no-repeat;
	color:#BD4949;
	font-weight:bold;
}
#siteNav .daddy.active{
	background-image:url(collapse.gif) !important;
}
#siteNav ul ul .active{
	background-image:none !important;
}
#siteNav#siteNav .no-ch{
	font-size:.82em;
}
#siteNav ul ul ul a{
	padding-left:28px;
	width:188px;
	font-size:.82em;
}
#siteNav ul ul ul ul a,#siteNav#siteNav ul ul ul ul .no-ch{
	font-size:1em;
}
#siteNav .other-section{
	display:none; /* Remove if you want all levels to be displayed */
}
#siteFooter{padding:10px 0 0 238px}

/* No menu */
.no-nav #main-wrapper,.no-nav #siteFooter{padding-left:0}

/* IE6 */
* html #main{width:auto}
* html #main-wrapper{padding-left:250px}

/* Responsive design */
@media all and (max-width: 1020px) {
	body{margin:0;padding:0}
	#content{width:100%;max-width:985px}
	#siteNav{margin-left:10px}
	#main-wrapper{padding:10px 10px 0 248px}
	.no-nav #main-wrapper,.no-nav #siteFooter{padding-left:10px}
	#bottomPagination{margin-right:10px}
}
@media all and (max-width: 780px) {
	#siteNav{width:auto;float:none;padding:0;margin-bottom:10px;border:none}
	#content #siteNav a{width:80%;line-height:1.5em}
	#content #siteNav a:hover,#content #siteNav .active{border:0;background-color:#fff}
	#main-wrapper,.no-nav #main-wrapper{padding:10px 10px 0 10px}
	#siteFooter,.no-nav #siteFooter{padding:10px 10px 0 10px;text-align:center}
	#header {
		height:95px;
		padding-top:20px
	}	
	.pagination{font-weight:bold;font-size:1.1em}
	.pagination .sep{display:none}
	#topPagination{position:relative;top:auto;width:100%;right:auto;padding:0}
	#topPagination .pagination{padding:0 10px;text-align:center}
	#topPagination .prev,#topPagination .next{display:none}
	#bottomPagination,.no-nav #bottomPagination{position:relative;padding:0 10px 10px 10px}
	#bottomPagination a{display:inline-block}
	#bottomPagination .prev{position:absolute;left:10px}
	#nav-toggler a,#nav-toggler a:focus{display:block;background:#BD4949;padding:7px 0;width:100%;color:#fff;outline:none;text-decoration:none}
}