#gameQEIdeviceForm {
  margin-top: 2em;
  padding: 1em;
}

#gameQEIdeviceForm input[type="radio"], #gameQEIdeviceForm input[type="checkbox"], #gameQEIdeviceForm select {
  cursor: pointer;
}

 #gameQEIdeviceForm select {
  line-height: 1.8em;
  height: 1.8em;
  width: 4em;
}
#gameQEIdeviceForm input[type=number] {
  width: 3em;
}


#gameQEIdeviceForm label {
  margin-right: .15em;
}

.CMPT-EFeedbackP {
	display: none;
}
.CMPT-EPanel {
  margin: 0.7em auto;
  padding: 0;
  position: relative;
  width: 100%;
}

#gameQEIdeviceForm  .CMPT-EWordsNo{
	display: none;
	width: 100%;
}
/* Opciones */
#gameQEIdeviceForm .CMPT-EWordsNo input[type="text"]{
  width:50%
}
.CMPT-Hide{
  display:none;
}

@media screen and (max-width:720px) {
  #gameQEIdeviceFormTab1 .ci18n {
    width: 100%;
    float: none
  }
}
/* To review */
#gameQEIdeviceForm .exe-block-info img {
	margin-left: .2em;
	vertical-align: middle;
}
#gameQEIdeviceFormTab3 * {
	font-size: 0.9em;
}
#gameQEIdeviceFormTab3 p:first-child {
	margin-top: 0;
}
#gameQEIdeviceFormTab3 {
	overflow: auto;
}
#gameQEIdeviceFormTab3 .ci18n {
	float: left;
	width: 50%;
}
@media screen and (max-width:720px) {
	#gameQEIdeviceForm #gameQEIdeviceFormTab3 .ci18n {
		float: none;
		width: 100%;
	}
}
#gameQEIdeviceForm #gameQEIdeviceFormTab3 label {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: .2em;
}
#gameQEIdeviceForm #gameQEIdeviceFormTab3 input {
	font-size: 0.9em;
	width: 300px;
}
/* Tabs (this should be common) */
.exe-form-tabs {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}
#main .exe-form-tabs li {
	display: inline;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
.exe-form-tabs li:first-child a {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.exe-form-tabs li:last-child a {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.exe-form-tabs a {
	background: #F9F9F9;
	border: 1px solid #CCC;
	color: #666;
	display: inline-block;
	padding: .5em 1em;
}
.exe-form-tabs li:not(:last-child) a {
	border-right: none;
}
.exe-form-tabs .exe-form-active-tab {
	background: #FFF;
	color: #000;
	font-weight: 500;
}
#gameQESCORMoptions {
	margin-left: 1.5em;
	visibility: hidden;
}
label[for=gameQEActivitySCORM] {
	font-weight: bold;
}
#gameQESCORMinstructionsButton {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}
#gameQESCORMinstructionsButton ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}
#gameQESCORMinstructionsButton ul li {
	list-style-image: none;
	margin: 0 0 .5em 0;
	padding: 0;
}
#gameQESCORMinstructionsAuto {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}
#gameQESCORMinstructionsAuto ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}
