<!DOCTYPE html>
<html lang="en">
<head>
<meta name="robots" content="noindex" />
<meta name="google" content="notranslate"/>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Chen Fengyuan">
<title>Compressor.js</title>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
	<div @change="change" @dragover="dragover" @drop="drop">
		<div id="imageEditorUploader">
			<p>Drop image here or <label for="file">browse... <input type="file" class="sr-only" id="file" accept="image/*" ref="input"></label></p>
		</div>
		<div id="imageEditorOptions">
			<p>
				<label for="inputSize">size</label>
				<input type="number" name="height" id="inputSize" min="1" max="1200" value="137">
				
				<label for="inputMaxWidth">maxWidth</label>
				<input type="number" name="maxWidth" id="inputMaxWidth" v-model.number="options.maxWidth">

				<label for="inputMaxHeight">maxHeight</label>						
				<input type="number" name="maxHeight" id="inputMaxHeight" v-model.number="options.maxHeight">

				<label for="inputWidth">width</label>
				<input type="number" name="width" id="inputWidth" v-model.number="options.width">

				<label for="inputHeight">height</label>
				<input type="number" name="height" id="inputHeight" v-model.number="options.height">
			
				<label for="inputQuality">quality</label>
				<select name="quality" id="inputQuality" v-model.number="options.quality">
					<option value="0.5">50%</option>
					<option value="0.55">55%</option>
					<option value="0.6">60%</option>
					<option value="0.65">65%</option>
					<option value="0.7">70%</option>
					<option value="0.75">75%</option>
					<option value="0.8">80%</option>
					<option value="0.85">85%</option>
					<option value="0.9">90%</option>
					<option value="0.95">95%</option>
					<option value="1">100%</option>
				</select>
			</p>
		</div>	
		<div id="imageEditorResults">			
			<div id="imageEditorPreviewer" v-if="outputURL">
				<img id="imageEditorOutputImg" class="mw-100" :src="outputURL" :alt="output.name">
			</div>
			<p id="imageEditorData">
				<span class="sr-only"><strong id="imageEditorLabelName">Name:</strong> <span class="imageEditorData" id="imageEditorDataName">{{ output.name || 'N/A' }}</span></span>
				<strong id="imageEditorLabelOriginalSize">Before:</strong> <span class="imageEditorData">{{ input.size | prettySize }}</span>
				<strong id="imageEditorLabelResultSize">After:</strong> <span class="imageEditorData">{{ output.size | prettySize }} <span v-if="output.size">(-{{ ((1 - (output.size / input.size)) * 100).toFixed(0) }}%)</span></span>
				<a href="#imageEditorOutputImg" id="imageEditorSaveImg">Finish</a>
				<span id="imageEditorBackupMessage"></span>
				<!--<a :download="output.name" :href="outputURL" title="Download the compressed image" download>Download</a>-->
			</p>						
		</div>		
	</div>	
</div>
<script src="/scripts/exe_jquery.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/compressor.min.js"></script>
<script src="js/langs/all.js"></script>
<script src="js/main.js"></script>
</body>
</html>