.selecciona-MainContainer a:link, .selecciona-MainContainer a:link, .selecciona-MainContainer a:visited, .selecciona-MainContainer a:focus {
    text-decoration: none !important;
    border: 0;
    outline: none;
    border-width: 0;
    outline-width: 0;
    border-bottom: none;
}

/* Contenedor */

.selecciona-MainContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.selecciona-MainContainer * {
    box-sizing: border-box;
}

.selecciona-MainContainer p {
    margin: 0;
    padding: 0;
}

/* Instrucciones */

.selecciona-instructions {
    width: 100%;
    margin: 0.3em auto;
}

.selecciona-instructions p {
    font-size: 1em;
}

/* Minimizado */

.selecciona-LinkMaximize {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecciona-GameMinimize {
    width: auto;
    margin: 0.3em auto;
    display: none;
}

.selecciona-IconMinimize {
    width: 2em;
    height: 2em;
    margin-right: 0.3em;
    cursor: pointer;
}

.selecciona-IconMinimize:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* Juego */

.selecciona-GameContainer {
    position: relative;
    max-width: 750px;
    width: 100%;
    margin: 0.3em auto;
    padding: 0.3em;
}

/* barra de puntuaciones */

.selecciona-GameScoreBoard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3em;
}

.selecciona-GameScoreBoard p {
    font-size: 1.1em;
    width: auto;
    text-align: center;
    vertical-align: middle;
    margin-right: 0.3em;
    font-weight: bold;
}

.selecciona-GameScores {
    width: 100%;
    margin: 0 0.1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.selecciona-GameScores>p:last-child {
    width: auto;
    text-align: left;
}

.selecciona-LifesGame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecciona-NumberLifesGame {
    display: none;
}

.selecciona-TimeNumber {
    width: 100%;
    margin: 0 0.3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.selecciona-PTime {
    width: auto;
    margin-left: 0.3em;
    min-width: 3em;
    text-align: left;
}

/* Pista */

.selecciona-ShowClue {
    width: 100%;
    min-height: 1em;
    margin-bottom: 0.3em;
    padding: 0;
}

.selecciona-PShowClue {
    font-size: 1em;
    color: #5877c6;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

/* Multimedia */

.selecciona-Multimedia {
    position: relative;
    width: 65%;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0.9em;
    margin: 0.3em auto;
}

.selecciona-Multimedia:before {
    content: '';
    display: block;
    padding-top: 56%;
}

.selecciona-Protector, .selecciona-Cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.selecciona-Images, .selecciona-Video, .selecciona-EText, .selecciona-GameOver {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.8em;
    text-decoration: none;
    border: 0;
}

.selecciona-EText {
    overflow-y: auto;
    z-index: 10001;
    border: none;
}

.selecciona-Protector {
    opacity: 0.00001;
    z-index: 1000;
    background-color: white;
}

.selecciona-Cursor {
    width: 2em;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1000000;
    display: none;
}



/* Game Over */

.selecciona-GameOver {
    z-index: 10010;
    display: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecciona-DataGameImage {
    position: relative;
    padding: 0;
    width: 40%;
    height: 100%;
}

.selecciona-DataGameScore {
    padding: 0;
}

.selecciona-DataGameScore p {
    font-size: 1em;
    margin: 0.7em;
    font-weight: bold;
}

.selecciona-HistGGame, .selecciona-LostGGame {
    width: 78%;
    height: 62%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
}

.selecciona-HistGGame {
    display: none;
}

/* Author */

.selecciona-AuthorLicence {
    width: 100%;
    min-height: 1.6em;
    margin: 0 auto;
}

.selecciona-AuthorLicence p {
    width: 100%;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Código acceso */

.selecciona-CodeAccessDiv {
    width: 100%;
    display: none;
}

.selecciona-DataCodeAccessE {
    width: 100%;
    margin: 0.7em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecciona-MessageCodeAccessE {
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.selecciona-DataCodeAccessE label {
    font-size: 0.9em;
}

.selecciona-CodeAccessE {
    width: 50%;
    max-width: 300px;
    font-size: 0.9em;
    margin: 0.7em 0.3em;
}

.selecciona-GameContainer input[type="text"], .selecciona-CodeAccessE {
    padding: 3px 2px;
    display: inline-block;
    line-height: 1.5em;
    font-size: 0.9em;
    background: #fdfdfd;
    border: 1px solid #828282;
    border-radius: 4px;
    text-align: center;
}

.selecciona-GameContainer input[type="text"]:active, .selecciona-GameContainer input[type="text"]:focus, input.selecciona-CodeAccessE:focus, input.selecciona-CodeAccessE:active {
    background: #fdfdfd;
    border: 1px solid #398ee7;
    border-radius: 4px;
}

/* Inicio juego */

.selecciona-StartGame {
    width: 100%;
    margin: 0.9em auto;
    font-size: 1.15em;
    font-weight: bold;
    border-radius: 0.3em;
    text-align: center;
    padding: 0.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Pegunta */

.selecciona-QuestionDiv {
    width: 100%;
    margin: 0.3em auto;
}

.selecciona-Question {
    min-height: 3.2em;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.4em;
    font-size: 1em;
    border-radius: 0.3em;
    padding: 0.3em;
    color: #071717;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
}

.selecciona-OptionsDiv {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a.selecciona-Options {
    min-height: 3em;
    width: 48%;
    margin: 0.1em;
    background-color: transparent;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecciona-OptionsDiv a {
    font-size: 1em;
    color: #071707;
}

div:fullscreen .selecciona-Options {
    font-size: 1.2em;
    min-height: 4.2em;
}

div:-webkit-full-screen .selecciona-Options {
    font-size: 1.2em;
    min-height: 4.2em;
}

div:-moz-full-screen .selecciona-Options {
    font-size: 1.2em;
    min-height: 4.2em;
}

div:fullscreen .selecciona-Question {
    font-size: 1.2em;
    min-height: 3.9em;
}

div:-webkit-full-screen .selecciona-Question {
    font-size: 1.2em;
    min-height: 3.9em
}

div:-moz-full-screen .selecciona-Question {
    font-size: 1.2em;
    min-height: 3.9em;
}

.selecciona-MainContainer a.selecciona-Option1 {
    background-color: #f7c4c4;
    border: 2px solid #b3092f;
}

.selecciona-MainContainer a.selecciona-Option1:hover {
    background-color: #b3092f;
}

.selecciona-MainContainer a.selecciona-Option2 {
    background-color: #d5dcec;
    border: 2px solid #5877c6;
}

.selecciona-MainContainer a.selecciona-Option2:hover {
    background-color: #5877c6;
}

.selecciona-MainContainer a.selecciona-Option3 {
    background-color: #cce1c8;
    border: 2px solid #00a300;
}

.selecciona-MainContainer a.selecciona-Option3:hover {
    background-color: #00a300;
}

.selecciona-MainContainer a.selecciona-Option4 {
    background-color: #f5efd6;
    border: 2px solid #f3d55a;
}

.selecciona-MainContainer a.selecciona-Option4:hover {
    background-color: #f3d55a;
}

/* Respuestas */

.selecciona-AnswersDiv {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.selecciona-Answers {
    width: 8em;
    padding: 0;
    display: flex;
    margin: 0.3em;
    justify-content: flex-end;
    align-items: center;
}

.selecciona-AnswersOptions {
    height: 1.4em;
    width: 1.4em;
    border-radius: 2px;
}

.selecciona-Answer1 {
    background-color: #b3092f;
    border: 2px solid #071707;
    border-radius: 2px;
}

.selecciona-Answer2 {
    background-color: #5877c6;
    border: 2px solid #071707;
    border-radius: 2px;
}

.selecciona-Answer3 {
    background-color: #00a300;
    border: 2px solid #071707;
    border-radius: 2px;
}

.selecciona-Answer4 {
    background-color: #f3d55a;
    border: 2px solid #071707;
    border-radius: 2px;
}

/*  Video Introducción */

.selecciona-VideoIntroContainer {
    width: 98%;
    padding: 0;
    display: flex;
    margin: 0.3em;
    justify-content: flex-end;
    align-items: center;
    display: none;
}

.selecciona-VideoIntroDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    border-radius: 0.7em;
    display: none;
    z-index: 20000;
    overflow: hidden;
}

input.selecciona-VideoIntroClose {
    position: absolute;
    margin:0;
    top: 0.2em;
    right: 0.2em;
    cursor: pointer;
}


.selecciona-BottonContainerDiv * ,.selecciona-BottonContainer * {
    margin: 0;
    padding: 0;
}

.selecciona-BottonContainerDiv, .selecciona-BottonContainer  {
    font-size: 1rem;
    width: 100%;
    padding: 0;
    display: flex;
    margin: 0.1em auto;
    justify-content: flex-end;
    align-items: center;
}

.selecciona-AnswersOptions {
    margin: 2px 1px;;
}


.selecciona-BottonContainerDivEnd {
    justify-content: flex-end;
}

.selecciona-GetScore input[type=button] {
    font-size: 0.9em;
    width: auto;
}

.selecciona-GetScore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecciona-RepeatActivity {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.selecciona-GetScore input[type=button] {
    width: auto;
    padding:0.3em;
}


/* Link */

.exeQuextIcons-Submit {
    background: url(exequextreply.png) no-repeat;
    background-size: cover;
    margin-left:0.1em;
}

.selecciona-GameContainer .exeQuextIcons-Video,
.selecciona-GameContainer .exeQuextIcons-FullScreen,
.selecciona-GameContainer .exeQuextIcons-FullScreenExit,
.selecciona-GameContainer .exeQuextIcons-Submit,
.selecciona-GameContainer .exeQuextIcons-Minimize {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

.selecciona-GameContainer .exeQuextIcons-Video:hover,
.selecciona-GameContainer .exeQuextIcons-Minimize:hover,
.selecciona-GameContainer .exeQuextIcons-FullScreenExit:hover,
.selecciona-GameContainer .exeQuextIcons-FullScreen:hover,
.selecciona-GameContainer .exeQuextIcons-Submit:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

div:fullscreen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

div:-webkit-full-screen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

div:-moz-full-screen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

/* Iconos */

.selecciona-LinkVideoIntroShow {
    display: none;
}

.selecciona-GameContainer .exeQuextIcons {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.3em;
    background-size: cover;
}

.selecciona-GameContainer .exeQuextIcons-Video,
.selecciona-GameContainer .exeQuextIcons-Submit {
    width: 1.7em;
    height: 1.7em;
}

.exeQuextIcons-Minimize {
    background: url(exequextmin.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Hit {
    background: url(exequexthits.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-FullScreen {
    background: url(exequextfull.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Error {
    background: url(exequextrerrors.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Score {
    background: url(exequextscore.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Time {
    background: url(exequexttime.png);
    background-size: cover;
}

.exeQuextIcons-Number {
    background: url(exequextnumber.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Life {
    background: url(exequextlive.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Video {
    background: url(exequextvideo.png) no-repeat;
    background-size: cover;
}

/* Full Screen */

.selecciona-GameContainer:-webkit-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.selecciona-GameContainer:-moz-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.selecciona-GameContainer:-ms-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.selecciona-GameContainer:-o-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.selecciona-extra-content {
    margin-top: 1.7em;
}

.selecciona-parpadea {
    animation-name: selecciona-parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    -webkit-animation-name: selecciona-parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 5;
}

@-moz-keyframes selecciona-parpadeo {
    0% {
        font-size: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes selecciona-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes selecciona-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@media screen and (max-width:650px) {
    .selecciona-GameContainer, .selecciona-BottonContainerDiv, .selecciona-BottonContainer, .selecciona-BottonContainerDivEnd, .selecciona-instructions {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:550px) {
    .selecciona-LinkFullScreen {
        display: none;
    }
    .selecciona-instructions {
        margin: 0.1em auto;
    }
    .selecciona-instructions p {
        margin: 0 auto;
    }
}

@media screen and (max-width:470px) {
    .selecciona-GameContainer, .selecciona-BottonContainerDiv, .selecciona-BottonContainer, .selecciona-BottonContainerDivEnd, .selecciona-instructions {
        font-size: 0.8rem;
    }
    .selecciona-LifesGame {
        display: none;
    }
    .selecciona-NumberLifesGame {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .selecciona-LinkMinimize {
        display: none;
    }
    .selecciona-DataCodeAccessE label {
        display: none;
    }
    .selecciona-GameContainer .exeQuextIcons-Submit,.selecciona-GameContainer .exeQuextIcons-Video {
        width: 2em;
        height: 2em;
    }
    .selecciona-OptionsDiv a, .selecciona-Question{
        font-weight: bold;
        color: #071707;
        font-size: 0.9em;
    }

    .selecciona-Question {
        font-weight: bold;
        color: #071707;
    }
}

@media screen and (max-width:390px) {
    .selecciona-GameContainer, .selecciona-BottonContainerDiv, .selecciona-BottonContainer, .selecciona-BottonContainerDivEnd, .selecciona-instructions {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:340px) {
    .selecciona-GameScoreBoard p {
        font-weight: normal;
        margin: 0.1em;
        padding: 0;
    }
    .selecciona-GameContainer .exeQuextIcons {
        margin: 0;
        padding: 0;
    }
    .selecciona-GameContainer .selecciona-GameScoreBoard p {
        padding: 0;
    }
    .selecciona-GameScores {
        width: 50%;
    }
    .selecciona-TimeNumber {
        width: 45%;
    }
    .selecciona-instructions p {
        margin: 0 auto;
    }
}

@media screen and (max-width:295px) {
    .selecciona-GameContainer, .selecciona-BottonContainerDiv, .selecciona-BottonContainer, .selecciona-BottonContainerDivEnd, .selecciona-instructions {
        font-size: 0.6rem;
    }
    .selecciona-GameScoreBoard{
        justify-content: flex-start;
    }
    .selecciona-GameScores {
        width: 50%;
    }
    .selecciona-TimeNumber {
        width: 42%;
    }
}

@media screen and (max-width:265px) {
    .selecciona-GameScoreBoard p {
        font-weight: normal;
        margin:2px;
   }
    .selecciona-GameContainer, .selecciona-BottonContainerDiv, .selecciona-BottonContainer, .selecciona-BottonContainerDivEnd {
        font-size: 0.6rem;
    }
    .selecciona-GameContainer .exeQuextIcons {
        width: 1.1em;
        height: 1.1em;
    }
    .selecciona-GameContainer .exeQuextIcons-Submit,.selecciona-GameContainer .exeQuextIcons-Video {
        width: 2em;
        height: 2em;
    }
    .selecciona-GameScores {
        width:auto;
    }
    .selecciona-TimeNumber {
        width: auto;
        justify-content: flex-start;
    }
}

@media screen and (max-width:235px) {
    .selecciona-GameScoreBoard .exeQuextIcons-Life, .selecciona-GameScoreBoard .exeQuextIcons-Time {
        display: none;
    }
    .selecciona-GameScores {
        width: 52%;
    }
    .selecciona-TimeNumber {
        width: 43%;
    }
}