/*  =================================================
     eXe
     Copyright 2004-2005, University of Auckland

     style for standardwhite.
   ================================================== */


body {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 13px;
    background: #FAFAFA;
}

div#nodeDecoration {
	border-top: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
	background-image: url(nodeTitle_bg.jpg);
	padding: 2px;
}


p#nodeTitle { 
    color: #4D4D4D;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline;
}

p.reading_reference {
    font-style: italic;        
}

p.reading_feedback {
    margin: 20px;
    padding: 8px;
    font-style: italic;
}

/* --- iDevice Styles --- */

.iDevice {
    background-color: #FFF;
    padding-left: 10px;
    border: 1px solid #DDD;
    margin: 10px;
}

.iDevice p {
	padding-left: 24px;
}

.iDeviceTitle {
    color: #000;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    top: -18px;   /* aligns title up with middle of icon */

}    

li.activity { 
    margin-left: 16px;
    list-style-image: url(activity.png); 
    list-style-position: outside; 
}

li.activity-casestudy { 
    margin-left: 16px;
    list-style-image: url(casestudy.png); 
    list-style-position: outside; 
}

li.activity-reading { 
    margin-left: 16px;
    list-style-image: url(reading.png); 
    list-style-position: outside; 
}

li.activity-multichoice { 
    margin-left: 16px;
    list-style-image: url(question.png); 
    list-style-position: outside; 
}

li.activity-reflection { 
    margin-left: 16px;
    list-style-image: url(question.png); 
    list-style-position: outside; 
}

li.objectives { 
    margin-left: 16px;
    list-style-image: url(objectives.png); 
    list-style-position: outside; 
}

li.preknowledge { 
    margin-left: 16px;
    list-style-image: url(preknowledge.png); 
    list-style-position: outside; 
}


