/*
eXe
Copyright 2004-2005, University of Auckland
style for standardwhite.
Modified by eXeLearning.net
*/
html{padding:0}
body{font:.75em/1.5 Arial,Verdana,Helvetica,sans-serif;padding:15px;margin:0;text-align:left;color:#000;background:#fafafa}
a{color:#036}
a:hover,a:focus{color:#3C5866}
#header,#emptyHeader{background:#fafafa url(_standardwhite_title_bg.gif) repeat-x bottom;text-align:left;height:3em;padding-left:15px;font-size:1.5em;line-height:3em;border-bottom:1px solid #B3B3B3;border-top:1px solid #B3B3B3;text-shadow:1px 1px 1px #fff} /* Header is also in single page */
#header h1{margin:0;font-size:1em}
div#nodeDecoration{text-align:left;margin-bottom:1.5em;border-bottom:1px solid #B3B3B3;border-top:1px solid #B3B3B3}
#nodeTitle,.nodeTitle{background:#fafafa url(_standardwhite_title_bg.gif) repeat-x bottom;font-size:1.5em;margin:0;font-weight:bold;text-align:right;color:#4D4D4D;text-shadow:1px 1px 1px #fff;padding:.3em 15px} /* .nodeTitle when single page */
.nodeTitle{padding:.1em 15px .6em 0;border-bottom:1px solid #B3B3B3;margin-top:1em;text-align:right}
#main h2{font-size:1.4em}
#main h2.iDeviceTitle{display:inline;font-weight:normal}
h3{font-size:1.25em}
#main h4{font-size:1.2em}
#main h5{font-size:1.1em}
.iDevice,.readingIdevice .iDevice{margin:2em 0;padding:10px;background:#fff;border-radius:5px;border:1px solid #ddd}
.emphasis0{padding:0;background:none;border:none}

/* iDevice icons */
.iDevice_icon{height:48px;width:auto;margin-right:8px}
.iDevice_header{background:url(icon_generic.gif) no-repeat 0 0;padding-left:56px}
.activityIdevice .iDevice_header{background-image:url(icon_activity.gif)}
.readingIdevice .iDevice_header{background-image:url(icon_reading.gif)}
.ListaIdevice .iDevice_header,
.QuizTestIdevice .iDevice_header,
.MultichoiceIdevice .iDevice_header,
.TrueFalseIdevice .iDevice_header,
.MultiSelectIdevice .iDevice_header,
.ClozeIdevice .iDevice_header{background-image:url(icon_question.gif)}
.CasestudyIdevice .iDevice_header{background-image:url(icon_casestudy.gif)}
.preknowledgeIdevice .iDevice_header{background-image:url(icon_preknowledge.gif)}
.GalleryIdevice .iDevice_header{background-image:url(icon_gallery.gif)}
.objectivesIdevice .iDevice_header{background-image:url(icon_objectives.gif)}
.ReflectionIdevice .iDevice_header{background-image:url(icon_reflection.gif)}

.iDeviceTitle{font-size:1.3em;vertical-align:top;top:0;color:#3C5866;line-height:3em}
.iDevice_content{overflow:auto}
.iDevice_inner{padding:0 10px}
.emphasis0 .iDevice_inner{padding:0}
#siteFooter{color:#444;font-size:.95em}
input,select,textarea{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
.ExternalUrlIdevice iframe{border:none}
/* Lightbox */
.exeImageGallery{width:100%}
#lbTopContainer, #lbBottomContainer{font-size:1em}
/* base.css */
.block,.feedback{padding:0}
.feedback{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
li{list-style-position:outside}
#wikipedia-content ul li{list-style-image:none;margin-bottom:auto}
/* Form buttons */
.feedbackbutton{background:#FFFDB1;margin-bottom:1em}