.CTJ-table-container {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-bottom: 1em;
}

.CTJ-Instructions{
    width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: flex-start;
}
.CTJ-inputs-container {
    width: 100%; 
    margin-bottom: 30px;
        margin-bottom: 1em;
}

.CTJ-Table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

}

.CTJ-header-row th,
.CTJ-data-row td {
    padding: 10px;
    text-align: left;
    border-right: 1px solid #ccc;
}
.CTJ-header-row th{
    text-align: center;
}


.CTJ-TypeColumn,
.CTJ-Types{
    width: 120px;
    white-space: nowrap;
}
.CTJ-editar-column,
.CTJ-Editions {
    width: 150px;
    white-space: nowrap;
}
.CTJ-Editions button {
    margin-right: 0.1em;
    min-width: 72px;
}

.CTJ-Types {
    text-align: left;
}

.CTJ-header-row th {
    background-color: #007BFF;
    color: #fff;
}

.CTJ-data-row:nth-child(even) {
    background-color: #eeeeee;
}

.CTJ-Add,
.CTJ-Delete {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.CTJ-Add:hover,
.CTJ-Delete:hover {
    background-color: #0056b3;
}

.CTJ-Editions:last-child {
    border-right: none;
}

.CTJP-Item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.1em;
    margin-bottom: 1em;
}



.CTJ-EPanel {
	margin: 0.7em auto;
	padding: 0;
	position: relative;
	width: 100%;
}
.CTJ-EOptionsMedia {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	width: 100%;
}
.CTJ-Logo {
	width: 400px;
	height: 277px;
	display: none;
}
.CTJ-Images {
	border-radius: .4em;
	width: 400px;
	height: 227px;
	position: relative;
	margin: 0.6em 0;

}
.CTJ-EMedia {
	border: 1px solid #cccccc;
	border-radius: .5em;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.CTJ-InputImage{
	margin-top: 10px;
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 400px;
}

.CTJ-InputImage input[type=text] {
	flex-flow: 1;
	margin-right: 0.2em;
	min-width: 100px;
	width: 100%;
}
.CTJ-InputImage input[type=button] {
	flex-shrink: 0;
}

.CTJ-EURLImage{
	width: 200px !important;
}
/* To review */
#gameQEIdeviceForm .exe-block-info img {
	margin-left: .2em;
	vertical-align: middle;
}
#gameQEIdeviceFormTab2 * {
	font-size: 0.9em;
}
#gameQEIdeviceFormTab2 p:first-child {
	margin-top: 0;
}
#gameQEIdeviceFormTab2 {
	overflow: auto;
}
#gameQEIdeviceFormTab3 .ci18n {
	float: left;
	width: 50%;
}
@media screen and (max-width:720px) {
	#gameQEIdeviceForm #gameQEIdeviceFormTab2 .ci18n {
		float: none;
		width: 100%;
	}
}
#gameQEIdeviceForm #gameQEIdeviceFormTab2 label {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: .2em;
}
#gameQEIdeviceForm #gameQEIdeviceFormTab2 input {
	font-size: 0.9em;
	width: 300px;
}
/* Tabs (this should be common) */
.exe-form-tabs {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}
#main .exe-form-tabs li {
	display: inline;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
.exe-form-tabs li:first-child a {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.exe-form-tabs li:last-child a {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.exe-form-tabs a {
	background: #F9F9F9;
	border: 1px solid #CCC;
	color: #666;
	display: inline-block;
	padding: .5em 1em;
}
.exe-form-tabs li:not(:last-child) a {
	border-right: none;
}
.exe-form-tabs .exe-form-active-tab {
	background: #FFF;
	color: #000;
	font-weight: 500;
}
#gameQESCORMoptions {
	margin-left: 1.5em;
	visibility: hidden;
}
label[for=gameQEActivitySCORM] {
	font-weight: bold;
}
#gameQESCORMinstructionsButton {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}
#gameQESCORMinstructionsButton ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}
#gameQESCORMinstructionsButton ul li {
	list-style-image: none;
	margin: 0 0 .5em 0;
	padding: 0;
}
#gameQESCORMinstructionsAuto {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}
#gameQESCORMinstructionsAuto ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}
.CTJ-ELogos {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .CTJ-ELogo {
	width: 33%;
  }
  .CTJ-EImages {
	position: relative;
	width: 100%;
	height: 200px;
  }
  .CTJ-EImage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin-top: 0.5em;
  }
  .CTJ-EButtom {
	padding: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: 0.1em;
	margin-top: 0.5em;
	background-color: blue;
   
  }
  .CTJ-EButtom img {
	display: block;
  }

  .CTJ-EURLImage {
	width: 100px !important;
  }

  