/* Rosco Activity iDevice (edition CSS) */

#roscoIdeviceForm label {
  display: inline;
}

#roscoIdeviceForm label[for='roscoShowSolution'] {
  margin-right:.5em;
}

#roscoIdeviceForm input, #roscoIdeviceForm select {
  font-size: 14px;
}

#roscoIdeviceForm .roscoSeparation {
  margin: 15px auto;
  color: #c0c0c0;
}

#roscoIdeviceForm .roscoLetterEdition {
  width: 30px;
  height: 30px;
  min-width: 20px;
  background-color: #818181;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
}

#roscoIdeviceForm #roscoNumberTurns, #roscoIdeviceForm #roscoTimeShowSolution {
  width: 30px;
}

#roscoIdeviceForm #roscoClue {
  width: 35%;
  min-width: 100px;
  margin-right: 5px;
}

#roscoIdeviceForm #roscoCodeAccess {
  width: 20%;
  min-width: 100px;
  margin-right: 5px;
}

#roscoIdeviceForm .roscoFileWordEdition {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

#roscoIdeviceForm .roscoWordMutimediaEdition {
  width: 100%;
  margin: 10px auto;
}

#roscoIdeviceForm .roscoWordMutimedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#roscoIdeviceForm .roscoLinkStart, #roscoIdeviceForm .roscoLinkClose,
#roscoIdeviceForm .roscoLinkSelectImage,  #roscoIdeviceForm .roscoStartEdition,
#roscoIdeviceForm .roscoSelectImageEdition,#roscoIdeviceForm .roscoCloseImage  {
  width: 32px;
  height: 32px;
  min-width: 32px;
  margin: 0 3px;
  
}

#roscoIdeviceForm .roscoLinkClose,
#roscoIdeviceForm .roscoLinkSelectImage,
#roscoIdeviceForm .roscoSelectImageEdition,
#roscoIdeviceForm .roscoCloseImage  {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 3px;
  
}

#roscoIdeviceForm img { 
  border-style: none;
}

#roscoIdeviceForm .roscoWordMutimediaEdition a:focus,
#roscoIdeviceForm .roscoWordMutimediaEdition a:link ,
#roscoIdeviceForm .roscoWordMutimediaEdition  a:visited,
#roscoIdeviceForm .roscoWordMutimediaEdition  a:active   {
  outline: 0;
  border: none;
  --moz-outline-style: none;
}
#roscoIdeviceForm .roscoStartEdition, #roscoIdeviceForm .roscoSelectImageEdition,#roscoIdeviceForm .roscoCloseImage  {
  margin: 0;
  padding: 0;
}


#roscoIdeviceForm .roscoHomeImagenEdition {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0
}

#roscoIdeviceForm .roscoWordEdition {
  width: 15%;
  height: 30px;
  margin: 0 3px;
}

#roscoIdeviceForm .roscoWordEdition {
  width: 20%;
  height: 30px;
  margin: 0 3px;
}

#roscoIdeviceForm .roscoDefinitionEdition {
  width: 80%;
  height: 30px;
  margin: 0 3px;
}

#roscoIdeviceForm #roscoMessageCodeAccess {
  width: 30%;
}

#roscoIdeviceForm .roscoImageEdition {
  width: 560px;
  height: 315px;
  display: block;
  position: relative;
  margin: 10px auto;
  border: 1px solid white;
}

#roscoIdeviceForm .roscoNoImageEdition {
  position: absolute;
  left: 0;
  top: 0;
  width: 560px;
  height: 315px;
  background: url(roscoHomeImage.png);
  background-repeat: no-repeat;
  background-size: 560px 315px;
}

#roscoIdeviceForm .roscoHomeImageEdition {
  position: absolute;
}

#roscoIdeviceForm .roscoCursorEdition {
  position: absolute;
  width: 24px;
  height: 24px;
}

#roscoIdeviceForm .roscoWordMutimedia {
  display: block;
  width: 100%
}

#roscoIdeviceForm #roscoTimeShowSolution, #roscoIdeviceForm #roscoNumberTurns {
  width: 25px;
}

#roscoIdeviceForm #roscoDuration {
  width: 45px;
}

#roscoIdeviceForm .roscoImageBarEdition {
  display: none
}

#roscoIdeviceForm .roscoBarEdition, #roscoIdeviceForm .roscoMetaData {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 5px 0;
  width: 100%;
}

#roscoIdeviceForm .roscoAuthorEdition {
  width: 40%;
  margin: 0 3px;
}

#roscoIdeviceForm .roscoAlt {
  width: 60%;
  margin: 0 3px;
}

#roscoIdeviceForm .roscoURLImageEdition {
  width: 100%;
  margin: 0 3px;
}

#roscoIdeviceForm .roscoYImageEdition, #roscoIdeviceForm .roscoXImageEdition {
  display: none;
}

/* To review */
#roscoIdeviceForm{margin-top:2em}
#roscoIdeviceForm .exe-block-info img{vertical-align:middle;margin-left:.2em}

#roscoIdeviceFormTab1 *{
  font-size: 0.9em;
}
#roscoIdeviceFormTab1 p:first-child{margin-top:0}
#roscoIdeviceFormTab1{overflow:auto}
#roscoIdeviceFormTab1 .ci18n{width:50%;float:left}
@media screen and (max-width:720px) {
	#roscoIdeviceFormTab1 .ci18n{width:100%;float:none}	
}
#roscoIdeviceFormTab1 label{display:block;font-weight:bold;margin-bottom:.2em;font-size: 0.9em}
#roscoIdeviceFormTab1 input{width:300px;font-size: 0.9em}

/* Tabs (this should be common) */
.exe-form-tabs{margin:0 0 1.5em 0;padding:0;list-style:none}
#main .exe-form-tabs li{margin:0;padding:0;list-style:none;list-style-image:none;display:inline}
.exe-form-tabs li:first-child a{border-top-left-radius:4px;border-bottom-left-radius:4px}
.exe-form-tabs li:last-child a{border-top-right-radius:4px;border-bottom-right-radius:4px}
.exe-form-tabs a{display:inline-block;padding:.5em 1em;border:1px solid #CCC;background:#F9F9F9;color:#666}
.exe-form-tabs li:not(:last-child) a{
border-right:none;
}
.exe-form-tabs .exe-form-active-tab{color:#000;background:#FFF;font-weight:bold}

#roscoSCORMoptions{visibility:hidden;margin-left:1.5em}
label[for=roscoActivitySCORM]{font-weight:bold}
#roscoSCORMinstructionsButton{display:none;color:#777;margin:10px 0 0 25px}
#roscoSCORMinstructionsButton ul{margin:1.5em 0 .7em 0;padding:0;list-style:none}
#roscoSCORMinstructionsButton ul li{margin:0 0 .5em 0;padding:0;list-style-image:none}

#roscoSCORMinstructionsAuto{display:none;color:#777;margin:10px 0 0 25px}
#roscoSCORMinstructionsAuto ul{margin:1.5em 0 .7em 0;padding:0;list-style:none}
#roscoSCORMinstructionsAuto ul li{margin:0 0 .5em 0;padding:0;list-style-image:none}