  #vquextIdeviceForm {
    margin-top: 2em;
  }

  #vquextIdeviceForm input[type=text] {
    margin-top: 0;
    margin-bottom: 0;
  }

  #vquextIdeviceForm .vquext-EOptionsGame input[type=text] {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  #vquextIdeviceForm .vquext-InterBar{
    position: absolute;
    margin:0;
    padding: 0;
    top:0;
    left:0;
    height: 5px;
    width:0px;
}
#vquextIdeviceForm .vquext-ProgressBar{
    position:relative;
    width: 400px;
    height: 5px;
    margin:0;
    padding: 0;
    background-color: black;
    margin: 5px auto;
}
#vquextIdeviceForm .vquext-PointBar{
    position: absolute;
    margin:0;
    padding: 0;
    top:0;
    left:0;
    height: 5px;
    width: 5px;
    background-color:#8697cb;
    z-index: 900;
}

  #vquextIdeviceForm .vquextIdevice {
    background: #fff;
    padding: 20px;
    border: 1px solid #000;
  }

  #vquextIdeviceForm label {
    display: inline;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  #vquextIdeviceForm label[for='vquextEShowSolution'] {
    margin-right: .5em;
  }

  #vquextIdeviceForm input, #vquextIdeviceForm select {
    font-size: 14px;
  }

  #vquextIdeviceForm legend {
    font-weight: bold;
    padding: 0 10px;
    font-size: 14px
  }

  #vquextIdeviceForm input[type="radio"], #vquextIdeviceForm input[type="checkbox"] {
    cursor: pointer;
  }

  #vquextIdeviceForm .vquext-EPanel {
    position: relative;
    width: 98%;
    max-width: 900px;
    margin: 10px auto;
    border-radius: 7px;
    background: #f7f7f7;
    border: 1px solid #071717;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
  }

  .vquext-NumberQuestion {
    line-height: 24px;
    height: 24px;
    width: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
  }

  #vquextIdeviceForm .vquext-EOptionsMedia {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
 }

  #vquextIdeviceForm .vquext-EOptionsGame {
    min-height: 300px;
    width: 100%;
  }

  #vquextIdeviceForm .vquext-EOptionsGame span {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    color: #035175;
  }

  #vquextIdeviceForm .vquext-EPointDiv, #vquextIdeviceForm .vquext-EInputNumbers, #vquextIdeviceForm .vquext-EInputVideo, #vquextIdeviceForm .vquext-EInputOptionsVideo, #vquextIdeviceForm .vquext-EInputTimes {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px 0;
  }

  #vquextIdeviceForm .vquext-EPointDiv label, #vquextIdeviceForm .vquext-EInputNumbers label, #vquextIdeviceForm .vquext-EInputVideo label, #vquextIdeviceForm .vquext-EInputOptionsVideo label, #vquextIdeviceForm .vquext-EInputTimes label, #vquextIdeviceForm .vquext-EInputImage label {
    display: inline;
    font-weight: normal;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
  }

  #vquextIdeviceForm .vquext-EInputOptionsVideo input[type=text], #vquextIdeviceForm .vquext-EInputOptionsImage input[type=text] {
    width: 70px;
    height: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #071717;
    margin: 5px;
  }

  #vquextIdeviceForm input:-moz-read-only {
    /* For Firefox */
    background-color: white;
    border-width: 1px;
  }

  #vquextIdeviceForm input:read-only {
    background-color: white;
    border-width: 1px;
  }

  #vquextIdeviceForm input[type=button] {
    height: 27px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
  }

  #vquextIdeviceForm .vquext-EInputOptionsImage input[type=text], #vquextIdeviceForm .vquext-EInputOptionsImage label {
    margin: 0;
    padding: 0;
    display: none;
    justify-content: space-between;
    align-content: center;
  }

  #vquextIdeviceForm .vquext-EVideoTime {
    font-size: 13px;
    font-weight: bold;
  }

  #vquextIdeviceForm .vquext-EInputVideo input[type=text] {
    width: 85%;
    margin: 3px 0;
  
  }

  #vquextIdeviceForm .vquext-EInputVideo {
    display: none;
  }

  #vquextIdeviceForm .vquext-EInputImage {
    display: none;
  }

  #vquextIdeviceForm .vquext-EMultiMediaOption {
    background: transparent;
    height: 280px;
    min-width: 400px;
    max-width: 500px;
    width: 100%;
    position: relative;
  }

  #vquextIdeviceForm .vquext-EMultimedia {
    width: 400px;
    height: 227px;
    margin: auto auto;
    margin-top: 10px;
    position: relative;
    background-color: #fff;
  }
  #vquextIdeviceForm .vquext-EMultimediaData {
    width: 400px;
    height: 30px;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;

  }

  #vquextIdeviceForm .vquext-EContents {
    background: transparent;
    width: 100%;
    margin: 5px auto;
    padding: 0;
  }

  #vquextIdeviceForm .vquext-EAnswers {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
  }

  #vquextIdeviceForm .vquext-EOptionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    width: 49%;
    margin: 3px 0;
  }

  #vquextIdeviceForm .vquext-EAnwersOptions {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-radius: 7px;
    padding: 3px;
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    text-align: center;
  }

  #vquextIdeviceForm .vquext-EOption0 {
    background-color: #fbd2d6;
    background-color: #f9f9f9;
    border: 1px solid #ff0000;
  }

  #vquextIdeviceForm .vquext-EOption1 {
    background-color: #dfe3f1;
    background-color: #f9f9f9;
    border: 1px solid #5877c6;
  }

  #vquextIdeviceForm .vquext-EOption2 {
    background-color: #caede8;
    background-color: #f9f9f9;
    border: 1px solid #2a9315;
  }

  #vquextIdeviceForm .vquext-EOption3 {
    background-color: #fcf4d3;
    background-color: #f9f9f9;
    border: 1px solid #f3d55a;
  }

  #vquextIdeviceForm .vquext-ENavigationButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  #vquextIdeviceForm .vquext-ENavigationButton {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 0 5px;
  }
   #vquextIdeviceForm .vquext-tEVideoIntroPlay {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin:0;
  }

  #vquextIdeviceForm .vquextWordMutimediaEdition a:focus, #vquextIdeviceForm .vquextWordMutimediaEdition a:link, #vquextIdeviceForm .vquextWordMutimediaEdition a:visited, #vquextIdeviceForm .vquextWordMutimediaEdition a:active {
    outline: 0;
    border: none;
  }

  #vquextIdeviceForm #vquextNumerLives {
    width: 30px;
  }

  #vquextIdeviceForm .vquext-EButtonImage {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 0 3px;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  #vquextIdeviceForm .vquext-EButtonImage:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  #vquextIdeviceForm .vquext-Protector {
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .0001;
    z-index: 100000;
  }

  #vquextIdeviceForm #vquextEText {
    display: none;
  }

  #vquextIdeviceForm .vquext-ECover, #vquextIdeviceForm .vquext-EImage, #vquextIdeviceForm .vquext-ENoImage, #vquextIdeviceForm .vquext-EVideo, #vquextIdeviceForm .vquext-ENoImageVideo, #vquextIdeviceForm .vquext-ENoVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
  }

  #vquextIdeviceForm .vquext-ECursor {
    position: absolute;
    left: 0;
    top: 0
  }

  #vquextIdeviceForm input[type=number] {
    width: 40px;
  }

  #vquextIdeviceForm fieldset input {
    margin: 5px;
  }

  /* To review */

  #vquextIdeviceForm .exe-block-info img {
    vertical-align: middle;
    margin-left: .2em
  }

  #vquextIdeviceFormTab3 * {
    font-size: 0.9em;
  }

  #vquextIdeviceFormTab3 p:first-child {
    margin-top: 0
  }

  #vquextIdeviceFormTab3 {
    overflow: auto
  }

  #vquextIdeviceFormTab3 .ci18n {
    width: 50%;
    float: left
  }

  #vquextIdeviceForm .vquext-EAuthorAlt {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    color: #007ab3;
  }

  #vquextIdeviceForm .vquext-EInputAuthor input[type=text], #vquextIdeviceForm .vquext-EInputAlt input[type=text] {
    width: 90%;
    margin-left: 0;
    display: block;
  }

  #vquextIdeviceForm .vquext-EInputAuthor {
    width: 48%;
    margin-right: 5px;
  }

  #vquextIdeviceForm .vquext-EInputAlt {
    width: 48%;
  }

  #vquextIdeviceForm .vquext-EInputAuthor label, #vquextIdeviceForm .vquext-EInputAlt label {
    color: #035175;
  }

  #vquextIdeviceForm .vquext-EInputImage input[type=text] {
    width: 50%;
    margin-left: 0;
  }

  #vquextIdeviceForm .vquext-EVIDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f9f9f9;
    border-radius: 10px;
    z-index: 20000;
    display: none;
  }

  #vquextIdeviceForm .vquext-ENumQuestionDiv {
    width: 60px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    z-index: 20000;
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }

  #vquextIdeviceForm .vquext-ENumQ {
    width: 24px;
    height: 24px;
    margin-right: 0px;
    background: url(quextNumber.png);
  }

  #vquextIdeviceForm .vquext-ENumQuestions {
    width: 35px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  #vquextIdeviceForm .vquext-EVIV {
    width: 100%;
    background-color: transparent;
  }

  #vquextIdeviceForm .vquext-EMVI {
    position: relative;
    width: 560px;
    height: 315px;
    margin: 70px auto;
    background-color: transparent;
  }

  #vquextIdeviceForm .vquext-EVI, #vquextIdeviceForm .vquext-ENoVI {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
  }
  #vquextIdeviceForm .vquext-EVIOptions * {
    margin:0;
    margin-right: 5px;

  }
  #vquextIdeviceForm input {
    height:24px;
    margin-left:3px;

  }



  #vquextIdeviceForm .vquext-EVIOptions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    margin-bottom: 5px;
    padding: 0;
  }
  #vquextIdeviceForm label {
    display: block;
  }

  .vquext-EVIAudioLabel{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin:0;
    padding: 0;
    color:#035175;
  }

  .vquext-EVILabel{
    display:inline-block;
    margin:0;
    padding: 0;
    color:#035175;
  }


  #vquextIdeviceForm #vquextEVIStart, #vquextIdeviceForm #vquextEVIEnd,  #vquextIdeviceForm #vquextPoint {
    width: 80px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
  }


  #vquextIdeviceForm .vquext-EQuestionDiv {
    width: 97%;
    height: 39px;
    margin: 10px auto;
    padding: 0 3px;
    background: transparent;
  }

  #vquextIdeviceForm #vquextEQuestion {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    border: 1px solid #071717;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    text-align: center;
  }
  #vquextIdeviceForm .vquext-EVideoIntroData{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
  }
  #vquextIdeviceForm input#vquextEVideoIntro {
    width:50%;
  }

  @media screen and (max-width:720px) {
    #vquextIdeviceForm #vquextIdeviceFormTab3 .ci18n {
      width: 100%;
      float: none
    }
  }

  #vquextIdeviceForm #vquextIdeviceFormTab3 label {
    display: block;
    font-weight: bold;
    margin-bottom: .2em;
    font-size: 0.9em
  }

  #vquextIdeviceForm #vquextIdeviceFormTab3 input {
    width: 300px;
    font-size: 0.9em
  }

  /* Tabs (this should be common) */

  .exe-form-tabs {
    margin: 0 0 1.5em 0;
    padding: 0;
    list-style: none
  }

  #main .exe-form-tabs li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    display: inline
  }

  .exe-form-tabs li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
  }

  .exe-form-tabs li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
  }

  .exe-form-tabs a {
    display: inline-block;
    padding: .5em 1em;
    border: 1px solid #CCC;
    background: #F9F9F9;
    color: #666
  }

  .exe-form-tabs li:not(:last-child) a {
    border-right: none;
  }

  .exe-form-tabs .exe-form-active-tab {
    color: #000;
    background: #FFF;
    font-weight: 500
  }

  #vquextSCORMoptions {
    visibility: hidden;
    margin-left: 1.5em
  }

  label[for=vquextActivitySCORM] {
    font-weight: bold
  }

  #vquextSCORMinstructionsButton {
    display: none;
    color: #777;
    margin: 10px 0 0 25px
  }

  #vquextSCORMinstructionsButton ul {
    margin: 1.5em 0 .7em 0;
    padding: 0;
    list-style: none
  }

  #vquextSCORMinstructionsButton ul li {
    margin: 0 0 .5em 0;
    padding: 0;
    list-style-image: none
  }

  #vquextSCORMinstructionsAuto {
    display: none;
    color: #777;
    margin: 10px 0 0 25px
  }

  #vquextSCORMinstructionsAuto ul {
    margin: 1.5em 0 .7em 0;
    padding: 0;
    list-style: none
  }