/*  =================================================
     eXe
     Copyright 2004-2005, University of Auckland

     style for default.
   ================================================== */


body {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 13px;
    background: #FFFFFF;
}

/* -- style the node title on each page -- */

div#nodeDecoration {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}

p#nodeTitle { 
    color: #3C5866;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline;
}



/* --- iDevice Styles --- */

.iDevice {
    background-color: #B1C0C7;
    padding-left: 10px;
    border: 1px solid #3C5866;
    margin: 10px;
}

.iDevice p {
	padding-left: 24px;
	padding-right: 20px;
}

.iDeviceTitle {
    color: #3C5866;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    top: -18px;   /* aligns title up with middle of icon */
}    

p.reading_reference {
    font-style: italic;        
}

p.reading_feedback {
    margin: 20px;
    padding: 8px;
    font-style: italic;
}

#main {
	padding: 18px;
	margin: 10px 10px 10px 180px;
	background-color: #EDEFF0;
	line-height: 140%;
	}

form > #main {
	margin: 10px 10px 10px 10px;
	} // makes style apply for authoring page by removing left indent
