/*  =================================================
     eXe
     Copyright 2004-2005, University of Auckland

     default styles for web page export.
   ================================================== */

p.prev_edit { float: right;} 

p.nodeTitle { 
    color: #3C5866;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    display: inline;
}

p.reading_reference {
    font-style: italic;        
}

p.reading_feedback {
    margin: 20px;
    padding: 8px;
    font-style: italic;
}

/* --- iDevice Styles --- */

#iDevice {
    background-color: #B1C0C7;
    padding-left: 10px;
    border: 1px solid #3C5866;
    margin: 8px;
}

.iDeviceTitle {
    color: #3C5866;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    top: -18px;
    left: 0px;
}    

li.activity { 
    margin-left: 20px;
    list-style-image: url(activity.png); 
    list-style-position: outside; 
}

li.activity-casestudy { 
    margin-left: 20px;
    list-style-image: url(casestudy.png); 
    list-style-position: outside; 
}

li.activity-reading { 
    margin-left: 20px;
    list-style-image: url(reading.png); 
    list-style-position: outside; 
}

li.activity-multichoice { 
    margin-left: 20px;
    list-style-image: url(question.png); 
    list-style-position: outside; 
}

li.activity-reflection { 
    margin-left: 20px;
    list-style-image: url(question.png); 
    list-style-position: outside; 
}

li.objectives { 
    margin-left: 20px;
    list-style-image: url(objectives.png); 
    list-style-position: outside; 
}

li.preknowledge { 
    margin-left: 20px;
    list-style-image: url(preknowledge.png); 
    list-style-position: outside; 
}


