/*
===========================================================================
eXe
Copyright 2004-2005, University of Auckland
style sheet for default theme
===========================================================================
*/

body, html {
   margin: 0px;
   padding: 0px 10px 10px 10px;
   font-family: arial, verdana, helvetica, sans-serif;
   color:#4d4d4d;
   font-size: 13px;
   background: #E0DFD8;
}

div {
   background-image:none;
   background-color:transparent;
}

html * div {
   background-image:none;
   background-color:transparent;
}

a { color: #FF6600;
    text-decoration: none;
}

a:hover { text-decoration: underline;
color: #B34700;
}

img {
    border: 0;
}

.popupDiv {
   background-color: #E0DFD8;
   border: 1px solid #4d4d4d;
   padding: 4px 4px 4px 10px;
   margin-left: 15px;
   text-align:left;
}

p#nodeTitle { 
   color: #4d4d4d;
   font-size: 32px;
   font-weight: bold;
   letter-spacing: -1px;
   display: inline;
   text-align:left;
   padding-right: 30px;
}

div#nodeDecoration {
   padding: 2px;
   border-bottom:0px;
   text-align:right;
}


/* --- iDevice Styles -- */


.emphasis0 {
    padding-left: 0px;
    margin: 0px;
}

.emphasis1 {
   background-color: #FFF;
   border-bottom: 1px solid #9d9d9d;
   background-image:url(top_left_corner.gif);
   background-position:top left;
   background-repeat:no-repeat;
   margin-bottom: 10px;
   text-align:left;
}

.emphasis2 {
   background-color: #E0DFD8;
   border-bottom: 3px solid #9d9d9d;
   background-image:url(body_top_bg.gif);
   background-position:top left;
   background-repeat:no-repeat;
   margin-bottom: 10px;
   text-align:left;
}

/*
* html .iDevice {
   background-image:url(body_top_bg.gif);
   background-position:top left;
   background-repeat:no-repeat;

}
*/

* html .iDevice_inner {
   background-image:none;
   background-position:top left;
   background-repeat:no-repeat;
}

.iDevice p {
   padding-left: 0px;
   line-height: 16px;
   text-align:left;
}

.iDeviceTitle {
   color: #568D14;
   font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight:bold;
   letter-spacing:-1px;
   background: #FFF; 
   padding-bottom: 4444px;
   padding-right: 10px;
   padding-left: 8px;
   margin-bottom: 0px;
   margin-left: -4px;
   background-image:url(top_right_corner.gif);
   background-position:top right;
   background-repeat:no-repeat;
} 

.iDevice_icon {
   margin-top: -40px;
   padding-left: 15px;
}

p.reading_reference {
   font-style: italic;        
}

p.reading_feedback {
   border: 1px dashed #ADADAD;
   margin: 20px;
   padding: 8px;
   background-color: #FFF;
}

.iDevice_inner {
   color:#4d4d4d;
   background-color:#f2f2ef;
   padding: 10px;
   margin: 10px;
   margin-top: 12px;
   padding-top: 10px;
   background-image:none;
}


.iDevice_inner_free {
   padding: 20px;
   padding-top: 60px;
}

.iDevice_inner_free {
   padding: 20px;
   padding-top: 60px;
}

/* styles for image with text iDevice */

.image_text { 
	border: 1px solid #CCC;
	background: #F9F9F9;
	padding: 4px;
	margin: 4px;
}


