/*
Copyright University of Auckland 2004
Copyright 2004-2007 eXe Project, New Zealand Tertiary Education Commission
Created by Brent Simpson, brent@exelearning.org

Modified by Ignacio Gros for eXeLearning.net
See Help - eXe Tutorial for more info on how to modify this style for your needs.
*/
body{background:#DBDAD2}
#content{background:#E0DFD8 url(_default_side_bg.gif) repeat-y;width:100%;position:relative;padding-bottom:21px;min-width:380px;border:2px solid #E5E4E0;border-radius:5px}
#main-wrapper{padding:10px 20px 0 250px}
#main{width:100%}
#header,#emptyHeader{border-top:none;background:#D9D9CE}
#nodeDecoration{padding:0;margin:0;background:none;border:none}
#nodeTitle{padding:.1em 0 .6em 0;border-bottom:2px solid #E5E4E0}
#siteFooter{padding-left:250px}
/* Navigation */
#skipNav{text-align:center}
#skipNav a{background:#706F61}
#siteNav{width:230px;float:left;padding-right:20px}
#siteNav,#siteNav ul{border-color:#E5E4E0}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav a{display:block;padding:4px 0 4px 15px;color:#4D4D4D;border-bottom:1px solid #FFF;border-right:2px solid #E5E4E0}
#siteNav a:hover,#siteNav a:focus{background-color:#C7C5B9;color:#222}
* html #siteNav a{display:inline-block;width:100%} /* IE6 */
#siteNav .main-node{font-weight:bold;font-variant:small-caps;letter-spacing:1px;font-size:1.1em}
#siteNav ul ul a{padding-left:30px;font-size:.95em}
#siteNav .active,#siteNav .active:hover,#siteNav .active:focus{color:#fff;background:#706F61 url(_default_current_page.gif) no-repeat 5px 50%}
#siteNav ul ul .active,#siteNav ul ul .active:hover,#siteNav ul ul .active:focus{background-position:20px 50%}
#siteNav ul ul ul .active,#siteNav ul ul ul .active:hover,#siteNav ul ul ul .active:focus{background-position:35px 50%}
#siteNav .other-section{display:none}
#siteNav ul ul ul a{padding-left:45px}
/* Pagination */
.pagination{border-top:2px solid #E5E4E0;padding-top:20px;text-align:right}
.pagination .sep{display:none}
.pagination a{padding:0;color:#B34700;margin-left:20px}
.pagination a:hover,.pagination a:focus{color:#E65C00}
#topPagination{position:absolute;top:-2px;width:100%;right:20px}
#topPagination .pagination{border:none}
#bottomPagination{padding:0 20px 0 250px;clear:both}
/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}

/* No menu */
.no-nav #main-wrapper,.no-nav #bottomPagination,.no-nav #siteFooter{padding-left:20px}
.no-nav #content{background-image:none}

/* IE6 */
* html #content{width:99%;margin:0 auto}
* html #main{width:auto}
* html #siteNav a{width:213px}
* html #siteNav ul ul a{width:198px}
* html #siteNav ul ul ul a{width:183px}

/* Responsive design */
@media all and (max-width: 980px) {
	body{padding:0}
	#content{border:none;background-position:-30px 0}
	#main-wrapper,#siteFooter,#bottomPagination{padding-left:220px}
	#siteNav{width:200px}
}
@media all and (max-width: 780px) {
	#siteNav .main-node{font-weight:normal;font-variant:normal;letter-spacing:0;font-size:1em}
	#main-wrapper,.no-nav #main-wrapper{padding:10px}
	#siteNav{width:100%;float:none;padding-right:0}
	#content{background-image:none}
	#siteFooter,.no-nav #siteFooter{padding:0 10px}
	.pagination{font-weight:bold;font-size:1.1em}
	#topPagination{position:relative;top:auto;width:100%;right:auto;padding:0}
	#topPagination .pagination{padding:0;text-align:center;background:#706F61;border-bottom:1px solid #fff}
	#topPagination .prev,#topPagination .next{display:none}
	#bottomPagination,.no-nav #bottomPagination{position:relative;padding:0 10px 15px 10px}
	#bottomPagination .prev{position:absolute;left:10px;margin-left:0}
	#nav-toggler a,#nav-toggler a:focus{display:inline-block;padding:4px;width:80%;color:#fff;font-variant:small-caps;letter-spacing:1px;outline:none;text-decoration:none}
	iframe,object,embed{max-width:100%}
	img,video{max-width:100%;height:auto}	
}