/*
Copyright University of Auckland 2004
Copyright 2004-2007 eXe Project, New Zealand Tertiary Education Commission
Created by Brent Simpson, brent@exelearning.org
Modified by eXeLearning.net
*/
body{background:#DBDAD2}
#content{background:#E0DFD8 url(_default_side_bg.gif) repeat-y;width:100%;position:relative;padding-bottom:10px;min-width:985px;border:2px solid #E5E4E0;border-radius:5px}
#main{padding:10px 20px 11px 250px}
#header,#emptyHeader{border-top:none;background:#D9D9CE}
div#nodeDecoration{padding:0;margin:0;background:none;border:none}
#nodeTitle{padding:.1em 0 .6em 0;border-bottom:2px solid #E5E4E0}
/* Navigation */
#siteNav{width:230px;float:left;padding-right:20px}
#siteNav,#siteNav ul{border-color:#E5E4E0}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav a{display:block;padding:4px 0 4px 15px;color:#4D4D4D;border-bottom:1px solid #FFF;border-right:2px solid #E5E4E0}
#siteNav a:hover,#siteNav a:focus{background-color:#C7C5B9;color:#222}
* html #siteNav a{display:inline-block;width:100%} /* IE6 */
#siteNav .main-node{font-weight:bold;font-variant:small-caps;letter-spacing:1px;font-size:1.1em}
#siteNav ul ul a{padding-left:30px;font-size:.95em}
#siteNav .active,#siteNav .active:hover,#siteNav .active:focus{color:#fff;background:#706F61 url(_default_current_page.gif) no-repeat 5px 50%}
#siteNav ul ul .active,#siteNav ul ul .active:hover,#siteNav ul ul .active:focus{background-position:20px 50%}
#siteNav ul ul ul .active,#siteNav ul ul ul .active:hover,#siteNav ul ul ul .active:focus{background-position:35px 50%}
#siteNav .other-section{display:none}
#siteNav ul ul ul a{padding-left:45px}
/* Pagination */
.pagination{border-top:2px solid #E5E4E0;padding-top:20px;text-align:right;color:#E0DFD8}
.pagination a{padding:0;margin:0 5px;color:#B34700}
.pagination a:hover,.pagination a:focus{color:#E65C00}
#topPagination{position:absolute;top:-2px;width:100%;right:20px}
#topPagination .prev{margin-left:20px}
#topPagination .pagination{border:none}
/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}