# compiled python
*.py[co]
build
build-stamp
exe.egg-info
# editor debris
*~
.#*
._*
.*.sw?
# OS debris
.DS_Store
# duelling version control systems
.svn
# eXe manual
exe/webui/docs/manual
# Eclipse
.project
.pydevproject
.settings/
exe/config
exe/run-exe.py
dist/
exe.conf
exe.log*
package1.elp
testing.elp

