# compiled python
*.py[co]
build
build-stamp
exe.egg-info
# editor debris
*~
.#*
._*
.*.sw?
# OS debris
.DS_Store
# duelling version control systems
.svn
# eXe manual
exe/webui/docs/manual
# Eclipse
.project
.pydevproject
.settings/
exe/config
exe/run-exe.py
dist/
exe.conf
exe.log*
package1.elp
testing.elp
.idea

# VS Code
.vscode

.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.python.pydev/dialog_settings.xml
.metadata/version.ini
exe/webui/scripts/tinymce_4/js/tinymce/plugins/image/plugin.js
exe/webui/scripts/tinymce_4/js/tinymce/plugins/insertdatetime/plugin.js
exe/webui/scripts/tinymce_4/js/tinymce/plugins/link/plugin.js
exe/webui/scripts/tinymce_4/js/tinymce/plugins/media/plugin.js
exe/webui/scripts/tinymce_4/js/tinymce/plugins/save/plugin.js
exe/webui/scripts/tinymce_4/js/tinymce/tinymce.js
.metadata/.lock

# Template translation
exe/webui/content_template/strings.pyenv/
.aider*
env/
