# compiled python
*.py[co]
build
build-stamp
exe.egg-info
# editor debris
*~
.#*
._*
.*.sw?
# OS debris
.DS_Store
# duelling version control systems
.svn
# eXe manual
exe/webui/docs/manual
# Eclipse
.project
.pydevproject
.settings/
exe/config

dist/
#lomes taxon Sources
PODPL_01_nivel_educativo_LOM-ES_es.xml
PODPL_02_Arbol_curricular_LOE_2006_es.xml
ETB-LRE MEC-CCAA V.1.0_es.xml
