include README
include doc/eXe-tutorial.elp
include exe/run-exe.sh
include exe/exe.conf
include exe/webui/mr_x.gif
recursive-include exe/webui/style *
recursive-include exe/webui/css *
recursive-include exe/webui/docs *
recursive-include exe/webui/images *
recursive-include exe/webui/scripts *
recursive-include exe/webui/templates *
recursive-include exe/webui/linux-profile *
global-exclude */.svn/*
global-exclude */.xvpics/*
