.tabbedPane .tabs
{
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 0.1em;
}

.tabbedPane .tabs li
{
  display: inline;
  padding: 0 2em;
  border: 1px solid #666;
  background: #eee;
  cursor: pointer;
  margin-right: 0.25em;
}

.tabbedPane .tabs li:hover
{ 
  background: #f5f5f5;
}

.tabbedPane .tabs li.selected
{
  border-bottom: 1px solid #fff;
  background: #fff;
}

.tabbedPane div
{
  clear: both;
  display: none;
  border: 1px solid #666;
  margin-bottom: 1em;
  padding: 0 1em;
}

.tabbedPane div.selected
{
  display: block;
}
