#adivinaIdeviceForm {
  margin-top: 2em;
}

#adivinaIdeviceForm label {
  display: inline;
}

#adivinaIdeviceForm label[for='adivinaShowSolution'] {
  margin-right: .5em;
}

#adivinaIdeviceForm input, #adivinaIdeviceForm select {
  font-size: 14px;
}

#adivinaIdeviceForm .adivinaSeparacion {
  margin: 15px auto;
  color: #c0c0c0;
}

#adivinaIdeviceForm label {
  display: inline;
  font-weight: bold;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#adivinaIdeviceForm .adivinaIdevice {
  background: #fff;
  padding: 20px;
  border: 1px solid #000;
}

#adivinaIdeviceForm legend {
  font-weight: bold;
  padding: 0 10px;
  font-size: 14px
}

#adivinaIdeviceForm .adivinaLinkDrop, #adivinaIdeviceForm .adivinaLinkAdd, #adivinaIdeviceForm .adivinaLinkCopy, #adivinaIdeviceForm .adivinaLinkDelete, #adivinaIdeviceForm .adivinaLinkSelect, #adivinaIdeviceForm .adivinaLinkClose {
  width: 24px;
  height: 24px;
  min-width: 32px;
  margin: 0 3px;
}

#adivinaIdeviceForm .adivinaWordMutimediaEdition a:focus, #adivinaIdeviceForm .adivinaWordMutimediaEdition a:link, #adivinaIdeviceForm .adivinaWordMutimediaEdition a:visited, #adivinaIdeviceForm .adivinaWordMutimediaEdition a:active {
  outline: 0;
  border: none;
}

#adivinaIdeviceForm #adivinaNumerLives {
  width: 30px;
}

.main {
  max-width: 100%;
}

#adivinaIdeviceForm .adivina-Questions {
  max-width: 100%;
  height: 100%;
  margin: auto auto;
}

#adivinaIdeviceForm .adivinaWordEdition {
  width: 20%;
  height: 24px;
  margin: 0px;
}

#adivinaIdeviceForm .adivinaButtonImage {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 3px;
  cursor: pointer;
  transition:all .3s ease-in-out;
}

#adivinaIdeviceForm .adivinaButtonImage:hover {
  -webkit-transform:scale(1.05);transform:scale(1.05);
}


#adivinaIdeviceForm .adivina-Multimedia {
  width: 560px;
  height: 315px;
  margin: 10px auto;
  position: relative;
  background-color: #fff;
}

#adivinaIdeviceForm .adivina-Protector {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .0001;
  z-index: 100000;
}

#adivinaIdeviceForm .adivina-Cursor {
  position: absolute;
  left: 0;
  top: 0
}

#adivinaIdeviceForm input[type=number] {
  width: 40px;
}

#adivinaIdeviceForm fieldset input {
  margin: 5px;
}

#adivinaIdeviceForm .adivinaFileWordEdition {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  width: 99%;
  background-color: white;
  border-radius: 4px;
 

}

#adivinaIdeviceForm .adivinaWordMutimediaEdition {
  width: 99%;
  margin: 10px auto;
  border: 1px solid #888888;
  border-radius: 4px;
  background: #f7f7f7;
  -webkit-box-shadow: 0 10px 6px -6px #999999;
  -moz-box-shadow: 0 10px 6px -6px #999;
  box-shadow: 0 10px 6px -6px #999;
}

#adivinaIdeviceForm .adivinaWordMutimedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#adivinaIdeviceForm .adivinaHomeImagenEdition {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius:10px;
}

#adivinaIdeviceForm .adivinaImageEdition {
  width: 560px;
  height: 315px;
  display: block;
  position: relative;
  margin: 10px auto;
  border: 1px solid white;
  border-radius:10px;
}

#adivinaIdeviceForm .adivinaNoImageEdition {
  position: absolute;
  left: 0;
  top: 0;
  width: 560px;
  height: 315px;
  border-radius:10px;
}


#adivinaIdeviceForm .adivinaCursorEdition {
  position: absolute;
  width: 24px;
  height: 24px;
}

#adivinaIdeviceForm .adivinaImageBarEdition {
  display: none
}

#adivinaIdeviceForm .adivinaWordMutimedia {
  display: block;
  width: 100%
}

#adivinaIdeviceForm .adivinaBarEdition, #adivinaIdeviceForm .adivinaMetaData {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  width: 98%;
}

#adivinaIdeviceForm .adivinaAuthorEdition {
  width: 40%;
  margin: 0 5px;
  z-index: 1000;
}

#adivinaIdeviceForm .adivinaAlt {
  width: 60%;
  margin: 0 5px;
  z-index: 1000;
}

#adivinaIdeviceForm .adivinaURLImageEdition {
  width: 100%;
  height: 24px;
  margin: 0 3px;
  z-index: 1000;
}

#adivinaIdeviceForm .adivinaYImageEdition, #adivinaIdeviceForm .adivinaXImageEdition {
  width: 24px;
  height: 24px;
  margin: 0 3px;
  display: none;
}

#adivinaIdeviceForm .adivinaSelectImageEdition {
  width: 24px;
  height: 24px;
}

#adivinaIdeviceForm .adivinaDefinitionEdition {
  width: 100%;
  height: 24px;
  margin-left: 3px;
  margin-right:  3px;
}
/* To review */

#adivinaIdeviceForm .exe-block-info img {
  vertical-align: middle;
  margin-left: .2em
}

#adivinaIdeviceFormTab3 * {
  font-size: 0.9em;
}

#adivinaIdeviceFormTab3 p:first-child {
  margin-top: 0
}

#adivinaIdeviceFormTab3 {
  overflow: auto
}

#adivinaIdeviceFormTab3 .ci18n {
  width: 50%;
  float: left
}

@media screen and (max-width:720px) {
  #adivinaIdeviceForm #adivinaIdeviceFormTab3 .ci18n {
    width: 100%;
    float: none
  }
}

#adivinaIdeviceForm #adivinaIdeviceFormTab3 label {
  display: block;
  font-weight: bold;
  margin-bottom: .2em;
  font-size: 0.9em
}

#adivinaIdeviceForm #adivinaIdeviceFormTab3 input {
  width: 300px;
  font-size: 0.9em
}

/* Tabs (this should be common) */

.exe-form-tabs {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style: none
}

#main .exe-form-tabs li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  display: inline
}

.exe-form-tabs li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px
}

.exe-form-tabs li:last-child a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.exe-form-tabs a {
  display: inline-block;
  padding: .5em 1em;
  border: 1px solid #CCC;
  background: #F9F9F9;
  color: #666
}

.exe-form-tabs li:not(:last-child) a {
  border-right: none;
}

.exe-form-tabs .exe-form-active-tab {
  color: #000;
  background: #FFF;
  font-weight: 500
}

#adivinaSCORMoptions{visibility:hidden;margin-left:1.5em}
label[for=adivinaActivitySCORM]{font-weight:bold}
#adivinaSCORMinstructionsButton{display:none;color:#777;margin:10px 0 0 25px}
#adivinaSCORMinstructionsButton ul{margin:1.5em 0 .7em 0;padding:0;list-style:none}
#adivinaSCORMinstructionsButton ul li{margin:0 0 .5em 0;padding:0;list-style-image:none}

#adivinaSCORMinstructionsAuto{display:none;color:#777;margin:10px 0 0 25px}
#adivinaSCORMinstructionsAuto ul{margin:1.5em 0 .7em 0;padding:0;list-style:none}
#adivinaSCORMinstructionsAuto ul li{margin:0 0 .5em 0;padding:0;list-style-image:none}