<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex" />
<meta name="google" content="notranslate"/>
<title>mindmaps for eXeLearning</title>
<link rel="stylesheet" href="/tools/mindmaps/src/css/common.css">
<link rel="stylesheet" href="/tools/mindmaps/src/css/app.css">
<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="/tools/mindmaps/src/css/Aristo/jquery-ui-1.8.7.custom.css" />
<link rel="stylesheet" href="/tools/mindmaps/src/css/minicolors/jquery.miniColors.css">
<script>_ = top._</script>

<script id="template-float-panel" type="text/x-jquery-tmpl">
<div class="ui-widget ui-dialog ui-corner-all ui-widget-content float-panel no-select">
  <div class="ui-dialog-titlebar ui-widget-header ui-helper-clearfix">
    <span class="ui-dialog-title">${title}</span>
    <a class="ui-dialog-titlebar-close ui-corner-all" href="#" role="button">
      <span class="ui-icon"></span>
    </a>
  </div>
  <div class="ui-dialog-content ui-widget-content">
  </div>
</div>
</script>

<script id="template-notification" type="text/x-jquery-tmpl">
<div class="notification">
  {{if closeButton}}
  <a href="#" class="close-button">x</a>
  {{/if}}
  {{if title}}
  <h1 class="title">{{html title}}</h1>
  {{/if}}
  <div class="content">{{html content}}</div>
</div>
</script>

<script id="template-open-table-item" type="text/x-jquery-tmpl">
<tr>
  <td><a class="title" href="#">${title}</a></td>
  <td>${$item.format(dates.modified)}</td>
  <td><a class="delete" href="#">delete</a></td>
</tr>
</script>

<script id="template-open" type="text/x-jquery-tmpl">
<div id="open-dialog" class="file-dialog" title="Abrir">
  <h1>Abrir mapa</h1>
  <p>Selecciona un mapa conceptual de tu disco duro (formato json).</p>
  <div class="file-chooser">
    <input type="file" />
  </div>
</div>
</script>

<script id="template-save" type="text/x-jquery-tmpl">
<div id="save-dialog" class="file-dialog" title="Guardar">
  <h1>Guardar mapa</h1>
  <p>Guarda el mapa conceptual en tu equipo (se guarda en formato json).</p>
  <button id="button-save-hdd">Guardar</button>
</div>
</script>

<script id="template-navigator" type="text/x-jquery-tmpl">
<div id="navigator">
  <div class="active">
    <div id="navi-content">
      <div id="navi-canvas-wrapper">
        <canvas id="navi-canvas"></canvas>
        <div id="navi-canvas-overlay"></div>
      </div>
      <div id="navi-controls">
        <span id="navi-zoom-level"></span>
        <div class="button-zoom" id="button-navi-zoom-out"></div>
        <div id="navi-slider"></div>
        <div class="button-zoom" id="button-navi-zoom-in"></div>
      </div>
    </div>
  </div>
  <div class="inactive">
  </div>
</div>
</script>


<script id="template-inspector" type="text/x-jquery-tmpl">
<div id="inspector">
  <div id="inspector-content">
    <table id="inspector-table">
      <tr>
        <td>Tamaño:</td>
        <td><div
            class="buttonset buttons-very-small buttons-less-padding">
            <button id="inspector-button-font-size-decrease">A-</button>
            <button id="inspector-button-font-size-increase">A+</button>
          </div></td>
      </tr>
      <tr>
        <td>Estilo texto:</td>
        <td><div
            class="font-styles buttonset buttons-very-small buttons-less-padding">
            <input type="checkbox" id="inspector-checkbox-font-bold" /> 
            <label
            for="inspector-checkbox-font-bold" id="inspector-label-font-bold">B</label>
              
            <input type="checkbox" id="inspector-checkbox-font-italic" /> 
            <label
            for="inspector-checkbox-font-italic" id="inspector-label-font-italic">I</label> 
            
            <input
            type="checkbox" id="inspector-checkbox-font-underline" /> 
            <label
            for="inspector-checkbox-font-underline" id="inspector-label-font-underline">U</label> 
            
            <input
            type="checkbox" id="inspector-checkbox-font-linethrough" />
             <label
            for="inspector-checkbox-font-linethrough" id="inspector-label-font-linethrough">S</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>Color texto:</td>
        <td><input type="hidden" id="inspector-font-color-picker"
          class="colorpicker" /></td>
      </tr>
      <tr>
        <td>Color rama:</td>
        <td><input type="hidden" id="inspector-branch-color-picker"
          class="colorpicker" />
          <button id="inspector-button-branch-color-children" title="Aplicar el color a los nodos hijos" class="right buttons-small buttons-less-padding">Recursivo</button>
        </td>
      </tr>
    </table>
  </div>
</div>
</script>

<script id="template-export-map" type="text/x-jquery-tmpl">
<div id="export-map-dialog" title="Exportar">
  <h2 class='image-description'>Para descargar la imagen haz clic sobre el mapa con el botón derecho del ratón y elige "Guardar imagen como..."</h2>
  <div id="export-preview"></div>
</div>
</script>

</head>
<body>
  <div id="print-area">
    <p class="print-placeholder">Usa la opción para imprimir que hay en el menú.</p>
  </div>
  <div id="container">
    <div id="topbar">
      <div id="toolbar">
        <div id="logo" class="logo-bg">
          <span>mindmaps</span>
        </div>

        <div class="buttons">
          <span class="buttons-left"> </span> <span class="buttons-right">
          </span>
        </div>

      </div>
    </div>
    <!-- Cropper -->
	<div id="cropper-wrapper">
		<div id="cropper-img"></div>
	</div>
	<!-- / Cropper -->
	<div id="canvas-container">
      <div id="drawing-area" class="no-select"></div>
    </div>
    <div id="bottombar">
      <div id="about">
        Funciona con <a href="https://github.com/drichard/mindmaps" target="_blank" hreflang="en">mindmaps</a>.
      </div>
      <div id="statusbar">
        <div
          class="buttons buttons-right buttons-small buttons-less-padding"></div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script src="//api.filestackapi.com/filestack.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>

  <!--<script src="/tools/mindmaps/dist/js/script.js"></script>-->
  <script src="/tools/mindmaps/src/js/libs/jquery-ui-1.8.11.custom.min.js"></script>
  <script src="/tools/mindmaps/src/js/libs/dragscrollable.js"></script>
  <script src="/tools/mindmaps/src/js/libs/jquery.hotkeys.js"></script>
  <script src="/tools/mindmaps/src/js/libs/jquery.mousewheel.js"></script>
  <script src="/tools/mindmaps/src/js/libs/jquery.minicolors.js"></script>
  <script src="/tools/mindmaps/src/js/libs/jquery.tmpl.js"></script>
  <script src="/tools/mindmaps/src/js/libs/events.js"></script>
  <script src="/tools/mindmaps/src/js/MindMaps.js"></script>
  <script src="/tools/mindmaps/src/js/Command.js"></script>
  <script src="/tools/mindmaps/src/js/CommandRegistry.js"></script>
  <script src="/tools/mindmaps/src/js/Action.js"></script>
  <script src="/tools/mindmaps/src/js/Util.js"></script>
  <script src="/tools/mindmaps/src/js/Point.js"></script>
  <script src="/tools/mindmaps/src/js/Document.js"></script>
  <script src="/tools/mindmaps/src/js/MindMap.js"></script>
  <script src="/tools/mindmaps/src/js/Node.js"></script>
  <script src="/tools/mindmaps/src/js/NodeMap.js"></script>
  <script src="/tools/mindmaps/src/js/UndoManager.js"></script>
  <script src="/tools/mindmaps/src/js/UndoController.js"></script>
  <script src="/tools/mindmaps/src/js/ClipboardController.js"></script>
  <script src="/tools/mindmaps/src/js/ZoomController.js"></script>
  <script src="/tools/mindmaps/src/js/ShortcutController.js"></script>
  <script src="/tools/mindmaps/src/js/HelpController.js"></script>
  <script src="/tools/mindmaps/src/js/FloatPanel.js"></script>
  <script src="/tools/mindmaps/src/js/Navigator.js"></script>
  <script src="/tools/mindmaps/src/js/Inspector.js"></script>
  <script src="/tools/mindmaps/src/js/ToolBar.js"></script>
  <script src="/tools/mindmaps/src/js/StatusBar.js"></script>
  <script src="/tools/mindmaps/src/js/CanvasDrawingTools.js"></script>
  <script src="/tools/mindmaps/src/js/CanvasView.js"></script>
  <script src="/tools/mindmaps/src/js/CanvasPresenter.js"></script>
  <script src="/tools/mindmaps/src/js/ApplicationController.js"></script>
  <script src="/tools/mindmaps/src/js/MindMapModel.js"></script>
  <script src="/tools/mindmaps/src/js/NewDocument.js"></script>
  <script src="/tools/mindmaps/src/js/OpenDocument.js"></script>
  <script src="/tools/mindmaps/src/js/SaveDocument.js"></script>
  <script src="/tools/mindmaps/src/js/MainViewController.js"></script>
  <script src="/tools/mindmaps/src/js/Storage.js"></script>
  <script src="/tools/mindmaps/src/js/Event.js"></script>
  <script src="/tools/mindmaps/src/js/Notification.js"></script>
  <script src="/tools/mindmaps/src/js/StaticCanvas.js"></script>
  <script src="/tools/mindmaps/src/js/PrintController.js"></script>
  <script src="/tools/mindmaps/src/js/ExportMap.js"></script>
  <script src="/tools/mindmaps/src/js/AutoSaveController.js"></script>
  <script src="/tools/mindmaps/src/js/FilePicker.js"></script>  
  
  <script src="js/cropper.js"></script>
  <script src="js/jquery-cropper.js"></script>
  <script src="js/custom.js"></script>
</body>
</html>