@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/style/kids/open-sans.woff2) format('woff2'), url(/style/kids/open-sans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/style/kids/open-sans-bold.woff2) format('woff2'), url(/style/kids/open-sans-bold.woff) format('woff');
}
html{background:#fff}
body{font:100%/1.6 'Open Sans',Arial,Verdana,Helvetica,sans-serif;padding:0;margin:0;color:#fff}
body.js{background:#fff;color:#444}
a{text-decoration:none;color:#2668A5}
a:hover,a:focus{text-decoration:underline}
#header{background:#626262;color:#fff;letter-spacing:.5px}
#header h1{margin:0 20px;line-height:88px;font-size:1em}
#header a{color:#fff}
#site{font-size:.9em}
#content,#messages{width:85%;min-width:985px;max-width:1280px;margin:0 auto;background:#fff;height:auto!important;height:600px;min-height:600px}
#messages{text-align:center;display:none;height:600px}
#content .wrapper{padding:20px}
p{margin:1em 0}

.sr-av,#controls a span,#block-types span,.block-type h3,.block-type h4 span,#actions span,#edit-block a span,#from a span,#to a span{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}
.js-required{display:none}
.js .js-required{display:block}
.js-hidden{margin:1em 20px;font-size:.9em}
.js .js-hidden{display:none}
.admin-block{display:none}

#frontpage-form .answers label{margin-right:.5em}
#frontpage-type-2-opts{display:none}

#help-block ul{margin:2.5em 0 2.5em 50px;padding:0;list-style:none}
#help-block li{margin:1em 0;padding:0 0 0 35px;background:url(../images/help/01.png) no-repeat 0 50%}
#help-block .step-2{background-image:url(../images/help/02.png)}
#help-block .step-3{background-image:url(../images/help/03.png)}
#help-block .step-4{background-image:url(../images/help/04.png)}
#help-block p{margin:2.5em 85px;max-width:350px;color:#767676}
#help-block a{display:inline-block}

#activity{float:left}
#admin{padding-left:478px}
#controls{overflow:auto}
#controls ul{margin:0;padding:0;list-style:none}
#controls li{margin:0;padding:0;display:inline}
#controls a{display:block;width:48px;height:48px;border-radius:24px;background:#767676 url(../images/icons.png) 0 0;float:left;margin-right:30px;filter:alpha(opacity=70);opacity:.7}
#controls a:hover,#controls a:focus,#controls a.current{filter:alpha(opacity=100);opacity:1}
#controls .help a{background-position:0 -96px}
#controls .add a{background-position:0 -48px}
#controls .edit a{background-position:0 -144px}
#controls-tip{line-height:48px;color:#767676;letter-spacing:.5px}

#actions{position:absolute;top:20px;right:0}
#actions,#actions li{margin:0;padding:0;list-style:none;display:inline}
#actions a{display:block;float:left;background:#000 url(../images/icons.png) 0 -192px;width:48px;height:48px;border-radius:24px;margin-right:30px}
#actions a:hover,#actions a:focus{background-color:#9E9E9E}
#actions .save a{background-position:0 -624px}
#actions .exit a{background-position:0 -672px}
#actions .delete a{background-position:0 -720px}
#actions .save-as a{background-position:0 -768px}
#actions-desc{line-height:88px;position:absolute;top:0;right:185px;color:#FFF;letter-spacing:.5px}

#messages p{margin:0}
#messages .txt{padding:4em 2em 1.5em 2em;font-size:1.2em}
#messages .txt p{margin:0 0 1em 0}
#messages .buttons input{background:#393;border:0;padding:.8em 2em;color:#fff;font-weight:bold;letter-spacing:.5px;border-radius:4px;margin:0 10px}
#messages .buttons input:hover,#messages .buttons input:focus{background:#2D862D}
#messages .buttons #msg-deny{background:#933}
#messages .buttons #msg-deny:hover,#messages #msg-deny:focus{background:#862D2D}
#msg-promt{width:400px;font-size:1.2em;border:1px solid #e0e0e0;padding:.3em;margin-bottom:2em;color:#666}

input,textarea{font-family:'Open Sans',Arial,Verdana,Helvetica,sans-serif;font-size:1em}
.admin-block{padding-top:.5em}
.admin-block p{margin:1.5em 0}
.admin-block label{display:block;margin-bottom:.3em;font-weight:bold}
.admin-block label span{font-weight:normal;font-size:.9em;margin-left:.3em}
.text-field input[type=text],textarea{width:300px;border:1px solid #e0e0e0;padding:.2em;color:#555}
#image-block .text-field input[type=text]{width:438px}
.text-field .instructions{display:block;font-size:.9em;margin-top:.2em;color:#666}
.text-field .instructions a{margin-left:.3em}
.admin-block .buttons{margin-top:2em}
.admin-block input[type=button],#help-block a{background:#369;color:#fff;border:none;border-radius:4px;padding:.5em 1em;font-weight:bold}

.answers{margin:2em 0}
.answers label{display:inline}
.answers input[type=text]{margin:0 .5em}
.answers .radio,.answers .checkbox{font-weight:normal}

.tabs,.tabs li{margin:0;padding:0;list-style:none}
.tabs{overflow:auto;margin:1.5em 0 0}
.tabs a{display:block;float:left;line-height:46px;padding:0 15px;border:1px solid #e0e0e0;color:#767676;background:#F0F0F0}
.tabs a.first{margin-right:-1px;border-top-left-radius:4px}
.tabs a.last{border-top-right-radius:4px}
.tabs .current{color:#000;border-bottom-color:#fff;background:#FFF}
.tab-content{border-top:1px solid #e0e0e0;margin-top:-1px}

#block-types{margin:1.5em 0 0;padding:0;list-style:none;width:100%;height:48px}
#block-types li{margin:0;padding:0;display:inline}
#block-types a{display:block;float:left;width:48px;height:48px;
border-top-left-radius:4px;border-top-right-radius:4px;
filter:alpha(opacity=50);opacity:.5;
background:#767676 url(../images/icons.png) 0 -240px;margin-right:1px}
#block-types a:hover,#block-types a:focus,#block-types a.current{filter:alpha(opacity=100);opacity:1}
.edition-mode #block-types a{display:none;cursor:default}
.edition-mode #block-types a.current{display:block}
#block-types .image a{background-position:0 -288px}
#block-types .singleChoice a{background-position:0 -336px}
#block-types .multipleChoice a{background-position:0 -384px}
#block-types .dropdown a{background-position:0 -432px}
#block-types .cloze a{background-position:0 -480px}
#block-types .matchElements a{background-position:0 -528px}
#block-types .sortableList a{background-position:0 -576px}
.block-type{border:1px solid #9F9F9F;padding:48px 20px 0 20px;
border-radius:4px;border-top-left-radius:0
}
#block-types-admin{position:relative}
#block-type-description{letter-spacing:.5px;position:absolute;top:0;left:0;display:inline-block;background:#767676;color:#fff;padding:0 12px;width:367px;border-bottom-right-radius:4px;height:48px;line-height:48px}

.hidden-block{display:none}

.success-msg p{background:#F4FDEF;padding:10px 20px;border-radius:2px;border:1px solid #ACDFA7;color:#384F34;margin-top:25px;margin-bottom:110px}
.success-msg strong{margin-right:.5em}
.success-msg a{margin-right:.5em;color:green}

#from-to-help{display:none}
#from-to-help-link{position:absolute;top:0;right:20px;margin:0;line-height:48px;float:none}
#from-to-help-link a{padding-left:30px;background:url(../images/help/toggler.png) no-repeat 0 50%;color:#000;display:inline-block}
#from-to-help-link em{font-style:normal}
.help-visible #from-to-help{display:block}
.help-visible .block-form-content,.help-visible #from-to{display:none}

#from-to-help ol{margin:2em 0;padding:0;list-style:none;font-size:.95em;color:#777}
#from-to-help li{margin:0 0 .7em 0}
#from-to-help img{vertical-align:middle;margin:0 .2em}
#from-to-help h4{font-size:1.1em;margin:0}
#from-to-help #close-help{margin:2em 0 1.5em 0}
#close-help a{background:#369;color:#fff;border:none;border-radius:4px;padding:.5em 1em;font-weight:bold;display:inline-block}

#from-to{overflow:auto;margin-top:1.5em}
#from-to p{float:left;margin:.5em 0}
#to{clear:both}
#from-to strong{display:block;float:left;width:4em;text-align:right;padding:.2em .5em 0 0}
#from-to label{font-weight:normal}
#from-to .checkbox{padding:.2em 0 0 1.5em}
#from-to .disabled{visibility:hidden} /* To review */
#from-to .disabled label{color:#999}
#from-to input[type=text]{border:1px solid #e0e0e0;padding:.2em .3em;color:#555;width:1.5em;margin:0 .1em}
#from a{display:inline-block;background:url(../images/timer.png) no-repeat 50% 50%;width:28px;height:28px;vertical-align:middle;margin-top:-.2em}
#to{display:none}

#edit-block table{border-collapse:collapse;border:1px solid #A0A0A0;margin-top:2em;width:80%;font-size:.95em}
#edit-block th,#edit-block td{border:1px solid #A0A0A0;text-align:left;padding:4px 10px}
#edit-block th{background:#bbb;color:#fff;text-shadow:1px 1px 1px #444;letter-spacing:.5px}
#edit-block td{background:#eee}
#edit-block .even td{background:#f5f5f5}
#edit-block tbody tr:hover{background:#fff}
#edit-block tr:hover td,#edit-block tr:hover .even td{background:none}
#edit-block a{color:#666}
#edit-block ul,#edit-block li{margin:0;padding:0;list-style:none;display:inline}
#edit-block ul a{display:block;float:left;width:20px;height:20px;background:url(../images/edition_icons.png) no-repeat 0 0;margin-right:10px;
filter:alpha(opacity=60);opacity:.6}
#edit-block ul a:hover,#edit-block ul a:focus{filter:alpha(opacity=100);opacity:1}
#edit-block .delete a{background-position:0 -20px}

@media screen and (max-width: 1200px) {
	#from-to-help-link{top:7px}	
	#from-to-help-link a{padding:0;display:inline-block;width:24px;height:24px}
	#from-to-help-link em{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}	
}

@media screen and (max-width: 1080px) {
	#actions a,#controls a{margin-right:20px}	
	#actions-desc{right:370px}
}