@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/style/kids/open-sans.woff2) format('woff2'), url(/style/kids/open-sans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/style/kids/open-sans-bold.woff2) format('woff2'), url(/style/kids/open-sans-bold.woff) format('woff');
}
body{font:90%/1.6 'Open Sans',Arial,Verdana,Helvetica,sans-serif;padding:0;margin:0;color:#444;padding:0 .5em}