Source: python-exe
Maintainer: Jim Tittsler <jim@eXeLearning.org>
Section: python
XS-Python-Version: all
Priority: optional
Standards-Version: 3.6.1
Build-Depends-Indep: debhelper (>= 4.1.67), python-all-dev

Package: python-exe-fpd
Architecture: all
Depends: ${python:Depends}, python-zope.interface (>=3.0), python-imaging
Description: eLearning XHTML editor [dummy package]
 The eXe project is an authoring environment to enable teachers to publish
 web content without the need to become proficient in HTML or XML markup.
 Content generated using eXe can be used by any Learning Management System.
 .
 This package is an empty dummy package that always depends on a package
 built for Debian's default Python version.

Package: python2.6-exe-fpd
Architecture: all
Depends: ${python:Depends}, python-zope.interface (>=3.0), python-imaging
Description: eLearning XHTML editor
 The eXe project is an authoring environment to enable teachers to publish
 web content without the need to become proficient in HTML or XML markup.
 Content generated using eXe can be used by any Learning Management System.

