<?xml version="1.0"?>
<theme>
    <name>Tknika</name>
    <version>1.0</version>
    <compatibility>2.0+</compatibility>
    <author>Ikuspe Sormen Estudioa</author>
    <author-url>http://www.ikuspe.com</author-url>
	<license>Creative Commons by-sa</license>
	<license-url>http://creativecommons.org/licenses/by-sa/3.0/</license-url>
	<description>Plantilla realizada por Ikuspe Estudio Creativo (www.ikuspe.com) tomando como base una plantilla creada por Ignacio Gros. </description>
    <extra-head><![CDATA[<meta name="viewport" content="width=device-width, initial-scale=1" />
]]></extra-head>
    <extra-body><![CDATA[<script type="text/javascript" src="tknika_js.js"></script>]]></extra-body>
</theme>