/*  =================================================

     Fichero: content.css
     Proyecto: Estilo IEDA version 5
     Fecha: Mayo 2013
     Descripcion: Hoja de estilos principal
     Company:   CeDeC - IEDA
     Referencias: Obra derivada de (ver license.txt)
     
   ================================================== */
   
/*Reseteo generico de estilos */

* {
	padding: 0;
        margin: 5; 
	font-family: Verdana,Arial, Helvetica, sans-serif !important;
}

/* Estilo general del cuerpo de los contenidos */
body, html 
{
  	background-color: #ffffff;
	color: #1c1c1c;
	font-family: Verdana,Arial, Helvetica, sans-serif !important;
	font-size: small;
	text-align: justify;
	line-height: 120%;
}

body
{
	font-family: Verdana,Arial, Helvetica, sans-serif !important;
}

h1, h2, h3, h4, h5
{
	margin:0px;
	padding:0px;
	line-height: 120%;
}



/* Separación entre párrafos*/
p
{
	margin: 0;
	margin-top: 0.7em
}

/* Estilo para los enlaces */

a:link,
a:active,
a:visited
{
	color: #0000ff;
	text-decoration: none;
}

/*Estilo para los enlaces cuando tenemos el cursor sobre ellos*/
a:hover
{
	color: #0000ff;
	text-decoration:underline;
}

/* Imágenes*/
img
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: -3px;
	border: 0px;
	padding: 0px;
}

img.submit, img.help, img.info, img.gallery {
	border: 0;
}

a img
{
	border: 0px;
	margin: 0px;
	padding: 0px;
}

/*Tablas*/
table
{
	margin: 10px;
	border: 1px solid;
	border-color: inherit;
	border-collapse: collapse;
	padding: 3px;
}

table[align="center"]
{
	margin-left:auto;
	margin-right:auto;
}

td
{
	border: 1px solid;
	border-color: inherit;
	border-collapse: collapse;
	padding: 3px;
}

/* PARA QUE AL EXPORTAR SE QUITEN LOS BORDES DE LAS PREGUNTAS */
.question table
{
	border: 0;
}

.question td
{
	border: 0;
}

/* Formato para las listas */
/* Para que haya indexación en las listas anidadas */
ol,ul
{
	margin-left: 2em;	
}
/* Cambio el icono para las listas si numerar */
ul li
{
	list-style-image: url(bullet.gif);
}

/* Cita con autoría */
.styled-qc{margin-top:2.5em}
.styled-qc:before{top:0}

/* Estilo para el título del NODO, que es cada una de las entradas
de la jerarquía de contenidos que crearemos con eXe */
#main {
	position: relative;
}
div#nodeDecoration
{

	text-align: left;
}

#nodeTitle
{
	
	background-image: url(logo.png);
	background-position: right center;
	background-repeat: no-repeat;
	color: #666666;
	background-color: #ffffff;
   font-weight: bold;
   display: block;
	font-size: 20px;
	line-height: 30px;
/*	border-top: 0px double #CCCCCC;  */
	border-bottom: 3px solid #8b8b8b;
	padding-top: 1px;
	padding-bottom: 5px;
	margin-top: 0px;
	padding-right: 135px;
}

h1.nodeTitle, h2.nodeTitle, h3.nodeTitle, h4.nodeTitle, h5.nodeTitle, h6.nodeTitle, h7.nodeTitle
{
	
	background-image: url(logo.png);
	background-position: right center;
	background-repeat: no-repeat;
	color: #666666;
	background-color: #ffffff;
   font-weight: bold;
   display: block;
	font-size: 20px;
	line-height: 30px;
/*	border-top: 0px double #CCCCCC;  */
	border-bottom: 3px solid #8b8b8b;
	padding-top: 1px;
	padding-bottom: 5px;
	margin-top: 0px;
	padding-right: 135px;
}

/* Cabecera para cuando exportemos a web sola para imprimir */
#header 
{
   text-align: left;
   height: 5px;
   padding-left: 20px;
   font-size: 2.2em;
   font-weight: bold;
}
/*=====================================================
			ESTILOS COMUNES PARA TODOS LOS iDEVICES
========================================================*/


/*
Estilos generales para los iDevice
A menos que un estilo particular diga otra cosa, todos
los iDevice heredarán lo que aquí pone
*/
.iDevice
{
	/* Simplemente lo separo un poquito del resto de iDevices
	y separo los contenidos del borde */
	padding: 0px;
}

.iDevice_icon
{
	border: 0px;
	position: relative;
}

.iDevice_inner
{
	margin: 0;
    width: 100%;
	height: auto !important;
	*height: auto !important;
	*height: 0px;
    position: relative;
	overflow-y: auto;
}
.iDeviceTitle
{
	display: none;
}

.emphasis1
{
	margin:0px;
}

.emphasis0
{
	width: auto;
	height: auto !important;
	*height: auto !important;
	*height: 0px;
	margin-bottom: 5px;
	overflow-y: auto;
}


p.reading_reference {
    font-style: italic;        
}

p.reading_feedback {
    margin: 20px;
    padding: 8px;
}

/*
Idevice Actividad. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.activityIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
	background: #cae0f7 url('inf_der_activity.gif') no-repeat bottom right;
	border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.activityIdevice .emphasis1
{
	background: transparent url('inf_izq_activity.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
	width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.activityIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_activity.gif"] 
{
	border: 0px;
	position: relative;
   left: -11px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.activityIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_activity.gif"] + .iDeviceTitle
{
	display: block;
	background: #c8c9c9 url('sup_der_activity.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
	color: #c8c9c9;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
	height: 40px;       /* Tiene que tener el alto del icono */
	position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
	z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 100px;
   font-size: 14pt        /* z-index inferior al del icono, para que quede tapado */
}


.activityIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_activity.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -40px;
}

/*
Idevice Reflexión. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.ReflectionIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.ReflectionIdevice .emphasis1
{
   background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.ReflectionIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_reflection.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.ReflectionIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_reflection.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: transparent;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}

.ReflectionIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_reflection.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}


/*
Idevice Objetivo. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.objectivesIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #c8c9c9 url('inf_der_objectives.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.objectivesIdevice .emphasis1
{
   background: transparent url('inf_izq_objectives.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.objectivesIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_objectives.gif"] 
{
	border: 0px;
	position: relative;
   left: -10px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.objectivesIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_objectives.gif"] + .iDeviceTitle
{
	display: block;
	background: #c8c9c9 url('sup_der_objectives.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
	color: #c8c9c9;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
	height: 40px;       /* Tiene que tener el alto del icono */
	position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
	z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
	padding: 35px 0 0 90px;
   font-size: 14pt        /* z-index inferior al del icono, para que quede tapado */
}


.objectivesIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_objectives.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}
/*
Idevice Caso de estudio. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.CasestudyIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.CasestudyIdevice .emphasis1
{
   background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.CasestudyIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_casestudy.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.CasestudyIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_casestudy.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: transparent;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}


.CasestudyIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_casestudy.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}


/*
Idevice Actividad de lectura. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.readingIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.readingIdevice .emphasis1
{
  background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.readingIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_reading.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.readingIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_reading.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #transparent;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}


.readingIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_reading.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}



/*
Idevice Preconocimiento. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.preknowledgeIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
	background: #aec9dc url('inf_der_preknowledge.gif') no-repeat bottom right;
	border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.preknowledgeIdevice .emphasis1
{
	background: transparent url('inf_izq_preknowledge.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
	width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.preknowledgeIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_preknowledge.gif"] 
{
	border: 0px;
	position: relative;
	top:-1px;
	left: -11px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.preknowledgeIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_preknowledge.gif"] + .iDeviceTitle
{
	display: block;
	background: #aec9dc url('sup_der_preknowledge.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
	color: #aec9dc;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
	height: 40px;       /* Tiene que tener el alto del icono */
	position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
	z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
	padding: 35px 0 0 110px;
	font-size: 14pt/* z-index inferior al del icono, para que quede tapado */
}


.preknowledgeIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_preknowledge.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}

/*
Idevice Multiopción. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.MultichoiceIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.MultichoiceIdevice .emphasis1
{
	background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.MultichoiceIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.MultichoiceIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #ffffff;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}


.MultichoiceIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}

/*
Idevice Cloze. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.ClozeIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.ClozeIdevice .emphasis1
{
   background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.ClozeIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}


/*
El título se utiliza para el efecto superior derecho
*/
.ClozeIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #ffffff;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}


.ClozeIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}


/*
Idevice Desplegable. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.ListaIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.ListaIdevice .emphasis1
{
   background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.ListaIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}


/*
El título se utiliza para el efecto superior derecho
*/
.ListaIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #be4d4c;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}


.ListaIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}




/*
Idevice Verdadero falso. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.TrueFalseIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
	background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
	border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.TrueFalseIdevice .emphasis1
{
	background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
	width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.TrueFalseIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] 
{
	border: 0px;
	position: relative;
	left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.TrueFalseIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle
{
	display: block;
	background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
	color: #ffffff;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
	height: 40px;       /* Tiene que tener el alto del icono */
	position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
	z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
	padding: 25px 0 0 90px;
	font-size: 14pt
}


.TrueFalseIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}


/*
Idevice Multiselección. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.MultiSelectIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.MultiSelectIdevice .emphasis1
{
   background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.MultiSelectIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.MultiSelectIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #ffffff;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}


.MultiSelectIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}

/*
Idevice Examen scorm. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.QuizTestIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_hojas.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.QuizTestIdevice .emphasis1
{
   background: transparent url('inf_izq_hojas.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.QuizTestIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.QuizTestIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_hojas.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #ffffff;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
   z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 90px;
   font-size: 14pt
}


.QuizTestIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_question.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}



/* Estilo para las retroalimentaciones */
.feedback
{
	border: 1px dashed #4E4E4E;
	color: #4E4E4E;
	background-color: #FFFFFF;
	padding: 5px;
	margin: 5px;
	font-family: Verdana,Arial, Helvetica, sans-serif !important;
	font-size:1em;	
	height: auto !important;
	*height: auto !important;
	*height: 0px;
	margin-bottom: 5px;
	overflow-y: auto;
}

/* Estilo para los formularios y botones*/
input
{
	font-weight: bold;
	color: inherit;
	border-color: inherit;
	border-style: solid;
	border-width: 1px;
}

select
{
	font-weight: bold;
	color: inherit;
	border-color: inherit;
	border-style: solid;
	border-width: 1px;
}

/* Estilo para las sugerencias y ayudas pedag�gicas */
.popupDiv
{
	background-color: #FFFFFF;
	border: 2px solid #607489;
	padding: 4px;
	margin-left: 15px;
	text-align: left;
}

.popupDivLabel
{
	text-align: center;
	font: message-box;
	font-weight: bold;
	color: #bd4949;
	margin: 4px;
	background-color: #FF0000;
}


/*
Idevice Galería de imágenes --> Galería de imágenes. En la capa contenedora de iDevice, se pone el efecto de la esquina inferior derecha
*/
.GalleryIdevice {
	position: relative;
	margin: 20px auto;
	width: 95%;
   background: #ffffff url('inf_der_gallery.gif') no-repeat bottom right;
   border: none;
	overflow: visible;
}

/*
La capa interior, se utiliza para el efecto inferior izquierdo
*/
.GalleryIdevice .emphasis1
{
   background: transparent url('inf_izq_galeria.gif') no-repeat bottom left;
	margin: 0;      /* No se puede poner margen, tiene que rellenar todo el iDevice */
   width: 100%;    /* de izquierda a derecha y hasta ahajo del todo */
	overflow-y: auto;
	overflow: visible;
}

/*
El icono se utiliza para el efecto superior izquierdo
*/
.GalleryIdevice .iDevice_icon,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_gallery.gif"] 
{
	border: 0px;
	position: relative;
   left: -5px;  /* Si tiene alguna sombra o efecto que sobresalga hacia la izquierda,
	                 hay que desplazarlo tantos píxeles como sobresalga el efecto */
	z-index: 6;   /* z-index superior al del título, para que lo tape */
}

/*
El título se utiliza para el efecto superior derecho
*/
.GalleryIdevice .iDeviceTitle,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_gallery.gif"] + .iDeviceTitle
{
	display: block;
   background: #ffffff url('sup_der_gallery.gif') no-repeat top right;  /* Efecto de la esquina sup-der */
   color: #ffffff;     /* Mismo color que la imagen de fondo, para que no se vea el texto */
   height: 40px;       /* Tiene que tener el alto del icono */
   position: relative; /* Se desplaza hacia arriba tantos píxeles como el icono tenga de alto */
	top: -67px;         /* para que quede alineado con este */
	z-index: 5;         /* z-index inferior al del icono, para que quede tapado */
   padding: 25px 0 0 80px;
   font-size: 14pt
}


.GalleryIdevice .iDevice_inner,
.emphasis1 img.iDevice_icon[src="/style/ieda/icon_gallery.gif"] + .iDeviceTitle + .iDevice_inner
{
	background: transparent;
	margin: 0 auto;
	width: 90%;
	position: relative;
	top: -55px;
}

/* Caracter�sticas para cada una de las fotos de la galer�a */
img.gallery
{
	margin-left: 30px;
	border: 2px solid #2C8384;
	padding: 10px;
	margin-top: 10px !important;
	*margin-top: 60px !important; 
	*margin-top: 60px;
}

/* Caracter�sticas del t�tulo de las fotos de la galer�a */
.caption
{
	font-weight: normal;
	margin-left: 5px !important;
	*margin-left: 30px !important;
	*margin-left: 50px;
	padding: 10px;
	margin-bottom: 50px;
	text-align: center;
}

/* IDEVICE IMAGEN AMPLIADA */
.image_text
{
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	color:#4E4E4E;
	background-image:url(fondoev_bn.gif);
	background-position: left top;
	background-repeat: repeat-y;
	background-color: #FCFCFC;
	border: 1px solid #000000;
}

.image_text .image
{
	background-image:url(icon_zoom.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

.image object
{
	margin: 0px;
	padding: 0px;
	margin-top: 55px;	
}
.image_text + .block
{
	float:left;
	margin: 5px;
	margin-right: -15px;
	color: #4E4E4E;
}

/* IDEVICE SITIO EXTERNO SITIO WEB */
iframe
{
	border: 1px solid #000000;
	padding: 2px;
}
/* CAMBIOS DE TIPO DE LETRAS EN SITIOS DETERMINADOS
 * SOBRECARGANDO EL BASE.CSS DE LA APLICACIÓN
 */
.reading_reference
{
	font-family: Verdana,Arial, Helvetica, sans-serif !important;	
}


/* styles below here are for for Wikipedia content 
    imported into eXe. Taken from en.wikipedia.org. */
    
#catlinks {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    padding: 5px;
    margin-top: 1em;
    clear: both;
}

div.floatleft, table.floatleft {
    float: left;
    position: relative;
    margin: 0 .5em .5em 0;
    border: 0;
}

div.floatleft p { font-style: italic; }

/* thumbnails */
div.thumb {
    margin-bottom: .5em;
}
div.thumb div {
    border: 1px solid #ccc;
    padding: 3px !important;
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}
div.thumb div a img {
    border: 1px solid #ccc;
}
div.thumb div div.thumbcaption {
    border: none;
    text-align: left;
    line-height: 1.4em; 
    padding: .3em 0 .1em 0;
}
div.magnify {
    float: right;
    border: none !important;
    background: none !important;
}

div.magnify a, div.magnify img {
    display: block;
    border: none !important;
    background: none !important;
}


div.tright {
    clear: right;
    float: right;
    border-width: .5em 0 .8em 1.4em;
}
div.tleft {
    float: left;
    margin-right: .5em;
    border-width: .5em 1.4em .8em 0;
}

/* Infobox template style */

.infobox {
    border: 1px solid #aaaaaa;
    background-color: #f9f9f9;
    color: black;
    margin-bottom: 0.5em;
    margin-left: 1em;
    padding: 0.2em;
    float: right;
    clear: right;
}
.infobox td,
.infobox th {
    vertical-align: top;
}
.infobox caption {
    font-size: larger;
    margin-left: inherit;
}
.infobox.bordered {
    border-collapse: collapse;
}
.infobox.bordered td,
.infobox.bordered th {
    border: 1px solid #aaaaaa;
}
.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
    border: 0;
}

.infobox.sisterproject {
    width: 20em;
    font-size: 90%;
}

/* wikipedia tables of contents styles */

#toc,
.toc {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    padding: 5px;
    font-size: 95%;
}

#toc h2,
.toc h2 {
    display: inline;
    border: none;
    padding: 0;
    font-size: 100%;
    font-weight: bold;
}

#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
    text-align: center;
}

#toc ul,
.toc ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}

#toc ul ul,
.toc ul ul {
    margin: 0 0 0 2em;
}

#toc .toctoggle,
.toc .toctoggle {
    font-size: 94%;
}


/* ESTILOS PARA IMPRIMIR */

img
{
	page-break-inside:avoid;
}

.pre-code{
	background:#112C4A;
	color:#E7ECF1;
	font-family:Monaco,Courier,monospace;
	font-size:12px;
	margin:2em 1em;
	overflow:auto;
	padding:20px;
	border-radius:9px;
}
