/* ==========================================
Copyright University of Auckland 2004
Created by Brent Simpson, brent.simpson@auckland.ac.nz
Centre for Flexible and Distance Learning

	Modificado: Aníbal de la Torre /Juan Diego Pérez
	
	
============================================= */

#header {
    color: #8b8b8b;
    background-color: #FFFFFF;
    height: 60px;
    padding: 20px 20px 0;
   
    font-weight: bold;
}

#navcontainer {
   z-index:1000;
   width: 220px;
   float: left;
   text-align:left;
   font: .9em;
   padding-right: 5px;
   border: 1px solid #FFF;
   border-right: 1px dashed #365475;
}

#navcontainer ul {
   margin-left: 0px;
   padding-left: 0px;
   margin-top: 0px;
   list-style-type: none;
   font-family: Verdana,Arial, Helvetica, sans-serif;
}

#navcontainer a {
   display: block;
   padding: 4px 0px 4px 18px;
   border-bottom: 0px;
}

#navcontainer a:link, #navlist a:visited {
   color: #666666;
   font-weight: bold;
   background-color: #FFFFF;
   text-decoration: none;
   width: 202px;
}

#navcontainer a:hover {
   color: #666666;
   font-weight:bold;
   background-color:#F5F5F5;
   border: 1px dashed #CCCCCC;
}

/* Hide from IE5-mac. Only IE-win sees this. Fixes the peek-a-boo bug!!! */
* html #navcontainer {
margin-right: 10px;
}
* html p {
height: 1%;
margin-left: 0;
}
/* End hide from IE5/mac */


/* nodes with children get expandable icon */
.withChild {
 background-image: url(collapse2.gif);
 background-repeat: no-repeat;
 background-position: 2px 9px;
}

#active.withChild {
padding: 4px 0px 4px 18px;
background-color: #fdfaf9;
background-image: url(collapse.gif) !important;
background-repeat: no-repeat;
color: #666666;
font-weight: bold;
}

#active.withoutChild {
padding: 4px 0px 4px 18px;
background-color: #FDFAF9;
color: #666666;
font-weight: bold;
}

/* subnav is for displaying sections and units */

#subnav a {
width: 190px;
border: 0 !important;
padding: 4px 0px 4px 30px;
}

#subnav a:hover {
color: #8b8b8b;
background-color: #F5F5F5;
font-weight: bold;
padding: 4px 0 4px 30px;
border: 1px dashed #CCCCCC !important;
}	

#subnav #active {
background-color: #FDFAF9;
color: #666666;
font-weight: bold;
padding: 4px 0 4px 30px;
}	

div > #subnav .withChild {
background-image: url(collapse.gif) !important;
background-repeat: no-repeat !important;
background-position: 14px 9px !important;
}

#subnav  div.withChild {
background-image: url(collapse.gif) !important;
background-repeat: no-repeat !important;
background-position: 14px 9px !important;
}

.withoutChild
{
	font-size: 10px;
}

#subnav .withoutChild  div {
padding-left: 12px;
width:190px;
}

#subnav .withoutChild #active {
width:180px;
margin-left: 0px;
padding-left: 40px;
}

#subnav .withoutChild div a:hover {
width:178px;
margin-left: -12px;
padding-left: 42px;
}
	
/* MAIN CONTENT STYLES */
#container {
border-top: 0px solid #CCC;
position:absolute;
}

#main {
	padding: 18px;
	padding-top: 0px;
	margin: 0px 10px 10px 180px;
	margin-left: 220px;
	margin-top: 10px;
	text-align:justify;
	width: 72%;
}

/* ITE elements */

#siteNav{
	z-index:1000;
	width: 220px;
	float: left;
	text-align:left;
	padding-right: 5px;
	border: 1px solid #FFF;
	border-right: 1px dashed #365475;
	font-family: Verdana,Arial, Helvetica, sans-serif;
}

#siteNav ul,#siteNav li{
	margin:0;
	padding:0;
	list-style:none;
	list-style-image:none;
}

#siteNav a{
	display: block;
	padding: 4px 0px 4px 18px;
	color: #598AC3;
	font-weight: bold;
	background-color: #FFFFF;
	text-decoration: none;
	width: 198px;
}

#siteNav a:hover{
	color: #8b8b8b;
	font-weight:bold;
	background-color:#F5F5F5;
	border: 1px dashed #CCCCCC;
}

#siteNav .daddy{
	background-image: url(collapse2.gif);
	background-repeat: no-repeat;
	background-position: 2px 6px;
}

#siteNav .active{
	background-color: #FDFAF9;
	background-repeat: no-repeat;
	color: #666666;
	font-weight: bold;
}

#siteNav .daddy.active{
	background-image: url(collapse.gif) !important;
}

#siteNav ul .active{
	background-image:none !important;
}

#siteNav#siteNav .no-ch{
	font-size:.82em;
}

#siteNav ul ul a{
	padding-left:28px;
	width: 188px;
	font-size:.82em;
}

#siteNav ul ul ul a,#siteNav#siteNav ul ul ul .no-ch{
	font-size:1em;
}

#siteNav .other-section{
	display:none; /* Remove if you want all levels to be displayed */
}

.pagination{
	text-align:right;
}

/* Invisible content (visible for screen reader users) */
#topPagination{
	position:absolute;
	overflow:hidden;
	clip:rect(0,0,0,0);
	height:0;
}
