/* ********************************************* */
/* **** TABLA DE COLORES ********************** */
/* ******************************************* */

body{
	color:#333333; /* Cuerpo de texto */
	background:#ffffff; /* Color de fondo */
}

#content{
	border-color:#cccccc; /* Border del contenedor principal */
	background:#ffffff; /* Color de fondo del contenedor principal */
}

#navcontainer a{
	color:#000000; /* Enlaces del menú */
	border-color:#0460B3; /* Borde que separa a los enlaces del menú */
}

#navcontainer a:hover,#subnav div:first-child a:hover{
	color:#4D4D4D; /* Enlaces al pasar sobre ellos */
	background:#eee; /* Fondo de los enlaces al pasar sobre ellos */
}

#subnav a{
	color:#555; /* Menú: enlaces de segundo nivel */
}

#navcontainer #active{
	color:#0460B3; /* Enlace activo en el menú principal */
	border-color:#0460B3;  /* Borde del enlace activo en el menú principal */
}

/* ********************************************* */
/* **** OTRAS DEFINICIONES ******************** */
/* ******************************************* */

/* ITE nav */
#main{padding:10px 20px 0 250px}
#header{height:49px;background:url(my_header.jpg) no-repeat 0 0;padding:59px 0 0 10px}
#nodeTitle{position:absolute;top:55px;left:250px;margni-left:0}
#nodeTitle{font-size:1.6em;margin:20px 10px 0 0}
#main #nodeDecoration{background:none;padding:0 10px;border:none}

body{font:100%/1.5 Arial,Verdana,Helvetica,sans-serif;padding:0;margin:0;text-align:left}
#content{font-size:.75em;width:985px;margin:0 auto;position:relative;border-style:solid;border-width:1px;border-top:0}

#navcontainer {width: 230px;float: left;padding-right:20px}
#navcontainer ul,#navcontainer li{margin:0;padding:0}
#navcontainer a{display:block;padding:4px 0 4px 10px;border-width:0 0 1px 0;border-style:dotted}
#navcontainer div:first-child,#navcontainer div:first-child a{font-weight:bold;font-variant:small-caps;letter-spacing:1px}
#navcontainer div:first-child a:hover{text-decoration:underline;background:none}
#subnav div:first-child,#subnav div:first-child a{font-weight:normal;font-variant:normal;letter-spacing:0}
#navcontainer a:hover,#subnav div:first-child a:hover{text-decoration:none}
#subnav{font-size:11px}
/*#subnav a{color:#555}*/
#navcontainer #active{font-weight:bold;padding:4px 0 4px 10px;border-style:dotted;border-width:0 0 1px 0}
#subnav a,#subnav #active{padding:4px 0 4px 25px}

/* ********************************************* */
/* **** DEFINICIONES para el eXe del ITE ****** */
/* ******************************************* */ 

#siteNav li:first-child{font-weight:bold;font-variant:small-caps;letter-spacing:1px}
#siteNav li:first-child a:hover{background:none;text-decoration:underline}
#siteNav li li:first-child{font-weight:normal;font-variant:normal;letter-spacing:0}
#siteNav {width: 230px;float: left;padding-right:20px}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav ul ul{font-size:11px}
#siteNav ul ul a{padding-left:25px}
#siteNav ul ul{border-top:1px dotted #0460B3}
#siteNav ul ul ul a{padding-left:50px}
#siteNav li{border-bottom:1px dotted #0460B3}
#siteNav li:last-child{border-bottom:none}
#siteNav a{padding:4px 0 4px 10px;color:#000;display:block}
#siteNav .active{color:#0460B3;font-weight:bold}
#siteNav li li:first-child a:hover,#siteNav a:hover{color:#4D4D4D;background:#eee;text-decoration:none}
/* Pagination */
.noprt{color:#fff;border-top:1px dotted #999;padding-top:10px}
.noprt a{background:#e6e9ed;padding:3px;color:#A7512B}
.noprt a:hover{padding:3px;background:#cfd9ea;text-decoration:none;color:#263264}
/* Footer and iDevices */
#ite-footer{padding:20px 0;text-align:center;margin-left:-250px}
.iDeviceTitle{vertical-align:top}
/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}