/* eXeLearning */
body{background:#FFF;padding:20px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;color:#333741;margin:0}
input, select{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px}
#imageEditorOptions{margin:20px 0}
#imageEditorOptions p{margin:0}
#imageEditorOptions input,#imageEditorOptions select{width:70px;margin-right:20px}
#imageEditorData .imageEditorData{margin-right:20px}
#imageEditorPreviewer{max-width:100%;height:300px;line-height:300px;max-height:300px;margin-bottom:20px;text-align:center;
background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC')}
#imageEditorOutputImg{max-width:100%;max-height:300px;vertical-align:middle}
.sr-only{position:absolute!important;clip:rect(1px, 1px, 1px, 1px)}
#app{width:900px;margin:0 auto}
#imageEditorUploader{background:#F8F9FA;padding:20px;border:1px solid #D9DADB;text-align:center}
#imageEditorUploader p{margin:0}
a,#imageEditorUploader label{color:rgb(0, 123, 255);text-decoration:none;cursor:pointer}
a:hover,a:focus{text-decoration:underline}
#imageEditorBackupMessage{float:right;margin-right:20px}
#imageEditorSaveImg{background:#2276D2;color:#FFF;padding:7px 10px;text-decoration:none;float:right;display:none}