<html xmlns="http://www.w3.org/1999/xhtml" xmlns:nevow="http://nevow.com/ns/nevow/0.1">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Legal Notes | eXeLearning</title>
<style type="text/css">
html,body{font:12px/1.5 Tahoma,Arial,Verdana,Helvetica,sans-serif;padding:0;margin:0;color:#555;background:#fff}
p{margin:1em 0}
a{text-decoration:none;color:#BB0000}
a:hover,a:active{text-decoration:underline}
h1 span,h2{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}
h1{width:100%;height:120px;margin:0;background:#ddd url(../images/exe_logo.png) no-repeat 50% 50%}
#tabs{margin:0;padding:0;height:26px;border-bottom:1px solid #ddd;padding-left:10px;background:#ddd}
#tabs li{margin:0;padding:0;list-style:none;display:inline}
#tabs a{display:block;padding:0 10px;background:#666;float:left;margin-right:10px;color:#fff;border:1px solid #ddd;line-height:25px;border-top-left-radius:5px;border-top-right-radius:5px}
#tabs .current{background:#fff;color:#333;border-bottom-color:#fff}
.tab{padding:10px 20px 20px 20px}
.tab li{list-style-type:square;color:#666}
.main-desc{margin-bottom:1.5em}
.tit,h3{color:#555;font-size:1.2em;font-weight:bold}
.tit{color:#5D7E1A;letter-spacing:.5px}
.support strong{font-size:1.1em;color:#555}
.support span{display:block;margin:5px 0 0 2em}
.site{display:inline-block;margin-top:5px}
.external-resources ul span{font-size:1.2em}
.external-resources ul,.external-resources li{list-style:none;margin:0;padding:0;color:#555;font-weight:bold}
.external-resources ul ul{margin:1.2em 3.3em}
.external-resources li li{font-weight:normal;list-style:square outside none;color:#666}
</style>
<script type="text/javascript">
function displayTab(id,e) {
    var divs = document.getElementsByTagName("DIV");
    var i = divs.length;
    while (i--) {
        if (divs[i].className.indexOf("tab")==0) divs[i].style.display = "none";
    }
    document.getElementById(id).style.display = "block";
    var z = _as.length;
    while (z--) {
        _as[z].className = "";
    }
    e.className = "current";
}
function setupTabs(){
    _tabs = document.getElementById("tabs");
    _as = tabs.getElementsByTagName("A");
    var i = _as.length;
    while (i--) {
        _as[i].onclick = function(){
            var h = this.href;
            h = h.split("#")[1];
            displayTab(h,this);
            return false;
        }
    }
}
</script>
</head>
<body>
<div id="legal">
	<h1><span>Credits, Copyright &amp; Licenses</span></h1>
	<ul id="tabs">
		<li><a href="#tab0" class="current">Credits</a></li>
		<li><a href="#tab1">Third Libraries</a></li>
		<li><a href="#tab2">Licenses</a></li>
	</ul>
	<div id="tab0" class="tab"><a name="tab0"></a>	
		<h2>Credits</h2>
		<p class="tit"><strong>eXeLearning. Credits</strong></p>
		<h3>Files: *</h3>
		<ul class="main-desc">
			<li>Copyright: 2004-2005, University of Auckland</li>
			<li>2004-2011 <a href="http://exelearning.org/" title="New window" target="_blank">eXe Project</a>, <a href="mailto:exe@exelearning.org" title="Mail">exe@exelearning.org</a></li>
			<li>2011-2020 <a href="http://exelearning.net" target="_blank" title="New window">eXeLearning.net</a>, <a href="mailto:admin@exelearning.net" title="mail">admin@exelearning.net</a></li>
		</ul>
		<p>License: GPL-2+</p>
		<h3>Files: debian/*</h3>
		<ul class="main-desc">
			<li>Copyright: 2014-2020 <a href="http://exelearning.net" target="_blank" title="New window">eXelearning.net</a></li>
		</ul>
		<p>License: GPL-3+</p>
	</div>
	<div id="tab1" class="tab external-resources" style="display:none"><a name="tab1"></a>
		<h2>Third Libraries</h2>
		<p class="tit"><strong>eXeLearning. Third Libraries</strong></p>
		<ul>
			<li><span>Files: exe/scripts/extjs/*</span>
				<ul>
					<li>Copyright: 2006-2012, Sencha Inc.</li>
					<li>License: GPL-3<br />
					    This version of Ext JS is licensed under the terms of the Open Source GPL 3.0 license. Commercial and OEM Licenses are available for an alternate download of Ext JS.</li>
				</ul>
			</li>
			<li><span>Files: exe/scripts/idevices/scrambled-list/export/scrambled-list.js and exe/scripts/idevices/interactive-video/export/interactive-video.js</span>
				<ul>
					<li>HTML5 Sortable jQuery Plugin copyright: Ali Farhadi (maintained by Alexandru Badiu and Lukas Oppermann)</li>
					<li>License: MIT</li>					
				</ul>
			</li>
			<li><span>Files: exe/scripts/idevices/interactive-video/edition/editor/images/*</span>
				<ul>
					<li>Copyright: Google (Material Design)</li>
					<li>License: Apache License 2.0</li>
				</ul>
			</li>
			<li><span>Files: exe/scripts/tinymce_4/*</span>
				<ul>
					<li>Copyright: Ephox Corp. (old style plugin by Moxiecode Systems AB)</li>
					<li>License: LGPL-2.1</li>
				</ul>
			</li>
			<li><span>Files: exe/scripts/tinymce_4/plugins/abcmusic/export/*</span>
				<ul>
					<li>acoustic_grand_piano-ogg.js, by Roberto Gordo Saez, under the CC BY license.</li>
					<li>abcjs.js, by Paul Rosen and Gregory Dyke, under the GNU GPL v3 license.</li>
					<li>midi.js, by Michael Deal, under the MIT License.</li>
					<li>$exeABCmusic, by Ignacio Gros, under the CC BY-SA license.</li>
				</ul>
			</li>			
			<li><span>Files: exe/style/*</span>
				<ul>
					<li>Copyright: different authors (see config.xml in each directory).</li>
					<li>License: CC-BY-SA-3.0</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/scripts/mediaelement/*</span>
				<ul>
					<li>Copyright: 2013-2015 John Dyer</li>
					<li>License: MIT</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/scripts/exe_highlighter/</span>
				<ul>
					<li>Copyright: Lea Verou (okaidia theme for JavaScript, CSS and HTML by ocodia)</li>
					<li>License: MIT</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/scripts/exe_tooltips/</span>
				<ul>
					<li>Copyright: Craig Michael Thompson</li>
					<li>License: MIT | GPL-2</li>
				</ul>
			</li>
			<li><span>File: exe/webui/scripts/exe_effects/exe_effects.js (Timeliner.js 1.x)</span>
				<ul>
					<li>Copyright: Tarek Anandan</li>
					<li>License: CC-BY-SA-3.0</li>
				</ul>
			</li>
			<li><span>File: exe/webui/scripts/exe_jquery.js</span>
				<ul>
					<li>Copyright: jQuery Foundation and other contributors</li>
					<li>License: MIT</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/scripts/idevices/mindmaps/editor (cropper.js, jquery-cropper.js and CSS)</span>
				<ul>
					<li>Copyright: Chen Fengyuan</li>
					<li>License: MIT</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/templates/flowPlayer.swf, /exe/webui/templates/ flowplayer.controls.swf</span>
				<ul>
					<li>Copyright: 2012 Flowplayer Ltd</li>
					<li>License: GPL-3</li>
				</ul>
			</li>
			<li><span>File: exe/webui/templates/xspf_player.swf (XSPF Web Music mp3 Player)</span>
				<ul>
					<li>Copyright: 2006 Fabricio Zuardi</li>
					<li>License: BSD<br />
					    Music Player is Open Source Software, licensed under the BSD and can be used and modified by anyone, including for commercial purposes.</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/tools/fMath/*</span>
				<ul>
					<li>Copyright: Ionel Alexandru</li>
					<li>License: Apache License 2.0</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/tools/fMath/fonts/asana/*</span>
				<ul>
					<li>Copyright: Frédéric Wang</li>
					<li>License: SIL Open Font License</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/tools/fMath/fonts/dejavu/*</span>
				<ul>
					<li>Copyright: Bitstream, Inc.</li>
					<li>License: Public Domain</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/tools/fMath/fonts/sazanami/*</span>
				<ul>
					<li>Copyright: Wada Laboratory, the University of Tokyo / Electronic Font Open Laboratory</li>
					<li>License: Described in exe/webui/tools/fMath/fonts/sazanami/sazanami-gothic-license.txt</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/tools/fMath/fonts/stix/*</span>
				<ul>
					<li>Copyright: STI Pub Companies</li>
					<li>License: SIL Open Font License</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/tools/mindmaps/*</span>
				<ul>
					<li>Copyright: David Richard</li>
					<li>License: AGPL V3 (included in eXeLearning with the developer's consent)</li>
				</ul>
			</li>            
			<li><span>Files: exe/webui/tools/color-picker/*</span>
				<ul>
					<li>Copyright: 2010 Christopher T. Tillman</li>
					<li>License: MIT</li>
				</ul>
			</li>			
			<li><span>File: tools/po2json.py (really transecma.py)</span>
				<ul>
					<li>Copyright: 2011-2013 Nando Florestan</li>
					<li>License: MIT</li>
				</ul>
			</li>
			<li><span>File: exe/engine/path.py</span>
				<ul>
					<li>Copyright: 2004 Jason Orendorff</li>
					<li>License: Public Domain</li>
				</ul>
			</li>
			<li><span>File: exe/webui/scripts/SCORM_API_wrapper.js</span>
				<ul>
					<li>Copyright: Philip Hutchison</li>
					<li>License: MIT</li>
				</ul>
			</li>
			<li><span>File: exe/webui/templates/mojomagnify.js</span>
				<ul>
					<li>Copyright: 2008-2010 Jacob Seidelin, modified 2013 by Fran Macías</li>
					<li>License: MIT</li>
				</ul>
			</li>
			<li><span>Files: exe/webui/scripts/exe_lightbox/ (prettyPhoto)</span>
				<ul>
					<li>Copyright: Stephane Caron</li>
					<li>License: GPLv2 or CC-BY-2.5</li>
				</ul>
			</li>
			<li><span>File: exe/webui/scripts/exe_html5.js (HTML5 Shiv)</span>
				<ul>
					<li>Copyright: Alexander Farkas</li>
					<li>License: MIT | GPL-2</li>
				</ul>
			</li>			
		</ul>
	</div>
	<div id="tab2" class="tab external-resources" style="display:none"><a name="tab2"></a>
		<h2>Licenses</h2>
		<p class="tit"><strong>eXeLearning. Licenses</strong></p>		
		<ul>
			<li><span>License: GPL-2</span>
				<ul>
					<li>On Debian systems and derivatives, the full text of the GNU General Public License version 2 can be found in the file '/common-licenses/GPL-2'.</li>
					<li>For the rest of the systems, it is available online at <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html" target="_blank">https://www.gnu.org/licenses/old-licenses/gpl-2.0.html</a></li>
				</ul>
			</li>
			<li><span>License: GPL-2+</span>
				<ul>
					<li>On Debian systems and derivatives, the full text of the GNU General Public License version 2 can be found in the file '/common-licenses/GPL-2'. </li>
					<li>For the rest of the systems, it is available online at <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html" target="_blank">https://www.gnu.org/licenses/old-licenses/gpl-2.0.html</a></li>
				</ul>
			</li>
			<li><span>License: GPL-3</span>
				<ul>
					<li>On Debian systems and derivatives, the full text of the GNU General Public License version 3 can be found in the file '/common-licenses/GPL-3'. </li>
					<li>For the rest of the systems, it is available online at <a href="https://www.gnu.org/copyleft/gpl.html" target="_blank">https://www.gnu.org/copyleft/gpl.html</a></li>
				</ul>
			</li>
			<li><span>License: GPL-3+</span>
				<ul>
					<li>On Debian systems and derivatives, the full text of the GNU General Public License version 3 can be found in the file '/common-licenses/GPL-3'. </li>
					<li>For the rest of the systems, it is available online at <a href="https://www.gnu.org/copyleft/gpl.html" target="_blank">https://www.gnu.org/copyleft/gpl.html</a></li>
				</ul>
			</li>
			<li><span>License: LGPL-2.1</span>
				<ul>
					<li>On Debian systems and derivatives, the full text of the GNU Lesser General Public License version 2.1 can be found in the file '/common-licenses/LGPL-2.1'. </li>
					<li>For the rest of the systems, it is available online at <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html" target="_blank"><span>https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html</span></a></li>
				</ul>
			</li>
			<li><span>License: CC-by-3.0</span>
				<ul>
					<li>The legal terms of the license can be read or downloaded from <a href="https://creativecommons.org/licenses/by/3.0/legalcode" target="_blank">https://creativecommons.org/licenses/by/3.0/legalcode</a></li>
				</ul>
			</li>
			<li><span>License: CC-by-sa-3.0</span>
				<ul>
					<li>The legal terms of the license can be read or downloaded from <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" target="_blank">https://creativecommons.org/licenses/by-sa/3.0/legalcode</a></li>
				</ul>
			</li>
			<li><span>License: MIT</span>
				<ul>
					<li>A template for the MIT license can be found at the OSI's site <a href="http://opensource.org/licenses/mit-license.php" target="_blank">http://opensource.org/licenses/mit-license.php</a></li>
				</ul>
			</li>
			<li><span>License: Apache License 2.0</span>
				<ul>
					<li>The legal terms of the license can be read or downloaded from <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a></li>
				</ul>
			</li>
			<li><span>License: Revised BSD</span>
				<ul>
					<li>The text of the Revised (3-clause) BSD license can be found at <a href="https://en.wikipedia.org/wiki/BSD_licenses#3clause_license_.28.22Revised_BSD_License.22.2C_.22New_BSD_License.22.2C_or_.22Modified_BSD_License.22.29" target="_blank">BSD License</a></li>
				</ul>
			</li>
		</ul>
	</div>	
</div>
<script type="text/javascript">
    setupTabs();
</script>
</body>
</html>
