.vquext-MainContainer a:link, .vquext-MainContainer a:link, .vquext-MainContainer a:visited, .vquext-MainContainer a:focus {
    text-decoration: none !important;
    border: 0;
    outline: none;
    border-width: 0;
    outline-width: 0;
    border-bottom: none;
}

/* Contenedor */

.vquext-MainContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.vquext-MainContainer * {
    box-sizing: border-box;
}

.vquext-MainContainer p {
    margin: 0;
    padding: 0;
}

/* Instrucciones */

.vquext-instructions {
    width: 100%;
    margin: 0.3em auto;
}

.vquext-instructions p {
    font-size: 1em;
}

/* Minimizado */

.vquext-LinkMaximize {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vquext-GameMinimize {
    width: auto;
    margin: 0.3em auto;
    display: none;
}

.vquext-IconMinimize {
    width: 2em;
    height: 2em;
    margin-right: 0.3em;
    cursor: pointer;
}

.vquext-IconMinimize:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* Juego */

.vquext-GameContainer {
    position: relative;
    max-width: 750px;
    width: 100%;
    margin: 0.3em auto;
    padding: 0.3em;
}

/* barra de puntuaciones */

.vquext-GameScoreBoard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3em;
}

.vquext-GameScoreBoard p {
    font-size: 1.1em;
    width: auto;
    text-align: center;
    vertical-align: middle;
    margin-right: 0.3em;
    font-weight: bold;
}

.vquext-GameScores {
    width: 100%;
    margin: 0 0.1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.vquext-GameScores>p:last-child {
    width: auto;
    text-align: left;
}

.vquext-LifesGame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vquext-NumberLifesGame {
    display: none;
}

.vquext-TimeNumber {
    width: 100%;
    margin: 0 0.3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.vquext-PTime {
    width: auto;
    margin-left: 0.3em;
    min-width: 3em;
    text-align: left;
}

/* Pista */

.vquext-ShowClue {
    width: 100%;
    min-height: 1em;
    margin-bottom: 0.3em;
    padding: 0;
}

.vquext-PShowClue {
    font-size: 1em;
    color: #5877c6;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

/* Multimedia */

.vquext-Multimedia {
    position: relative;
    width: 68%;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0.9em;
    margin: 0.3em auto;
}

.vquext-Multimedia:before {
    content: '';
    display: block;
    padding-top: 56%;
}

.vquext-Protector, .vquext-Cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.vquext-Images, .vquext-Video, .vquext-GameOver {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.8em;
    text-decoration: none;
    border: 0;
}

.vquext-Protector {
    opacity: 0.00001;
    z-index: 1000;
    background-color: white;
}

.vquext-Cursor {
    width: 2em;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1000000;
    display: none;
}

/* Game Over */

.vquext-GameOver {
    z-index: 10010;
    display: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vquext-DataGameImage {
    position: relative;
    padding: 0;
    width: 40%;
    height: 100%;
}

.vquext-DataGameScore {
    padding: 0;
}

.vquext-DataGameScore p {
    font-size: 1em;
    margin: 0.7em;
    font-weight: bold;
}

.vquext-HistGGame, .vquext-LostGGame {
    width: 78%;
    height: 62%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
}

.vquext-HistGGame {
    display: none;
}

/*Barra de progreso*/

.vquext-ProgressBar {
    position: relative;
    width: 68%;
    height: 0.3em;
    padding: 0;
    background-color: black;
    margin: 0.3em auto;
    display: none;
}

.vquext-InterBar {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 0.3em;
    background-color: #b3092f;
    width: 0px;
}

.vquext-PointBar {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 0.3em;
    width: 0.3em;
    background-color: #8697cb;
    z-index: 900;
}

/* Author */

.vquext-AuthorLicence {
    width: 100%;
    min-height: 1.6em;
    margin: 0 auto;
}

.vquext-AuthorLicence p {
    width: 100%;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Código acceso */

.vquext-CodeAccessDiv {
    width: 100%;
    display: none;
}

.vquext-DataCodeAccessE {
    width: 100%;
    margin: 0.7em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vquext-MessageCodeAccessE {
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.vquext-DataCodeAccessE label {
    font-size: 0.9em;
}

.vquext-CodeAccessE {
    width: 50%;
    max-width: 300px;
    font-size: 0.9em;
    margin: 0.7em 0.3em;
}

.vquext-GameContainer input[type="text"], .vquext-CodeAccessE {
    padding: 3px 2px;
    display: inline-block;
    line-height: 1.7em;
    font-size: 1em;
    background: #fdfdfd;
    border: 1px solid #828282;
    border-radius: 4px;
    text-align: center;
}

.vquext-GameContainer input[type="text"]:active, .vquext-GameContainer input[type="text"]:focus, input.vquext-CodeAccessE:focus, input.vquext-CodeAccessE:active {
    background: #fdfdfd;
    border: 1px solid #398ee7;
    border-radius: 4px;
}

/* Inicio juego */

.vquext-StartGame {
    width: 100%;
    margin: 0.9em auto;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 0.3em;
    text-align: center;
    padding: 0.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Pegunta */

.vquext-QuestionDiv {
    width: 100%;
    margin: 0.3em auto;
}

.vquext-Question {
    min-height: 3em;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.4em;
    font-size: 1em;
    border-radius: 0.3em;
    padding: 0.3em;
    color: #071717;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
}

.vquext-OptionsDiv {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a.vquext-Options {
    min-height: 2.8em;
    width: 48%;
    margin: 0.1em;
    background-color: transparent;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vquext-DivReply {
    margin: 5px auto 3em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
}

.vquext-OptionsDiv a {
    font-size: 1em;
    color: #071707;
}

/* Respuestas */

.vquext-AnswersDiv {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vquext-Answers {
    width: 100px;
    padding: 0;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    align-items: center;
}

.vquext-AnswersOptions {
    height: 1.1em;
    width: 1.1em;
    margin: 0.3em 0.1em;
    border-radius: 0.1em;
}

.vquext-Answer1 {
    background-color: #b3092f;
    border: 0.1em solid #071707;
    border-radius: 0.1em;
}

.vquext-Answer2 {
    background-color: #5877c6;
    border: 0.1em solid #071707;
    border-radius: 0.1em;
}

.vquext-Answer3 {
    background-color: #00a300;
    border: 0.1em solid #071707;
    border-radius: 0.1em;
}

.vquext-Answer4 {
    background-color: #f3d55a;
    border: 0.1em solid #071707;
    border-radius: 0.1em;
}

.vquext-EdReply {
    margin: 0 5px;
    width: 60%;
    max-width: 300px;
}

.vquext-GameContainer input[type="text"], input.vquext-EdReply {
    padding: 3px 2px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.3em;
    font-size: 0.9em;
    background: #fdfdfd;
    border: 1px solid #828282;
    border-radius: 4px;
    text-align: center;
    margin: 0 0.3em;
}

/*  Preview QuExtion */

.vquext-ReloadContainer {
    width: 98%;
    padding: 0;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.vquext-previewQuestions {
    position: relative;
    max-width: 750px;
    background-color: transparent;
    width: 100%;
    margin: 5px auto;
    display: none;
}

.vquext-previewQuestionsDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    background-color: #071717;
    border-radius: 10px;
    z-index: 20000;
    display: none;
    padding: 0.5em;
    overflow-y: auto;
}

.vquext-PreviewQuestionsTitle {
    width: 95%;
    margin: 0 auto 0.5em auto;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.vquext-prevQuestP {
    width: 90%;
    margin: 3px auto;
    margin-left: 5px;
    font-size: 0.9em;
}

.vquext-previewQuestionsClose {
    position: absolute;
    bottom: 0.4em;
    right: 0.5em;
}

.exeQuextIcons-Preview {
    background: url(exequextnumber.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-PauseVideo {
    background: url(exequextpause.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-PlayVideo {
    background: url(exequextplayvideo.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Reload {
    background: url(exequextreload.png) no-repeat;
    background-size: cover;
}

.vquext-GameContainer input[type="text"]:active, .vquext-GameContainer input[type="text"]:focus, input.vquext-EdReply:focus, input.vquext-EdReply:active {
    background: #fdfdfd;
    border: 1px solid #398ee7;
    border-radius: 3.8px;
}

div:fullscreen .vquext-Options {
    font-size: 1.1em;
    min-height: 3.3em;
}

div:-webkit-full-screen .vquext-Options {
    font-size: 1.1em;
    min-height: 3.3em;
}

div:-moz-full-screen .vquext-Options {
    font-size: 1.1em;
    min-height: 3.3em;
}

div:fullscreen .vquext-Question {
    font-size: 1.1em;
    min-height: 2.5em
}

div:-webkit-full-screen .vquext-Question {
    font-size: 1.1em;
    min-height: 2.5em
}

div:-moz-full-screen .vquext-Question {
    font-size: 1.1em;
    min-height: 2.5em
}

.vquext-MainContainer a.vquext-Option1 {
    background-color: #f7c4c4;
    border: 2px solid #b3092f;
}

.vquext-MainContainer a.vquext-Option1:hover {
    background-color: #b3092f;
}

.vquext-MainContainer a.vquext-Option2 {
    background-color: #d5dcec;
    border: 2px solid #5877c6;
}

.vquext-MainContainer a.vquext-Option2:hover {
    background-color: #5877c6;
}

.vquext-MainContainer a.vquext-Option3 {
    background-color: #cce1c8;
    border: 2px solid #00a300;
}

.vquext-MainContainer a.vquext-Option3:hover {
    background-color: #00a300;
}

.vquext-MainContainer a.vquext-Option4 {
    background-color: #f5efd6;
    border: 2px solid #f3d55a;
}

.vquext-MainContainer a.vquext-Option4:hover {
    background-color: #f3d55a;
}

/*  Preview QuExtion */

.vquext-ReloadContainer {
    width: 98%;
    padding: 0;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.vquext-previewQuestions {
    position: relative;
    max-width: 750px;
    background-color: transparent;
    width: 100%;
    margin: 5px auto;
    display: none;
}

.vquext-previewQuestionsDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    background-color: #071717;
    border-radius: 10px;
    z-index: 20000;
    display: none;
    padding: 0.5em;
    overflow-y: auto;
}

.vquext-PreviewQuestionsTitle {
    width: 95%;
    margin: 0 auto 0.5em auto;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.vquext-prevQuestP {
    width: 90%;
    margin: 3px auto;
    margin-left: 5px;
    font-size: 0.9em;
}

.vquext-previewQuestionsClose {
    position: absolute;
    bottom: 0.4em;
    right: 0.5em;
}

.exeQuextIcons-Preview {
    background: url(exequextnumber.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-PauseVideo {
    background: url(exequextpause.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-PlayVideo {
    background: url(exequextplayvideo.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Reload {
    background: url(exequextreload.png) no-repeat;
    background-size: cover;
}

/* Puntuacion */

.quext-BottonContainer {
    font-size: 1rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.quext-BottonContainer * {
    margin: 0;
    padding: 0;
}

.vquext-GetScore input[type=button] {
    width: auto;
    padding: 0.3em;
}

.vquext-GetScore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vquext-RepeatActivity {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.exeQuextIcons-Submit {
    background: url(exequextreply.png) no-repeat;
    background-size: cover;
}

.vquext-GameContainer .exeQuextIcons-Reload, .vquext-GameContainer .exeQuextIcons-Preview, .vquext-GameContainer .exeQuextIcons-PauseVideo, .vquext-GameContainer .exeQuextIcons-PlayVideo, .vquext-GameContainer .exeQuextIcons-FullScreen, .vquext-GameContainer .exeQuextIcons-FullScreenExit, .vquext-GameContainer .exeQuextIcons-Submit, .vquext-GameContainer .exeQuextIcons-Minimize {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

.vquext-GameContainer .exeQuextIcons-Reload:hover, .vquext-GameContainer .exeQuextIcons-Preview:hover, .vquext-GameContainer .exeQuextIcons-PauseVideo:hover, .vquext-GameContainer .exeQuextIcons-PlayVideo:hover, .vquext-GameContainer .exeQuextIcons-Minimize:hover, .vquext-GameContainer .exeQuextIcons-FullScreenExit:hover, .vquext-GameContainer .exeQuextIcons-FullScreen:hover, .vquext-GameContainer .exeQuextIcons-Submit:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

div:fullscreen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

div:-webkit-full-screen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

div:-moz-full-screen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

/* Iconos */

.vquext-LinkVideoIntroShow {
    display: none;
}

.vquext-GameContainer .exeQuextIcons {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.3em;
    background-size: cover;
}

.vquext-GameContainer .exeQuextIcons-Preview, .vquext-GameContainer .exeQuextIcons-Reload, .vquext-GameContainer .exeQuextIcons-PauseVideo, .vquext-GameContainer .exeQuextIcons-PlayVideo, .vquext-GameContainer .exeQuextIcons-Submit {
    width: 1.4em;
    height: 1.4em;
}

.exeQuextIcons-Minimize {
    background: url(exequextmin.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Hit {
    background: url(exequexthits.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-FullScreen {
    background: url(exequextfull.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Error {
    background: url(exequextrerrors.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Score {
    background: url(exequextscore.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Time {
    background: url(exequexttime.png);
    background-size: cover;
}

.exeQuextIcons-Number {
    background: url(exequextnumber.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Life {
    background: url(exequextlive.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Video {
    background: url(exequextvideo.png) no-repeat;
    background-size: cover;
}

/* Full Screen */

.vquext-GameContainer:-webkit-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.vquext-GameContainer:-moz-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.vquext-GameContainer:-ms-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.vquext-GameContainer:-o-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.vquext-extra-content {
    margin-top: 1.7em;
}

.vquext-parpadea {
    animation-name: quext-parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    -webkit-animation-name: quext-parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 5;
}

@-moz-keyframes quext-parpadeo {
    0% {
        font-size: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes quext-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes quext-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@media screen and (max-width:650px) {
    .vquext-GameContainer, .vquext-BottonContainerDiv, .vquext-BottonContainer, .vquext-BottonContainerDivEnd, .vquext-instructions {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:550px) {
    .vquext-LinkFullScreen {
        display: none;
    }
    .vquext-instructions {
        margin: 0.1em auto;
    }
    .vquext-instructions p {
        margin: 0 auto;
    }
}

@media screen and (max-width:470px) {
    .vquext-Multimedia, .vquext-ProgressBar {
        width: 95%;
    }
    .vquext-GameContainer, .vquext-BottonContainerDiv, .vquext-BottonContainer, .vquext-BottonContainerDivEnd, .vquext-instructions {
        font-size: 0.8rem;
    }
    .vquext-LifesGame {
        display: none;
    }
    .vquext-NumberLifesGame {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vquext-LinkMinimize {
        display: none;
    }
    .vquext-DataCodeAccessE label {
        display: none;
    }
    .vquext-GameContainer .exeQuextIcons-Submit, .vquext-GameContainer .exeQuextIcons-Video {
        width: 2em;
        height: 2em;
    }
    .vquext-GameContainer .exeQuextIcons-Preview, .vquext-GameContainer .exeQuextIcons-Reload, .vquext-GameContainer .exeQuextIcons-PauseVideo, .vquext-GameContainer .exeQuextIcons-PlayVideo {
        width: 1.5em;
        height: 1.5em;
        margin-left: 0.3em;
    }
    .vquext-OptionsDiv a, .vquext-Question {
        font-weight: bold;
        color: #071707;
        font-size: 0.9em;
    }
    .vquext-Question {
        font-weight: bold;
        color: #071707;
    }
}

@media screen and (max-width:390px) {
    .vquext-GameContainer, .vquext-BottonContainerDiv, .vquext-BottonContainer, .vquext-BottonContainerDivEnd, .vquext-instructions {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:340px) {
    .vquext-GameScoreBoard p {
        font-weight: normal;
        margin: 0.1em;
        padding: 0;
    }
    .vquext-GameContainer .exeQuextIcons {
        margin: 0;
        padding: 0;
    }
    .vquext-GameContainer .exeQuextIcons-Preview, .vquext-GameContainer .exeQuextIcons-Reload, .vquext-GameContainer .exeQuextIcons-PauseVideo, .vquext-GameContainer .exeQuextIcons-PlayVideo {
        margin-left: 0.3em;
    }
    .vquext-GameContainer .vquext-GameScoreBoard p {
        padding: 0;
    }
    .vquext-GameScores {
        width: 50%;
    }
    .vquext-TimeNumber {
        width: 45%;
    }
    .vquext-instructions p {
        margin: 0 auto;
    }
}

@media screen and (max-width:295px) {
    .vquext-GameContainer, .vquext-BottonContainerDiv, .vquext-BottonContainer, .vquext-BottonContainerDivEnd, .vquext-instructions {
        font-size: 0.6rem;
    }
    .vquext-GameScoreBoard {
        justify-content: flex-start;
    }
    .vquext-GameScores {
        width: 50%;
    }
    .vquext-TimeNumber {
        width: 42%;
    }
}

@media screen and (max-width:265px) {
    .vquext-GameScoreBoard p {
        font-weight: normal;
        margin: 2px;
    }
    .vquext-GameContainer, .vquext-BottonContainerDiv, .vquext-BottonContainer, .vquext-BottonContainerDivEnd {
        font-size: 0.6rem;
    }
    .vquext-GameContainer .exeQuextIcons {
        width: 1.1em;
        height: 1.1em;
    }
    .vquext-GameContainer .exeQuextIcons-Submit, .vquext-GameContainer .exeQuextIcons-Video {
        width: 2em;
        height: 2em;
    }
    .vquext-GameContainer .exeQuextIcons-Preview, .vquext-GameContainer .exeQuextIcons-Reload, .vquext-GameContainer .exeQuextIcons-PauseVideo, .vquext-GameContainer .exeQuextIcons-PlayVideo {
        width: 1.7em;
        height: 1.7em;
    }
    .vquext-GameScores {
        width: auto;
    }
    .vquext-TimeNumber {
        width: auto;
        justify-content: flex-start;
    }
}

@media screen and (max-width:235px) {
    .vquext-GameScoreBoard .exeQuextIcons-Life, .vquext-GameScoreBoard .exeQuextIcons-Time {
        display: none;
    }
    .vquext-GameScores {
        width: 52%;
    }
    .vquext-TimeNumber {
        width: 43%;
    }
}

@media screen and ( min-width: 700px) and (max-height: 800px) {
    div:fullscreen .vquext-Multimedia {
        width: 50%;
    }
    div:-webkit-full-screen .vquext-Multimedia {
        width: 50%;
    }
    div:-moz-full-screen .vquext-Multimedia {
        width: 50%;
    }
    div:fullscreen .vquext-ProgressBar {
        width: 50%;
    }
    div:-webkit-full-screen .vquext-ProgressBar {
        width: 50%;
    }
    div:-moz-full-screen .vquext-ProgressBar {
        width: 50%;
    }
}