.vquext-MainContainer a:link, .vquext-MainContainer a:link, .vquext-MainContainer a:visited, .vquext-MainContainer a:focus {
    text-decoration: none !important;
    border: 0px;
    outline: none;
    border-width: 0px;
    outline-width: 0px;
    border-bottom: none;
}

.vquext-GameContainer:-webkit-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.vquext-GameContainer:-moz-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.vquext-GameContainer:-ms-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.vquext-GameContainer:-o-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.vquext-LinkMaximize {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.vquext-IconMinimize:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.vquext-GameMinimize {
    width: auto;
    margin: 5px auto;
    display: none;
}

.exeQuextIcons-Reload, .exeQuextIcons-Preview, .exeQuextIcons-PauseVideo, .exeQuextIcons-PlayVideo, .exeQuextIcons-FullScreenExit, .exeQuextIcons-FullScreen, .exeQuextIcons-Minimize {
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

.exeQuextIcons-Reload:hover, .exeQuextIcons-Preview:hover, .exeQuextIcons-PauseVideo:hover, .exeQuextIcons-PlayVideo:hover, .exeQuextIcons-Minimize:hover, .exeQuextIcons-FullScreenExit:hover, .exeQuextIcons-FullScreen:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.vquext-MainContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.sr-av {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    height: 0
}

.vquext-GameContainer {
    position: relative;
    max-width: 750px;
    width: 90%;
    margin: 5px auto;
    padding: 5px;
}

.vquext-GameScoreBoard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vquext-GameScoreBoard p {
    font-size: 1.1em;
    width: 26px;
    text-align: center;
    vertical-align: middle;
    margin-right: 3px;
    font-weight: bold;
}

.vquext-GameScores {
    width: 250px;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.vquext-GameScores>p:last-child {
    width: 50px;
    text-align: left;
    margin-left: 3px;
}

.vquext-LifesGame {
    width: 150%;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vquext-NumberLifesGame {
    display: none;
}

.vquext-TimeNumber {
    width: 180px;
    height: 100%;
    margin: 0 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vquext-TimeNumber .vquext-PTime {
    width: 50px;
    margin-right: 3px;
}

.exeQuextIcons {
    width: 26px;
    height: 26px;
    margin-right: 5px;
    background-size: cover;
}

.exeQuextIcons-Minimize {
    background: url(exequextmin.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Hit {
    background: url(exequexthits.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-FullScreen {
    background: url(exequextfull.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Error {
    background: url(exequextrerrors.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Score {
    background: url(exequextscore.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Time {
    background: url(exequexttime.png);
    background-size: cover;
}

.exeQuextIcons-Number {
    background: url(exequextnumber.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Life {
    background: url(exequextlive.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Preview {
    background: url(exequextnumber.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-PauseVideo {
    background: url(exequextpause.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-PlayVideo {
    background: url(exequextplayvideo.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Reload {
    background: url(exequextreload.png) no-repeat;
    background-size: cover;
}

.vquext-ShowClue {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 3px;
    padding: 0;
}

.vquext-PShowClue {
    font-size: 1em;
    color: #5877c6;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.vquext-Multimedia {
    width: 560px;
    height: 315px;
    margin: 5px auto;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 10px;
}

.vquext-Images, .vquext-Video, .vquext-Protector, .vquext-GameOver {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.vquext-Protector {
    opacity: 0.00001;
    z-index: 1000;
    background-color: white;
}

.vquext-GameOver {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10010;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    align-items: center;
    display: none;
}

.vquext-DataImageGameOver {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vquext-DataGame p {
    font-size: 0.9em;
    font-weight: none;
}

.vquext-HistGGame, .vquext-LostGGame {
    width: 45%;
    height: 70%;
    margin-right: 5px;
}

.vquext-HistGGame {
    display: none;
}

.vquext-ProgressBar {
    position: relative;
    width: 560px;
    height: 5px;
    padding: 0;
    background-color: black;
    margin: 3px auto;
    display: none;
}

.vquext-InterBar {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #b3092f;
    width: 0px;
}

.vquext-AuthorLicence {
    width: 100%;
    height: 14px;
    margin: 3px auto;
}

.vquext-AuthorLicence p {
    line-height: 100%;
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

.vquext-CodeAccessDiv {
    width: 100%;
    margin: 15px auto;
    display: none;
}

.vquext-TextClueGGame {
    width: 100%;
    font-size: 0.9em;
    text-align: center;
}

.vquext-instructions {
    width: 100%;
    margin: 5px auto;
}

.vquext-instructions p {
    font-size: 1em;
}

.vquext-MessageCodeAccessE {
    width: 100%;
    margin: 7px auto;
    text-align: center;
    color: #b3092f;
    font-size: 1em;
    vertical-align: middle;
}

.vquext-DataCodeAccessE {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vquext-DataCodeAccessE label {
    font-size: 0.9em;
}

.vquext-CodeAccessE {
    width: 50%;
    font-size: 1em;
    text-align: center;
    margin: 0 3px;
}

.exeQuextIcons-Submit {
    background: url(exequextreply.png) no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.vquext-StartGame {
    width: 100%;
    margin: 20px auto;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vquext-QuestionDiv {
    width: 100%;
    margin: 5px auto;
    display: none;
}

.vquext-Question {
    width: 95%;
    min-height: 45px;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
    color: #071717;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center
}

.vquext-DivReply {
    margin: 5px auto 35px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
}

.vquext-EdReply {
    margin: 0 5px;
    width: 50%;
    max-width: 200px;
    height: 30px;
    font-size: 0.9em;
    text-align: center;
    padding: 0;
}

.vquext-OptionsDiv {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vquext-Options {
    min-height: 45px;
    width: 48%;
    margin: 3px;
    background-color: transparent;
    border-radius: 7px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
    color: #071707;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.vquext-MainContainer a.vquext-Option1 {
    background-color: #f7c4c4;
    border: 2px solid #b3092f;
}

.vquext-MainContainer a.vquext-Option1:hover {
    background-color: #b3092f;
}

.vquext-MainContainer a.vquext-Option2 {
    background-color: #d5dcec;
    border: 2px solid #5877c6;
}

.vquext-MainContainer a.vquext-Option2:hover {
    background-color: #5877c6;
}

.vquext-MainContainer a.vquext-Option3 {
    background-color: #cce1c8;
    border: 2px solid #00a300;
}

.vquext-MainContainer a.vquext-Option3:hover {
    background-color: #00a300;
}

.vquext-MainContainer a.vquext-Option4 {
    background-color: #f5efd6;
    border: 2px solid #f3d55a;
}

.vquext-MainContainer a.vquext-Option4:hover {
    background-color: #f3d55a;
}

.vquext-ReloadContainer {
    width: 98%;
    padding: 0;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.vquext-LinkReload, .vquext-LinkPreview, .vquext-LinkPauseVideo {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.vquext-previewQuestions {
    position: relative;
    max-width: 750px;
    background-color: transparent;
    width: 90%;
    margin: 5px auto;
    min-width: 300px;
    display: none;
}

.vquext-previewQuestionsDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    background-color: #071717;
    border-radius: 10px;
    z-index: 20000;
    display: none;
}

.vquext-PreviewQuestionsTitle {
    width: 95%;
    margin: 8px auto;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.vquext-previewQuestionsClose {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.vquext-RepeatActivity {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.vquext-PointBar {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 5px;
    width: 5px;
    background-color: #8697cb;
    z-index: 900;
}

.vquext-prevQuestP {
    width: 95%;
    margin: 0 auto;
    color: #ffffff;
    font-size: 0.9em;
}

.vquext-BottonContainer {
    width: 98%;
    height: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vquext-GetScore {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vquext-GetScore input[type=button] {
    font-size: 0.9;
    width: auto;
}

.vquext-GetScore p {
    padding: 0;
    margin: 0;
}

.vquext-parpadea {
    animation-name: vquext-parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    -webkit-animation-name: vquext-parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 5;
}
.vquext-IconMinimize {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    cursor: pointer;
}

@-moz-keyframes vquext-parpadeo {
    0% {
        font-size: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes vquext-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes vquext-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@media screen and (max-width: 800px) {
    .vquext-GameScoreBoard {
        height: 20px;
    }
    .vquext-Multimedia {
        width: 470px;
        height: 250px;
    }
    .vquext-ProgressBar {
        width: 470px;
    }
    .exeQuextIcons {
        width: 20px;
        height: 20px;
        margin-right: 3px;
    }
    .vquext-GameScoreBoard p {
        width: 13px;
        margin-right: 2px;
    }
    .vquext-TimeNumber .vquext-PTime {
        width: 50px;
        margin-right: 3px;
        text-align: center;
        vertical-align: middle;
    }
    .vquext-GameScores>p:last-child {
        width: 15px;
        text-align: left;
        margin-left: 3px;
    }
    .vquext-IconMinimize {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width:650px) {
    .vquext-GameContainer {
        font-size: 0.9em;
    }
    .vquext-Multimedia {
        width: 437px;
        height: 246px;
    }
    .vquext-ProgressBar {
        width: 437px;
    }
    .vquext-GameScoreBoard p {
        font-size: 1em;
    }
}

@media screen and (max-width:550px) {
    .vquext-GameContainer {
        font-size: 0.9rem;
    }
    .vquext-GameContainer input[type="text"] {
        padding: 3px 2px;
        display: inline-block;
        box-sizing: border-box;
        line-height: 18px;
        font-size: 0.9em;
        background: #fdfdfd;
        border: 1px solid #828282;
        border-radius: 4px;
    }
    .vquext-GameContainer input[type="text"]:active, .vquext-GameContainer input[type="text"]:focus {
        background: #fdfdfd;
        border: 1px solid #398ee7;
        border-radius: 4px;
    }
    .exeQuextIcons-Submit {
        height: 20px;
        width: 20px;
    }
    .vquext-Multimedia {
        width: 370px;
        height: 207px;
    }
    .vquext-TimeNumber {
        width: 145px;
        height: 100%;
    }
    .vquext-ProgressBar {
        width: 370px;
    }
    .vquext-GameScoreBoard {
        height: 17px;
    }
    .vquext-GameScoreBoard p {
        width: 17px;
        height: 17px;
        line-height: 17px;
        font-weight: normal;
    }
    .exeQuextIcons {
        width: 17px;
        height: 17px;
        margin-right: 2px;
    }
    .vquext-LifesGame {
        display: none;
    }
    .vquext-NumberLifesGame {
        display: flex;
        width: 52px;
        justify-content: center;
        align-items: center;
    }
    .vquext-TimeNumber .vquext-PTime {
        width: 45px;
        margin-right: 3px;
    }
    .vquext-GameScores>p:last-child {
        width: 30px;
        margin-left: 3px;
    }
    .vquext-Question {
        min-height: 35px;
        margin: 0 auto;
        border-radius: 4px;
    }
    .vquext-Options {
        min-height: 35px;
        width: 47%;
        margin: 2px;
        border-radius: 3px;
    }
    .vquext-AuthorLicence {
        height: 12px;
        margin: 2px auto;
    }
    .vquext-instructions {
        margin: 2px auto;
    }
    .vquext-instructions p {
        margin: 0 auto;
        font-size: 0.8em;
    }
    p.adivinaDivInstructions {
        font-size: 0.7rem;
        margin: 0 auto;
    }
    .vquext-LinkMinimize, .vquext-LinkFullScreen {
        display: none;
    }
    .vquext-GetScore {
        margin: 1px auto;
        padding: 0;
    }
    .vquext-BottonContainer {
        padding: 0;
        margin: 1px;
    }
    .vquext-HistGGame, .vquext-LostGGame {
        width: 30%;
        height: 56%;
        margin-right: 5px;
    }
    .vquext-RepeatActivity, .vquext-SendScore, .vquext-GetScore input[type=button] {
        font-size: 0.9em;
    }
    .exeQuextIcons-PlayVideo, .exeQuextIcons-Reload, .exeQuextIcons-Video, .exeQuextIcons-PauseVideo, .exeQuextIcons-Preview {
        height: 20px;
        width: 20px;
    }
    .vquext-IconMinimize {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width:450px) {
    .vquext-GameContainer {
        font-size: 0.8rem;
    }
    .vquext-Multimedia {
        width: 269px;
        height: 151px;
    }
    .vquext-ProgressBar {
        width: 269px;
    }
    .vquext-CodeAccessDiv {
        margin: 3px auto;
    }
    .vquext-MessageCodeAccessE {
        margin: 3px auto;
    }
    .vquext-LinkFullScreen {
        display: none;
    }
    .vquext-RepeatActivity, .vquext-SendScore, .vquext-GetScore input[type=button] {
        font-size: 0.8em;
    }
}

@media screen and (max-width:370px) {
    .vquext-GameContainer {
        font-size: 0.8rem;
    }
    .vquext-GameScoreBoard p {
        font-size: 0.9em;
    }
    .vquext-GameScoreBoard p {
        width: 12px;
        line-height: 12px;
        height: 12px;
        margin-right: 1px;
    }
    .exeQuextIcons {
        width: 12px;
        height: 12px;
        margin-right: 1px;
    }
    .vquext-NumberLifesGame {
        width: 28px;
    }
    .vquext-TimeNumber .vquext-PTime {
        width: 32px;
        margin-right: 2px;
    }
    .vquext-GameScores>p:last-child {
        width: 15px;
        margin-left: 3px;
    }
    .vquext-Multimedia {
        width: 221px;
        height: 134px;
    }
    .vquext-ProgressBar {
        width: 221px;
    }
    .vquext-RepeatActivity, .vquext-, .vquext-GetScore input[type=button] {
        font-size: 0.8em;
    }
    .exeQuextIcons-PlayVideo, .exeQuextIcons-Reload, .exeQuextIcons-Video, .exeQuextIcons-PauseVideo, .exeQuextIcons-Preview {
        height: 20px;
        width: 20px;
    }
    .vquext-IconMinimize {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width:300px) {
    .vquext-GameContainer {
        font-size: 0.7rem;
    }
    .vquext-Multimedia {
        width: 180px;
        height: 101px;
    }
    .vquext-ProgressBar {
        width: 224px;
    }
    .vquext-LinkMinimize, .vquext-LinkFullScreen, .exeQuextIcons-Time {
        display: none;
    }
    .vquext-RepeatActivity, .vquext-SendScore, .vquext-GetScore input[type=button] {
        font-size: 0.7em;
    }
}

@media screen and (max-width:250px) {
    .vquext-GameContainer {
        font-size: 0.6rem;
    }
    .vquext-Multimedia {
        width: 140px;
        height: 76px;
    }
    .vquext-ProgressBar {
        width: 140px;
    }
    .vquext-CodeAccessDiv {
        width: 100%;
        margin: 3px auto;
    }
    .vquext-MessageCodeAccessE {
        width: 100%;
        margin: 3px auto;
    }
    .vquext-RepeatActivity, .vquext-SendScore, .vquext-GetScore input[type=button] {
        font-size: 0.6em;
    }
}