.oca-GameContainer a:link, .oca-GameContainer a:link, .oca-GameContainer a:visited, .oca-GameContainer a:focus {
	border-bottom: none;
	border-width: 0;
	outline: none;
	outline-width: 0;
	text-decoration: none !important;
}
/* Contenedor */
.oca-MainContainer {
	margin: 0.3em auto;
	max-width: 750px;
	min-width: 200px;
	padding: 0.3em;
	position: relative;
	width: 95%;
}
.oca-MainContainer * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/************************** Instrucciones *********************/
.oca-instructions {
	margin: 0.3em auto;
	width: 100%;
}
.oca-instructions p {
	font-size: 1em;
}
/************************** Minimizado *********************/
.oca-LinkMaximize {
	align-items: center;
	display: flex;
    justify-content: center;
    text-decoration: none !important;
	width: 100%;
}


.oca-GameMinimize {
	display: none;
	margin: 0.3em auto;
	width: auto;
}
.oca-IconMinimize {
	cursor: pointer;
	height: 2em;
	margin-right: 0.3em;
	width: 2em;
}
/************************** Oca *********************/
.oca-GameContainer {
	align-content: center;
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
/*Tablero */
.oca-Tablero {
	border-radius: 0.5em;
	box-shadow: 0 .2em .2em rgba(0, 0, 0, 0.10), 0 .1em .1em rgba(0, 0, 0, 0.13);
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 550px;
	position: relative;
	width: 100%;
}
.oca-Tablero:before {
	content: '';
	display: block;
	padding-top: 100%;
}
.oca-Protector {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.oca-ImageTablero {
	bottom: 0;
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
	height: 100%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
    width: 100%;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
/* Maximizar */
.oca-LinkFullScreen {
	height: 5%;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 5%;
	z-index: 10;
}
.oca-LinkMinimize {
	height: 5%;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 5%;
	z-index: 10;
}
.oca-LinkReboot {
	bottom: 3px;
	height: 5%;
	position: absolute;
	right: 3px;
	width: 5%;
	z-index: 10;
}
/* Fichas */
.oca-Ficha {
	border-radius: 50%;
	position: absolute;
	z-index: 20;
}
.oca-FichaRoja {
	background-color: #e91e63;
	bottom: 25px;
	left: 25px;
}
.oca-FichaAzul {
	background-color: #00bcd4;
	bottom: 64px;
	left: 25px;
}
.oca-FichaVerde {
	background-color: #8bc34a;
	bottom: 25px;
	left: 66px;
}
.oca-FichaAmarilla {
	background-color: #ffeb3b;
	bottom: 64px;
	left: 66px;
}
/* Seleccionar jugadores */
.oca-SelectsGamers {
	align-content: space-between;
	background: #fff;
	border-radius: 0.7em;
	bottom: 0;
	box-shadow: 0 0.7em 1.2em rgba(0, 0, 0, 0.19), 0 0.5em 0.5em rgba(0, 0, 0, 0.23);
	height: 65%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 85%;
	z-index: 30;
}
.oca-NumberGamers {
	align-items: center;
	display: flex;
	justify-content: center;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	width: 100%;
}
.oca-NumberGamers p {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	height: 1.5rem;
	line-height: 1.5rem;
}
.oca-NumberIcon {
	height: 1.5rem;
	margin-left: .4rem;
	width: 1.5rem;
}
.oca-NameGamers {
	width: 100%;
}
.oca-Jugador {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 0.5em;
	width: 100%;
}
.oca-NameGamer {
	background: #fdfdfd;
	border: 1px solid #828282;
	border-radius: 0.25rem;
	font-size: 0.9rem;
	height: 1.8rem;
	line-height: 1.8rem;
	padding: 3px 2px;
	text-align: center;
	width: 70%;
}
.oca-FichaJugador {
	border-radius: 50%;
	height: 2rem;
	margin-right: 0.2em;
	width: 2rem;
}
.oca-Wraper {
	align-items: flex-start;
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
.oca-JuegadorRojo {
	background-color: #e91e63;
}
.oca-JuegadorAzul {
	background-color: #00bcd4;
}
.oca-JuegadorVerde {
	background-color: #8bc34a;
}
.oca-JuegadorAmarillo {
	background-color: #ffeb3b;
}
/* Mensaje */
.oca-Message {
	align-items: center;
	background: #fff;
	border-radius: .6em;
	box-shadow: 0 0.7em 1.2em rgba(0, 0, 0, 0.19), 0 0.5em 0.5em rgba(0, 0, 0, 0.23);
	display: flex;
	height: 15%;
	justify-content: flex-start;
	left: 12.5%;
	opacity: .85;
	padding: .2em .1em;
	position: absolute;
	top: 0;
	width: 75%;
	z-index: 100;
}
.oca-Tiempo {
	color: #071717;
	display: none;
	font-size: 1.2rem;
    left: 19rem;
    padding: .2rem .1rem;
	position: absolute;
	top: 11.60rem;
	width: 4rem;
	z-index: 3;
}
.oca-PTiempo {
	color: #071717;
	display: block;
	font-weight: 700;
	height: 1.8rem;
	line-height: 1.8rem;
	text-align-last: center;
	width: 100%;
}
.oca-MessageImage {
	height: 3.5rem;
	margin-left: 1rem;
	width: 3.5rem;
}
.oca-Message p {
	color: #071707;
	display: inline-block;
	font-size: 1.1rem;
	opacity: 1;
	text-align: center;
	vertical-align: middle;
	width: 80%;
}
/* Dado */
.oca-FondoDado {
	border-radius: 0.5em;
	bottom: 0;
	box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.19), 0 0.3em 0.3em rgba(0, 0, 0, 0.23);
	height: 100%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.oca-PuntosDado {
	background-size: 100% 100%;
	bottom: 0;
	height: 100%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.oca-ManoDado {
	background-color: rgba(255, 255, 255, 0.1);
	background-image: url(dado0.gif);
	background-size: 100% 100%;
	bottom: 0;
	height: 100%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.oca-Dado {
	display: none;
	height: 14%;
	left: 47.5%;
	position: absolute;
	top: 47.5%;
	transition: transform .3s ease;
	width: 14%;
	z-index: 1000;
}
/* Iniciar partida */
.oca-StartGame {
	display: inline-block;
	font-size: .5rem;
	font-weight: bold;
	padding: .5rem;
	text-align: center;
	width: 100%;
}
/* Mochila */
.oca-Mochila {
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto;
	margin-left: 0.5em;
	max-width: 10em;
	min-width: 5em;
	padding: 0.7em;
}
.oca-MochilaJugador {
	align-items: center;
	display: flex;
	flex-grow: 0;
	justify-content: flex-start;
	margin-bottom: .6em;
	max-width: 10em;
}
.oca-MochilaObjeto {
	height: 1.4em;
	margin-right: 0.3em;
	width: 1.4em;
}
.oca-MochilaRoja {
	background-color: #e91e63;
	border-radius: 50%;
}
.oca-MochilaAzul {
	background-color: #00bcd4;
	border-radius: 50%;
}
.oca-MochilaVerde {
	background-color: #8bc34a;
	border-radius: 50%;
}
.oca-MochilaAmarilla {
	background-color: #ffeb3b;
	border-radius: 50%;
}
.oca-Vida {
	align-items: center;
	background: url('ocavida.png') no-repeat;
	background-size: 100% auto;
	color: #1E1E1E;
	display: flex;
	font-weight: bold;
	justify-content: center;
}
.oca-Vida>p {
	font-size: 0.9em;
}
.oca-Llave {
	background: url('ocallave.png') no-repeat;
	background-size: 100% auto;
}
.oca-Pocion {
	background: url('ocapocion.png') no-repeat;
	background-size: 100% auto;
}
.oca-Rayo {
	background: url('ocarayo.png') no-repeat;
	background-size: 100% auto;
}
/************************** Cuestiones *********************/
.oca-GameQuestion {
	display: none;
	margin: 0 auto;
    max-width: 750px;
    outline-width: 0;
	width: 100%;
}
.oca-GameQuestion a {
    text-decoration: none;
    outline: none;
    outline-width: 0;
}

/* barra de puntuaciones */
.oca-TimeNumber {
	font-size: 1.3em;
	height: 1.1em;
	left: 3;
	margin: 0 0.3em;
	padding: 0;
	position: absolute;
	top: 3;
	width: 30%;
	z-index: 10;
}
.oca-PTime {
	text-align: left;
}
/* Multimedia */
.oca-Multimedia {
	border-radius: 0.9em;
	margin: 3em auto;
	max-width: 1024px;
	overflow: hidden;
	position: relative;
	width: 62%;
}
.oca-Multimedia:before {
	content: '';
	display: block;
	padding-top: 56%;
}
.oca-Protector, .oca-Cover {
	bottom: 0;
	height: 100%;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.oca-Images, .oca-Video, .oca-EText, .oca-GameOver {
	border: 0;
	border-radius: 0.8em;
	height: 100%;
	left: 0;
	position: absolute;
	text-decoration: none;
	top: 0;
	width: 100%;
}
.oca-EText {
	border: none;
	font-size: 1em;
	overflow-y: auto;
	z-index: 10001;
}
.oca-Protector1 {
	background-color: white;
	opacity: 0.00001;
	z-index: 1000;
}
.oca-Cursor {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 2em;
	z-index: 1000000;
}
/* Audio */
.oca-LinkAudio {
	bottom: 3px;
	display: none;
	position: absolute;
	right: 3px;
	width: 2em;
	z-index: 1005;
}
/* Author */
.oca-AuthorLicence {
	display: none;
	margin: 0 auto;
	min-height: 1.8em;
	width: 100%;
}
.oca-AuthorLicence p {
	font-size: 0.9em;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
/* Código acceso */
.oca-CodeAccessDiv {
	display: none;
	width: 100%;
}
.oca-CodeAccessDiv p {
	display: inline-block;
	padding: 1em;
	text-align: center;
	width: 100%;
}
.oca-DataCodeAccessE {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0.7em auto;
	width: 100%;
}
.oca-MessageCodeAccessE {
	font-size: 1em;
	text-align: center;
	width: 100%;
}
.oca-DataCodeAccessE label {
	font-size: 0.9em;
}
.oca-CodeAccessE {
	font-size: 0.9em;
	margin: 0.7em 0.3em;
	max-width: 300px;
	width: 50%;
}
.oca-GameQuestion input[type="text"], .oca-CodeAccessE {
	background: #fdfdfd;
	border: 1px solid #828282;
	border-radius: 4px;
	display: inline-block;
	font-size: 0.9em;
	line-height: 1.5em;
	padding: 3px 2px;
	text-align: center;
}
.oca-NameGamers input[type="text"]:focus, .oca-NameGamers input[type="text"]:active, .oca-GameQuestion input[type="text"]:active, .oca-GameQuestion input[type="text"]:focus, input.oca-CodeAccessE:focus, input.oca-CodeAccessE:active {
	background: #fdfdfd;
	border: 1px solid #398ee7;
}
/* Mensaje Modal */
.oca-MessageModalDiv {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: .001;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100000;
}
.oca-MessageModal {
	align-items: center;
	background: #fff;
	border-radius: 0.8em;
	bottom: 0;
	box-shadow: 0 0.7em 1.2em rgba(0, 0, 0, 0.19), 0 0.5em 0.5em rgba(0, 0, 0, 0.23);
	display: flex;
	height: 30%;
	justify-content: center;
	left: 0;
	margin: auto;
	padding: 0 1.5em;
	position: absolute;
	right: 0;
	top: 0;
	width: 80%;
	z-index: 100001;
}
.oca-MessageModalIcono {
	background-image: url(ocaoca.png);
	background-size: 100% 100%;
	flex-shrink: 0;
	width: 20%;
}
.oca-MessageModalIcono:before {
	content: '';
	display: block;
	padding-top: 100%;
}
.oca-MessageModalTexto {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	margin: 0.2em;
	width: 100%;
}
.oca-MessageModalTexto p {
	align-content: center;
	align-items: center;
	display: flex;
	font-size: 1rem;
	height: 60%;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.oca-MessageButtons {
	align-items: center;
	display: flex;
	height: 40%;
	justify-content: space-around;
	width: 60%;
}
.oca-AcceptButton {
	background: url(exequextreply.png) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	height: 1.7rem;
	transition: transform 0.3s ease;
	width: 1.7rem;
}
.oca-CancelButton {
	background: url(exequextrerrors.png) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	height: 1.7rem;
	transition: transform 0.3s ease;
	width: 1.7rem;
}
/* Pegunta */
.oca-QuestionDiv {
	width: 100%;
}
.oca-Question {
	border-radius: 0.3em;
	color: #071717;
	font-size: 1em;
	margin: 0 auto;
	margin-bottom: 0.4em;
	min-height: 3.2em;
	padding-top: 0.3em;
	text-align: center;
	user-select: none;
    width: 100%;
    user-select: none;
    -moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
.oca-OptionsDiv {
	align-content: flex-start;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}
.oca-MainContainer a.oca-Options {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	align-items: center;
	background-color: transparent;
	border: 1px solid #777777;
	border-radius: 0.4em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin: 0.1em;
	min-height: 3em;
	padding: 0.3em;
	user-select: none;
	width: 48%;
}
.oca-OptionsDiv a {
	border: 1px solid #777777;
	color: #1c1b1b;
	font-size: 1em;
}
div:fullscreen .oca-Options {
	font-size: 1.1em;
	min-height: 3.3em;
}
div:-webkit-full-screen .oca-Options {
	font-size: 1.1em;
	min-height: 3.3em;
}
div:-moz-full-screen .oca-Options {
	font-size: 1.1em;
	min-height: 3.3em;
}
div:fullscreen .oca-Question {
	font-size: 1.1em;
}
div:-webkit-full-screen .oca-Question {
	font-size: 1.1em;
}
div:-moz-full-screen .oca-Question {
	font-size: 1.1em;
}

/* Pregunta tipo palabra */
.oca-WordsDiv {
	display: none;
	width: 100%;
}
.oca-Definition {
	align-items: center;
	color: #3f3f3f;
	display: flex;
	font-size: 1em;
	font-weight: 600;
	justify-content: center;
	margin: 0.5em auto;
	min-height: 2em;
	text-align: center;
	width: 90%;
}
.oca-Definition a {
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
	z-index: 30000;
}
.oca-Prhase {
	align-items: center;
	color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0.5em auto;
	min-height: 3em;
	width: 97%;
}
.oca-Word {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 6px;
	padding-bottom: 2px;
	padding-top: 3px;
}
.oca-Letter {
	align-items: center;
	border: 1px solid #555555;
	border-radius: 3px;
	display: flex;
	font-size: 1.3em;
	font-weight: 600;
	height: 1.8em;
	justify-content: center;
	margin: 1px;
	padding: 0;
	text-align: center;
	user-select: none;
    width: 1.3em;
    -khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
.oca-Letter.blue {
	color: #071717;
}
.oca-Letter.green {
	color: #5a9216;
}
.oca-Letter.red {
	color: #b0003a;
}
/* Respuestas */
.oca-DivReply {
	align-items: center;
	background-color: transparent;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 2em;
	width: 100%;
}
.oca-EdReply {
	max-width: 400px;
	width: 60%;
}
.oca-MainContainer .exeQuextIcons-MoveOne {
	background: url(exequextmoveon.png) no-repeat;
	background-size: 100% 100%;
}
.oca-MainContainer .exeQuextIcons-Submit, .oca-GameQuestion .exeQuextIcons-Submit {
	background: url(exequextreply.png) no-repeat;
	background-size: 100% 100%;
	margin-left: 0.2em;
}
.oca-GameQuestion .exeQuextIcons-MoveOne, .oca-GameQuestion .exeQuextIcons-Submit, .exeQuextIcons-Error {
	height: 1.7em;
	width: 1.7em;
}
/* Respuestas */
.oca-AnswersDiv {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	padding: 0;
}
.oca-Answers {
    width: 8em;
    padding: 0;
    display: flex;
    margin-right: .2em;
    justify-content: flex-end;
    align-items: center;
}

.oca-AnswersOptions {
    height: 1.3em;
    width: 1.4em;
	border-radius: 0.125em;
	margin:0;
	padding: 0;
}

.oca-Answer1 {
	background-color: #b3092f;
	border: 1px solid #1c1b1b;
	border-radius: 3px;
	margin-left: 0.1em;
}

.oca-Answer2 {
	background-color: #5877c6;
	border: 1px solid #1c1b1b;
	border-radius: 3px;
	margin-left: 0.1em;
}

.oca-Answer3 {
	background-color: #00a300;
	border: 1px solid #1c1b1b;
	border-radius: 3px;
	margin-left: 0.1em;
}

.oca-Answer4 {
	background-color: #f3d55a;
	border: 1px solid #1c1b1b;
	border-radius: 3px;
	margin-left: 0.1em;
}

.oca-BottonContainerDiv, .oca-BottonContainer {
	align-items: center;
	display: flex;
	font-size: 1rem;
	justify-content: flex-end;
	margin: 0.1em auto;
	padding: 0;
	width: 100%;
}
.oca-BottonContainerDiv .exeQuextIcons-Submit {
	margin-right: 1em;
}
.oca-BottonContainerDivEnd {
	justify-content: flex-end;
}
.oca-GetScore input[type=button] {
	padding: 0.3em;
	width: auto;
}
.oca-GetScore {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
}
.oca-RepeatActivity {
	font-size: 1em;
	margin: 0;
	padding: 0;
}
/* Link */
.oca-MainContainer .exeQuextIcons-Submit {
	background: url(exequextreply.png) no-repeat;
	background-size: 100% 100%;
	height: 1.7em;
	margin-left: 0.1em;
	width: 1.7em;
}
.oca-MainContainer .exeQuextIcons-FullScreen {
	background: url(exequextfull.png) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	margin-left: 0.1em;
	width: 100%;
}
.oca-MainContainer .exeQuextIcons-Reboot {
	background: url(exequextreload.png) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	margin-left: 0.1em;
	width: 100%;
}
.oca-MainContainer .exeQuextIcons-Minimize {
	background: url(exequextmin.png) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	margin-left: 0.1em;
	width: 100%;
}

div:fullscreen .exeQuextIcons-FullScreen {
	background: url(exequextnormal.png) no-repeat;
}
div:-webkit-full-screen .exeQuextIcons-FullScreen {
	background: url(exequextnormal.png) no-repeat;
}
div:-moz-full-screen .exeQuextIcons-FullScreen {
	background: url(exequextnormal.png) no-repeat;
}
/* Iconos */
.oca-GameQuestion .exeQuextIcons {
	background-size: 100% 100%;
	height: 1.4em;
	margin-right: 0.3em;
	width: 1.4em;
}
.oca-GameQuestion .exeQuextIcons-Video {
	height: 1.7em;
	width: 1.7em;
}
.exeQuextIcons-Minimize {
	background: url(exequextmin.png) no-repeat;
	background-size: 100% 100%;
}
.exeQuextIcons-Hit {
	background: url(exequexthits.png) no-repeat;
	background-size: 100% 100%;
}
.exeQuextIcons-FullScreen {
	background: url(exequextfull.png) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}
.exeQuextIcons-Error {
	background: url(exequextrerrors.png) no-repeat;
	background-size: 100% 100%;
}
.exeQuextIcons-Score {
	background: url(exequextscore.png) no-repeat;
	background-size: 100% 100%;
}
.exeQuextIcons-Time {
	background: url(exequexttime.png);
	background-size: 100% 100%;
}
.exeQuextIcons-Number {
	background: url(exequextnumber.png) no-repeat;
	background-size: 100% 100%;
}
.exeQuextIcons-Video {
	background: url(exequextvideo.png) no-repeat;
	background-size: 100% 100%;
}
.oca-extra-content {
	margin-top: 1.7em;
}
.oca-parpadea {
	animation-duration: 1s;
	animation-iteration-count: 5;
	animation-name: oca-parpadeo;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 5;
	-webkit-animation-name: oca-parpadeo;
	-webkit-animation-timing-function: linear;
}

.oca-Activo {
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	-webkit-filter: drop-shadow(.12em .12em .12em rgba(0, 0, 0, 0.5));
	-webkit-transition: transform 0.3s;
	cursor: pointer;
	filter: drop-shadow(.12em .12em .12em rgba(0, 0, 0, 0.5));
	transition: transform 0.3s;
}

.oca-Activo:hover {
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
@-moz-keyframes oca-parpadeo {
	0% {
		font-size: 1.0;
	}
	50% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}
@-webkit-keyframes oca-parpadeo {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}
@keyframes oca-parpadeo {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}
div:fullscreen .oca-Tablero {
	height: 85vmin;
	max-width: 85vmin;
	width: 85vmin;
}
div:fullscreen .oca-Mochila {
	max-width: 100vmin;
}
div:fullscreen .oca-MochilaObjeto {
	flex-shrink: 0;
	height: 4vmin;
	width: 4vmin;
}
div:fullscreen .oca-Vida p {
	font-size: 3vmin;
}
div:fullscreen .oca-MochilaJugador {
	margin: 1.5vmin;
	max-width: 100%;
	width: 100%;
}
div:fullscreen .oca-MainContainer {
	background-color: #fff;
	height: 100vh;
	width: 100vw;
}
div:fullscreen .oca-GameQuestion {
	background-color: #fff;
	height: 100vh;
	left: 0;
	max-width: 100vw;
	position: absolute;
	width: 100vw;
}
div:fullscreen .oca-GameContainer {
	background-color: #fff;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 100vh;
	max-width: 100vw;
	padding: 7vmax;
	width: 100vw;
}
div:fullscreen .oca-Multimedia {
	background-color: #fff;
	margin: 3em;
	margin-left: auto;
	margin-right: auto;
	max-width: 95vmin;
	top: 3em;
	width: 95vmin;
}
/*testeo */
.oca-prueba, .oca-sorpresa {
	background-color: salmon;
	box-shadow: 0 0.7em 1.2em rgba(0, 0, 0, 0.19), 0 0.5em 0.5em rgba(0, 0, 0, 0.23);
	color: #fff;
	cursor: pointer;
	font-size: 0.7em;
	height: 20px;
	line-height: 20px;
	margin-right: 0.2em;
	text-align: center;
	transition: all 500ms ease;
	vertical-align: middle;
	width: 20px;
}
.oca-prueba:active, .oca-sorpresa:active {
	transform: translateY(3px);
}
.oca-sorpresa {
	background-color: teal;
}
.oca-botones {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px auto;
	max-width: 750px;
    width: 100%;
    display: none;
}
@media screen and (max-width:900) {
	.oca-MainContainer, .oca-BottonContainerDiv, .oca-BottonContainer, .oca-BottonContainerDivEnd, .oca-instructions {
		font-size: 0.9rem;
	}
	.oca-SelectsGamers {
		border-width: 1px;
	}
}
@media screen and (max-width:520px) {
	.oca-GameQuestion, .oca-BottonContainerDiv, .oca-BottonContainer, .oca-BottonContainerDivEnd, .oca-instructions {
		font-size: 0.8rem;
	}
	.oca-instructions {
		margin: 0.1em auto;
	}
	.oca-instructions p {
		margin: 0 auto;
	}
	.oca-TimeNumber {
		font-size: 1.5em;
		margin: 0.1em auto;
		position: static;
		text-align: center;
		width: 100%;
	}
	.oca-PTime {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.oca-Multimedia {
		width: 90%;
	}
	.oca-LinkMinimize, .oca-LinkFullScreen {
		display: none;
	}
	.oca-DataCodeAccessE label {
		display: none;
	}
	.oca-GameQuestion .exeQuextIcons-Submit, .oca-GameQuestion .exeQuextIcons-Video {
		height: 2em;
		width: 2em;
	}
	.oca-OptionsDiv {
		color: #071707;
		flex-direction: column;
		font-weight: bold;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.oca-OptionsDiv a {
		border: 1px solid #777777;
		color: #1c1b1b;
		font-size: 0.9em;
		font-weight: bold;
		height: 2.5em;
		margin: 0.15em auto;
		padding: 0;
		width: 97%;
	}
	.oca-Question {
		color: #071707;
		font-size: 0.9em;
		font-weight: bold;
		height: auto;
		min-height: 2.5em;
		width: 97%;
	}
}
@media screen and (max-width:420px) {
	.oca-MainContainer, .oca-BottonContainerDiv, .oca-BottonContainer, .oca-BottonContainerDivEnd, .oca-instructions {
		font-size: 0.8rem;
	}
	.oca-SelectsGamers {
		height: 75%;
	}
	.oca-Message {
		border-radius: 4px;
		height: 20%;
		left: 4%;
		top: 3%;
		width: 92%;
	}
}
@media screen and (max-width:380px) {
	.oca-MainContainer, .oca-BottonContainerDiv, .oca-BottonContainer, .oca-BottonContainerDivEnd, .oca-instructions {
		font-size: 0.7rem;
	}
}
@media screen and (max-width:300px) {
	.oca-MainContainer, .oca-BottonContainerDiv, .oca-BottonContainer, .oca-BottonContainerDivEnd, .oca-instructions {
		font-size: 0.6rem;
	}
}
@media screen and (max-width:265px) {
	.oca-GameQuestion, .oca-BottonContainerDiv, .oca-BottonContainer, .oca-BottonContainerDivEnd {
		font-size: 0.6rem;
	}
	.oca-GameQuestion .exeQuextIcons {
		height: 1.1em;
		width: 1.1em;
	}
	.oca-GameQuestion .exeQuextIcons-Submit, .oca-GameQuestion .exeQuextIcons-Video {
		height: 2em;
		width: 2em;
	}
}
@media screen and (min-width: 1400px) {
	div:fullscreen .oca-Multimedia {
		background-color: #fff;
		margin: 2em auto;
		max-width: 95vmin;
		top: 2em;
		width: 95vmin;
	}
}
@media screen and ( min-width: 700px) and (max-height: 800px) {
	div:fullscreen .oca-Multimedia {
		background-color: #fff;
		margin-bottom: 4em;
		max-width: 80vmin;
		width: 80vmin;
	}
}
