/* Colores */
/* Ver también @media al final del documento */
body{
	color:#333333; /* Cuerpo de texto */
	background:#ffffff; /* Color de fondo */
}
#content{
	border-color:#cccccc; /* Borde del contenedor principal */
	background:#ffffff; /* Color de fondo del contenedor principal */
}
.pagination{
	color:#fff; /* Color de texto del bloque Anterior/Siguiente: igual que el color de fondo de la página */
	border-color:#999; /* Color de borde del bloque: borde superior */
}
.pagination a{
	background-color:#e6e9ed; /* Color de fondo de los enlaces Anterior/Siguiente */
	color:#008F75; /* Color de texto de estos enlaces */
}
.pagination a:hover,.pagination a:focus{
	background-color:#cfd9ea; /* Color de fondo de los enlaces Anterior/Siguiente al pasar sobre ellos */
	color:#263264; /* Color de texto de estos enlaces al pasar sobre ellos */
}
#header{
	color:#0055A6; /* Color del texto */
	text-shadow:1px 1px 1px #fff; /* Sombra del texto */
}
/* Menú */
#siteNav, #siteNav ul {
	border-color:#E2E6E9; /* Color de los bordes */	
	background:#fff; /* Color de fondo */	
}
#siteNav a {
	color:#4D4D4D; /* Color de los enlaces del menú */
}
#siteNav a:hover {
	color:#0460B3; /* Color de los enlaces del menú al pasar sobre ellos */
}
#siteNav .active{
	color:#FF1E00; /* Enlace activo en el menú principal */
}
#siteNav li:hover, #siteNav li.sfhover {
	background:#E2E6E9; /* Color de fondo de los elementos del menú al pasar sobre ellos o sus hijos */
}
#siteNav ul ul .daddy {
	background-image:url(my_nav_arrow.gif); /* Imagen de los elementos de segundo nivel con hijos (flecha) */
}

/* Otras definiciones */
body{padding:0;text-align:center}
#content{width:985px;margin:0 auto 10px auto;text-align:left;position:relative;border-style:solid;border-width:1px;border-top:0;box-shadow:0 0 10px 0 #999;border-bottom-right-radius:8px;border-bottom-left-radius:8px}
#main-wrapper{padding:10px 20px 0 20px}
#main{width:100%}
#content{padding-bottom:11px}
#header,#emptyHeader{height:39px;background:url(my_header.jpg) no-repeat 0 0;padding:69px 0 0 10px;font-size:1.5em}
* html #header,* html #emptyHeader{height:100px} /* IE6 */
#nodeTitle{font-size:1.5em}
#main #nodeDecoration{background:none;padding:0;border:none}
/* Menú desplegable */
#siteNav,#siteNav ul{float:left;width:100%;list-style:none;line-height:1.2em;padding:0;border-style:solid;border-width:1px 0;margin:0}
#siteNav{margin-bottom:20px;position:relative;z-index:999;border-top:none}
#siteNav a{display:block;text-decoration:none;padding:.4em 10px}
#siteNav a:hover{color:#0460B3}
#siteNav ul ul .daddy{background-repeat:no-repeat;background-position:center right}
#siteNav li{float:left;padding:0}
#siteNav li ul{position:absolute;left:-999em;height:auto;width:14.4em;w\idth:13.9em;border-width:0.25em;margin:0;font-weight:normal}
* html #siteNav li ul{width:13em}
#siteNav li li{padding-right:1em;width:13em}
#siteNav li ul a{font-size:.9em;padding:.45em 10px}
#siteNav li ul ul{margin:-1.95em 0 0 14em}
* html #siteNav li ul ul{margin-left:13em}
#siteNav li:hover ul ul,#siteNav li:hover ul ul ul,#siteNav li.sfhover ul ul,#siteNav li.sfhover ul ul ul{left:-999em}
#siteNav li:hover ul,#siteNav li li:hover ul,#siteNav li li li:hover ul,#siteNav li.sfhover ul,#siteNav li li.sfhover ul,#siteNav li li li.sfhover ul{left:auto}
#siteFooter{padding-left:20px}
/* Pagination */
.pagination{border-style:dotted;border-width:1px 0 0 0;padding-top:10px;text-align:right}
.pagination a{padding:4px 7px;border-radius:5px}
.pagination a:hover,.pagination a:focus{text-decoration:none}
#topPagination{position:absolute;top:0;right:20px}
#topPagination .pagination{border:none}
#bottomPagination{padding:0 20px}
.js #bottomPagination{margin-top:15px}
/* Pie de página e iDevices */
.iDeviceTitle{vertical-align:top}
/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}

/* Hide/Show/Skip navigation */
#nav-toggler{margin:0;position:absolute;top:10px;left:10px;display:none}
#nav-toggler a,#skipNav a{background:#e6e9ed;color:#FF1E00;padding:4px 7px;border-radius:5px}
#nav-toggler a:hover,#nav-toggler a:focus{background-color:#cfd9ea;color:#263264;text-decoration:none}
#skipNav{z-index:100px;padding-top:10px;text-align:center}

@media all and (max-width: 985px) {
    #content{width:100%;border:0;box-shadow:none}
}

@media all and (max-width: 700px) {
    #header{color:#666}
    #userOptionsBar,#topPagination{display:none}
    #siteNav .other-section{display:none}
    #siteNav,#siteNav ul{float:none;width:100%;margin:0;line-height:1.5em}
    #siteNav, #siteNav ul{border:none}
    #siteNav ul ul .daddy{background:none}
    #content #siteNav li{float:none;padding:0}
    #siteNav li:hover, #siteNav li.sfhover {background:none}    
    #siteNav li ul{position:relative;left:auto;width:auto}
    * html #siteNav li ul,#siteNav li li{width:auto}
    #siteNav a{border-bottom:1px dotted #0460B3;color:#000;padding:4px 0 4px 10px}
    #siteNav ul ul a{padding-left:25px;font-size:.95em}
    #siteNav li ul ul{margin:0;font-size:.95em}
    #siteNav li:hover ul ul,#siteNav li:hover ul ul ul,#siteNav li.sfhover ul ul,#siteNav li.sfhover ul ul ul{left:auto}
    #siteNav ul ul ul a{font-size:1em;padding-left:50px}
    #siteNav a:hover,#siteNav a:focus{color:#4D4D4D;background:#E2E6E9}
    #siteNav ul ul a{color:#555}
    #siteNav .main-node{font-weight:bold;font-variant:small-caps;letter-spacing:1px;font-size:1.1em}
    #siteNav a.main-node:hover{text-decoration:underline;background:none}
    #siteNav .active{color:#0460B3;font-weight:bold;border-color:#0460B3}
    #main-wrapper{padding:0 10px}
    #header,#emptyHeader{background-position:0 -54px;padding:4px 0 0 10px;height:49px;font-size:1em}
    #nodeTitle{position:absolute;top:1px;left:10px;margin:20px 10px 0 0;font-size:1.4em}
    #header{text-align:right;padding-right:10px}
    #bottomPagination{padding:0 10px}
    #siteFooter{padding-left:10px}
    #content .exe-col{float:none;width:100%;padding:0}
    iframe,object,embed{max-width:100%}
    img,video{max-width:100%;height:auto}
    .pagination{text-align:center;height:35px;position:relative}
    .pagination .prev{position:absolute;left:0}
    .pagination .next{position:absolute;right:0}
    #nav-toggler{position:relative;top:0;left:0;margin:10px 10px 5px 10px;text-align:center;display:block}
    #nav-toggler a{width:100%;display:block;padding:4px 0}
}