#gameQEIdeviceForm {
	margin-top: 2em;
}

#gameQEIdeviceForm input[type="number"] {
	width: 3em;
}

#gameQEIdeviceForm label {
	margin-right: 0.2em;

}

#gameQEIdeviceForm .MQE-FieldPanel label{
	white-space: nowrap;
}

#gameQEIdeviceForm input[type="radio"], #gameQEIdeviceForm input[type="checkbox"], #gameQEIdeviceForm input[type="button"] {
	cursor: pointer;
}

/*Panel preguntas */


.MQE-EMultimedias {
	width: 100%;
	position: relative;
}
.MQE-EPanel {
	margin: 0.3em auto;
	padding: 0;
	width: 100%;
	position: relative;
}
.MQE-EPanelP {
	margin: 0.3em auto;
	padding: 0;
	width: 100%;
	position: relative;
	background-color: white;
}




.MQE-EMediaContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}


.MQE-EPointContainer, .MQE-ESlideContainer {
	z-index: 1000;
	cursor: pointer;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
}



.MQE-EMultimedia {
	background-color: #fff;
	border-radius: .5em;
	height: 515px;
	position: relative;
	width: 800px;
	border-radius: 0.3em;
}

.MQE-EPointMultimedia, .MQE-ESlideMultimedia {
	padding: 0.6em 1em;
	background-color: white;
	border-radius: 0.5em;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
	width: 50%;
	min-width: 580px;
}

.MQE-EPointMultimedia input[type=text] {
	margin-right: 0.3em;
}

.MQE-EPanel p {
	margin: 0.5em auto;
}
.MQE-EPanelP p {
	margin: 0.5em auto;
}


#mapaEPointInputOptionsVideo input[type=text] {
	width: 6em;
	min-width: 6em;
}

.MQE-PointImageContainer {
	border-radius: 0.6em;
	margin: 0.3em auto;
	position: relative;
	width: 560px;
	height: 315px;
}

.MQE-ECursorPoint {
	display: none;
	left: 0;
	top: 0;
	position: absolute;
	width: 1.7em;
	height:1.7em;
	background-image: url(mapam0.svg);
	background-size: 100% 100%;

}


.MQE-EImage, .MQE-EProtector {
	position: absolute;
	display: none;
	border-radius: 0.3em;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.MQE-EImageCover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.3em;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.MQE-EProtector {
	z-index: 110;
	background-color: rgba(255, 255, 255, 0.01);
}

.MQE-EArea {
	position: absolute;
	z-index: 99;
	background-color: rgba(255, 0, 0, 0.4);
	display: none;
}
.MQE-CloseDetail{
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	min-width: 100px;

}
.MQE-CloseDetail a {
	display: block;
	height: 1.5em;
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.MQE-EFlex {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	min-width: 100px;
	width: 100%;
}

.MQE-EFlexN {
	padding-left: 0.3em;
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.MQE-IconType{
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
.MQE-EIconPoint {
	background-image: url(mapam0.svg);
	background-size: 100% 100%;
	height: 1.3em;
	width: 1.3em;
	margin-left: 0.5em;
}

.MQE-EFlexSolution {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0.5em auto;
}

.MQE-EFlexN span {
	display: inline-block;
	margin-left: 0.3em;
}

.MQE-EFlex input[type=text] {
	flex-flow: 1;
	min-width: 100px;
	width: 100%;
}

.MQE-EText {
	width: 100%;
}

.MQE-NumberPoint {
	font-weight: bold;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
	width: 2em;
}

.MQE-EditPointsMap{
	font-size: 1.1em;
	display: none;
}
/* Opciones audio */

.MQE-EInputAudio {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.MQE-EInputAudio input[type=text] {
	flex-flow: 1;
	min-width: 100px;
	width: 100%;
}

.MQE-EInputAudio input[type=button] {
	flex-shrink: 0;
}

/*Numero Preguntas */
#mapaFQuestions{
	position: relative;

}
.MQE-ENumQuestionDiv {
	align-items: center;
	display: flex;
	height: 1.5em;
	justify-content: center;
	position: absolute;
	right: 0;
	bottom: 0.5em;
	width: 3em;
	z-index: 3;
}

.MQE-ENumQ {
	background-image: url(quextIENumber.png);
	background-size: 100% 100%;
	display: inline-block;
	height: 1.5em;
	margin-right: 0px;
	width: 1.5em;
}

.MQE-ENumQuestions {
	font-weight: bold;
	height: 1.5em;
	text-align: center;
	width: 2em;
}

/* barra edición */

.MQE-ENavigationButtons {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 1em;
	width: 100%;
}

.MQE-ENavigationButton {
	width: 1.5em;
	height: 1.5em;
	background-size: 100% 100%;
	margin: 0.3em;
}
.MQE-EActivo {
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	-webkit-filter: drop-shadow(.12em .12em .12em rgba(0, 0, 0, 0.5));
	-webkit-transition: transform 0.3s;
	cursor: pointer;
	filter: drop-shadow(.12em .12em .12em rgba(0, 0, 0, 0.5));
	transition: transform 0.3s;
}

.MQE-CloseDetail:hover .MQE-EActivo, .MQE-EActivo:hover {
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


a.MQE-Add {
	background-image: url(quextIEAdd.png);
}

a.MQE-First {
	background-image: url(quextIEFirst.png);
}

a.MQE-Previous {
	background-image: url(quextIEPrev.png);
}

a.MQE-Next {
	background-image: url(quextIENext.png);
}

a.MQE-Last {
	background-image: url(quextIELast.png);
}

a.MQE-Delete {
	background-image: url(quextIEDelete.png);
}

a.MQE-Copy {
	background-image: url(quextIECopy.png);
}

a.MQE-Cut {
	background-image: url(quextIECut.png);
}

a.MQE-Paste {
	background-image: url(quextIEPaste.png);
}

a.MQE-Play {
	background-image: url(quextIEPlay.png);
}
a.MQE-Close{
	background-image: url(mapacerrarventana.svg);
}

a.MQE-More {
	background-image: url(quextEIMore.png);
}

.MQE-EActivo {
	transition: all .3s ease-in-out;

}

.MQE-EButtonImage:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.MQE-NumberQuestion {
	font-weight: bold;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
	width: 2em;
}

/* Video introdución */

.MQE-EVIDiv {
	background-color: #f9f9f9;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20000;
}

/* Video introdución */

.MQE-EVIV {
	width: 100%;
}

.MQE-EMVI {
	height: 315px;
	margin: 70px auto;
	position: relative;
	width: 560px;
}

.MQE-EVI, .MQE-ENoVI {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.MQE-EVIOptions {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 50px;
	justify-content: flex-start;
	position: absolute;
	width: 100%;
}

.MQE-EVIOptions * {
	margin-left: 0.3em;
}

.MQE-EVIOptions input[type=text] {
	text-align: left;
	width: 5em;
}

.MQE-EVIOptions input[type=text]:first-of-type {
	width: 15em;
}

.MQE-EVideoIntroDiv {
	border-radius: 10px;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 98%;
	z-index: 20000;
}

.MQE-EVIClose {
	position: absolute;
	right: 0.3em;
	top: 0.3em;
}

.MQE-EVIOptionsVQ {
	margin-bottom: 0.6em;
}

.MQE-EVIOptionsVQ input[type=text] {
	text-align: left;
	width: 5em;
}

.MQE-EVIOptionsVQ #mapaVIURL {
	width: 15em;
}

.MQE-EHide {
	display: none;
}

/* To review */

#MQE-IdeviceForm .exe-block-info img {
	margin-left: .2em;
	vertical-align: middle;
}

#MQE-IdeviceFormTab3 * {
	font-size: 0.9em;
}

#MQE-IdeviceFormTab3 p:first-child {
	margin-top: 0;
}

#MQE-IdeviceFormTab3 {
	overflow: auto;
}

#MQE-IdeviceFormTab3 .ci18n {
	float: left;
	width: 50%;
}

@media screen and (max-width:720px) {
	#MQE-IdeviceForm #MQE-IdeviceFormTab3 .ci18n {
		float: none;
		width: 100%;
	}
}

#MQE-IdeviceForm #MQE-IdeviceFormTab3 label {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: .2em;
}

#MQE-IdeviceForm #MQE-IdeviceFormTab3 input {
	font-size: 0.9em;
	width: 300px;
}

/* Tabs (this should be common) */

.exe-form-tabs {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}

#main .exe-form-tabs li {
	display: inline;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.exe-form-tabs li:first-child a {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.exe-form-tabs li:last-child a {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.exe-form-tabs a {
	background: #F9F9F9;
	border: 1px solid #CCC;
	color: #666;
	display: inline-block;
	padding: .5em 1em;
}

.exe-form-tabs li:not(:last-child) a {
	border-right: none;
}

.exe-form-tabs .exe-form-active-tab {
	background: #FFF;
	color: #000;
	font-weight: 500;
}

#MQE-SCORMoptions {
	margin-left: 1.5em;
	visibility: hidden;
}

label[for=MQE-ActivitySCORM] {
	font-weight: bold;
}

#MQE-SCORMinstructionsButton {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}

#MQE-SCORMinstructionsButton ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}

#MQE-SCORMinstructionsButton ul li {
	list-style-image: none;
	margin: 0 0 .5em 0;
	padding: 0;
}

#MQE-SCORMinstructionsAuto {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}

#MQE-SCORMinstructionsAuto ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}

.GameModeHelpLink {
	margin: 0 2px;
	vertical-align: middle;
}

.GameModeLabel {
	font-weight: normal
}

.MQE-EOrders {
	margin-top: 0.5em;
	display: none;
}

.MQE-EOrders>div {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	;
}

.MQE-EOrders>div {
	align-items: left;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-bottom: 0.5em;
}

.MQE-EOrders>div * {
	margin-right: .2em;
}

.MQE-EOrders input[type=text] {
	width: 100%;
}


.MQE-EHit {
	background-image: url(quextIEHit.png);
	background-size: 100% 100%;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
}

.MQE-EError {
	background-image: url(quextIEError.png);
	background-size: 100% 100%;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
}


.MQE-FieldPanel{
	position: relative;
}
.MQE-Cubierta {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
	left: 0;
    z-index: 10;
	background-color: rgb(255, 255, 255, .7);
	display: flex;
	justify-content: center;
	align-items: center;
}
/*Preguntas*/

.MQE-EQuestionDiv {
	margin-bottom: .3em;
	width: 100%;
}

.MQE-EQuestion {
	width: 98%;
}



.MQE-EAnswers {
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

.MQE-EOptionDiv {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	margin: 3px 0;
	min-height: 35px;
	width: 49%;
}

.MQE-EAnwersOptions {
	width: 100%;
}

.MQE-SolutionWordDiv {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: .5em auto;
	width: 100%;
}

.MQE-ESolutionWord {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-bottom: 0.5em;
	width: 100%;
}

.MQE-ESolutionWord label {
	display: inline-block;
	width: 11em;
	text-align: right;
	padding-right: .5em
}

#mapaESolutionWord, #mapaEDefinitionWord {
	width: 100%;
}

.MQE-SolutionWordDiv input {
	text-align: left;
}

/* Ocutar elementos */

.MQE-DP, .MQE-ESolutionSelect label {
	display: none;
}

.MQE-PointMap{
	position: absolute;
	background-color: white;
	top:0;
	left: 0;
	margin: 0 auto;

}
/* Especificos del juego  selecciona*/

.MQE-ESolutionSelect {
	margin-bottom: 0.5em;
}

.MQE-ESolutionSelect input[type=number] {
	margin: auto 0.2em;
}

#gameQEIdeviceForm .gameQE-EOptionDiv label {
	margin-right: 0.2em;
}

.gameQE-ESolutionSelect input[type=number], .gameQE-ESolutionSelect label {
	display: none;
}

/* To review */

#gameQEIdeviceForm .exe-block-info img {
	margin-left: .2em;
	vertical-align: middle;
}

#gameQEIdeviceFormTab3 * {
	font-size: 0.9em;
}

#gameQEIdeviceFormTab3 p:first-child {
	margin-top: 0;
}

#gameQEIdeviceFormTab3 {
	overflow: auto;
}

#gameQEIdeviceFormTab3 .ci18n {
	float: left;
	width: 50%;
}

@media screen and (max-width:720px) {
	#gameQEIdeviceForm #gameQEIdeviceFormTab3 .ci18n {
		float: none;
		width: 100%;
	}
}

#gameQEIdeviceForm #gameQEIdeviceFormTab3 label {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: .2em;
}

#gameQEIdeviceForm #gameQEIdeviceFormTab3 input {
	font-size: 0.9em;
	width: 300px;
}

/* Tabs (this should be common) */

.exe-form-tabs {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}

#main .exe-form-tabs li {
	display: inline;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.exe-form-tabs li:first-child a {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.exe-form-tabs li:last-child a {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.exe-form-tabs a {
	background: #F9F9F9;
	border: 1px solid #CCC;
	color: #666;
	display: inline-block;
	padding: .5em 1em;
}

.exe-form-tabs li:not(:last-child) a {
	border-right: none;
}

.exe-form-tabs .exe-form-active-tab {
	background: #FFF;
	color: #000;
	font-weight: 500;
}

#gameQESCORMoptions {
	margin-left: 1.5em;
	visibility: hidden;
}

label[for=gameQEActivitySCORM] {
	font-weight: bold;
}

#gameQESCORMinstructionsButton {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsButton ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}

#gameQESCORMinstructionsButton ul li {
	list-style-image: none;
	margin: 0 0 .5em 0;
	padding: 0;
}

#gameQESCORMinstructionsAuto {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsAuto ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}

.GameModeHelpLink {
	margin: 0 2px;
	vertical-align: middle;
}

.GameModeLabel {
	font-weight: normal
}