<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>eXe Learning</title>
    <nevow:invisible nevow:render="liveid"/>
    <nevow:invisible nevow:render="liveglue"/>
    <link rel="stylesheet" type="text/css" href="../jsui/extjs/resources/css/ext-all-gray.css"/>
    <script type="text/javascript" src="../jsui/extjs/ext-all-debug.js"></script>
    <script nevow:render="lang" type="text/javascript" src="../jsui/i18n/en.js"></script>
    <script type="text/javascript" src="../jsui/exe.js"></script>
</head>
<body>
	<iframe nevow:render="prePath" width="100%" height="100%" name="authoringIFrame1" id="authoringIFrame" src="authoring"/>
</body>
</html>