<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>eXe Learning</title>
    <link rel="shortcut icon" type="image/" href="images/eXe_icon.ico" />
    <nevow:invisible nevow:render="liveid"/>
    <nevow:invisible nevow:render="liveglue"/>
    <nevow:invisible nevow:render="authoring_src"/>
    <link rel="stylesheet" type="text/css" href="../jsui/exe.css"/>
    <link rel="stylesheet" type="text/css" href="../jsui/extjs/resources/css/ext-all-gray.css"/>
    <script type="text/javascript" src="../jsui/extjs/ext-all-debug.js"></script>
    <script nevow:render="extjslang" type="text/javascript" src="../jsui/extjs/locale/ext-lang-en.js"></script>
    <script nevow:render="jsuilang" type="text/javascript" src="../jsui/i18n/en.js"></script>
    <script type="text/javascript" src="../jsui/exe.js"></script>
    <script type="text/javascript" src="../jsui/langs.js"></script>
    <nevow:invisible nevow:render="lastdir"/>
</head>
<body>
	<div id="loading-mask"></div>
	<div id="loading">
	  <div class="loading-indicator">
	  </div>
	  <p>eXe Learning Authoring</p>
	  <nevow:invisible nevow:render="version"/>
	</div>
</body>
</html>