.CTJP-MainContainer a,
.CTJP-MainContainer a:visited,
.CTJP-MainContainer a:focus {
	border: 0;
	border-bottom: none;
	border-width: 0;
	text-decoration: none;
}

/* Contenedor */

.CTJP-MainContainer {
	margin: 1em auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CTJP-Message {
	width: 100%;
}

.CTJP-MainContainer * {
	box-sizing: border-box;
}

.CTJP-MainContainer p {
	margin: 0;
	padding: 0;
}

.CTJP-GameContainer {
	width: 100%;
	max-width: 850px;
}

.CTJP-List {
	margin-top: 2em;
	width: 100%;
	background-color: #fff;
	border-radius: 0.3em;
	padding: 1.4em 1em 2em 1em;
	border: 1px solid #ccc;

}

.CTJP-List * {
	background-color: #fff !important;
}

.CTJP-Capture {
	display: flex;
	justify-content: flex-end;
	margin: 1em 0 2em 0;
	width: 100%;
}

.CTJP-Capture a {
	background-color: #007691;
	color: white;
	margin-left: 0.3em;
	padding: 0.3em 0.4em;
	border-radius: 3px;
	text-decoration: none;

}


.CTJP-Header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
	margin-bottom: 1.3em;
	margin-bottom: 2em;
}

.CTJP-Footer {
	width: 100%;
	text-align: center;
	margin-top: 3em;
	color: #071717;
}

.CTJP-Images {
	position: relative;
	width: 200px;
	height: 100px;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
}

.CTJP-ImgDecorative {
	position: relative;
	width: 250px;
	height: 250px;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 1em;
	right: 1em
}


.CTJP-Title {
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	font-weight: 900;
	color: #4A86E8;
	margin-bottom: .3em;
}

.CTJP-SubTitle {
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	color: #071717;

}

.CTJP-Line {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 2em;
	font-weight: bold;
	color: #071717;

}

.CTJP-Data {
	padding-top: 2em;
	width: 100%;
	position: relative;
	min-height: 300px;
}

.CTJP-Icon {
	width: 250px;
	position: absolute;
	top: 2em;
	right: 1em;

}

.CTJP-Counters {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 4px
}

.CTJP-Items {
	width: 100%;
	margin-bottom: .8em;
	text-align: left;
}

.CTJP-Item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.1em;
	margin-bottom: 0.6em;
	font-size: 1em;
}

.CTJP-Points {
	margin: left 5px;
	font-weight: 600px;
	color: #01343f
}

.CTJP-Item * {
	font-size: 1em !important;
}

.CTJP-Item select {
	margin-right: 0.15em;
	cursor: pointer;
}

.CTJP-Item input[type=checkbox] {
	cursor: pointer;
}

.CTJP-Item input[type=text] {
	margin-left: 0.15em;
	cursor: pointer;

}

.CTJP-UserData {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0;
	gap: 1em;
	min-width: 350px;
}

.CTJP-UserData>div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.15em;

	flex-wrap: wrap;
}

.CTJP-UserName {
	flex-grow: 1;
	width: 50%;
}

.CTJP-UserDate {
	flex-grow: 0;
	justify-content: flex-end;
	flex-wrap: nowrap;
}

.CTJP-UserDate label {
	display: block;
}

.CTJP-UserDate input {
	flex-grow: 0;
	min-width: 40px;
	max-width: 150px;
	border: none;
	border-bottom: 1px dotted #333;
}

.CTJP-UserName input {
	flex-grow: 1;
	min-width: 150px;
	border: none;
	border-bottom: 1px dotted #333;
}

.CTJP-Item {
	align-items: flex-start;
}

.CTJP-MainContainer .CTJP-Item span {
	background-color: transparent !important;
}

.CTJP-MainContainer .CTJP-List .CTJP-Item:hover {
	background-color: #c2d9e6 !important;
}

.CTJP-Item input[type="checkbox"] {
	margin-top: 8px;
}

.CTJP-Item input {
	background-color: transparent !important;
}

.CTJP-Item select {
	background-color: transparent !important;
}

.CTJP-Points {
	white-space: nowrap;
}

@media screen and (max-width: 1000px) {
	.CTJP-ImgDecorative {
		display: none;
	}
}