.ui-dialog .ui-dialog-titlebar {
padding: .1em 1em;
}

.ui-dialog .ui-dialog-content {
padding: 0em 0em;
}
.ui-dialog-content {
	overflow:hidden !IMPORTANT;
}

.ui-accordion-header {
	padding-right:0px !IMPORTANT;
	padding-top:0px !IMPORTANT;
	padding-bottom:0px !IMPORTANT;
}

.ui-accordion 
.ui-accordion-content{
	padding:0px !IMPORTANT;
}

.ui-button-text-only .ui-button-text{
	padding: .1em 1em;
}

#propertyPanel{
	font-size: 0.8em !IMPORTANT;
	overflow:scroll;
}
.margin-top2px{
	margin-top:2px;
}

.menuGroup{
	margin-left:3px;
	display:inline;
}

.menuFonts{
	font-size:70% !IMPORTANT;
	vertical-align:top;
	margin:1px;
}
.buttonImg{
	margin:1px;
	padding:1px;
	border-left:1px solid transparent;
	border-top:1px solid transparent;
	border-bottom:0px;
	border-right:0px;
	position: relative;
}
.buttonHover{
	top:0px;
	left:0px;
}
.buttonHover:hover{
	top:-1px;
	left:-1px;
}

.notPressed{
	border-left:0px;
	border-top:0px;
	border-bottom:1px solid #888;
	border-right:1px solid #888;
	background-color:transparent;
}
.pressed{
	border-bottom:0px;
	border-right:0px;
	border-left:1px solid #888;
	border-top:1px solid #888;
	background-color:#ccc;
}
.table-space0px{
	padding:0; 
	margin:0;
	border:1px;
}

.propName{
	padding:0px; 
	margin:2px 2px;
	font-weight:bold;
	white-space:nowrap;
}

.input1{
	width: 70px;
	height: 12px;
	font-size:90% !IMPORTANT;
}
.input11{
	height: 14px;
	vertical-align:middle;
}
.input2{
	width: 74px;
	font-size:90% !IMPORTANT;
}
.input3{
	width: 176px;
}

.fontSize90{
	font-size:90% !IMPORTANT;
}
.fontSize80{
	font-size:80% !IMPORTANT;
}

.alignR{
    	float: right;
    	text-align:right;
}
.noBorder{
    	border: 0px !IMPORTANT;
}
.clickable { cursor: pointer; }

img.disabled {
/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 5-7 */
  filter: alpha(opacity=40);
  /* Netscape */
  -moz-opacity: 0.4;
  /* Safari 1.x */
  -khtml-opacity: 0.4;
  /* Good browsers */
  opacity: 0.4;
}