/* Generic */
body {
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDDDDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
background:#F0F0EE;
padding:0;
margin:8px 8px 0 8px;
}

html {background:#F0F0EE;}
.fields {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}
textarea {resize:none;outline:none;overflow:auto}
a img{border:none}
a:link, a:visited {color:black;}
a:hover {color:#2B6FB6;}
.nowrap {white-space: nowrap}
h1,.scr-av{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}
h3{font-size:1.1em}

/* Forms */
fieldset {margin:5px 0; padding:4px; border:1px solid #919B9C; font-family:Verdana, Arial; font-size:10px;width:602px}
legend {color:#2B6FB6; font-weight:bold;}
label.msg {display:none;}
label.invalid {color:#EE0000; display:inline;}
input.invalid {border:1px solid #EE0000;}
input {background:#FFF; border:1px solid #CCC;}
/*input.color{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}*/
input.large{width:150px}
input, select, textarea {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}
input, select, textarea {border:1px solid #808080;}
#fontFamily{width:230px}
input.radio {border:1px none #000000; background:transparent; vertical-align:middle;}
input.checkbox {border:1px none #000000; background:transparent; vertical-align:middle;margin-right:.2em}
.input_noborder {border:0}
.font-family{width:230px}

textarea{width:500px;height:238px;display:block;margin-top:.3em;padding:2px}
#css textarea{height:100px}
p{width:602px;margin:10px 0}
.fields .info{margin:.3em 0 5px 0;color:#666}

.field{margin:1px 0 5px 0}
.field label{float:left;display:block;text-align:right;padding-right:5px}
.col{float:left;padding-right:20px}
#navigationOptions .col,#otherNavOptions .col{padding-right:10px}
#navigationOptions .col label,#otherNavOptions .col label{width:11.5em}
#general .field label{width:105px}
#header .field label{width:105px}
#menu .field label{width:130px}
#idevices .field label{width:105px}
#menu .general label{width:100px}
#portlets .field label{width:100px}
#footer .field label{width:95px}
#breadcrumbsOptions{margin:5px 0 0 20px}
#breadcrumbsOptions .field label{width:90px}
p.checkbox{margin-top:5px}
#header .checkbox label,#menu .checkbox label,#general .checkbox label{width:auto;margin-bottom:5px;margin-right:10px}
#portlets .checkbox label{width:auto;margin-bottom:5px;margin-right:10px}
#contents .field label{width:101px}
#tables .field label{width:130px}

/* Buttons */
#save, #preview, input.button, #restore {
border:0; margin:0; padding:0;
font-weight:bold;
width:94px; height:26px;
background:url(../images/default/buttons.png) 0 -26px;
cursor:pointer;
padding-bottom:2px;
}

#save {background:url(../images/default/buttons.png) 0 -52px;}
#restore {background:url(../images/default/buttons.png) 0 0;}

.mceActionPanel {margin-top:5px;text-align:right}
.mceActionPanel input{margin-left:5px}

/* Tabs classes */
.tabs {width:100%; height:18px; line-height:normal; background:url(../images/default/tabs.gif) repeat-x 0 -72px;}
.tabs ul {margin:0; padding:0; list-style:none;}
.tabs li {float:left; background:url(../images/default/tabs.gif) no-repeat 0 0; margin:0 2px 0 0; padding:0 0 0 9px; line-height:17px; height:18px; display:block;}
.tabs li.current {background:url(../images/default/tabs.gif) no-repeat 0 -18px; margin-right:2px;}
.tabs span {float:left; display:block; background:url(../images/default/tabs.gif) no-repeat right -36px; padding:0px 9px 0 0;}
.tabs .current span {background:url(../images/default/tabs.gif) no-repeat right -54px;}
.tabs a {text-decoration:none; font-family:Verdana, Arial; font-size:10px;}
.tabs a:link, .tabs a:visited, .tabs a:hover {color:black;}

/* Panels */
.panel{height:420px;padding:10px}
.panel_wrapper{position:relative}
#css-warning{position:absolute;bottom:10px;color:#555;margin:0 10px;font-size:10px}
.panel_wrapper div.panel {display:none;}
.panel_wrapper div.current {display:block;width:100%}
.panel_wrapper {border:1px solid #919B9C;border-top:0px;clear:both;background:#fff}
#help{overflow:auto}
#help ul{padding-left:15px}

.autoclear:after,.normal .field:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.autoclear,.field{display:block}
/* Hides from IE-mac \*/
* html .autoclear,* html .field{height:1%}
.autoclear,.field{display:block}
/* End hide from IE-mac */

.jPicker .Icon{display:inline-block;height:18px;position:relative;text-align:left;width:18px;vertical-align:top}.jPicker .Icon span.Color,.jPicker .Icon span.Alpha{background-position:2px 2px;display:block;height:100%;left:0;position:absolute;top:0;width:100%}.jPicker .Icon span.Image{background-repeat:no-repeat;cursor:pointer;display:block;height:100%;left:0;position:absolute;top:0;width:100%}.jPicker.Container{color:#000;z-index:10}table.jPicker{background-color:#efefef;border:1px outset #666;font-family:Arial,Helvetica,Sans-Serif;font-size:12px!important;margin:30px 0 0 11px;padding:5px;width:545px;z-index:20}.jPicker .Move{background-color:#ddd;border-color:#fff #666 #666 #fff;border-style:solid;border-width:1px;cursor:move;height:12px;padding:0}.jPicker .Title{font-size:11px!important;font-weight:bold;margin:-2px 0 0 0;padding:10px 0 0 0;text-align:center;width:100%}.jPicker div.Map{border-bottom:2px solid #fff;border-left:2px solid #9a9a9a;border-right:2px solid #fff;border-top:2px solid #9a9a9a;cursor:crosshair;height:260px;margin:0 10px 10px 10px;overflow:hidden;padding:0;position:relative;width:260px}.jPicker div[class="Map"]{height:256px;width:256px}.jPicker div.Bar{border-bottom:2px solid #fff;border-left:2px solid #9a9a9a;border-right:2px solid #fff;border-top:2px solid #9a9a9a;cursor:n-resize;height:260px;margin:12px 10px 0 5px;overflow:hidden;padding:0;position:relative;width:24px}.jPicker div[class="Bar"]{height:256px;width:20px}.jPicker .Map .Map1,.jPicker .Map .Map2,.jPicker .Map .Map3,.jPicker .Bar .Map1,.jPicker .Bar .Map2,.jPicker .Bar .Map3,.jPicker .Bar .Map4,.jPicker .Bar .Map5,.jPicker .Bar .Map6{background-color:transparent;background-image:none;display:block;left:0;position:absolute;top:0}.jPicker .Map .Map1,.jPicker .Map .Map2,.jPicker .Map .Map3{height:2596px;width:256px}.jPicker .Bar .Map1,.jPicker .Bar .Map2,.jPicker .Bar .Map3,.jPicker .Bar .Map4{height:3896px;width:20px}.jPicker .Bar .Map5,.jPicker .Bar .Map6{height:256px;width:20px}.jPicker .Map .Map1,.jPicker .Map .Map2,.jPicker .Bar .Map6{background-repeat:no-repeat}.jPicker .Map .Map3,.jPicker .Bar .Map5{background-repeat:repeat}.jPicker .Bar .Map1,.jPicker .Bar .Map2,.jPicker .Bar .Map3,.jPicker .Bar .Map4{background-repeat:repeat-x}.jPicker .Map .Arrow{display:block;position:absolute}.jPicker .Bar .Arrow{display:block;left:0;position:absolute}.jPicker .Preview{font-size:9px;padding:5px 0 0 0;text-align:center}.jPicker .Preview div{border:2px inset #eee;height:62px;margin:0 auto;padding:0;width:62px}.jPicker .Preview div span{border:1px solid #000;display:block;height:30px;margin:0 auto;padding:0;width:60px}.jPicker .Preview .Active{border-bottom-width:0}.jPicker .Preview .Current{border-top-width:0;cursor:pointer}.jPicker input{font-size:10px}.jPicker .Button{text-align:center;padding:0 4px;width:115px}.jPicker .Button input{padding:2px 0;width:100px}.jPicker .Button .Ok{margin:12px 0 5px 0}.jPicker td{margin:0;padding:0}.jPicker td.Radio{margin:0;padding:0;width:31px}.jPicker td.Radio input{margin:0 5px 0 0;padding:0}.jPicker td.Text{font-size:12px!important;height:22px;margin:0;padding:0;text-align:left;width:70px}.jPicker tr.Hex td.Text{width:100px}.jPicker td.Text input{background-color:#fff;border:1px inset #aaa;height:19px;margin:0 0 0 5px;text-align:left;width:30px}.jPicker td[class="Text"] input{height:15px}.jPicker tr.Hex td.Text input.Hex{width:50px}.jPicker tr.Hex td.Text input.AHex{width:20px}.jPicker .Grid{text-align:center;width:114px}.jPicker .Grid span.QuickColor{border:1px inset #aaa;cursor:pointer;display:inline-block;height:15px;line-height:15px;margin:0;padding:0;width:19px}.jPicker .Grid span[class="QuickColor"]{width:17px}
@media all 
{
	#jPicker { margin: 0px 8px; text-align: left; }
	#jPicker ul { font-size: 15px; margin: 0px 0px 0px 15px; padding: 0px; }
	#jPicker ul li { list-style: disc; padding: 2px 0px; }
	#jPicker ul li ul { margin-bottom: 10px; }
	#jPicker ul li ul li { list-style: circle; }
	#jPicker p { font-size: 13px; padding: 0px 10px; }
	#jPicker hr { clear: both; }
	#jPicker h2.jPicker { font-size: 16px; padding: 20px 10px; }
	#jPicker code { color: #8bd; font-size: 14px; font-weight: bold; }
	#jPicker pre { background: #eee; border: 1px solid #000; color: #000; display: block; font-size: 11px; margin: 10px 5px; padding: 5px; }
	#jPicker span { font-size: 13px; text-align: center; }
	#jPicker a { color: #ff8050; }
	#jPicker input { font-size: 13px; padding: 2px 5px; }
	#jPicker h2 { font-size: 16px; margin: 10px 0px; }
}

/* jPicker fixes */
table.jPicker{margin-top:69px;margin-left:48px}
.jPicker .Move{display:none}
.jPicker.Container{width:100%;height:100%;background:rgba(240,240,238,.8)}

.radios{margin:.5em 0 .5em .5em}
.radios span{display:block;margin-top:.5em}
.radios label{margin-left:1em}

.debug-off #content-css-tab,.debug-off #nav-css-tab{display:none}