/* Reset ext-all-gray.css */
#cssWizard,.jPicker{font-size: 11px;line-height:1.5em;font-family: Verdana, Arial, Helvetica, sans-serif}
#cssWizard .panel{height:440px}
#cssWizard fieldset{padding:4px 9px}
#content-css fieldset,#nav-css fieldset{padding-bottom:1em}
#cssWizard legend{padding:0 4px}
#cssWizard p.checkbox{margin-left:4px}
.jPicker .Grid{margin-bottom:10px}
tr.Hex input.Hex{margin-bottom:10px}
.jPicker .Grid span.QuickColor{height:19px!important;width:19px!important}
.x-mask {filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);opacity:0.85}
/* Generic */
body {
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDDDDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
background:#F0F0EE;
padding:0;
margin:8px 8px 0 8px;
}
/* Activity indicator */
.sending-form{background:#fff url(../images/loading.gif) no-repeat 50% 50%}
.sending-form #cssWizard *{visibility:hidden!important}

html {background:#F0F0EE;}
.fields {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}
textarea {resize:none;outline:none;overflow:auto}
a img{border:none}
a:link, a:visited {color:black;}
a:hover {color:#2B6FB6;}
.nowrap {white-space: nowrap}
.scr-av{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}
h3{font-size:1.1em}

/* Forms */
fieldset {margin:5px 0; padding:4px; border:1px solid #919B9C; font-family:Verdana, Arial; font-size:10px;width:602px}
legend {color:#2B6FB6; font-weight:bold;}
label.msg {display:none;}
label.invalid {color:#EE0000; display:inline;}
input.invalid {border:1px solid #EE0000;}
input {background:#FFF; border:1px solid #CCC;}
/*input.color{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}*/
input.large{width:150px}
input, select, textarea {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}
input, select, textarea {border:1px solid #808080;}
#fontFamily{width:230px}
input.radio {border:1px none #000000; background:transparent; vertical-align:middle;}
input.checkbox {border:1px none #000000; background:transparent; vertical-align:middle;margin-right:.2em}
.input_noborder {border:0}
.font-family{width:230px}

textarea{width:500px;height:238px;display:block;margin-top:.3em;padding:2px}
#css textarea{height:100px}
p{width:602px;margin:10px 0}
.fields .info{margin:.3em 0 5px 0;color:#666}

#info textarea{height:40px;margin-bottom:10px}
#info input{width:160px}
#license{border:0;font-weight:bold}
#info a{margin-right:.5em}
#info .autoclear{margin:10px 0}
#info .col{width:40%;float:left;padding:0}
#info .col label{margin-right:5px}
#info .info{margin-top:-5px}

.field{margin:1px 0 5px 0}
.field label{float:left;display:block;text-align:right;padding-right:5px}
.col{float:left;padding-right:20px}
#navigationOptions .col,#otherNavOptions .col{padding-right:10px}
#navigationOptions .col label,#otherNavOptions .col label{width:15em}
#general .field label{width:105px}
#header .field label{width:105px}
#menu .field label{width:130px}
#idevices .field label{width:105px}
#page .field label{width:95px}
#menu .general label{width:100px}
#portlets .field label{width:100px}
#footer .field label{width:95px}
#breadcrumbsOptions{margin:5px 0 0 20px}
#breadcrumbsOptions .field label{width:90px}
p.checkbox{margin-top:5px}
#header .checkbox label,#menu .checkbox label,#general .checkbox label{width:auto;margin-bottom:5px;margin-right:10px}
#portlets .checkbox label{width:auto;margin-bottom:5px;margin-right:10px}
#contents .field label{width:101px}
#tables .field label{width:130px}

/* Buttons */
.mceActionPanel input {
border:0; margin:0; padding:0;
font-weight:bold;
width:104px; height:26px;
background:url(../images/default/buttons.png) 0 -26px;
cursor:pointer;
padding-bottom:2px;
}

#save {background:url(../images/default/buttons.png) 0 -52px;}
#restore {background:url(../images/default/buttons.png) 0 0;}

.mceActionPanel {margin-top:5px;text-align:right}
.mceActionPanel input{margin-left:5px}

/* Tabs classes */
.tabs {width:100%; height:18px; line-height:normal; background:url(../images/default/tabs.gif) repeat-x 0 -72px;}
.tabs ul {margin:0; padding:0; list-style:none;}
.tabs li {float:left; background:url(../images/default/tabs.gif) no-repeat 0 0; margin:0 2px 0 0; padding:0 0 0 9px; line-height:17px; height:18px; display:block;}
.tabs li.current {background:url(../images/default/tabs.gif) no-repeat 0 -18px; margin-right:2px;}
.tabs span {float:left; display:block; background:url(../images/default/tabs.gif) no-repeat right -36px; padding:0px 9px 0 0;}
.tabs .current span {background:url(../images/default/tabs.gif) no-repeat right -54px;}
.tabs a {text-decoration:none; font-family:Verdana, Arial; font-size:10px;}
.tabs a:link, .tabs a:visited, .tabs a:hover {color:black;}

/* Panels */
.panel{height:420px;padding:10px;max-width:612px}
.panel_wrapper{position:relative}
#css-warning{position:absolute;bottom:10px;color:#555;margin:0 10px;font-size:10px}
.panel_wrapper div.panel {display:none;}
.panel_wrapper div.current {display:block;width:100%}
.panel_wrapper {border:1px solid #919B9C;border-top:0px;clear:both;background:#fff}
#help{overflow:auto}
#help ul{padding-left:15px}

.autoclear:after,.normal .field:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.autoclear,.field{display:block}
/* Hides from IE-mac \*/
* html .autoclear,* html .field{height:1%}
.autoclear,.field{display:block}
/* End hide from IE-mac */

.radios{margin:.5em 0 .5em .5em}
.radios span{display:block;margin-top:.5em}
.radios label{margin-left:1em}

.debug-off #content-css-tab,.debug-off #nav-css-tab{display:none}

/* To review */
#info .info{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#info .col-b{width:60%}