/*
===========================================================================
eXe
Copyright 2004-2005, University of Auckland
style sheet for silver theme
===========================================================================
*/

body, html {
   margin: 0px;
   padding: 0px 10px 10px 10px;
   font-family: arial, verdana, helvetica, sans-serif;
   color:#4d4d4d;
   font-size: 13px;
   background: #E0DFD8;
}

div {
   background-image:none;
   background-color:transparent;
}

html * div {
   background-image:none;
   background-color:transparent;
}

a { color: #263264;
    text-decoration: none;
}

a:hover { 
    color: #263264;
    background-color: #fff;
}

img {
    border: 0;
}


#nodeTitle { 
   color: #4d4d4d;
   font-size: 32px;
   font-weight: bold;
   display: inline;
   text-align:left;
   padding-right: 15px;
}

div#nodeDecoration {
   padding: 2px;
   border-bottom:0px;
   text-align:right;
}


/* --- iDevice Styles -- */


.emphasis0 {
    padding-left: 0px;
    padding-top: 10px;
    margin: 0px;
}

.emphasis1 {
   background-color: #FFF;
   background-image:url(idevice_bg.gif);
   background-repeat: repeat-x;
   border-bottom: 1px solid #E0DFD8;
   margin-bottom: 10px;
   text-align:left;
}

.emphasis2 {
   background-color: #E0DFD8;
   border-bottom: 3px solid #9d9d9d;
   background-image:url(body_top_bg.gif);
   background-position:top left;
   background-repeat:no-repeat;
   margin-bottom: 10px;
   text-align:left;
}


.iDevice p {
   padding-left: 0px;
   line-height: 115%
   text-align:left;
}

.iDeviceTitle {
   color: #FFF;
   font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight:bold;
   background: transparent; 
   position: relative;
   top: -18px;   /* aligns title up with middle of icon */
   display:inline;
} 

.iDevice_icon {
   margin-top: 10px;
   padding-left: 10px;
}

.iDevice li {
	list-style-position: outside;
}

p.reading_reference {
   font-style: italic;        
}

p.reading_feedback {
   border: 1px dashed #ADADAD;
   margin: 20px;
   padding: 8px;
   background-color: #FFF;
}

.iDevice_inner {
   color:#4d4d4d;
   background-color:#f2f2ef;
   padding: 10px;
   margin: 10px;
   -moz-border-radius: 8px;
}


.iDevice_inner_free {
   padding: 20px;
   padding-top: 60px;
}

.iDevice_inner_free {
   padding: 20px;
   padding-top: 60px;
}

input.feedbackbutton {
margin-top: 10px;
margin-bottom: 10px;
background: #4D4D4D;
color: #FFF;
}


/* styles for image with text iDevice */

.image_text { 
	border: 1px solid #CCC;
	background: #F9F9F9;
	padding: 4px;
	margin: 0px 20px 4px 4px;
}


/* styles for 'tips for completion' and 'pedagogical help' */

.popupDiv {
   background-color: #EDEFF0;
   border: 2px solid #607489;
   padding: 0px 4px 4px 4px;
   margin-left: 15px;
   text-align:left;
   z-index:99;
   -moz-border-radius: 3px;
}

.popupDivLabel {
 text-align: center;
 font: message-box;
 font-weight: bold;
 color: #fff;
 cursor:move;
 margin: 0px -4px 0px -4px;
 background-image:url(popup_bg.gif);
}

.pre-code{
	color:#FFF;	
}