/*
eXe
Copyright 2004-2005, University of Auckland
style sheet for silver theme

Modified by Ignacio Gros for eXeLearning.net
See Help - eXe Tutorial for more info on how to modify this style for your needs.
*/
html{padding:0}
body{font:.75em/1.5 Arial,Verdana,Helvetica,sans-serif;padding:15px;margin:0;text-align:left;color:#444;background:#E0DFD8}
a{color:#374990}
a:hover,a:focus{color:#263264}
#header,#emptyHeader{text-align:left;height:3em;padding-left:15px;font-size:1.5em;line-height:3em;text-shadow:1px 1px 1px #444;border-bottom:2px solid #E5E4E0;border-top:2px solid #E5E4E0;color:#fff} /* Header is also in single page */
#header h1{margin:0;font-size:1em}
#nodeDecoration{text-align:left;padding:1em 20px;margin-bottom:2em;background:#D9D9CE;text-shadow:1px 1px 1px #f9f9f9;border-bottom:2px solid #E5E4E0;border-top:2px solid #E5E4E0;color:#4D4D4D}
#nodeTitle,.nodeTitle{font-size:1.5em;margin:0;font-weight:bold;text-align:right} /* .nodeTitle when single page */
.nodeTitle{padding:.1em 0 .6em 0;border-bottom:2px solid #E5E4E0;margin-top:1em;text-align:right}
#main h2{font-size:1.4em}
#main .iDeviceTitle{display:inline;font-size:1.4em}
h3{font-size:1.25em;color:#666}
#main h4{font-size:1.2em}
#main h5{font-size:1.1em}
.iDevice{margin:2em 0;padding:10px;background:#fff url(_silver_idevice_bg.gif) repeat-x 0 0;border-radius:5px}
.emphasis0{padding:0;background:none}

/* iDevice icons */
.iDevice_icon{width:32px;height:auto;margin-right:5px}
.iDevice_header{background:url(icon_generic.gif) no-repeat 0 0;padding-left:38px;margin-bottom:2px}
.activityIdevice .iDevice_header{background-image:url(icon_activity.gif)}
.readingIdevice .iDevice_header{background-image:url(icon_reading.gif);padding-left:41px}
.ListaIdevice .iDevice_header,
.QuizTestIdevice .iDevice_header,
.MultichoiceIdevice .iDevice_header,
.TrueFalseIdevice .iDevice_header,
.MultiSelectIdevice .iDevice_header,
.ClozeIdevice .iDevice_header{background-image:url(icon_question.gif)}
.CasestudyIdevice .iDevice_header{background-image:url(icon_casestudy.gif)}
.preknowledgeIdevice .iDevice_header{background-image:url(icon_preknowledge.gif);padding-left:39px}
.GalleryIdevice .iDevice_header{background-image:url(icon_gallery.gif);padding-left:40px}
.objectivesIdevice .iDevice_header{background-image:url(icon_objectives.gif)}
.ReflectionIdevice .iDevice_header{background-image:url(icon_reflection.gif)}

.iDeviceTitle{font-size:1.3em;vertical-align:top;top:0;color:#fff;text-shadow:1px 1px 1px #444;line-height:2em}
.iDevice_content{overflow:auto}
.iDevice_inner{background:#F2F2EF;border-radius:5px;padding:10px 20px}
.emphasis0 .iDevice_inner{background:none;padding:0}
#siteFooter{color:#555;font-size:.95em}
input,select,textarea{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
.ExternalUrlIdevice iframe{border:none}
/* Lightbox */
.exeImageGallery{width:100%}
/* base.css */
.block,.feedback{padding:0}
.feedback{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
li{list-style-position:outside}
#wikipedia-content ul li{list-style-image:none;margin-bottom:auto}
.exe-dl .icon{line-height:17px}
.js .exe-dl dd{margin-left:34px}
/* Form buttons */
.feedbackbutton{background:#4D4D4D;margin-bottom:1em;color:#fff}
/* Hide/Show iDevice */
.toggle-idevice{margin:12px 0 0;text-align:right;display:block}
.iDevice_header .toggle-idevice{float:right;padding-top:2px;margin:0}
.toggle-idevice a{display:inline-block;width:14px;height:14px;background:url(_silver_hide_show.png) no-repeat 0 -14px}
.toggle-idevice .show-idevice{background-position:0 0}
.toggle-idevice span{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}
/* Effects */
.exe-fx .fx-C2,
.exe-fx .fx-C2 a,
.fx-pagination a{background:#FFF}