.adivina-MainContainer a:link, .adivina-MainContainer a:link, .adivina-MainContainer a:visited, .adivina-MainContainer a:focus {
    text-decoration: none !important;
    border: 0;
    outline: none;
    border-width: 0;
    outline-width: 0;
    border-bottom: none;
}

/* Contenedor */

.adivina-MainContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.adivina-MainContainer * {
    box-sizing: border-box;
}

.adivina-MainContainer p {
    margin: 0;
    padding: 0;
}

/* Instrucciones */

.adivina-instructions {
    width: 100%;
    margin: 0.3em auto;
}

.adivina-instructions p {
    font-size: 1em;
}

/* Minimizado */

.adivina-LinkMaximize {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adivina-GameMinimize {
    width: auto;
    margin: 0.3em auto;
    display: none;
}

.adivina-IconMinimize {
    width: 32px;
    height: 32px;
    margin-right: 0.3em;
    cursor: pointer;
}

.adivina-IconMinimize:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* Juego */

.adivina-GameContainer {
    position: relative;
    max-width: 750px;
    width: 100%;
    margin: 0.3em auto;
    padding: 0.3em;
}

/* barra de puntuaciones */

.adivina-GameScoreBoard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3em;
}

.adivina-GameScoreBoard p {
    font-size: 1.1em;
    width: auto;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    margin-right: 0.3em;
    font-weight: bold;
}

.adivina-GameScores {
    width: auto;
    margin: 0 0.1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.adivina-GameScores>p:last-child {
    width: auto;
    text-align: left;
}

.adivina-LifesGame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adivina-NumberLifesGame {
    display: none;
}

.adivina-TimeNumber {
    width: auto;
    margin: 0 0.3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.adivina-PTime {
    width: auto;
    margin-left: 0.3em;
    min-width: 3em;
    text-align: left;
}

/* Pista */

.adivina-ShowClue {
    width: 100%;
    min-height: 1em;
    margin-bottom: 0.3em;
    padding: 0;
}

.adivina-PShowClue {
    font-size: 1em;
    color: #5877c6;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

/* Multimedia */

.adivina-Multimedia {
    position: relative;
    width: 65%;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0.9em;
    margin: 0.3em auto;
}

.adivina-Multimedia:before {
    content: '';
    display: block;
    padding-top: 56%;
}

.adivina-Protector, .adivina-NoImage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.adivina-Image, .adivina-GameOver {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.8em;
    text-decoration: none;
    border: 0;
}

.adivina-Protector {
    opacity: 0.00001;
    z-index: 1000;
    background-color: white;
}

.adivina-Cursor {
    width: 2em;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1000000;
    display: none;
}

/* Game Over */

.adivina-GameOver {
    z-index: 10010;
    display: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adivina-DataGameImage {
    position: relative;
    padding: 0;
    width: 40%;
    height: 100%;
}

.adivina-DataGameScore {
    padding: 0;
}

.adivina-DataGameScore p {
    font-size: 1em;
    margin: 0.7em;
    font-weight: bold;
}

.adivina-HistGGame, .adivina-LostGGame {
    width: 78%;
    height: 62%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
}

.adivina-HistGGame {
    display: none;
}

/* Author */

.adivina-AuthorLicence {
    width: 100%;
    min-height: 1.6em;
    margin: 1em auto 0 auto;
}

.adivina-AuthorLicence p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: center;
}

/* Código acceso */

.adivina-CodeAccessDiv {
    width: 100%;
    display: none;
    margin: 1em auto;
}

.adivina-MessageCodeAccessE {
    width: 100%;
    text-align: center;
    font-size: 1em;
    vertical-align: middle;
}

.adivina-DataCodeAccessE {
    width: 100%;
    margin: 0.7em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adivina-DataCodeAccessE label {
    font-size: 0.9em;
}

.adivina-CodeAccessE {
    width: 50%;
    max-width: 300px;
    margin: 0.7em 0.3em;
}

.adivina-GameContainer input[type="text"], input.adivina-EdReply, input.adivina-CodeAccessE {
    padding: 3px 2px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.5em;
    font-size: 1em;
    background: #fdfdfd;
    border: 1px solid #828282;
    border-radius: 4px;
    text-align: center;
    margin: 0 0.3em;
}

.adivina-GameContainer input[type="text"]:active, .adivina-GameContainer input[type="text"]:focus, input.adivina-EdReply:focus, input.adivina-EdReply:active, input.adivina-CodeAccessE:focus, input.adivina-CodeAccessE:active {
    background: #fdfdfd;
    border: 1px solid #398ee7;
    border-radius: 4px;
}

.adivina-MainContainer .exeQuextIcons-Submit {
    background: url(exequextreply.png) no-repeat;
    background-size: cover;
}

.adivina-MainContainer .exeQuextIcons-MoveOne {
    background: url(exequextmoveon.png) no-repeat;
    background-size: cover;
}

/* Inicio juego */

.adivina-StartGame {
    width: 100%;
    margin: 0.9em auto;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Pegunta */

.adivina-Definition {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0.5em auto;
    text-align: center;
    min-height: 2em;
    font-size: 1em;
    color: #3f3f3f;
    font-weight: 600;
}

.adivina-Definition a {
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    z-index: 30000;
    text-decoration: none;
    text-align: center;
    margin: 0;
}

.adivina-Prhase {
    width: 97%;
    margin: 0.5em auto;
    min-height: 3em;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.adivina-Word {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    padding-bottom: 2px;
    padding-top: 3px;
}

.adivina-Letter {
    border: 1px solid #555555;
    font-size: 1.3em;
    font-weight: 600;
    width: 1.3em;
    height: 1.8em;
    text-align: center;
    border-radius: 3px;
    padding: 0;
    margin: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adivina-Letter.blue {
    color: #5877c6;
}

.adivina-Letter.green {
    color: #00a300;
}

.adivina-Letter.red {
    color: #b3092f;
}

.adivina-Letter.blue {
    color: #071717;
}

/* Respuestas */

.adivina-DivReply {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    margin-bottom: 2em;
}

.adivina-EdReply {
    max-width: 400px;
    width: 60%;
}

.adivina-GameContainer .exeQuextIcons-MoveOne, .adivina-GameContainer .exeQuextIcons-Submit {
    width: 1.7em;
    height: 1.7em;
}

/*Intrucciones */

.adivina-DivInstructions {
    margin: 0;
    width: 95%;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

/* Puntuacion */

.adivina-BottonContainer {
    font-size: 1rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.adivina-BottonContainer * {
    margin: 0;
    padding: 0;
}

.adivina-RepeatActivity {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.adivina-GetScore input[type=button] {
    font-size: 1em;
    padding: 0.3em;
    width: auto;
}

.adivina-GetScore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Link */

.adivina-GameContainer .exeQuextIcons-Submit, .adivina-GameContainer .exeQuextIcons-MoveOne, .adivina-GameContainer .exeQuextIcons-Minimize, .adivina-GameContainer .exeQuextIcons-FullScreenExit, .adivina-GameContainer .exeQuextIcons-FullScreen {
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

.adivina-GameContainer .exeQuextIcons-Submit:hover, .adivina-GameContainer .exeQuextIcons-MoveOne:hover, .adivina-GameContainer .exeQuextIcons-Minimize:hover, .adivina-GameContainer .exeQuextIcons-FullScreenExit:hover, .adivina-GameContainer .exeQuextIcons-FullScreen:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

div:fullscreen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

div:-webkit-full-screen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

div:-moz-full-screen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

/* Iconos */

.adivina-GameContainer .exeQuextIcons {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.3em;
    background-size: cover;
}

.adivina-GameContainer .exeQuextIcons-Video, .adivina-GameContainer .exeQuextIcons-Submit .adivina-GameContainer .exeQuextIcons-MoveOne {
    width: 1.7em;
    height: 1.7em;
}

.exeQuextIcons-Minimize {
    background: url(exequextmin.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Hit {
    background: url(exequexthits.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-FullScreen {
    background: url(exequextfull.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Error {
    background: url(exequextrerrors.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Score {
    background: url(exequextscore.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Time {
    background: url(exequexttime.png);
    background-size: cover;
}

.exeQuextIcons-Number {
    background: url(exequextnumber.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Life {
    background: url(exequextlive.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Video {
    background: url(exequextvideo.png) no-repeat;
    background-size: cover;
}

/* Full Screen */

.adivina-GameContainer:-webkit-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.adivina-GameContainer:-moz-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.adivina-GameContainer:-ms-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.adivina-GameContainer:-o-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.adivina-extra-content {
    margin-top: 1.7em;
}

.adivina-parpadea {
    animation-name: adivina-parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    -webkit-animation-name: adivina-parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 5;
}

@-moz-keyframes adivina-parpadeo {
    0% {
        font-size: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes adivina-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes adivina-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@media screen and (max-width:650px) {
    .adivina-GameContainer, .adivina-BottonContainer, .adivina-instructions {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:550px) {
    .adivina-LinkFullScreen {
        display: none;
    }
    .adivina-instructions {
        margin: 0.1em auto;
    }
    .adivina-instructions p {
        margin: 0 auto;
    }
}

@media screen and (max-width:470px) {
    .adivina-GameContainer, .adivina-BottonContainer, .adivina-instructions {
        font-size: 0.8rem;
    }
    .adivina-LifesGame {
        display: none;
    }
    .adivina-NumberLifesGame {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .adivina-LinkMinimize {
        display: none;
    }
    .adivina-DataCodeAccessE label {
        display: none;
    }
    .adivina-GameContainer .exeQuextIcons-MoveOne, .adivina-GameContainer .exeQuextIcons-Submit {
        width: 2em;
        height: 2em;
    }
}

@media screen and (max-width:390px) {
    .adivina-GameContainer, .adivina-BottonContainer, .adivina-instructions {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:340px) {
    .adivina-GameScoreBoard p {
        font-weight: normal;
        margin: 0.1em;
        padding: 0;
    }
    .adivina-GameContainer .exeQuextIcons {
        margin: 0;
        padding: 0;
    }
    .adivina-GameContainer .adivina-GameScoreBoard p {
        padding: 0;
    }
    .adivina-GameScores {
        width: 50%;
    }
    .adivina-TimeNumber {
        width: 45%;
    }
    .adivina-instructions p {
        margin: 0 auto;
    }
}

@media screen and (max-width:295px) {
    .adivina-GameContainer, .adivina-BottonContainer, .adivina-instructions {
        font-size: 0.6rem;
    }
    .adivina-GameScoreBoard{
        justify-content: flex-start;
    }
    .adivina-GameScores {
        width: 50%;
    }
    .adivina-TimeNumber {
        width: 42%;
    }
}

@media screen and (max-width:265px) {
    .adivina-GameScoreBoard p {
        font-weight: normal;
        margin:2px;
   }
    .adivina-GameContainer, .adivina-BottonContainer {
        font-size: 0.6rem;
    }
    .adivina-GameContainer .exeQuextIcons {
        width: 1.1em;
        height: 1.1em;
    }
    .adivina-GameContainer .exeQuextIcons-Submit, .adivina-GameContainer .exeQuextIcons-MoveOne {
        width: 2em;
        height: 2em;
    }
    .adivina-GameScores {
        width:auto;
    }
    .adivina-TimeNumber {
        width: auto;
        justify-content: flex-start;
    }
    .adivina-Letter {
        font-size: 1.2em;
        width: 1.2em;
        height: 1.7em;
        margin:0;
    }
}

@media screen and (max-width:235px) {
    .adivina-GameScoreBoard .exeQuextIcons-Life, .adivina-GameScoreBoard .exeQuextIcons-Time {
        display: none;
    }
    .adivina-GameScores {
        width: 52%;
    }
    .adivina-TimeNumber {
        width: 43%;
    }
}