   .adivina-MainContainer a:link, .adivina-MainContainer a:link, .adivina-MainContainer a:visited, .adivina-MainContainer a:focus {
       text-decoration: none;
   }

   .adivina-BottonContainer {
       width: 98%;
       padding: 0;
       display: flex;
       margin: 5px;
       justify-content: flex-end;
       align-items: center;
       align-items: center;
   }

   .adivina-LinkMaximize {
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;
   }

   .adivina-GameMinimize {
       width: auto;
       margin: 5px auto;
       display: none;
   }

   .adivina-IconMinimize:hover {
       -moz-transform: scale(1.1);
       -webkit-transform: scale(1.1);
       -o-transform: scale(1.1);
       -ms-transform: scale(1.1);
       transform: scale(1.1);
   }

   .adivina-GetScore input[type=button] {
       font-size: 0.9em;
       width: auto;
   }

   .adivina-Prhase {
       width: 95%;
       margin: 0 auto;
       min-height: 50px;
       color: black;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       align-items: center;
   }

   .adivina-Word {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 6px;
       padding-bottom: 2px;
       padding-top: 3px;
   }

   .adivina-Letter {
       border: 1px solid #555555;
       font-size: 1.3em;
       font-weight: 600;
       width: 24px;
       height: 32px;
       line-height: 32px;
       text-align: center;
       border-radius: 3px;
       margin: 1px;
       -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
   }

   .adivina-Definition {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 90%;
       margin: 7px auto;
       text-align: center;
       min-height: 40px;
       font-size: 1em;
       color: #3f3f3f;
       font-weight: 600;
   }

   .adivina-Definition a {
       width: 100%;
       cursor: pointer;
       font-weight: bold;
       font-size: 1em;
       z-index: 30000;
       text-decoration: none;
       text-align: center;
   }

   .adivina-Letter.blue {
       color: #5877c6;
   }

   .adivina-Letter.green {
       color: #00a300;
   }

   .adivina-Letter.red {
       color: #b3092f;
   }

   .adivina-GameContainer .adivina-Letter.blue {
       color: #071717;
   }

   .adivina-MainContainer {
       max-width: 750px;
       width: 90%;
       margin: 0px auto;
   }

   .adivina-MainContainer a:focus, .adivina-MainContainer a:link, .adivina-MainContainer a:visited, .adivina-MainContainer a:active {
       outline: 0;
       border: none;
   }

   .adivina-GameContainer {
       position: relative;
       background-color: transparent;
       width: 100%;
       margin: 10px auto;
       padding: 5px;
       border-radius: 10px;
   }

   .adivina-GameScoreBoard {
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .adivina-GameScoreBoard p {
       font-size: 1.1em;
       width: 26px;
       text-align: center;
       vertical-align: middle;
       margin-right: 3px;
       font-weight: bold;
   }

   .adivina-GameScores {
       width: 240px;
       margin: 0 3px;
       display: flex;
       justify-content: flex-start;
       align-items: center;
   }

   .adivina-LifesGame {
       width: 158px;
       margin: 0 3px;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .adivina-NumberLifesGame {
       display: none;
   }

   .adivina-TimeNumber {
       width: 180px;
       margin: 0 5px;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .adivina-TimeNumber .adivina-PTime {
       width: 50px;
       margin-right: 3px;
   }

   .adivina-Icons {
       width: 24px;
       height: 24px;
       margin-right: 5px;
   }

   .adivina-AutorLicence {
       width: 100%;
       margin-bottom: 10px;
   }

   .adivina-AutorLicence p {
       width: 100%;
       text-align: center;
       font-size: 1em;
       font-weight: normal;
       color: #444444;
   }

   .adivina-Multimedia {
       width: 560px;
       height: 315px;
       margin: 0px auto;
       margin-bottom: 10px;
       position: relative;
       background-color: transparent;
   }

   .adivina-NoImage {
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
   }

   .adivina-LinkFullScreen {
       width: 26px;
       height: 26px;
   }

   .adivina-Cursor {
       width: 24px;
       height: 24px;
       left: 0;
       top: 0;
       position: absolute;
       display: none;
       z-index: 10000;
   }

   .adivina-Image {
       width: 100%;
       height: 100%;
       position: absolute;
       border-radius: 10px;
   }

   .adivina-GameOver {
       width: 100%;
       height: 100%;
       background: transparent;
       position: absolute;
       left: 0;
       top: 0;
       z-index: 200000;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .adivina-DataImageGameOver {
       width: 100%;
       height: 80%;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .adivina-DataImageGameOver p {
       font-size: 1em;
       font-weight: bold;
   }

   .adivina-CodeAccessDiv {
       width: 80%;
       height: 60px;
       margin: 15px auto;
   }

   .adivina-MessageCodeAccessE {
       width: 90%;
       margin: 10px auto;
       text-align: center;
       margin-bottom: 10px;
       color: #b3092f;
       font-size: 1em;
       font-weight: bold;
   }

   .adivina-CodeAccessE {
       margin-right: 10px;
       margin-left: 5px;
       text-align: center;
       font-size: 1em;
       font-weight: bold;
   }

   .adivina-ShowClue {
       width: 100%;
       margin-bottom: 5px;
   }

   .adivina-DataCodeAccessE label {
       font-size: 1em;
       font-weight: bold;
   }

   .adivina-GetScore {
       width: 100%;
       padding: 0;
       margin: 0 auto;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .adivina-GetScore p {
       padding: 0;
       margin: 0;
   }

   .adivina-RepeatActivity {
       font-size: 1em;
       font-weight: bold;
   }

   .adivina-DataCodeAccessE {
       width: 100%;
       margin-bottom: 10px;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .adivina-TextClueGGame {
       width: 100%;
       min-height: 18px;
       font-size: 1em;
       font-weight: bold;
       text-align: center;
       color: #00a300;
   }

   .adivina-HistGGame, .adivina-LostGGame {
       width: 45%;
       height: 80%;
       margin-right: 15px;
   }

   .adivina-DivReply {
       margin: 0px auto;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: transparent;
       width: 100%;
   }

   .adivina-LinkMinimize {
       width: 26px;
       height: 26px;
   }

   .adivina-GameContainer:-webkit-full-screen {
       width: 100%;
       height: 100vh;
       background-color: white;
   }

   .adivina-GameContainer:-moz-full-screen {
       width: 100%;
       height: 100vh;
       background-color: white;
   }

   .adivina-GameContainer:-ms-full-screen {
       width: 100%;
       height: 100vh;
       background-color: white;
   }

   .adivina-GameContainer:-o-full-screen {
       width: 100%;
       height: 100vh;
       background-color: white;
   }

   .adivina-GameContainer:-webkit-full-screen .adivina-Letter {
       font-size: 1.6em;
       width: 30px;
       height: 38px;
       line-height: 38px;
   }

   .adivina-GameContainer:-moz-full-screen .adivina-Letter {
       font-size: 1.6em;
       width: 30px;
       height: 38px;
       line-height: 38px;
   }

   .adivina-GameContainer:-ms-full-screen .adivina-Letter {
       font-size: 1.6em;
       width: 30px;
       height: 38px;
       line-height: 38px;
   }

   .adivina-GameContainer:-o-full-screen .adivina-Letter {
       font-size: 1.6em;
       width: 30px;
       height: 38px;
       line-height: 38px;
   }

   .adivina-GameContainer:-webkit-full-screen .adivina-Definition {
       min-height: 60px;
   }

   .adivina-GameContainer:-moz-full-screen .adivina-Definition {
       min-height: 60px;
   }

   .adivina-GameContainer:-ms-full-screen .adivina-Definition {
       min-height: 60px;
   }

   .adivina-GameContainer:-o-full-screen .adivina-Definition {
       min-height: 60px;
   }

   .adivina-GameContainer:-webkit-full-screen .adivina-Definition a {
       font-size: 1.5em;
   }

   .adivina-GameContainer:-moz-full-screen .adivina-Definition a {
       font-size: 1.5em;
   }

   .adivina-GameContainer:-ms-full-screen .adivina-Definition a {
       font-size: 1.5em;
   }

   .adivina-GameContainer:-o-full-screen .adivina-Definition a {
       font-size: 1.5em;
   }

   .adivina-MainContainer .exeQuextIcons {
       width: 26px;
       height: 26px;
       margin-right: 5px;
       background-size: cover;
   }

   .exeQuextIcons-Minimize {
       background: url(exequextmin.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-Hit {
       background: url(exequexthits.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-FullScreen {
       background: url(exequextfull.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-Error {
       background: url(exequextrerrors.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-Score {
       background: url(exequextscore.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-Time {
       background: url(exequexttime.png);
       background-size: cover;
   }

   .exeQuextIcons-Number {
       background: url(exequextnumber.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-Life {
       background: url(exequextlive.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-Preview {
       background: url(exequextnumber.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-PauseVideo {
       background: url(exequextpause.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-PlayVideo {
       background: url(exequextplayvideo.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-Reload {
       background: url(exequextreload.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-Video {
       background: url(exequextvideo.png) no-repeat;
       background-size: cover;
   }

   .adivina-EdReply {
       margin: 0 5px;
       max-width: 350px;
       width: 60%;
       min-width: 140px;
       font-size: 0.9em;
       font-weight: bold;
       text-align: center;
   }

   .adivina-MainContainer .exeQuextIcons-MoveOne, .adivina-MainContainer .exeQuextIcons-Submit {
       flex-basis: 30px;
       width: 30px;
       height: 30px;
       flex-grow: 0;
   }

   .exeQuextIcons-Submit {
       background: url(exequextreply.png) no-repeat;
       background-size: cover;
   }

   .exeQuextIcons-MoveOne {
       background: url(exequextmoveon.png) no-repeat;
       background-size: cover;
   }

   /* Fullscreen */

   div:fullscreen .exeQuextIcons-FullScreen {
       background: url(exequextnormal.png) no-repeat;
   }

   div:-webkit-full-screen .exeQuextIcons-FullScreen {
       background: url(exequextnormal.png) no-repeat;
   }

   div:-moz-full-screen .exeQuextIcons-FullScreen {
       background: url(exequextnormal.png) no-repeat;
   }

   div:fullscreen .adivina-Multimedia {
       width: 56%;
       height: 56%;
   }

   div:-webkit-full-screen .adivina-Multimedia {
    width: 56%;
    height: 56%;
   }

   div:-moz-full-screen .adivina-Multimedia {
    width: 56%;
    height: 56%;
   }


   .exeQuextIcons-FullScreenExit, .exeQuextIcons-FullScreen, .exeQuextIcons-Minimize {
       -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
       filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
       cursor: pointer;
   }

     .exeQuextIcons-FullScreen:hover {
       -moz-transform: scale(1.1);
       -webkit-transform: scale(1.1);
       -o-transform: scale(1.1);
       -ms-transform: scale(1.1);
       transform: scale(1.1);
   }

   .adivina-LinkMinimize {
       margin-right: 7px;
   }

   .adivina-LinkTypeGame {
       margin-left: 5px;
   }

   .adivina-MainContainer .exeQuextIcons-Time {
       margin: 0;
       margin-right: 6px;
   }

   p.adivinaDivInstructions {
       margin: 0;
       font-weight: bold;
       text-align: center;
       height: 32px
   }

   .adinaIdevice .adivina-extra-content {
       margin-top: 1.7em;
   }

   .adivina-PShowClue {
       display: none;
       font-size: 1em;
       color: #5877c6;
       font-weight: bold;
       margin: 5px auto;
       text-align: center;
   }

   .adivina-OverScore {
       font-size: 0.8em;
   }

   .adivina-instructions p {
       font-size: 1em;
   }

   .adivina-parpadea {
       animation-name: adivina-parpadeo;
       animation-duration: 1s;
       animation-timing-function: linear;
       animation-iteration-count: 8;
       -webkit-animation-name: adivina-parpadeo;
       -webkit-animation-duration: 1s;
       -webkit-animation-timing-function: linear;
       -webkit-animation-iteration-count: 8;
   }

   @-moz-keyframes adivina-parpadeo {
       0% {
           font-size: 1.0;
       }
       50% {
           opacity: 0.0;
       }
       100% {
           opacity: 1.0;
       }
   }

   @-webkit-keyframes adivina-parpadeo {
       0% {
           opacity: 1.0;
       }
       50% {
           opacity: 0.0;
       }
       100% {
           opacity: 1.0;
       }
   }

   @keyframes adivina-parpadeo {
       0% {
           opacity: 1.0;
       }
       50% {
           opacity: 0.0;
       }
       100% {
           opacity: 1.0;
       }
   }

   .adivina-IconMinimize {
       width: 32px;
       height: 32px;
       margin-right: 5px;
       cursor: pointer;
   }

   @media screen and (max-width: 800px) {
       .adivina-Multimedia {
           width: 470px;
           height: 250px;
       }
       .adivina-ProgressBar {
           width: 470px;
       }
       .adivina-MainContainer .exeQuextIcons {
           width: 20px;
           height: 20px;
           margin-right: 3px;
       }
       .adivina-GameScoreBoard p {
           width: 13px;
           margin-right: 2px;
       }
       .adivina-TimeNumber .adivina-PTime {
           width: 50px;
           margin-right: 3px;
           text-align: center;
           vertical-align: middle;
       }
       .adivina-GameScores>p:last-child {
           width: 15px;
           text-align: left;
           margin-left: 3px;
       }
       .adivina-IconMinimize {
           width: 32px;
           height: 32px;
           margin-right: 5px;
           cursor: pointer;
       }
   }

   @media screen and (max-width:650px) {
       .adivina-StartGame {
           margin: 15px auto;
       }
       .adivina-GameContainer {
           font-size: 0.9em;
       }
       .adivina-Multimedia {
           width: 437px;
           height: 246px;
       }
       .adivina-ProgressBar {
           width: 437px;
       }
   }

   @media screen and (max-width:550px) {
       .adivina-GameContainer {
           font-size: 0.9rem;
       }
       .adivina-GameContainer input[type="text"] {
           padding: 3px 2px;
           display: inline-block;
           box-sizing: border-box;
           line-height: 18px;
           font-size: 0.9em;
           background: #fdfdfd;
           border: 1px solid #828282;
           border-radius: 4px;
       }
       .adivina-GameContainer input[type="text"]:active, .adivina-GameContainer input[type="text"]:focus {
           background: #fdfdfd;
           border: 1px solid #398ee7;
           border-radius: 4px;
       }
       .adivina-StartGame {
           margin: 10px auto;
       }
       .adivina-Multimedia {
           width: 370px;
           height: 207px;
       }
       .adivina-TimeNumber {
           width: 145px;
           height: 100%;
       }
       .adivina-ProgressBar {
           width: 370px;
       }
       .adivina-GameScoreBoard p {
           width: 17px;
           height: 17px;
           line-height: 17px;
           font-weight: normal;
       }
       .adivina-MainContainer .exeQuextIcons {
           width: 17px;
           height: 17px;
           margin-right: 2px;
       }
       .adivina-LifesGame {
           display: none;
       }
       .adivina-NumberLifesGame {
           display: flex;
           width: 52px;
           justify-content: center;
           align-items: center;
       }
       .adivina-TimeNumber .adivina-PTime {
           width: 45px;
           margin-right: 3px;
       }
       .adivina-GameScores>p:last-child {
           width: 30px;
           margin-left: 3px;
       }
       .adivina-Question {
           min-height: 35px;
           margin: 0 auto;
           border-radius: 4px;
       }
       .adivina-Options {
           min-height: 35px;
           width: 47%;
           margin: 2px;
           border-radius: 3px;
       }
       .adivina-AuthorLicence {
           height: 12px;
           margin: 2px auto;
       }
       .adivina-instructions {
           margin: 2px auto;
       }
       .adivina-instructions p {
           margin: 0 auto;
       }
       .adivina-LinkMinimize, .adivina-LinkFullScreen {
           display: none;
       }
       .adivina-GetScore {
           margin: 1px auto;
           padding: 0;
       }
       .adivina-BottonContainer {
           padding: 0;
           margin: 1px;
       }
       .adivina-HistGGame, .adivina-LostGGame {
           width: 30%;
           height: 56%;
           margin-right: 5px;
       }
       .adivina-RepeatActivity, .adivina-SendScore, .adivina-GetScore input[type=button] {
           font-size: 0.9em;
       }
       .exeQuextIcons-PlayVideo, .exeQuextIcons-Reload, .exeQuextIcons-Video, .exeQuextIcons-PauseVideo, .exeQuextIcons-Preview {
           height: 20px;
           width: 20px;
       }
       .adivina-CodeAccessDiv label {
           display: none;
       }
   }

   @media screen and (max-width:450px) {
       .adivina-GameContainer {
           font-size: 0.8rem;
       }
       .adivina-Prhase {
           width: 100%;
           margin: 0 auto;
           min-height: 30px;
       }
       .adivina-Definition {
           width: 100%;
           margin: 3px auto;
           min-height: 25px;
       }
       .adivina-StartGame {
           margin: 15px auto;
       }
       .adivina-Multimedia {
           width: 269px;
           height: 151px;
       }
       .adivina-ProgressBar {
           width: 269px;
       }
       .adivina-CodeAccessDiv {
           width: 100%;
           margin: 3px auto;
       }
       .adivina-MessageCodeAccessE {
           width: 100%;
           margin: 3px auto;
       }
       .adivina-LinkFullScreen {
           display: none;
       }
       .adivina-RepeatActivity, .adivina-SendScore, .adivina-GetScore input[type=button] {
           font-size: 0.8em;
       }
       .exeQuextIcons-PlayVideo, .exeQuextIcons-Reload, .exeQuextIcons-Video, .exeQuextIcons-PauseVideo, .exeQuextIcons-Preview {
           height: 20px;
           width: 20px;
       }
       .adivina-instructions p {
           font-size: 0.8em;
       }
       .adivina-Letter {
           font-size: 0.8em;
           font-weight: 600;
           width: 14px;
           height: 20px;
           line-height: 20px;
           text-align: center;
           border-radius: 2px;
           margin: 1px;
       }
       .exeQuextIcons-MoveOne, .exeQuextIcons-Submit {
           width: 20px;
           height: 20px;
           flex-grow: 0;
       }
   }

   @media screen and (max-width:370px) {
       .adivina-GameContainer {
           font-size: 0.8rem;
       }
       .adivina-GameScoreBoard p {
           font-size: 0.9em;
       }
       .adivina-GameScoreBoard p {
           width: 12px;
           line-height: 12px;
           height: 12px;
           margin-right: 1px;
       }
       .adivina-MainContainer .exeQuextIcons {
           width: 12px;
           height: 12px;
           margin-right: 1px;
       }
       .adivina-NumberLifesGame {
           width: 28px;
       }
       .adivina-TimeNumber .adivina-PTime {
           width: 32px;
           margin-right: 2px;
       }
       .adivina-GameScores>p:last-child {
           width: 15px;
           margin-left: 3px;
       }
       .adivina-Multimedia {
           width: 221px;
           height: 134px;
       }
       .adivina-ProgressBar {
           width: 221px;
       }
       .adivina-RepeatActivity, .adivina-, .adivina-GetScore input[type=button] {
           font-size: 0.8em;
       }
       .exeQuextIcons-PlayVideo, .exeQuextIcons-Reload, .exeQuextIcons-Video, .exeQuextIcons-PauseVideo, .exeQuextIcons-Preview {
           height: 20px;
           width: 20px;
       }
   }

   @media screen and (max-width:300px) {
       .adivina-GameContainer {
           font-size: 0.7rem;
       }
       .adivina-Multimedia {
           width: 180px;
           height: 101px;
       }
       .adivina-LinkMinimize, .adivina-LinkFullScreen, .exeQuextIcons-Time {
           display: none;
       }
       .adivina-RepeatActivity, .adivina-SendScore, .adivina-GetScore input[type=button] {
           font-size: 0.7em;
       }
       .adivina-CodeAccessDiv label {
           display: none;
       }
   }

   @media screen and (max-width:250px) {
       .adivina-GameContainer {
           font-size: 0.6rem;
       }
       .adivina-Multimedia {
           width: 140px;
           height: 76px;
       }
       .adivina-MessageCodeAccessE {
           width: 100%;
           margin: 3px auto;
       }
       .adivina-RepeatActivity, .adivina-SendScore, .adivina-GetScore input[type=button] {
           font-size: 0.6em;
       }
   }