/* Imágenes utilizadas */
/* my_list.gif - Sustituye al punto de las listas no numeradas introducidas desde eXeLearning  */
/* my_ims_header.jpg - Imagen de fondo para el título de cada página en los IMS y en los documentos exportados como Página sola */
/* my_header.jpg - Imagen de la cabecera de los documentos exportados como Sitio web */
/* my_nav_bg.jpg - Imagen de fondo del menú al exportar como Sitio web */

/* Colores */
body{
	color:#000; /* Cuerpo de texto */
	background:#ffffff; /* Color de fondo */
}
a{
	color:#38565F; /* Enlaces */
}
#header{
	color:#005F6F; /* Título del proyecto */	
}
#nodeTitle{
	color:#FFFFFF; /* Título de cada página */
}
#main #nodeDecoration{
	border-color:#E7EBEE; /* Borde del título de cada página */
	background-color:#6D95A1; /* Color de fondo */
	text-shadow:1px 1px 1px #466A76; /* Sombra del texto */
}
.iDeviceTitle{
	color: #38565F; /* Títulos de los iDevices */
}
.iDevice_inner{
	background-color:#F2F4EB; /* Fondo del cuerpo del iDevice */
	color:#2C4E46; /* Texto de los iDevices */
	border-color:#C7CFAB; /* Borde del cuerpo de los iDevices */
}
#siteFooter{
	color:#38565F; /* Texto del pie de página */
}
#siteFooter a{
	color:#6A3A4A; /* Enlaces del pie de página */
}
.pre-code{
	background:#243338; /* Color de fondo del código de ordenador intertado desde TinyMCE */
}

/* Otras definiciones */
body{font:.75em/1.5 Arial,Verdana,Helvetica,sans-serif;padding:15px;margin:0;text-align:left}
#nodeTitle{font-size:1.5em;margin:0;text-align:left;font-weight:bold}
#main #nodeDecoration{padding:20px 15px 5px 15px;margin-bottom:15px;background-repeat:no-repeat;background-position:right 0;border-width:1px;border-style:solid;background-image:url(my_ims_header.jpg);text-align:left}
#header{height:auto;padding:0;font-size:1.5em;font-weight:bold}
#header h1{margin:0;font-size:1em}
#main ul li{width:auto;list-style-image:url(my_list.gif);margin-bottom:0.2em}
#wikipedia-content ul li{list-style-image:none;margin-bottom:auto}
#main h2{font-size:1.4em}
#main h3{font-size:1.3em}
#main h4{font-size:1.2em}
#main h5{font-size:1.1em}
.iDevice{margin:10px 0 20px 0}
.iDeviceTitle{font-size:1.2em;vertical-align:bottom;top:auto}
#main .iDeviceTitle{display:inline;font-size:1.2em}

/* iDevice icons */
.iDevice_icon{width:30px;height:auto;margin-right:5px} /* Legacy: old iDevices */
.iDevice_header{background-image:url(icon_generic.gif);padding:5px 0 5px 37px;margin-bottom:3px}
.activityIdevice .iDevice_header{background-image:url(icon_activity.gif)}
.readingIdevice .iDevice_header{background-image:url(icon_reading.gif);padding-left:41px}
.ListaIdevice .iDevice_header,
.QuizTestIdevice .iDevice_header,
.MultichoiceIdevice .iDevice_header,
.TrueFalseIdevice .iDevice_header,
.MultiSelectIdevice .iDevice_header,
.ClozeIdevice .iDevice_header{background-image:url(icon_question.gif);padding-left:35px}
.CasestudyIdevice .iDevice_header{background-image:url(icon_casestudy.gif)}
.preknowledgeIdevice .iDevice_header{background-image:url(icon_preknowledge.gif);padding-left:39px}
.GalleryIdevice .iDevice_header{background-image:url(icon_gallery.gif);padding-left:38px}
.objectivesIdevice .iDevice_header{background-image:url(icon_objectives.gif)}
.ReflectionIdevice .iDevice_header{background-image:url(icon_reflection.gif)}

/* Download package iDevice */
.download-packageIdevice .exe-download-package-link a{background:#38565F}

.iDevice_content{overflow:auto}
.iDevice_inner{padding: 10px 20px;border-width:1px;border-style:solid;border-radius:10px}
/* base.css */
.block,.feedback{padding:0}
input.feedbackbutton{margin:0}
.feedback{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
li{list-style-position:outside}
.exe-dl .icon{line-height:17px}
.js .exe-dl dd{margin-left:34px}
.exe-enlarge-icon b{font-size:1.7em}
/* Hide/Show iDevice */
.toggle-idevice{margin:12px 0 0;text-align:right;display:block}
.iDevice_header .toggle-idevice{float:right;padding-top:2px;margin:0}
.toggle-idevice a{display:inline-block;width:16px;height:16px;background:url(my_hide_show.gif) no-repeat 0 -16px}
.toggle-idevice .show-idevice{background-position:0 0}
.toggle-idevice span{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}

@media all and (max-width: 600px) {
	#main #nodeDecoration{background-image:none}
}