/* ********************************************* */
/* **** IMÁGENES UTILIZADAS ******************* */
/* ******************************************* */

/* my_logo.jpg - Imagen de la cabecera de los documentos exportados como Página sola */
/* my_list.gif - Sustituye al punto de las listas no numeradas introducidas desde eXeLearning  */
/* my_ims_header.jpg - Imagen de fondo para el título de cada página en los IMS y en los documentos exportados como Página sola */
/* my_header.jpg - Imagen de la cabecera de los documentos exportados como Sitio web */
/* my_nav_bg.jpg - Imagen de fondo del menú al exportar como Sitio web */

/* ********************************************* */
/* **** TABLA DE COLORES ********************** */
/* ******************************************* */

body{
	color:#000; /* Cuerpo de texto */
	background:#ffffff; /* Color de fondo */
}

a{
	color:#38565F; /* Enlaces */
}

#header{
	color:#005F6F; /* Título del proyecto */	
}

#nodeTitle{
	color:#FFFFFF; /* Título de cada página */
}

#main #nodeDecoration{
	border-color:#E7EBEE; /* Borde del título de cada página */
	background-color:#6D95A1; /* Color de fondo */
	text-shadow:1px 1px 1px #466A76; /* Sombra del texto */
}

.iDeviceTitle{
	color: #38565F; /* Títulos de los iDevices */
}

.iDevice_inner{
	background-color:#F2F4EB; /* Fondo del cuerpo del iDevice */
	color:#2C4E46; /* Texto de los iDevices */
	border-color:#C7CFAB; /* Borde del cuerpo de los iDevices */
}

#pageFooter{
	color:#38565F; /* Texto del pie de página */
}

#pageFooter a{
	color:#6A3A4A; /* Enlaces del pie de página */
}

.pre-code{
	background:#243338; /* Color de fondo del código de ordenador intertado desde TinyMCE */
}

/* ********************************************* */
/* **** OTRAS DEFINICIONES ******************** */
/* ******************************************* */

body{font:.75em/1.5 Arial,Verdana,Helvetica,sans-serif;padding:15px;margin:0;text-align:left}
#nodeTitle{font-size:1.5em;margin:0;text-align:left}
#main #nodeDecoration{padding:20px 15px 5px 15px;margin-bottom:15px;background-repeat:no-repeat;background-position:right 0;border-width:1px;border-style:solid;background-image:url(my_ims_header.jpg);text-align:left}
#header{height:35px;background-repeat:no-repeat;background-position:0 0;background-image:url(my_logo.jpg);padding:59px 0 0 0;font-size:1.4em;font-weight:bold}
#header h1{margin:0;font-size:1em}
#main ul li{width:auto;list-style-image:url(my_list.gif);margin-bottom:0.2em}
#wikipedia-content ul li{list-style-image:none;margin-bottom:auto}
#main h2{font-size:1.4em}
#main h3{font-size:1.3em}
#main h4{font-size:1.2em}
#main h5{font-size:1.1em}
.iDevice{margin:10px 0 20px 0}
.iDeviceTitle{font-size:1.2em;vertical-align:bottom;top:auto} 
.iDevice_icon{width:30px;height:auto;margin-right:5px}
.iDevice_inner{padding: 10px 20px;border-width:1px;border-style:solid;border-radius:10px}
#pageFooter{font-size:.9em}
#pageFooter p{margin:3px 0}
li{list-style-position:outside}
.block,.feedback{padding:0}
input.feedbackbutton{margin:0}

/* ********************************************************* */
/* **** DEFINICIONES específicas para el eXe del ITE ****** */
/* ******************************************************* */ 

#main h2.iDeviceTitle{display:inline;font-size:1.2em}

/* To review */
.question .answer p{margin:0}