<idevice>
<idevice_name>Biography</idevice_name>
<idevice_description>Use this to write your personal history</idevice_description>
<name>$name</name>
<description>$description</description>
<hobby>$hobby</hobby>
<country>$country</country>
<status>$status</status>
<subunitidentifier>$subunitidentifier</subunitidentifier>
</idevice>
