<idevice>
<idevice_name>Expression of Interest 1</idevice_name>
<idevice_description></idevice_description>
<CourseProject>$CourseProject</CourseProject>
<Course_Code>$Course_Code</Course_Code>
<Faculty>$Faculty</Faculty>
<Department>$Department</Department>
<Content_Leader>$Content_Leader</Content_Leader>
<Contact_Email>$Contact_Email</Contact_Email>
<Phone>$Phone</Phone>
<subunitidentifier>$subunitidentifier</subunitidentifier>
</idevice>
