<idevice>
<idevice_name>Expression of Interest</idevice_name>
<idevice_description></idevice_description>
<ProjectCourse>$ProjectCourse</ProjectCourse>
<Faculty>$Faculty</Faculty>
<_Why_are_you_considering_flexible_and_distance_learning_for_this_project>$_Why_are_you_considering_flexible_and_distance_learning_for_this_project</_Why_are_you_considering_flexible_and_distance_learning_for_this_project>
<_What_does_the_course_or_resource_aim_to_teach>$_What_does_the_course_or_resource_aim_to_teach</_What_does_the_course_or_resource_aim_to_teach>
<subunitidentifier>$subunitidentifier</subunitidentifier>
</idevice>