<H2>Expression of Interest</H2><p>

				#if $ProjectCourse<>""
				<div>
				<span class="idevice_header">ProjectCourse</span>
				$ProjectCourse
				</div>
				#end if 

				#if $Faculty<>""
				<div>
				<span class="idevice_header">Faculty</span>
				$Faculty
				</div>
				#end if 

				#if $_Why_are_you_considering_flexible_and_distance_learning_for_this_project<>""
				<div>
				<span class="idevice_header">_Why_are_you_considering_flexible_and_distance_learning_for_this_project</span>
				$_Why_are_you_considering_flexible_and_distance_learning_for_this_project
				</div>
				#end if 

				#if $_What_does_the_course_or_resource_aim_to_teach<>""
				<div>
				<span class="idevice_header">_What_does_the_course_or_resource_aim_to_teach</span>
				$_What_does_the_course_or_resource_aim_to_teach
				</div>
				#end if 
