  <idevice>
	<idevice_id>$ideviceid</idevice_id>
	<idevice_name>$idevice_name</idevice_name>
	<idevice_shortname>$idevice_shortname</idevice_shortname>
	<idevice_description>$idevice_description</idevice_description>
  </idevice>