    <idevice>    
        <idevice_name>multimedia</idevice_name> 
        <description>$description</description>
        <instruction>$instruction</instruction>
        <mediafile>$mediafile</mediafile>
        <thumbnail>$thumbnail</thumbnail>
        <subunitidentifier>$subunitidentifier</subunitidentifier>
	</idevice>
