#if $icon_dir==""
<p><img src='/preview/1/images/objectives.gif' style='float: left;' align='middle'>  
#else
<p><img src='$icon_dir/objectives.gif' style='float: left;' align='middle'>  
#end if

<div ID='idevice_header'>Objectives</div><p>
<div>
$description
</div>

