
<html>
	<head>
		<title>eXe: eLearning XML editor</title>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	</head>
	<body>
					<div>
					<h2>$crumb</h2>
					<h2>$heading</h2>
					
					$content
					
					</div>
	</body>
</html>
