#if $icon_dir==""
<p><img src='/preview/1/images/scope.gif' style='float: left;' align='middle'>  
#else
<p><img src='$icon_dir/scope.gif' style='float: left;' align='middle'>  
#end if
<div ID='idevice_header'>Scope</div><p>

<div>
$description--$timetocomplete
</div>
