  #quextIdeviceForm {
    margin-top: 2em;
  }

  #quextIdeviceForm input[type=text] {
    margin-top: 0;
    margin-bottom: 0;
  }

  #quextIdeviceForm .quext-EOptionsGame input[type=text] {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  #quextIdeviceForm .quextIdevice {
    background: #fff;
    padding: 20px;
    border: 1px solid #000;
  }

  #quextIdeviceForm label {
    display: inline;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  #quextIdeviceForm label[for='quextEShowSolution'] {
    margin-right: .5em;
  }

  #quextIdeviceForm input, #quextIdeviceForm select {
    font-size: 14px;
  }

  #quextIdeviceForm legend {
    font-weight: bold;
    padding: 0 10px;
    font-size: 14px
  }

  #quextIdeviceForm input[type="radio"], #quextIdeviceForm input[type="checkbox"] {
    cursor: pointer;
  }

  #quextIdeviceForm .quext-EPanel {
    position: relative;
    width: 98%;
    max-width: 900px;
    margin: 10px auto;
    border-radius: 7px;
    background: #f7f7f7;
    border: 1px solid #071717;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
  }

  .quext-NumberQuestion {
    line-height: 24px;
    height: 24px;
    width: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
  }

  #quextIdeviceForm .quext-EOptionsMedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  #quextIdeviceForm .quext-EOptionsGame {
    min-height: 300px;
    width: 100%;
  }

  #quextIdeviceForm .quext-EOptionsGame span {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    color: #035175;
  }

  #quextIdeviceForm .quext-EInputMedias #quextIdeviceForm .quext-EInputNumbers, #quextIdeviceForm .quext-EInputVideo, #quextIdeviceForm .quext-EInputOptionsVideo, #quextIdeviceForm .quext-EInputTimes {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px 0;
  }

  #quextIdeviceForm .quext-EInputMedias label, #quextIdeviceForm .quext-EInputNumbers label, #quextIdeviceForm .quext-EInputVideo label, #quextIdeviceForm .quext-EInputOptionsVideo label, #quextIdeviceForm .quext-EInputTimes label, #quextIdeviceForm .quext-EInputImage label {
    display: inline;
    font-weight: normal;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
  }

  #quextIdeviceForm .quext-EInputOptionsVideo input[type=text], #quextIdeviceForm .quext-EInputOptionsImage input[type=text] {
    width: 70px;
    height: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #071717;
    margin: 5px;
  }

  #quextIdeviceForm input:-moz-read-only {
    /* For Firefox */
    background-color: white;
    border-width: 1px;
  }

  #quextIdeviceForm input:read-only {
    background-color: white;
    border-width: 1px;
  }

  #quextIdeviceForm input[type=button] {
    height: 27px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
  }

  #quextIdeviceForm .quext-EInputOptionsImage input[type=text], #quextIdeviceForm .quext-EInputOptionsImage label {
    margin: 0;
    padding: 0;
    display: none;
    justify-content: space-between;
    align-content: center;
  }

  #quextIdeviceForm .quext-EVideoTime {
    font-size: 13px;
    font-weight: bold;
  }

  #quextIdeviceForm .quext-EInputVideo input[type=text] {
    width: 85%;
    margin: 3px 0;
  
  }

  #quextIdeviceForm .quext-EInputVideo {
    display: none;
  }

  #quextIdeviceForm .quext-EInputImage {
    display: none;
  }

  #quextIdeviceForm .quext-EMultiMediaOption {
    background: transparent;
    height: 350px;
    min-width: 400px;
    max-width: 500px;
    width: 100%;
    position: relative;
  }

  #quextIdeviceForm .quext-EMultimedia {
    width: 400px;
    height: 227px;
    margin: auto auto;
    margin-top: 60px;
    position: relative;
    background-color: #fff;
  }

  #quextIdeviceForm .quext-EContents {
    background: transparent;
    width: 100%;
    margin: 5px auto;
    padding: 0;
  }

  #quextIdeviceForm .quext-EAnswers {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
  }

  #quextIdeviceForm .quext-EOptionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    width: 49%;
    margin: 3px 0;
  }

  #quextIdeviceForm .quext-EAnwersOptions {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-radius: 7px;
    padding: 3px;
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    text-align: center;
  }

  #quextIdeviceForm .quext-EOption0 {
    background-color: #fbd2d6;
    background-color: #f9f9f9;
    border: 1px solid #f05565;
  }

  #quextIdeviceForm .quext-EOption1 {
    background-color: #dfe3f1;
    background-color: #f9f9f9;
    border: 1px solid #8697cb;
  }

  #quextIdeviceForm .quext-EOption2 {
    background-color: #caede8;
    background-color: #f9f9f9;
    border: 1px solid #3abca7;
  }

  #quextIdeviceForm .quext-EOption3 {
    background-color: #fcf4d3;
    background-color: #f9f9f9;
    border: 1px solid #f3d55a;
  }

  #quextIdeviceForm .quext-ENavigationButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  #quextIdeviceForm .quext-ENavigationButton {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 0 5px;
  }

  #quextIdeviceForm .quextWordMutimediaEdition a:focus, #quextIdeviceForm .quextWordMutimediaEdition a:link, #quextIdeviceForm .quextWordMutimediaEdition a:visited, #quextIdeviceForm .quextWordMutimediaEdition a:active {
    outline: 0;
    border: none;
  }

  #quextIdeviceForm #quextNumerLives {
    width: 30px;
  }

  #quextIdeviceForm .quext-EButtonImage {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 0 3px;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  #quextIdeviceForm .quext-EButtonImage:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  #quextIdeviceForm .quext-Protector {
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .0001;
    z-index: 100000;
  }

  #quextIdeviceForm .quext-EText {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #cccccc;
  }

  #quextIdeviceForm #quextEText {
    display: none;
  }

  #quextIdeviceForm .quext-ECover, #quextIdeviceForm .quext-EImage, #quextIdeviceForm .quext-ENoImage, #quextIdeviceForm .quext-EVideo, #quextIdeviceForm .quext-ENoImageVideo, #quextIdeviceForm .quext-ENoVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
  }

  #quextIdeviceForm .quext-ECursor {
    position: absolute;
    left: 0;
    top: 0
  }

  #quextIdeviceForm input[type=number] {
    width: 40px;
  }

  #quextIdeviceForm fieldset input {
    margin: 5px;
  }

  /* To review */

  #quextIdeviceForm .exe-block-info img {
    vertical-align: middle;
    margin-left: .2em
  }

  #quextIdeviceFormTab3 * {
    font-size: 0.9em;
  }

  #quextIdeviceFormTab3 p:first-child {
    margin-top: 0
  }

  #quextIdeviceFormTab3 {
    overflow: auto
  }

  #quextIdeviceFormTab3 .ci18n {
    width: 50%;
    float: left
  }

  #quextIdeviceForm .quext-EAuthorAlt {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    color: #007ab3;
  }

  #quextIdeviceForm .quext-EInputAuthor input[type=text], #quextIdeviceForm .quext-EInputAlt input[type=text] {
    width: 90%;
    margin-left: 0;
    display: block;
  }

  #quextIdeviceForm .quext-EInputAuthor {
    width: 48%;
    margin-right: 5px;
  }

  #quextIdeviceForm .quext-EInputAlt {
    width: 48%;
  }

  #quextIdeviceForm .quext-EInputAuthor label, #quextIdeviceForm .quext-EInputAlt label {
    color: #035175;
  }

  #quextIdeviceForm .quext-EInputImage input[type=text] {
    width: 50%;
    margin-left: 0;
  }

  #quextIdeviceForm .quext-EVIDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f9f9f9;
    border-radius: 10px;
    z-index: 20000;
    display: none;
  }

  #quextIdeviceForm .quext-ENumQuestionDiv {
    width: 60px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    z-index: 20000;
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }

  #quextIdeviceForm .quext-ENumQ {
    width: 24px;
    height: 24px;
    margin-right: 0px;
    background: url(quextNumber.png);
  }

  #quextIdeviceForm .quext-ENumQuestions {
    width: 35px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  #quextIdeviceForm .quext-EVIV {
    width: 100%;
    background-color: transparent;
  }

  #quextIdeviceForm .quext-EMVI {
    position: relative;
    width: 560px;
    height: 315px;
    margin: 70px auto;
    background-color: transparent;
  }

  #quextIdeviceForm .quext-EVI, #quextIdeviceForm .quext-ENoVI {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
  }

  #quextIdeviceForm .quext-EVIOptions {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    position: absolute;
    flex-wrap: wrap;
    left: 0;
    bottom: 10px;
  }

  #quextIdeviceForm .quext-EVIOptions * {
    margin-left: 5px;
  }

  #quextIdeviceForm #quextEVIStart, #quextIdeviceForm #quextEVIEnd {
    width: 80px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
  }

  #quextIdeviceForm .quext-EVideoIntroDiv {
    width: 100%;
    height: 100%;
    width: 98%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    border-radius: 10px;
    z-index: 20000;
  }

  .quext-EVIClose {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  #quextIdeviceForm input#quextEVideoIntro {
    width: 40%;
  }

  #quextIdeviceForm .quext-EQuestionDiv {
    width: 97%;
    height: 39px;
    margin: 10px auto;
    padding: 0 3px;
    background: transparent;
  }

  #quextIdeviceForm #quextEQuestion {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    border: 1px solid #071717;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    text-align: center;
  }

  #quextIdeviceForm .quext-EInputOptionsVideo, #quextIdeviceForm .quext-ETitleImage, #quextIdeviceForm .quext-ETitleVideo, #quextIdeviceForm .quext-EInputVideo, #quextIdeviceForm .quext-EAuthorAlt {
    display: none;
  }

  @media screen and (max-width:720px) {
    #quextIdeviceForm #quextIdeviceFormTab3 .ci18n {
      width: 100%;
      float: none
    }
  }

  #quextIdeviceForm #quextIdeviceFormTab3 label {
    display: block;
    font-weight: bold;
    margin-bottom: .2em;
    font-size: 0.9em
  }

  #quextIdeviceForm #quextIdeviceFormTab3 input {
    width: 300px;
    font-size: 0.9em
  }

  /* Tabs (this should be common) */

  .exe-form-tabs {
    margin: 0 0 1.5em 0;
    padding: 0;
    list-style: none
  }

  #main .exe-form-tabs li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    display: inline
  }

  .exe-form-tabs li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
  }

  .exe-form-tabs li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
  }

  .exe-form-tabs a {
    display: inline-block;
    padding: .5em 1em;
    border: 1px solid #CCC;
    background: #F9F9F9;
    color: #666
  }

  .exe-form-tabs li:not(:last-child) a {
    border-right: none;
  }

  .exe-form-tabs .exe-form-active-tab {
    color: #000;
    background: #FFF;
    font-weight: 500
  }

  #quextSCORMoptions {
    visibility: hidden;
    margin-left: 1.5em
  }

  label[for=quextActivitySCORM] {
    font-weight: bold
  }

  #quextSCORMinstructionsButton {
    display: none;
    color: #777;
    margin: 10px 0 0 25px
  }

  #quextSCORMinstructionsButton ul {
    margin: 1.5em 0 .7em 0;
    padding: 0;
    list-style: none
  }

  #quextSCORMinstructionsButton ul li {
    margin: 0 0 .5em 0;
    padding: 0;
    list-style-image: none
  }

  #quextSCORMinstructionsAuto {
    display: none;
    color: #777;
    margin: 10px 0 0 25px
  }

  #quextSCORMinstructionsAuto ul {
    margin: 1.5em 0 .7em 0;
    padding: 0;
    list-style: none
  }