/* Download Package iDevice */
.exe-download-package-instructions .exe-table caption{font-size:1.2em;margin-bottom:.5em}
.exe-download-package-link{text-align:center;margin:2.7em 0 2em 0}
.exe-download-package-link a{padding:.5em 1em;border-radius:5px;background:#4e7106;color:#FFf;text-decoration:none}
.exe-download-package-link a:hover,.exe-download-package-link a:focus{text-decoration:underline}