/*  =================================================
/*  =================================================
/*  =================================================
     Fichero:content.css
     Proyecto:INTERBAC- Nueva plantilla para exeLearning
     Autor:Juan Diego Pérez Jiménez / Anibal de la Torre
     Fecha:Febrero 2009
     Descripcion:Hoja de estilos principal
     Company:  Servicio de Educación Permanente.
                Consejería de Educación
                Junta de Andalucía     
   ================================================== */
/* Estilo general del cuerpo de los contenidos */
body, html  {
  	background-color:#ffffff;
	color:#000000;
	font-size:small;
	text-align:justify;
	line-height:120%;
	height:100%;
}
* {font-family:Verdana,Arial, Helvetica, sans-serif !important}
p {
	margin:.7em 0;
}
blockquote {
	margin:12px 40px 12px 40px;
}
a:link,
a:active,
a:visited {
	color:#2d4784;
	text-decoration:none;
}
a:hover {
	color:#2d47854;
	text-decoration:underline;
}
img {
	margin:0 5px -3px 0;    
}
a img
{
	border:0;
	margin:0;	
}
table {
	margin:10px;
	border:1px solid;
	border-color:inherit;
	border-collapse:collapse;
	padding:3px;
}
table[align="center"]
{
	margin-left:auto;
	margin-right:auto;
}
td {
	border:1px solid;
	border-color:inherit;
	border-collapse:collapse;
	padding:3px;
}
/* PARA QUE AL EXPORTAR SE QUITEN LOS BORDES DE LAS PREGUNTAS */
.question table {
	border:0;
}
.question td {
	border:0;
}

ol,ul {
	margin-left:2em;	
}
ul li {
	list-style-image:url(bullet.gif);
}
div#nodeDecoration {
	text-align:left;
}
.nodeDecoration {
	text-indent:5px;
}
h1#nodeTitle {
	background:#627796 url(gaviotas3.gif) no-repeat right 50%;
	color:#FFFFFF;
	font-weight:bold;
    display:block;
	font-size:20px;
	line-height:25px;
	border-top:3px double #CCCCCC;
	border-bottom:3px double #CCCCCC;
	padding:1px 70px 3px 0;
    margin-top:0;
}
.nodeTitle {
	background:#627796 url(gaviotas3.gif) no-repeat right 50%;
	color:#FFFFFF;
	font-weight:bold;
    display:block;
	font-size:20px;
	line-height:25px;
	border-top:3px double #CCCCCC;
	border-bottom:3px double #CCCCCC;
	padding:1px 70px 3px 0;
    margin-top:0;
}
/* Cabecera para cuando exportemos a web sola para imprimir */
#header  {
    text-align:left;
    height:5px;
    padding-left:20px;
    font-size:2.2em;
    font-weight:bold;
}

/* iDevices */
.iDeviceTitle{top:0}
span.iDeviceTitle{height:48px;display:block}
.iDevice_header{background-position:0 0}

/* SCORM y otros comparten apariencia:esta es la apariencia por defecto */
.emphasis1 .iDevice_header{
    background:url(icon_question.gif) no-repeat 18px 0;
    padding:5px 25px 5px 73px;
    color:#6CA7E1
}
.iDevice.emphasis1{
    color:#000;
    background:#F4FAFF url(fondoev.gif) repeat-y 0 0;
    margin:15px 10px 25px 0;
    border:1px solid #ABCCEE;
    color:#000080
}
.emphasis1 .iDevice_content_wrapper{
    padding:0 25px 10px 40px;
}

/* Actividad */
.activityIdevice .iDevice_header{
    background-image:url(icon_activity.gif);
    color:#00007D;
}
.activityIdevice .iDevice{
    background:#ECECFF url(fondoev_activity.gif) repeat-y 0 0;
    border-color:#9797FF;
    color:#350094;
}

/* Actividad de lectura */
.readingIdevice .iDevice_header{
    background-image:url(icon_reading.gif);
    color:#494441;
}
.readingIdevice .iDevice,
.CasestudyIdevice .iDevice {
    background:#FCFCFC url(fondoev_bn.gif) repeat-y 0 0;
    border-color:#000;
    color:#4E4E4E;
}

/* Conocimiento previo */
.preknowledgeIdevice .iDevice_header{
    background-image:url(icon_preknowledge.gif);
    color:#008E34;
}
.preknowledgeIdevice .iDevice{
    background:#EEFFE7 url(fondoev_preknowledge.gif) repeat-y 0 0;
    border-color:#00532F;
    color:#008E34;
}

/* Objetivos */
.objectivesIdevice .iDevice_header{
    background-image:url(icon_objectives.gif);
    color:#B96A00;
}
.objectivesIdevice .iDevice{
    background:#FFF5E8 url(fondoev_objectives.gif) repeat-y 0 0;
    border-color:#FF9900;
    color:#B96A00;
}

/* Caso práctico */
.CasestudyIdevice .iDevice_header{
    background-image:url(icon_casestudy.gif);
    color:#494441;
}

/* Galería */
.GalleryIdevice .iDevice_header{
    background-image:url(icon_gallery.gif);
    color:#494441;
}
.customIdevice .iDevice_header{
    color:#494441;
}
.GalleryIdevice .iDevice,
.customIdevice .iDevice{
    background:#fff;
    border-color:#fff;
    color:#333;
    margin:8px 10px 0 0;
}

/* Retroalimentaciones */
.feedback {
	border:1px dashed #4E4E4E;
	color:#4E4E4E;
	background-color:#FFFFFF;
	padding:5px;
	margin:5px;
	font-size:1em;	
	height:auto !important;
	*height:auto !important;
	*height:0px;
	margin-bottom:5px;
	overflow-y:auto;
}

/* Formularios y botones */
input {
	font-weight:bold;
	color:inherit;
	border-color:inherit;
	border-style:solid;
	border-width:1px;
}
select {
	font-weight:bold;
	color:inherit;
	border-color:inherit;
	border-style:solid;
	border-width:1px;
}

/* Sugerencias y ayudas pedagógicas */
.popupDiv {
	background-color:#fff;
	border:2px solid #607489;
	padding:4px;
	margin-left:15px;
	text-align:left;
}
.popupDivLabel {
	text-align:center;
	font:message-box;
	font-weight:bold;
	color:#fff;
	margin:4px;
	background-color:#f00;
}

/* IDEVICE IMAGEN AMPLIADA */
.image_text {
	padding-left:20px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	color:#4E4E4E;
	background-image:url(fondoev_bn.gif);
	background-position:left top;
	background-repeat:repeat-y;
	background-color:#FCFCFC;
	border:1px solid #000000;
}
.image_text .image {
	background-image:url(icon_zoom.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
.image object {
	margin:0;
	padding:0;
	margin-top:55px;	
}
.image_text + .block {
	float:left;
	margin:5px;
	margin-right:-15px;
	color:#4E4E4E;
}

/* IDEVICE SITIO EXTERNO SITIO WEB */
iframe {
	border:1px solid #000;
	padding:2px;
}

.pre-code {
 	background:#112C4C;
	color:#E7ECF1;
	font-family:Monaco, Courier, monospace;
	font-size:12px;
	overflow:auto;
	padding:20px;
	border-radius:9px;
}

/* ESTILOS PARA IMPRIMIR */
img {
	page-break-inside:avoid;
}