/* ********************************************* */
/* **** TABLA DE COLORES ********************** */
/* ******************************************* */

body{
	color:#333333; /* Cuerpo de texto */
	background:#ffffff; /* Color de fondo */
}

#content{
	border-color:#cccccc; /* Border del contenedor principal */
	background:#ffffff; /* Color de fondo del contenedor principal */
}

#navcontainer a{
	color:#627796; /* Enlaces del menú */
	border-color:#627796; /* Borde que separa a los enlaces  */
}

#navcontainer a:hover,#subnav div:first-child a:hover{
	color:#FFFFFF; /* Enlaces al pasar sobre ellos */
	background:#627796; /* Fondo de los enlaces al pasar sobre ellos */
}

#subnav a{
	color:#627796; /* Menú: enlaces de segundo nivel */
}

#navcontainer #active{
	color:#0460B3; /* Enlace activo en el menú principal */
	border-color:#0460B3;  /* Borde del enlace activo en el menú principal */
	font-weight:bold;
}

.noprt{
	color:#fff; /* Color de texto del bloque Anterior/Siguiente: igual que el color de fondo de la página */
	border-color:#999; /* Color de borde del bloque: borde superior */
}

.noprt a{
	background-color:#ffffff; /* Color de fondo de los enlaces Anterior/Siguiente */
	color:#627796; /* Color de texto de estos enlaces */
}

.noprt a:hover{
	background-color: #627796; /* Color de fondo de los enlaces Anterior/Siguiente al pasar sobre ellos */
	color:#FFFFFF; /* Color de texto de estos enlaces al pasar sobre ellos */
}

/* ************************************************************************** */
/* **** TABLA DE COLORES para usarios del eXe del ITE ********************** */
/* ************************************************************************ */

#siteNav a{
	color:#627796; /* Enlaces del menú */
	border-color:#627796; /* Borde que separa a los enlaces */
}

#siteNav a:hover{
	color:#FFFFFF; /* Enlaces al pasar sobre ellos */
	background:#627796; /* Fondo de los enlaces al pasar sobre ellos */
}

#siteNav ul ul a{
	color:#627796; /* Menú: enlaces de segundo nivel */
}

#siteNav .active{
	color:#0460B3; /* Enlace activo en el menú principal */
	font-weight:bold; /* Peso fuente */
	border-color:#0460B3;  /* Borde del enlace activo */
}

#siteNav .other-section{
	display:none; /* Eliminar si se quiere que se muestren todos los niveles */
}

/* ********************************************* */
/* **** OTRAS DEFINICIONES ******************** */
/* ******************************************* */

/* ITE nav */
#main{padding:10px 20px 11px 250px}
#header,#emptyHeader{display:none;}
* html #header,* html #emptyHeader{display:none;} /* IE6 */
#nodeTitle{position:absolute;top:10px;left:250px;margni-left:0}
#nodeTitle{font-size:1.6em;margin:20px 10px 0 0}
#main #nodeDecoration{background:none;padding:0 10px;border:none;padding-bottom:40px;}
h1#nodeTitle {width:620px;margin-left:10px;padding-left:5px;}

body{font:100%/1.5 Arial,Verdana,Helvetica,sans-serif;padding:0;margin:0;text-align:center}
#content{font-size:.75em;width:985px;margin:0 auto 10px auto;text-align:left;position:relative;border-style:solid;border-width:0px;border-top:0}

#navcontainer {width: 230px;float: left;padding-right:20px}
#navcontainer ul,#navcontainer li{margin:0;padding:0}
#navcontainer a{display:block;padding:4px 0 4px 10px;border-width:0 0 1px 0;border-style:dotted;border-color: #627796;}
#navcontainer div:first-child,#navcontainer div:first-child a{font-weight:bold;font-variant:small-caps;letter-spacing:1px}
#navcontainer div:first-child a:hover{text-decoration:underline;background:none}
#subnav div:first-child,#subnav div:first-child a{font-weight:normal;font-variant:normal;letter-spacing:0}
#navcontainer a:hover,#subnav div:first-child a:hover{text-decoration:none}
#subnav{font-size:11px}
/*#subnav a{color:#555}*/
#navcontainer #active{font-weight:bold;padding:4px 0 4px 10px;border-style:dotted;border-width:0 0 1px 0;border-color: #627796;}
#subnav a,#subnav #active{padding:4px 0 4px 25px}

/* ********************************************************* */
/* **** DEFINICIONES específicas para el eXe del ITE ****** */
/* ******************************************************* */ 

/* #emptyHeader  (ver #header) */
#siteNav{width:230px;float: left;padding-right:20px}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav a{display:block;padding:4px 0 4px 10px;border-width:0 0 1px 0;border-style:dashed; border-color: #627796;}
* html #siteNav a{display:inline-block;width:100%} /* IE6 */
#siteNav .main-node{font-weight:bold;font-variant:small-caps;letter-spacing:1px;font-size:1.1em}
#siteNav a.main-node:hover{text-decoration:underline;background:#627796}
#siteNav ul ul a{padding-left:25px;font-size:.95em}
#siteNav ul ul ul a{font-size:1em;padding-left:50px}

/* Pagination */
.pagination,.noprt{border-style:dashed;border-width:1px 0 0 0;padding-top:10px;text-align:right; border-color: #627796;}
.pagination a,.noprt a{padding:3px;}
.pagination a:hover,.noprt a:hover{text-decoration:none}
#topPagination{display:none;}
#topPagination .pagination{display:none;}

/* Footer and iDevices */
#pageFooter{text-align:center;margin-left:-250px}
.iDeviceTitle{vertical-align:top}

/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}
