/* Colores */
body{
	color:#333333; /* Cuerpo de texto */
	background:#ffffff; /* Color de fondo */
}

#content{
	border-color:#cccccc; /* Border del contenedor principal */
	background:#ffffff; /* Color de fondo del contenedor principal */
}

.noprt{
	color:#fff; /* Color de texto del bloque Anterior/Siguiente: igual que el color de fondo de la página */
	border-color:#627796; /* Color de borde del bloque: borde superior */
}

.noprt a{
	background-color:#ffffff; /* Color de fondo de los enlaces Anterior/Siguiente */
	color:#627796; /* Color de texto de estos enlaces */
}

.noprt a:hover{
	background-color: #627796; /* Color de fondo de los enlaces Anterior/Siguiente al pasar sobre ellos */
	color:#FFFFFF; /* Color de texto de estos enlaces al pasar sobre ellos */
}

#siteNav a,#nav-toggler a{
	color:#627796; /* Enlaces del menú */
	border-color:#627796; /* Borde que separa a los enlaces */
	background:#FFFFFF; /* Fondo de los enlaces */
}

#siteNav a:hover{
	color:#FFFFFF; /* Enlaces al pasar sobre ellos */
	background:#627796; /* Fondo de los enlaces al pasar sobre ellos */
}

#siteNav ul ul a{
	color:#627796; /* Menú: enlaces de segundo nivel */
}

#siteNav .active{
	color:#0460B3; /* Enlace activo en el menú principal */
	font-weight:bold; /* Peso fuente */
	border-color:#0460B3;  /* Borde del enlace activo */
}

#siteNav .other-section{
	display:none; /* Eliminar si se quiere que se muestren todos los niveles */
}

/* OTRAS DEFINICIONES */
body{font:100%/1.5 Arial,Verdana,Helvetica,sans-serif;padding:0;margin:0;text-align:center}
#content{font-size:.75em;width:965px;margin:0 auto 10px auto;text-align:left;position:relative;border:0;padding-bottom:21px}
#main-wrapper{padding:10px 0 0 260px}
#main{width:100%}
#header,#emptyHeader{position:absolute;left:-9999em;overflow:hidden}
* html #header,* html #emptyHeader{display:none} /* IE6 */
#main #nodeDecoration{background:none;padding:0;border:none;padding-bottom:5px}
h1#nodeTitle {padding-left:5px}

#siteNav{width:230px;float:left;padding-right:20px}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav a{display:block;padding:4px 0 4px 10px;border-width:0 0 1px 0;border-style:dashed}
* html #siteNav a{display:inline-block;width:100%} /* IE6 */
#siteNav .main-node{font-weight:bold;font-variant:small-caps;letter-spacing:1px;font-size:1.1em}
#siteNav a.main-node:hover{text-decoration:underline}
#siteNav ul ul a{padding-left:25px;font-size:.95em}
#siteNav ul ul ul a{font-size:1em;padding-left:50px}
#siteNav ul li{list-style-image:none} /* IE6 */

#siteFooter{padding-left:260px}

/* Pagination */
.pagination,.noprt{border-style:dashed;border-width:1px 0 0 0;padding-top:10px;text-align:right}
.pagination a,.noprt a{padding:3px}
.pagination a:hover,.noprt a:hover{text-decoration:none}
#topPagination{display:none}
#topPagination .pagination{display:none}
#bottomPagination{padding-left:260px}

/* Footer and iDevices */
.iDeviceTitle{vertical-align:top}

/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}

/* No menu */
#nav-toggler{position:absolute;top:0;margin:0}
#nav-toggler a{display:block;padding:4px 0;border-width:0 0 1px 0;border-style:dashed;width:230px;text-indent:10px}
.js #siteNav{margin-top:2.2em}
.no-nav #main-wrapper{padding:34px 0 21px 0}
.no-nav #nav-toggler,.no-nav #nav-toggler a{width:100%}
.no-nav #bottomPagination,.no-nav #siteFooter{padding-left:0}

/* IE6 */
* html #main{width:auto}
* html #siteNav a{width:220px}
* html #siteNav ul ul a{width:205px}
* html #siteNav ul ul ul a{width:180px}

/* Responsive design */
@media all and (max-width: 995px) {
	#content{width:100%}
	#main-wrapper{padding:10px 15px 0 220px}
	.no-nav #main-wrapper{padding:34px 15px 21px 15px}
	#bottomPagination,#siteFooter{padding-left:220px;padding-right:15px}
	.no-nav #bottomPagination,.no-nav #siteFooter{padding-left:15px}
	#siteNav,#nav-toggler a{width:200px}
}
@media all and (max-width: 780px) {
	#siteNav{width:100%;float:none;padding-right:0}
	.js #siteNav{margin-top:0}
	#main-wrapper,.no-nav #main-wrapper{padding:10px 15px}
	#nav-toggler{position:relative;text-align:center}
	#nav-toggler a{width:100%;font-weight:bold;letter-spacing:1px;font-size:1.1em}
	#bottomPagination,#siteFooter{padding-left:15px;padding-right:15px}
	#bottomPagination{position:relative;margin-bottom:15px}
	#bottomPagination .prev{position:absolute;left:15px}
	#bottomPagination .next{position:absolute;right:15px}
}