/* Download Package iDevice (edition CSS) */
#eXeDownloadPackageForm p{margin-bottom:1.5em}
#eXeDownloadPackageForm fieldset{padding:10px 20px;border:1px solid #C0C0C0;margin:1.5em 0}
#eXeDownloadPackageForm legend{font-weight:bold;padding:0 10px}
#eXeDownloadPackageForm .dpi-label-col{margin-left:1.5em}