/*
eXe
Copyright 2004-2005, eXelearning. 
style for  slate

Modified by Ignacio Gros for eXeLearning.net
See Help - eXe Tutorial for more info on how to modify this style for your needs.
*/
html{padding:0}
body{font:.75em/1.5 Arial,Verdana,Helvetica,sans-serif;padding:15px;margin:0;text-align:left;color:#222;background:#CAC3B5}
a{color:#004080}
a:hover,a:focus{color:#036}
#header,#emptyHeader{text-align:left;height:3em;padding-left:0;font-size:1.5em;line-height:3em;text-shadow:1px 1px 1px #444;border-bottom:4px solid #8A0A0A;color:#fff} /* Header is also in single page */
#header h1{margin:0;font-size:1em}
#nodeDecoration{text-align:left;padding:.75em 0;margin-bottom:1.5em;text-shadow:1px 1px 1px #fff;border-bottom:4px solid #8A0A0A;color:#514E4C}
#nodeTitle,.nodeTitle{font-size:1.5em;margin:0;font-weight:bold;text-align:right} /* .nodeTitle when single page */
.nodeTitle{padding:.1em 0 .6em 0;border-bottom:4px solid #fff;margin-top:1em;text-align:right;color:#900;text-shadow:1px 1px 1px #fff}
#main h2{font-size:1.4em}
#main .iDeviceTitle{display:inline;font-weight:normal;font-size:1.4em}
h3{font-size:1.25em;color:#666}
#main h4{font-size:1.2em}
#main h5{font-size:1.1em}
.iDevice,.readingIdevice .iDevice{margin:2em 15px;background:#fff;padding:15px}
.emphasis0{background:none;margin:2em auto;padding:0 15px}

/* iDevice icons */
.iDevice_icon{height:48px;width:auto;margin-right:8px}
.iDevice_header{background:url(icon_generic.gif) no-repeat 0 0;padding-left:56px}
.activityIdevice .iDevice_header{background-image:url(icon_activity.gif)}
.readingIdevice .iDevice_header{background-image:url(icon_reading.gif)}
.ListaIdevice .iDevice_header,
.QuizTestIdevice .iDevice_header,
.MultichoiceIdevice .iDevice_header,
.TrueFalseIdevice .iDevice_header,
.MultiSelectIdevice .iDevice_header,
.ClozeIdevice .iDevice_header{background-image:url(icon_question.gif)}
.CasestudyIdevice .iDevice_header{background-image:url(icon_casestudy.gif)}
.preknowledgeIdevice .iDevice_header{background-image:url(icon_preknowledge.gif)}
.GalleryIdevice .iDevice_header{background-image:url(icon_gallery.gif)}
.objectivesIdevice .iDevice_header{background-image:url(icon_objectives.gif)}
.ReflectionIdevice .iDevice_header{background-image:url(icon_reflection.gif)}

.iDeviceTitle{font-size:1.3em;vertical-align:top;top:0;color:#900;line-height:3em}
.iDevice_content{overflow:auto}
.iDevice_inner{margin-left:55px}
#siteFooter{color:#000;font-size:.95em}
#siteFooter a{color:#DB0B00}
input,select,textarea{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
.ExternalUrlIdevice iframe{border:none}
/* Lightbox */
.exeImageGallery{width:100%}
/* base.css */
.block,.feedback{padding:0}
.feedback{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
li{list-style-position:outside}
#wikipedia-content ul li{list-style-image:none;margin-bottom:auto}
.exe-dl .icon{line-height:17px}
.js .exe-dl dd{margin-left:34px}
/* Form buttons */
.feedbackbutton{background:#FFFDB1;margin-bottom:1em}
/* Hide/Show iDevice */
.toggle-idevice{margin:12px 0 0;text-align:right;display:block}
.iDevice_header .toggle-idevice{float:right;margin:0}