/*  ------------------------------------------------------
    Copyright eXelearning 2007
    Created by Brent Simpson, brent@exelearning.org
    ------------------------------------------------------ */



/* HEADER */


#header {
    text-align: left;  
    color: #FFF;
    background-color: #CAC3B5;
    height: 30px;
    padding-left: 10px;
    font-size: 2.2em;
    font-weight: bold;
}


/* LEFT-HAND NAVIGATION */

#navcontainer {
	background-color: #696967;
        border-top: 4px solid #8A0A0A;
	width: 200px;
	float: left;
	margin-top: 24px;
	}
				
#navcontainer ul {
	margin-left: 0px;
	padding-left: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	}

#navcontainer a {
	display: block;
	padding: 3px 0 3px 6px;
	width: 194px;
	}

#navcontainer a:hover {
        background-color: #848484;
} 

#navcontainer a:link, #navlist a:visited {
	color: #EAE0D1;
	text-decoration: none;
	}


/* Hide from IE5-mac. Only IE-win sees this. Fixes the peek-a-boo bug!!! */
 
* html #navcontainer {
  margin-right: 10px;
  }
 
* html p {
  height: 1%;
  margin-left: 0;
  }
 
/* End hide from IE5/mac */

#navcontainer #active {
	padding: 3px 0 3px 6px;
	width: 194px;
	background-color: #8B8B89;
	font-weight: bold;
	color: #EAE0D1;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
	}

div #subnav {
	border-bottom: 1px solid #CCC;
	}
	
#subnav a {
	display: block;
	border: 0 !important;
	width: 188px;
	padding: 3px 0 3px 12px;
	font-size: x-small;
	}

#subnav #active {
	background-color: #8B8B89;
	width: 188px;
	color: #DBD3C6;
	padding: 3px 0 3px 12px;
	font-size: x-small;
	}	
	
#main {
	margin: 0px 0px 0px 200px;
	line-height: 140%;
        background-color: #FFF;
	}
	
/* ITE elements */

#siteNav {
	background-color: #696967;
	border-top: 4px solid #8A0A0A;
	width: 200px;
	float: left;
	padding:12px 0;
	margin-top: 22px;
}

#siteNav ul,#siteNav li{
	margin:0;
	padding:0;
	list-style:none;
}

#siteNav a {
	display: block;
	padding: 3px 3px 3px 6px;
	color: #EAE0D1;
	text-decoration: none;
	width:191px;
}

#siteNav a:hover {
	background-color: #848484;
}

#siteNav .active {
	background-color: #8B8B89;
	font-weight: bold;
	color: #EAE0D1;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
}


#siteNav ul ul ul{
	border-bottom:1px solid #ccc;
	font-size:11px;
}

#siteNav ul ul ul a{
	width: 181px;
	padding-left:16px;
}

#siteNav ul ul ul .active{
	background-color: #8B8B89;
	color: #DBD3C6;
	font-weight:normal;
}

#siteNav .other-section{
	display:none; /* Remove if you want all levels to be displayed */
}

* html #siteNav a,* html #siteNav ul ul ul a{ /* IE6 */
	width:200px;
}