/*
Copyright eXelearning 2007
Created by Brent Simpson, brent@exelearning.org

Modified by Ignacio Gros for eXeLearning.net
See Help - eXe Tutorial for more info on how to modify this style for your needs.
*/
body{padding:0;background:#fff url(_slate_side_bg.gif) repeat-y}
#content{width:100%;position:relative;padding-bottom:10px;min-width:380px}
#main-wrapper{padding:10px 20px 0 250px}
#main{width:100%}
#header,#emptyHeader{border-top:none;padding-left:15px;background:#CAC3B5;padding-right:220px}
#nodeDecoration{padding:0;margin:0;background:none;border:none}
#nodeTitle{padding:0 0 .7em 0;border-bottom:4px solid #8B8B89}
.iDevice,.readingIdevice .iDevice{margin:2em 0;padding:0}
.iDevice:last-child{margin-bottom:0}
.emphasis0{padding:0}
.iDevice_inner{margin-left:55px;border-bottom:1px solid #ddd;padding-bottom:20px}
.emphasis0,.GalleryIdevice .iDevice{padding-bottom:15px;border-bottom:1px solid #ddd}
/* Navigation */
#skipNav{text-align:center;padding-top:18px}
#skipNav a{background:#8A0A0A}
#siteNav{width:230px;float:left}
#siteNav,#siteNav ul{border-color:#FAFFE6}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav a{display:block;padding:4px 0 4px 15px;color:#EAE0C6;border-bottom:1px solid #696967;border-top:1px solid #696967;background:#696967}
#siteNav a:hover,#siteNav a:focus{background-color:#848484}
* html #siteNav a{display:inline-block;width:100%} /* IE6 */
#siteNav ul ul a{padding-left:30px;font-size:.95em}
#siteNav .active,#siteNav .active:hover,#siteNav .active:focus{background:#8B8B89;border-color:#fff}
#siteNav .other-section{display:none}
#siteNav ul ul ul a{padding-left:45px}
#siteFooter{color:#555;padding:0 20px 10px 250px}
/* Pagination */
.pagination{text-align:right}
.pagination a{margin-left:20px;color:#036}
.pagination .sep{display:none}
.pagination a:hover,.pagination a:focus{color:#3C5866}
#topPagination{position:absolute;top:-4px;width:100%;right:20px}
#topPagination .prev{margin-left:20px}
#topPagination .pagination{padding-top:20px}
#bottomPagination{padding:16px 20px 10px 250px}
#bottomPagination .page-counter{margin-left:20px;margin-right:0}
/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}

/* No menu */
.no-nav #main-wrapper,.no-nav #bottomPagination,.no-nav #siteFooter{padding-left:20px}
body.no-nav{background-image:none}

/* IE6 */
* html #main{width:auto}
* html #siteNav a{width:215px}
* html #siteNav ul ul a{width:200px}
* html #siteNav ul ul ul a{width:185px}

/* Search bar */
#exe-client-search-form{margin-top:10px}

/* Responsive design */
@media all and (max-width: 980px) {
	body{background-position:-30px 0}
	#main-wrapper,#siteFooter,#bottomPagination{padding-left:220px}
	#siteNav{width:200px}
}
@media all and (max-width: 780px) {
	body{background-image:none}
	#main-wrapper,.no-nav #main-wrapper{padding:10px}
	#header,#emptyHeader{padding-right:15px}
	#siteNav{width:100%;float:none;padding-right:0}
	#siteFooter,.no-nav #siteFooter{padding:0 10px 10px 10px;text-align:center}
	.pagination{font-weight:bold;font-size:1.1em}
	#topPagination{position:relative;top:auto;width:100%;right:auto;padding:0}
	#topPagination .pagination{padding:0 0 1px 0;text-align:center;background:#514e4c}
	#topPagination .prev,#topPagination .next,#topPagination .page-counter{display:none}
	#bottomPagination,.no-nav #bottomPagination{position:relative;padding:5px 10px 15px 10px}
	#bottomPagination .prev{position:absolute;left:10px;margin-left:0}
	#bottomPagination .page-counter{position:absolute;width:50%;left:25%;text-align:center;margin:0;font-weight:normal}
	#nav-toggler a,#nav-toggler a:focus{display:inline-block;padding:4px;width:80%;color:#fff;font-variant:small-caps;letter-spacing:1px;outline:none;text-decoration:none}
	#exe-client-search-form{text-align:center}
}