/*
eXe
Copyright 2004-2005, University of Auckland
style for seamist.

Modified by Ignacio Gros for eXeLearning.net
See Help - eXe Tutorial for more info on how to modify this style for your needs.
*/
html{padding:0}
body{font:.75em/1.5 Arial,Verdana,Helvetica,sans-serif;padding:15px;margin:0;text-align:left;color:#222;background:#fff}
#main{background:#EDEFF0;padding:15px}
a{color:#036}
a:hover,a:focus{color:#3C5866}
#header,#emptyHeader{text-align:left;height:auto!important;height:1.5em;min-height:1.5em;padding:.75em 0;font-size:1.5em;text-shadow:1px 1px 1px #fff;border-bottom:1px solid #fff;border-top:1px solid #fff;color:#3C5866} /* Header is also in single page */
#header h1{margin:0;font-size:1em}
#nodeDecoration{text-align:left;padding:.75em 0;margin-bottom:1.5em;text-shadow:1px 1px 1px #fff;border-bottom:1px solid #fff;border-top:1px solid #fff;color:#3C5866}
#nodeTitle,.nodeTitle{font-size:1.5em;margin:0;font-weight:bold;text-align:right} /* .nodeTitle when single page */
.nodeTitle{padding:.1em 0 .6em 0;border-bottom:1px solid #fff;margin-top:1em;text-align:right;color:#3C5866;text-shadow:1px 1px 1px #fff}
#main h2{font-size:1.4em}
#main .iDeviceTitle{display:inline-block;font-weight:normal;font-size:1.4em}
h3{font-size:1.25em;color:#666}
#main h4{font-size:1.2em}
#main h5{font-size:1.1em}
.iDevice,.readingIdevice .iDevice{margin:2em 0;padding:10px;background:#B1C0C7;border-radius:5px;border:1px solid #3C5866}
.emphasis0{padding:0;background:none;border:none}
/* iDevice icons */
.iDevice_icon{height:48px;width:auto;margin-right:8px}
.iDevice_header{background:url(icon_generic.gif) no-repeat 0 0;padding-left:56px;position:relative}
.activityIdevice .iDevice_header{background-image:url(icon_activity.gif)}
.readingIdevice .iDevice_header{background-image:url(icon_reading.gif)}
.ListaIdevice .iDevice_header,
.QuizTestIdevice .iDevice_header,
.MultichoiceIdevice .iDevice_header,
.TrueFalseIdevice .iDevice_header,
.MultiSelectIdevice .iDevice_header,
.ClozeIdevice .iDevice_header{background-image:url(icon_question.gif)}
.CasestudyIdevice .iDevice_header{background-image:url(icon_casestudy.gif)}
.preknowledgeIdevice .iDevice_header{background-image:url(icon_preknowledge.gif)}
.GalleryIdevice .iDevice_header{background-image:url(icon_gallery.gif)}
.objectivesIdevice .iDevice_header{background-image:url(icon_objectives.gif)}
.ReflectionIdevice .iDevice_header{background-image:url(icon_reflection.gif)}

.iDeviceTitle{vertical-align:top;top:0;color:#3C5866;height:auto!important;height:1.5em;min-height:1.5em}
#main .iDeviceTitle{*display:inline;*line-height:3em}/* IE6, IE7 */
.iDevice_content{overflow:auto}
.iDevice_inner{padding:0 10px}
.emphasis0 .iDevice_inner{padding:0}
#siteFooter{color:#666;font-size:.95em;margin-top:15px}
input,select,textarea{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
.ExternalUrlIdevice iframe{border:none}
/* Lightbox */
.exeImageGallery{width:100%}
/* base.css */
.block,.feedback{padding:0}
.feedback{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
li{list-style-position:outside}
#wikipedia-content ul li{list-style-image:none;margin-bottom:auto}
.exe-dl .icon{line-height:17px}
.js .exe-dl dd{margin-left:34px}
.exe-enlarge-icon b{font-size:1.7em}
/* Form buttons */
.feedbackbutton{background:#C6E2FA;margin-bottom:1em}
/* Hide/Show iDevice */
.toggle-idevice{margin:12px 0 0;text-align:right;display:block}
.iDevice_header .toggle-idevice{padding-top:2px;margin:0;position:absolute;top:0;right:0}
.toggle-idevice a{display:inline-block;width:16px;height:16px;background:url(_seamist_hide_show.gif) no-repeat 0 -16px}
.toggle-idevice .show-idevice{background-position:0 0}
.toggle-idevice span{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}
/* Effects */
.exe-fx .fx-C2,
.exe-fx .fx-C2 a,
.fx-pagination a{background:#FFF}