/*  =================================================
    eXe
    Copyright 2004-2005, University of Auckland

    style for seamist.
    ================================================== */


body {
    padding: 10px 10px 10px 10px;
    background: #FFFFFF;
}

a { 
    color: #003366;
    text-decoration: none;
    border: 0;
}

a:hover {color: #3C5866;
    text-decoration: underline; 
}

#main {
    margin: 10px 10px 10px 10px;
    padding: 18px;
    margin: 10px 10px 10px 10px;
    background-color: #EDEFF0;
    line-height: 140%;

    }


form > #main {
    margin: 10px 10px 10px 10px;
    padding: 18px;
    margin: 10px 10px 10px 10px;
    background-color: #EDEFF0;
    line-height: 140%;

    } // makes style apply to authoring in eXe environment by removing left indent

li {list-style-position: inside;}



#header { 
    color: #3C5866;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: center;
}
/* -- style the node title on each page -- */

p#nodeTitle { 
    color: #3C5866;
    font-size: 18px;
    letter-spacing: 3px;
}

div#nodeDecoration {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

/* --- iDevice Styles --- */

.emphasis0 {
	padding-top: 10px;

}

.emphasis1 {
    background-color: #B1C0C7;
    padding-left: 10px;
    border: 1px solid #3C5866;
    margin: 10px;
}


.iDevice p, .iDevice div.block {
    padding-left: 24px;
    padding-right: 20px;
    line-height: 115%
    text-align: left;
}

.iDeviceTitle {
    color: #3C5866;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: normal;
}  

.iDevice li {
	list-style-position: outside;
}

input.feedbackbutton {
    background: #C6E2FA;
    color: #3C5866;
}


/* styles for image with text iDevice */

.image_text { 
    border: 1px solid #3C5866;
    background: #FFF;
    padding: 4px;
    margin: 0px 20px 4px 4px;
}

p.reading_feedback {
    font-style: italic;
}
