/*  
Copyright University of Auckland 2004
Created by Brent Simpson, brent.simpson@auckland.ac.nz
Centre for Flexible and Distance Learning

Modified by Ignacio Gros for eXeLearning.net
See Help - eXe Tutorial for more info on how to modify this style for your needs.
*/
body{padding:15px 20px 20px 20px}
#content{width:100%;position:relative;padding-bottom:10px;min-width:380px;background:#EDEFF0 url(_seamist_side_bg.gif) repeat-y 0 0}
#main-wrapper{padding:20px 20px 0 260px;background:none}
#main{width:100%;padding:0}
#content{padding-bottom:21px}
#header,#emptyHeader{border-top:none;background:#fff;padding-right:220px}
#nodeDecoration{padding:0;margin:0;background:none;border:none}
#nodeTitle{padding:.5em 0;border-top:1px solid #fff;border-bottom:1px solid #fff}
#siteFooter{margin-top:10px;padding-left:260px}
/* Navigation */
#skipNav{text-align:center}
#skipNav a{background:#51778A}
#siteNav{width:220px;float:left;padding-right:20px}
#siteNav,#siteNav ul{border-color:#FAFFE6}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav a{display:block;padding:4px 0 4px 15px;color:#96852C;border-bottom:1px solid #D3D8DA;background:#fff}
#siteNav .main-node{border-top:1px solid #D3D8DA}
#siteNav a:hover,#siteNav a:focus{background-color:#EDEFF0;color:#517793}
* html #siteNav a{display:inline-block;width:100%} /* IE6 */
#siteNav ul ul a{padding-left:30px;font-size:.95em}
#siteNav .active,#siteNav .active:hover,#siteNav .active:focus{color:#fff;background:#51778A}
#siteNav .other-section{display:none}
#siteNav ul ul ul a{padding-left:45px}
/* Pagination */
.pagination{border-top:1px solid #fff;padding-top:20px;text-align:right;color:#EDEFF0}
.pagination .sep{display:none}
.pagination a{padding:0;margin-left:20px}
.pagination a:hover,.pagination a:focus{color:#8B7B73}
#topPagination{position:absolute;top:-2px;width:100%;right:0}
#topPagination .prev{margin-left:20px}
#topPagination .pagination{border:none;color:#fff}
#bottomPagination{padding:0 20px 0 260px}
/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}

/* IE6 */
* html #main{width:auto}
* html #siteNav a{width:205px}
* html #siteNav ul ul a{width:190px}
* html #siteNav ul ul ul a{width:175px}

/* No menu */
.no-nav #main-wrapper,.no-nav #siteFooter,.no-nav #bottomPagination{padding-left:20px}
.no-nav #content{background-image:none}

/* Responsive design */
@media all and (max-width: 980px) {
	#content{background-position:-30px 0}
	#main-wrapper,#siteFooter,#bottomPagination{padding-left:230px}
	#siteNav{width:190px}
}

@media all and (max-width: 780px) {
	body{padding:10px}
	#main-wrapper,.no-nav #main-wrapper{padding:15px 15px 0 15px;border-top:10px solid #fff}
	#header,#emptyHeader{padding-right:0}
	#content{background-image:none}
	#siteNav{width:100%;float:none;padding-right:0}
	#siteFooter{padding:0 15px;text-align:center}
	.pagination{font-weight:bold;font-size:1.1em}
	.pagination a{margin:0}
	#topPagination{position:relative;top:auto;width:100%;right:auto;padding:0}
	#topPagination .pagination{padding:0;text-align:center;background:#96852C;border-bottom:1px solid #D3D8DA}
	#topPagination .prev,#topPagination .next{display:none}
	#bottomPagination,.no-nav #bottomPagination{margin:0 15px;padding:0;position:relative}
	#bottomPagination .prev{position:absolute;left:0}
	#nav-toggler a,#nav-toggler a:focus{display:inline-block;padding:4px;width:80%;color:#fff;letter-spacing:1px;outline:none;text-decoration:none}
}