/*  Copyright University of Auckland 2004
	Created by Brent Simpson, brent.simpson@auckland.ac.nz
	Centre for Flexible and Distance Learning
*/

body {
	background-color: #FFFFFF;
	margin: 0 0 0 0; padding: 0 0 0 0;
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
	}



a:link, a:visited {
	text-decoration: none;
	color: #00468C;
	}
	
a:hover {
	color: #8B7B73;
	}

#main {
	padding: 18px;
	margin: 10px 10px 10px 180px;
	background-color: #EDEFF0;
	}
	   
#navtpr {
	color: #000;
	}


#header {
    text-align: left;  
    color: #3C5866;
    background-color: transparent;
    height: 100px;
    padding-left: 20px;
    font-size: 2.2em;
    font-weight: bold;
}


/* LEFT-HAND NAVIGATION */

#navcontainer {
	background-color: #FFFFFF;
	width: 169px;
	float: left;
	margin-top: 10px;
	}
				
#navcontainer ul {
	margin-left: 0px;
	padding-left: 0;
	margin-top: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	}

#navcontainer a {
	display: block;
	padding: 3px 0 3px 6px;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	width: 163px;
	}

#navcontainer a:link, #navlist a:visited {
	color: #96852C;
	text-decoration: none;
	}

#navcontainer a:hover {
	color: #51778A;
	background-color: #EDEFF0;
	}

/* Hide from IE5-mac. Only IE-win sees this. Fixes the peek-a-boo bug!!! */
 
* html #navcontainer {
  margin-right: 10px;
  }
 
* html p {
  height: 1%;
  margin-left: 0;
  }
 
/* End hide from IE5/mac */

#navcontainer #active {
	padding: 3px 0 3px 6px;
	width: 163px;
	background-color: #51778A;
	color: #EDEFF0;
	border-bottom: 1px solid #CCC;
	}

div #subnav {
	/*border-bottom: 1px solid #CCC;*/
   margin-left: 10px;
	}
	
#subnav a {
	display: block;
	border: 0 !important;
   width: auto;
	margin-left: 10px;
	padding: 3px 0 3px 6px;
	font-size: x-small;
	/*border-bottom: 1px solid #FFF;*/
	}

#subnav a:hover {
	color: #51778A;
	background-color: #EDEFF0;
   width: auto;
	}	
	
#subnav #active {
	margin-left: 10px;
	background-color: #51778A;
	width: auto;
	color: #EDEFF0;
	font-size: x-small;
	/*border-bottom: 1px solid #FFF;*/
	}	
	
/* ITE elements */

#siteNav {
	width: 169px;
	float: left;
	margin:20px 10px 0 0;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
}

#siteNav ul,#siteNav li{
	margin:0;
	padding:0;
	list-style:none;
}

#siteNav a {  /* sections not active */
	display: block;
	padding: 4px 4px 4px 12px;
	background-color: #FFF;
	border-bottom: 1px solid #ccc;
	color: #96852C;
	text-decoration: none;
}

#siteNav a:hover {
	color: #51778A;
	background-color:#EDEFF0;
}

#siteNav #active .active {
	background-color: #51778A;
	color: #ffffff;
	border-bottom: 1px solid #fff;
}

#siteNav ul ul a{
	font-size:11px;
	display: block;
	border: 0 !important;
	width: auto;
	margin-left: 10px;
	padding: 4px 0 4px 16px;
}

#siteNav .other-section{
	display:none; /* Remove if you want all levels to be displayed */
}

* html #siteNav{ /* IE6 */
	font-size:12px;
}

* html #siteNav a,* html #siteNav ul ul a{ /* IE6 */
	width:100%;
}

.pagination{
	text-align:right;
}

/* Invisible content (visible for screen reader users) */
#topPagination{
	position:absolute;
	overflow:hidden;
	clip:rect(0,0,0,0);
	height:0;
}