Source: intef-exe
Section: education
Priority: optional
Maintainer: Pedro Peña <pedro.pena@open-phoenix.com>
Homepage: http://exeLearning.net/
Vcs-Browser: https://forja.cenatic.es/scm/browser.php?group_id=197
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9), python-all (>= 2.7), dh-python, python-setuptools, docbook-xsl, docbook-xml, xsltproc
X-Python-Version: >=2.7

Package: intef-exe
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-setuptools, python-zopeinterface (>=3.0.0-6) | python-zope.interface, python-imaging, python-chardet, python-lxml, iceweasel | www-browser, python-feedparser, mimetex, python-beautifulsoup, python-suds, python-requests-oauthlib, python-dateutil, python-cssmin | cssmin, python-webassets
Conflicts: python2.3-exe, python2.4-exe, python2.5-exe, python-exe, python-intef-exe
Replaces: python2.3-exe, python2.4-exe, python2.5-exe, python-exe, python-intef-exe
Description: eLearning XHTML & HTML5 editor
 The eXeLearning project is an authoring environment that enables teachers 
 and students to create and publish open educational resources without the
 need to become proficient in HTML or XML markup. Content generated using
 eXeLearning can be exported as web pages, as educational-standard packages
 used by any Learning Management System, as epub3 files and on mobile devices.
