/*  =================================================

     Fichero: content.css
     Proyecto: cedec- Nueva plantilla para exeLearning
     Autores: Mercedes Cotelo Lois / Antonio Monje Fernández / Francisco Javier Pulido Cuadrado
     Fecha: Mayo 2011
     Descripcion: Hoja de estilos principal
     Company:   cedec - Centro Nacional de desarrollo Curricular en Sistemas No propietarios.
     Referencias: Obra derivada de (ver config.xml)
     
   ================================================== */

body,html  {
    background-color:#fff;
    color:#646464;
    font-family:Verdana,Arial, Helvetica, sans-serif !important;
    line-height: 120%;
}

body {
    font-size:0.8em;
}

h1, h2, h3, h4, h5 {
	margin:0;
	padding:0;
	line-height: 120%;
}

p {
	margin:.7em 0;
}

a:link,
a:active,
a:visited {
	color:#598AC3;
	text-decoration:none;
}

a:hover {
	color:#598AC3;
	text-decoration:underline;
}

img {
	margin:0 5px -3px 5px;
}

a img {
	border:0;
	margin:0
}

/*Tablas*/
table {
	margin:10px;
	border-collapse:collapse;
	padding:3px;
}

table[align="center"] {
	margin-left:auto;
	margin-right:auto;
}

td {
	border:0 solid;
	border-color:inherit;
	border-collapse:collapse;
	padding:3px;
}

/* PARA QUE AL EXPORTAR SE QUITEN LOS BORDES DE LAS PREGUNTAS */
.question table {
	border:0;
}

.question td {
	border:0;
}

/* Formato para las listas */
/* Cambio el icono para las listas si numerar */
ul li {
	list-style-image:url(bullet.gif);
}

/* Estilo para el título del NODO, que es cada una de las entradas
de la jerarquía de contenidos que crearemos con eXe */
#main {
	position:relative;
}

#nodeTitle {
	background-image: url(logo.png);
	background-position: right center;
	background-repeat: no-repeat;
	color:#598AC3;
	background-color:#fff;
	font-weight:bold;
	font-size:20px;
	line-height:30px;
	border-bottom:3px solid #BD4949;
	padding-top:1px;
	padding-bottom:5px
}

#nodeDecoration{
    text-align:left;
}

/* Cabecera para cuando exportemos a web sola para imprimir */
#header{height:49px;background:url(my_header.jpg) no-repeat 0 0;padding:59px 0 0 10px;font-size:1.7em}

/* IDEVICES */

.iDeviceTitle{top:0;font-size:1.5em}
.iDevice_header{background-position:0 0}
/* Añadir algún contenido después del contenido del iDevice, hace que el alto del iDevice
   se adapte al elemento más alto del contenido. Así se evita que las imágenes muy alargadas
   sobresalgan por debajo */
.iDevice_content:before,.iDevice_content:after{content:"";display:table}
.iDevice_content:after{clear:both}
.iDevice_content{*zoom:1}/* IE6/7: Trigger hasLayout and contain floats */

/* SCORM y otros comparten apariencia: esta es la apariencia por defecto */
/* El encabezado de los iDevices con imagen de fondo no debe ser mayor que
   el alto de la imagen de fondo, o saldrán huecos
   imagen (70px) = alto (20px) + padding (2 * 25px) */
.emphasis1 .iDevice_header{
    background:url(icon_question.gif) no-repeat 0 0;
    padding:25px 25px 25px 100px;
    color:#BE4D4C;
    max-height: 20px;
}
.iDevice.emphasis1{
    background:url(sup_der_hojas.gif) no-repeat right 0;
    margin:20px auto;
    width:95%;
}
.emphasis1 .iDevice_inner{
    background:#fff url(inf_der_hojas.gif) no-repeat right bottom;
}
.emphasis1 .iDevice_content_wrapper{
    background:url(inf_izq_hojas.gif) no-repeat 0 bottom;
    padding:20px 30px 55px 30px;
}

/* Actividad */
.activityIdevice .iDevice_header{
    background:url(icon_activity.gif) no-repeat 0 0;
    padding:25px 25px 25px 100px;
    margin-left:-3px;
    max-height: 20px;
}
.activityIdevice .iDevice{
    background:url(sup_der_activity.gif) no-repeat right 0;
}
.activityIdevice .iDevice_inner{
    background:#fff url(inf_der_activity.gif) no-repeat right bottom;
}
.activityIdevice .iDevice_content_wrapper{
    background:url(inf_izq_activity.gif) no-repeat 0 bottom;
    padding:20px 30px 55px 30px;
}

/* Actividad de lectura */
.readingIdevice .iDevice_header{
    background:url(icon_reading.gif) no-repeat 0 0;
    color:#646464;
    margin-left:-6px;
    padding-top:35px
}
.readingIdevice .iDevice{
    background:#E7EDCE url(sup_der_reading.gif) no-repeat right 0;
}
.readingIdevice .iDevice_inner{
    background:url(inf_der_reading.gif) no-repeat right bottom;
}
.readingIdevice .iDevice_content_wrapper{
    background:url(inf_izq_reading.gif) no-repeat 0 bottom;
}

/* Conocimiento previo */
.preknowledgeIdevice .iDevice_header{
    background:url(icon_preknowledge.gif) no-repeat 0 0;
    color:#646464;
    margin-left:-6px;
    padding-top:30px
}
.preknowledgeIdevice .iDevice{
    background:#FEE8F8 url(sup_der_preknowledge.gif) no-repeat right 0;
}
.preknowledgeIdevice .iDevice_inner{
    background:url(inf_der_preknowledge.gif) no-repeat right bottom;
}
.preknowledgeIdevice .iDevice_content_wrapper{
    background:url(inf_izq_preknowledge.gif) no-repeat 0 bottom;
}

/* Objetivos */
.objectivesIdevice .iDevice_header{
    background:url(icon_objectives.gif) no-repeat 0 0;
    color:#646464;
    margin-left:-5px;
    padding-top:32px
}
.objectivesIdevice .iDevice{
    background:#EFEBDC url(sup_der_objectives.gif) no-repeat right 0;
}
.objectivesIdevice .iDevice_inner{
    background:url(inf_der_objectives.gif) no-repeat right bottom;
}
.objectivesIdevice .iDevice_content_wrapper{
    background:url(inf_izq_objectives.gif) no-repeat 0 bottom;
}

/* Caso práctico */
.CasestudyIdevice .iDevice_header{
    background:url(icon_casestudy.gif) no-repeat 0 0;
    color:#646464;
    margin-left:-6px;
    padding-top:30px
}
.CasestudyIdevice .iDevice{
    background:#E2DFF0 url(sup_der_casestudy.gif) no-repeat right 0;
}
.CasestudyIdevice .iDevice_inner{
    background:url(inf_der_casestudy.gif) no-repeat right bottom;
}
.CasestudyIdevice .iDevice_content_wrapper{
    background:url(inf_izq_casestudy.gif) no-repeat 0 bottom;
}

/* Galería */
.GalleryIdevice .iDevice{
    width:100%
}
.GalleryIdevice .iDevice_header{
    background:url(icon_gallery.gif) no-repeat 0 0;
    color:#2C8384;
}
.GalleryIdevice .iDevice{
    background:url(sup_der_gallery.gif) no-repeat right 0;
}
.GalleryIdevice .iDevice_inner{
    background:#E2DFF0 url(inf_der_gallery.gif) no-repeat right bottom;
}
.GalleryIdevice .iDevice_content_wrapper{
    background:url(inf_izq_galeria.gif) no-repeat 0 bottom;
}

/* Reflexión */
.ReflectionIdevice .iDevice_header{
    background:url(icon_reflection.gif) no-repeat 0 0;
    color:#2C8384;
    margin-left:-6px
}
.ReflectionIdevice .iDevice{
    background:url(sup_der_reflection.gif) no-repeat right 0;
}
.ReflectionIdevice .iDevice_inner{
    background:#E2DFF0 url(inf_der_reflection.gif) no-repeat right bottom;
}
.ReflectionIdevice .iDevice_content_wrapper{
    background:url(inf_izq_reflection.gif) no-repeat 0 bottom;
}

/* Retroalimentaciones */
.feedback {
	border:1px dashed #4E4E4E;
	color:#4E4E4E;
	background-color:#fff;
	padding:5px;
	margin:5px;
	font-size:1em;	
    font-family:Verdana,Arial, Helvetica, sans-serif;
	height:auto !important;
	*height:auto !important;
	*height:0;
	margin-bottom:5px;
	overflow-y:auto;
}

/* Formularios y botones*/
input {
	font-weight:bold;
	color:inherit;
	border-color:inherit;
	border-style:solid;
	border-width:1px;
}

select {
	font-weight:bold;
	color:inherit;
	border-color:inherit;
	border-style:solid;
	border-width:1px;
}

/* Sugerencias y ayudas pedagógicas */
.popupDiv {
	background-color:#fff;
	border:2px solid #607489;
	padding:4px;
	margin-left:15px;
	text-align:left;
}

.popupDivLabel {
	text-align:center;
	font:message-box;
	font-weight:bold;
	color:#bd4949;
	margin:4px;
	background-color:#F00;
}
