/*  ===========================================================================
     eXe
     Copyright 2004-2005, University of Auckland

     default display styles.
   =========================================================================== */

/* authoring pane */

#authoring_pane {
	position: absolute;
	margin-left: 223px;
	margin-top: 77px;
        margin-right: 8px;
	padding: 8px;
	background-color: #E1F799;
	border: 1px solid #000;
	-moz-border-radius: 6px;
	}	

p.prev_edit { float: right;}



p.nodeTitle { 
    color: #71AC6B;
    font-size: 18px;
    padding: 2px;
    border-top: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    display: inline;
}

p.reading_reference {
    font-style: italic;        
}

p.reading_feedback {
    border: 1px dashed #ADADAD;
    margin: 20px;
    padding: 8px;
    background-color: #FFF;
}


/* --- iDevice Styles -- */

#iDevice {
    background-color: #BFD182;
    padding: 4px;
    border: 1px solid #71AC6B;
    margin: 8px;
}

.iDeviceTitle {
    color: #798552;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    top: -18px;
    left: 5px;
}    

#iDevice li[class|="activity"] { 
    margin-left: 60px;
    list-style-image: url("activity.png"); 
}

#iDevice li[class|="activity-casestudy"] { 
    margin-left: 60px;
    list-style-image: url("casestudy.png"); 
}

#iDevice li[class|="activity-reading"] { 
    margin-left: 60px;
    list-style-image: url("reading.png"); 
}

#iDevice li[class|="objectives"] { 
    margin-left: 60px;
    list-style-image: url("objectives.png"); 
}

#iDevice li[class|="preknowledge"] { 
    margin-left: 60px;
    list-style-image: url("preknowledge.png"); 
}

#iDevice li { 
    list-style-image: none; 
}
