/*
eXe
Copyright 2004-2005, University of Auckland

Modified by Ignacio Gros for eXeLearning.net
See Help - eXe Tutorial for more info on how to modify this style for your needs.
*/
html{padding:0}
body{font:.75em/1.5 Arial,Verdana,Helvetica,sans-serif;padding:15px;margin:0;text-align:left;color:#222;background:#F2FFBF}
a{color:#E65C00}
a:hover,a:focus{color:#B34700}
#header,#emptyHeader{text-align:left;height:auto!important;height:1.25em;min-height:1.25em;padding:.75em 0;font-size:1.5em;text-shadow:1px 1px 1px #fff;border-bottom:2px solid #ACBF60;border-top:2px solid #ACBF60;color:#889F65} /* Header is also in single page */
#header h1{margin:0;font-size:1em}
#nodeDecoration{text-align:left;padding:1em 0;margin-bottom:2em;background:#F3FFC3;text-shadow:1px 1px 1px #fff;border-bottom:2px solid #ACBF60;border-top:2px solid #ACBF60;color:#889F65}
#nodeTitle,.nodeTitle{font-size:1.5em;margin:0;font-weight:bold;text-align:right} /* .nodeTitle when single page */
.nodeTitle{padding:.1em 0 .6em 0;border-bottom:2px solid #ACBF60;margin-top:1em;text-align:right;color:#889F65;text-shadow:1px 1px 1px #fff}
h2{font-size:1.4em}
#main .iDeviceTitle{display:inline-block;font-size:1.4em}
h3{font-size:1.25em;color:#666}
#main h4{font-size:1.2em}
#main h5{font-size:1.1em}
.iDevice,.readingIdevice .iDevice{margin:2em 0;padding:10px;background:#FAFFE6;border-radius:5px;border:1px solid #ACBF60}
.emphasis0{padding:0;background:none;border:none}
.iDevice_icon{height:50px;width:auto;margin-right:8px} /* Legacy: old iDevices */
.iDevice_header{background-image:url(icon_generic.gif);padding-left:58px;position:relative}
.iDevice_content{overflow:auto}
.activityIdevice .iDevice_header{background-image:url(icon_activity.gif)}
.readingIdevice .iDevice_header{background-image:url(icon_reading.gif)}
.ListaIdevice .iDevice_header,
.QuizTestIdevice .iDevice_header,
.MultichoiceIdevice .iDevice_header,
.TrueFalseIdevice .iDevice_header,
.MultiSelectIdevice .iDevice_header,
.ClozeIdevice .iDevice_header{background-image:url(icon_question.gif)}
.CasestudyIdevice .iDevice_header{background-image:url(icon_casestudy.gif)}
.preknowledgeIdevice .iDevice_header{background-image:url(icon_preknowledge.gif)}
.GalleryIdevice .iDevice_header{background-image:url(icon_gallery.gif)}
.objectivesIdevice .iDevice_header{background-image:url(icon_objectives.gif)}
.ReflectionIdevice .iDevice_header{background-image:url(icon_reflection.gif)}
.iDeviceTitle{vertical-align:top;top:0;color:#A1B386;height:auto!important;height:2em;min-height:2em;padding:.5em 2em .5em 0} 
.iDevice_inner{background:#FAFFE6;border-radius:5px;padding:10px 20px}
.emphasis0 .iDevice_inner{background:none;padding:0}
#siteFooter{color:#444;font-size:.95em}
input,select,textarea{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
.ExternalUrlIdevice iframe{border:none}
/* Download package iDevice */
.download-packageIdevice .exe-download-package-link a{background:#879a6b}
/* Lightbox */
.exeImageGallery{width:100%}
/* base.css */
.block,.feedback{padding:0}
.feedback{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
li{list-style-position:outside}
#wikipedia-content ul li{list-style-image:none;margin-bottom:auto}
.exe-dl .icon{line-height:17px}
.js .exe-dl dd{margin-left:34px}
.exe-enlarge-icon b{font-size:1.7em}
/* Form buttons */
.feedbackbutton{background:#AACCB5;margin-bottom:1em}
/* Hide/Show iDevice */
.toggle-idevice{margin:12px 0 0;text-align:right;display:block}
.iDevice_header .toggle-idevice{margin:0;position:absolute;top:0;right:0}
/* Effects */
.exe-fx .fx-C2,
.exe-fx .fx-C2 a,
.fx-pagination a{
background:#FAFFE6;
}
/* iDevices with emphasis */
.emphasis1 .exe-fx .fx-C2,
.emphasis1 .exe-fx .fx-C2 a,
.emphasis1 .fx-pagination a{
background:#F2FFBF;
}