/* 
Copyright University of Auckland 2004
Created by Brent Simpson, brent.simpson@auckland.ac.nz
Centre for Flexible and Distance Learning
Modified by eXeLearning.net
*/
#content{width:100%;position:relative;padding-bottom:10px;min-width:985px;border-top:2px solid #ACBF60}
#main-wrapper{padding:10px 0 0 250px}
#main{width:100%}
#content{padding-bottom:21px}
#header,#emptyHeader{border-top:none}
#nodeDecoration{padding:0;margin:0;background:none;border:none}
#nodeTitle{padding:.1em 0 .6em 0;border-bottom:2px solid #ACBF60}
/* Navigation */
#skipNav{text-align:center;padding-top:18px}
#skipNav a{background:#fff;color:#96852C}
#siteNav{width:230px;float:left;padding-right:20px}
#siteNav,#siteNav ul{border-color:#FAFFE6}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav a{display:block;padding:4px 0 4px 15px;color:#96852C;border-bottom:1px solid #ccc;border-right:2px solid #FAFFE6;background:#fff}
#siteNav a:hover,#siteNav a:focus{background-color:#FFEDBF;color:#517793}
* html #siteNav a{display:inline-block;width:100%} /* IE6 */
#siteNav .main-node{font-weight:bold;font-variant:small-caps;letter-spacing:1px;font-size:1.1em}
#siteNav ul ul a{padding-left:30px;font-size:.95em}
#siteNav .active,#siteNav .active:hover,#siteNav .active:focus{color:#fff;background:#94A975}
#siteNav .other-section{display:none}
#siteNav ul ul ul a{padding-left:45px}
#siteFooter{padding-left:250px}
/* Pagination */
.pagination{border-top:2px solid #ACBF60;padding-top:20px;text-align:right;color:#F5FFCF}
.pagination a{padding:0;margin:0 5px;color:#B34700}
.pagination a:hover,.pagination a:focus{color:#E65C00}
#topPagination{position:absolute;top:-2px;width:100%;right:0}
#topPagination .prev{margin-left:20px}
#topPagination .pagination{border:none}
#bottomPagination{padding-left:250px}
/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}