/* 
Copyright University of Auckland 2004
Created by Brent Simpson, brent.simpson@auckland.ac.nz
Centre for Flexible and Distance Learning

Modified by Ignacio Gros for eXeLearning.net
See Help - eXe Tutorial for more info on how to modify this style for your needs.
*/
#content{width:100%;position:relative;padding-bottom:10px;min-width:380px;border-top:2px solid #ACBF60}
#main-wrapper{padding:10px 0 0 250px}
#main{width:100%}
#content{padding-bottom:21px}
#header,#emptyHeader{border-top:none;padding-right:220px}
#nodeDecoration{padding:0;margin:0;background:none;border:none}
#nodeTitle{padding:.1em 0 .6em 0;border-bottom:2px solid #ACBF60}
/* Navigation */
#skipNav{text-align:center;padding-top:18px}
#skipNav a{background:#fff;color:#96852C}
#siteNav{width:230px;float:left;padding-right:20px}
#siteNav,#siteNav ul{border-color:#FAFFE6}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav a{display:block;padding:4px 0 4px 15px;color:#96852C;border-bottom:1px solid #ccc;border-right:2px solid #FAFFE6;background:#fff}
#siteNav a:hover,#siteNav a:focus{background-color:#FFEDBF;color:#517793}
* html #siteNav a{display:inline-block;width:100%} /* IE6 */
#siteNav .main-node{font-weight:bold;font-variant:small-caps;letter-spacing:1px;font-size:1.1em}
#siteNav ul ul a{padding-left:30px;font-size:.95em}
#siteNav .active,#siteNav .active:hover,#siteNav .active:focus{color:#fff;background:#94A975}
#siteNav .other-section{display:none}
#siteNav ul ul ul a{padding-left:45px}
#siteFooter{padding-left:250px}
/* Pagination */
.pagination{border-top:2px solid #ACBF60;padding-top:20px;text-align:right}
.pagination .sep{display:none}
.pagination a{padding:0;margin-left:20px;color:#B34700}
.pagination a:hover,.pagination a:focus{color:#E65C00}
#topPagination{position:absolute;top:-2px;width:100%;right:0}
#topPagination .pagination{border:none}
#bottomPagination{padding-left:250px}
#bottomPagination .page-counter{margin-left:20px;margin-right:0}
/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}

/* IE6 */
* html #main{width:auto}
* html #siteNav a{width:213px}
* html #siteNav ul ul a{width:198px}
* html #siteNav ul ul ul a{width:183px}

/* No menu */
.no-nav #main-wrapper,.no-nav #bottomPagination,.no-nav #siteFooter{padding-left:0}

/* Search bar */
#exe-client-search-form{margin-top:10px}
#exe-client-search-text{border-color:#889f65}
#exe-client-search-submit{border-color:#889f65;background:#889f65;color:#fff}

/* Responsive design */
@media all and (max-width: 980px) {
	#main-wrapper,#siteFooter,#bottomPagination{padding-left:220px}
	#main .iDeviceTitle{font-size:1.3em}
	#siteNav{width:200px}
}
@media all and (max-width: 780px) {
	body{padding:10px}
	#siteNav .main-node{font-weight:normal;font-variant:normal;letter-spacing:0;font-size:1em}
	#main-wrapper{padding:10px 0}
	#header,#emptyHeader{padding-right:20px}
	#siteNav{width:100%;float:none;padding-right:0}
	#siteFooter{padding-left:0;text-align:center}
	.pagination{font-weight:bold;font-size:1.1em}
	.pagination a{margin:0}
	#topPagination{position:relative;top:auto;width:100%;right:auto;padding:0}
	#topPagination .pagination{padding:0;text-align:center;background:#889F65;border-bottom:2px solid #ACBF60}
	#topPagination .prev,#topPagination .next,#topPagination .page-counter{display:none}
	#bottomPagination{position:relative;padding:0 0 15px 0}
	#bottomPagination .page-counter{position:absolute;width:50%;left:25%;text-align:center;margin:0;font-weight:normal}
	#bottomPagination .prev{position:absolute;left:0}
	#nav-toggler a,#nav-toggler a:focus{display:inline-block;padding:4px;width:80%;color:#fff;font-variant:small-caps;letter-spacing:1px;outline:none;text-decoration:none}
	#exe-client-search-form{text-align:center}
}