<?xml version="1.0"?>
<theme>
    <name>EducaMadrid</name>
    <version>2.0</version>
    <compatibility>2.0+</compatibility>
    <author>EducaMadrid Plataforma Tecnológica</author>
    <author-url>http://www.educa.madrid.org/</author-url>
	<license>Creative Commons by-sa</license>
	<license-url>http://creativecommons.org/licenses/by-sa/3.0/</license-url>
	<description>Plantilla realizada por Ignacio Gros (www.gros.es) para EducaMadrid (Consejería de Educación, Juventud y Deporte de la Comunidad de Madrid). Iconos: "Iconic" (Creative Commons by-sa), por P. J. Onori (http://www.somerandomdude.com/work/iconic/).</description>
    <extra-head><![CDATA[<meta name="viewport" content="width=device-width, initial-scale=1" />
]]></extra-head>
    <extra-body><![CDATA[<script type="text/javascript" src="_em_js.js"></script>]]></extra-body>
</theme>