html{padding:0}
body{font:.75em/1.5 Arial,Verdana,Helvetica,sans-serif;padding:15px;margin:0;text-align:left;color:#333333;background:#ffffff}
a{color:#0063dc}
#header,#emptyHeader{text-align:left;height:5em;padding-left:10px;font-size:1.2em;line-height:5em;color:#555;background:#f3f3f3 url(_em_logo.png) no-repeat 0 0;text-shadow:1px 1px 1px #fff;border-bottom:1px solid #e3e3e3;border-top:1px solid #e3e3e3} /* Header is also in single page */
#header h1{margin:0;font-size:1em}
div#nodeDecoration{text-align:left;padding:1em 20px;margin-bottom:2em;background:#f3f3f3 url(_em_logo.png) no-repeat 0 0;text-shadow:1px 1px 1px #fff;border-bottom:1px solid #e3e3e3;border-top:1px solid #e3e3e3}
#nodeTitle,.nodeTitle{font-size:1.5em;margin:0;font-weight:bold;color:#222} /* .nodeTitle when single page */
.nodeTitle{padding:.1em 0 .6em 0;border-bottom:1px solid #f3f3f3;margin-top:1em}
#main h2{font-size:1.4em;color:#666}
#main h2.iDeviceTitle{display:inline;font-size:1.2em}
h3{font-size:1.25em;color:#777}
#main h4{font-size:1.2em}
#main h5{font-size:1.1em}
.iDevice{margin:2em 0}
.iDevice_icon{width:23px;height:auto;margin-right:5px} /* Icons: "Iconic" (Creative Commons by-sa), by P. J. Onori (http://www.somerandomdude.com/work/iconic/) */

/* iDevice icons */
.iDevice_header{background:url(icon_generic.gif) no-repeat 0 0;padding-left:30px}
.activityIdevice .iDevice_header{background-image:url(icon_activity.gif)}
.readingIdevice .iDevice_header{background-image:url(icon_reading.gif)}
.ListaIdevice .iDevice_header,
.QuizTestIdevice .iDevice_header,
.MultichoiceIdevice .iDevice_header,
.TrueFalseIdevice .iDevice_header,
.MultiSelectIdevice .iDevice_header,
.ClozeIdevice .iDevice_header{background-image:url(icon_question.gif)}
.CasestudyIdevice .iDevice_header{background-image:url(icon_casestudy.gif)}
.preknowledgeIdevice .iDevice_header{background-image:url(icon_preknowledge.gif)}
.GalleryIdevice .iDevice_header{background-image:url(icon_gallery.gif)}
.objectivesIdevice .iDevice_header{background-image:url(icon_objectives.gif)}
.ReflectionIdevice .iDevice_header{background-image:url(icon_reflection.gif)}

.iDeviceTitle{font-size:1.2em;vertical-align:top;top:-2px;color:#666;line-height:2em}
.iDevice_content{overflow:auto}
.iDevice_inner{padding: 10px 20px;border:1px solid #f0f0f0;background:#f9f9f9;color:#444;border-radius:5px}
#siteFooter{color:#666;font-size:.95em}
#siteFooter a{color:#DB0B00}
input,select,textarea{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
#lbOverlay{background-color:#f3f3f3}
#lbOuterContainer{border-color:#ddd}
.ExternalUrlIdevice iframe{border:none}
/* Lightbox */
.exeImageGallery{width:100%}
/* base.css */
.block,.feedback{padding:0}
.feedback{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
li{list-style-position:outside}
#wikipedia-content ul li{list-style-image:none;margin-bottom:auto}
/* Form buttons */
.iDevice_inner input[type=submit],.feedbackbutton{background:#888;border:0;padding:3px 5px;color:#fff;border-radius:5px;text-shadow:1px 1px 1px #000;box-shadow:1px 1px 3px 0 #ccc;margin-bottom:1em}
.iDevice_inner input[type=submit]:hover,.feedbackbutton:hover{background:#555;color:#f3f3f3;box-shadow:none}