body{padding:0;text-align:center;background:#fafafa url(_em_fondo_pagina.gif)}
#lbOverlay{background:#f3f3f3 url(_em_fondo_pagina.gif)}
#content{width:985px;margin:20px auto;text-align:left;position:relative;border-style:solid;border-width:1px;padding-bottom:10px;max-width:100%;background:#fff url(_em_columna_izquierda.gif) repeat-y 0 0;border-color:#e3e3e3;box-shadow:0 0 10px 0 #666;border-radius:5px}
#main{padding:10px 20px 11px 250px}
#header,#emptyHeader{border-top-left-radius:5px;border-top-right-radius:5px;border-top:none}
div#nodeDecoration{padding:0;margin:0;background:none;border:none}
#nodeTitle{padding:.1em 0 .6em 0;border-bottom:1px solid #f3f3f3}
/* Navigation */
#siteNav{width:230px;float:left;padding-right:20px}
#siteNav,#siteNav ul{background:#fff;border-color:#f0f0f0}
#siteNav li:hover,#siteNav li.sfhover{background:#f0f0f0}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav a{display:block;padding:4px 0 4px 10px;border-width:0 1px 1px 0;border-style:solid;color:#4D4D4D;border-color:#e3e3e3 #f4f4f4}
#siteNav a:hover,#siteNav a:focus{color:#000;background:#f0f0f0}
* html #siteNav a{display:inline-block;width:100%} /* IE6 */
#siteNav .main-node{font-weight:bold;font-variant:small-caps;letter-spacing:1px;font-size:1.1em}
#siteNav a.main-node:hover{text-decoration:underline;background:none}
#siteNav ul ul a{padding-left:25px;font-size:.95em;color:#555}
#siteNav .active{color:#DB0B00;font-weight:bold}
#siteNav .other-section{display:none}
#siteNav ul ul ul a{padding-left:50px}
/* Pagination */
.pagination{border-top:1px solid #f3f3f3;padding-top:20px;text-align:right;color:#fff}
.pagination a{padding:3px 5px;border-radius:5px;background-color:#f3f3f3;color:#DB0B00;box-shadow:0 0 3px 0 #ccc;margin:0 5px}
.pagination a:hover,.pagination a:focus,#topPagination .pagination a:hover,#topPagination .pagination a:focus{text-decoration:none;background-color:#DB0B00;color:#fff}
#topPagination{position:absolute;top:7px;width:100%;right:20px}
#topPagination a{background:#fff;box-shadow:0 0 3px 0 #ddd}
#topPagination .prev{margin-left:20px}
#topPagination .pagination{border:none;color:#f3f3f3} /* Hidden */
/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}