/* GeoGebra Activity iDevice (edition CSS) */
#geogebraActivitySCORMoptions{visibility:hidden;margin-left:1.5em}
#geogebraActivityInstructions{width:500px}
#geogebraActivityURL,#geogebraActivityURLexample{width:250px;margin-right:1.5em}
#geogebraActivityWidth,#geogebraActivityHeight,#geogebraActivityLang,#geogebraActivityBorderColor{width:70px}
#geogebraActivityURLexample{background:#F0F0F0;color:#6d6d6d}
label[for=geogebraActivityHeight]{margin-left:1.5em}
label[for=geogebraActivitySCORM]{font-weight:bold}
#eXeAutoGeogebraCheckOptions{overflow:auto;margin:1em 0 .5em 0}
#eXeAutoGeogebraForm p{margin-bottom:1.5em}
#eXeAutoGeogebraAdvancedOptions p{margin:.7em 0}
#eXeAutoGeogebraAdvancedOptions #geogebraActivityLangWrapper{margin-top:1em}
#eXeAutoGeogebraCheckOptions p{width:300px;float:left;margin:0;line-height:2.5em}
.input-instructions{color:#999;margin-right:1.5em}
#geogebraActivitySCORMinstructions{display:none;color:#777;margin:10px 0 0 25px}
#geogebraActivitySCORMinstructions ul{margin:1.5em 0 .7em 0;padding:0;list-style:none}
#geogebraActivitySCORMinstructions ul li{margin:0 0 .5em 0;padding:0;list-style-image:none}
#geogebraActivitySize.loading{background:url(../export/geogegra-activity-loading.gif) no-repeat 0 50%;background-size:24px 24px}
#geogebraActivitySize.loading *{visibility:hidden}