/* GeoGebra Activity iDevice (edition CSS) */
#geogebraActivitySCORMoptions{visibility:hidden;margin-left:1.5em}
#geogebraActivityInstructions{width:500px}
#geogebraActivityURL{width:300px;margin-right:.2em}
#geogebraActivityWidth,#geogebraActivityHeight,#geogebraActivityLang,#geogebraActivityBorderColor{width:70px}
#geogebraActivityURLexample{width:300px;margin-right:1em;background:#F0F0F0;color:#6d6d6d}
@media all and (max-width:750px){
	#geogebraActivityURL,#geogebraActivityURLexample{width:250px}
}
label[for=geogebraActivityHeight]{margin-left:1.5em}
#eXeAutoGeogebraCheckOptions{overflow:auto;margin:1em 0 .5em 0}
#eXeAutoGeogebraForm p{margin-bottom:1.5em}
#eXeAutoGeogebraAdvancedOptions p{margin:.7em 0}
#eXeAutoGeogebraAdvancedOptions #geogebraActivityLangWrapper{margin-top:1em}
#eXeAutoGeogebraCheckOptions p{width:300px;float:left;margin:0;line-height:2.5em}
.input-instructions{color:#999;margin-right:1.5em}
#geogebraActivitySCORMinstructions{display:none;color:#777;margin:10px 0 0 25px}
#geogebraActivitySCORMinstructions ul{margin:1.5em 0 .7em 0;padding:0;list-style:none}
#geogebraActivitySCORMinstructions ul li{margin:0 0 .5em 0;padding:0;list-style-image:none}
#geogebraActivityURL.loading{background:url(../export/geogegra-activity-loading.gif) no-repeat 5px 50%;background-size:22px 22px;border:2px solid #fff;text-indent:-999em}
#geogebraActivityURL.loading *{visibility:hidden}
#geogebraActivitySize{display:none}
#geogebraActivityScale{width:55px;margin-right:1.5em}
#geogebraActivityPlayButton{display:inline-block;;width:1.5em;height: 1.5em; background-image:url(geogegra-activity-playbutton.png); margin-right: 1em;  background-size:100% 100%}
.exe-feedback-fieldset #eXeAutoGeogebraCheckOptions p:last-child {margin:0}
#geogebraActivityURLS{display: flex; justify-content: flex-start; align-items: center;}
#geogebraActivityURLS label{margin-right: 0.15em; }
label[for=geogebraActivityScale]{margin-left:1.5em}
