/* eXeLearning Style Designer Compatible Style */
html{font-size:105%}
body{font:100%/1.5 'Open Sans',Arial,Verdana,Helvetica,sans-serif;line-height:1.5em;padding:15px;margin:0;text-align:left}

h2{font-size:1.3em}
h3{font-size:1.2em}
h4{font-size:1.1em}
h5{font-size:1em}
p{margin:1em 0}

#header,#emptyHeader,#nodeDecoration{padding:0 20px;height:120px;font-size:1.6em;font-weight:300;border-style:1px;border-width:1px}
#headerContent{padding-top:70px}
#header h1,#nodeDecoration h1{margin:0;font-size:1em;text-align:left}
#nodeDecoration{margin-bottom:15px} /* Single page */

.nodeDecoration h1{font-size:1.5em}

/* iDevices */
.iDevice{margin:20px 0 30px 0}
.iDevice_header{letter-spacing:.5px;height:2.7em;line-height:2.7em}
.iDeviceTitle{font-size:1.3em;vertical-align:bottom;top:auto;display:inline-block;font-weight:300;
padding:0 10px 0 35px;background-repeat:no-repeat;background-position:0 50%;margin:0}
.iDevice_inner{padding:10px 20px;border-width:1px;border-style:solid;border-radius:5px}

/* Clearfix */
.iDevice_content{overflow:auto}

/* Hide/Show iDevice */
.toggle-idevice{display:block;margin:0;text-align:right}
.iDevice_header .toggle-idevice{float:right;margin-top:14px;line-height:16px}
.toggle-idevice a{display:inline-block;width:16px;height:16px;background:url(_style_icons.png) no-repeat -50px -50px;outline:none}
.toggle-idevice .show-idevice{background-position:0 -50px}
.toggle-idevice span{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}
.toggle-idevice a:hover,.toggle-idevice a:focus{filter:alpha(opacity=100);opacity:1}

/* iDevice title with background-color */
.iDevice_header{border-width:1px;border-style:solid;padding-left:13px;border-top-left-radius:5px;border-top-right-radius:5px}
.hidden-idevice .iDevice_header{border-radius:5px}
.iDevice_header .toggle-idevice{margin-right:15px}
.iDevice_inner{border-top-right-radius:0;border-top-left-radius:0;border-top:0}

/* Reset base.css */
.block,.feedback{padding:0}
.feedback{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
li{list-style-position:outside}

#siteFooter{padding:20px}

/* eXeLearning Style Designer */
.iDevice_header{
/*emTitleBGColor*/
background-color:#ffffff;border-color:#dddddd;
}
.iDevice_inner{
/*emBGColor*/
background-color:#ffffff;border-color:/*emBorderColor*/
#dddddd;
}
.iDeviceTitle{
background-image:url(icon_star.png);
}
.activityIdevice .iDeviceTitle{
background-image:url(icon_assignment.png);
}
.readingIdevice .iDeviceTitle{
background-image:url(icon_unread.png);
}
.ListaIdevice .iDeviceTitle,.QuizTestIdevice .iDeviceTitle,.MultichoiceIdevice .iDeviceTitle,.TrueFalseIdevice .iDeviceTitle,.MultiSelectIdevice .iDeviceTitle,.ClozeIdevice .iDeviceTitle{
background-image:url(icon_question.png);
}
.preknowledgeIdevice .iDeviceTitle{
background-image:url(icon_renew.png);
}
.GalleryIdevice .iDeviceTitle{
background-image:url(icon_media.png);
}
.objectivesIdevice .iDeviceTitle{
background-image:url(icon_info.png);
}
.ReflectionIdevice .iDeviceTitle{
background-image:url(icon_account.png);
}
body{
/*bodyColor*/
color:#333333;
}
a{
/*aColor*/
color:#2495ff;
}
.exe-single-page,.exe-scorm,.exe-ims,.exe-epub3{
/*contentBGColor*/
background-color:#f9f9f9;
}
#header,#emptyHeader,#nodeDecoration{
/*headerHeight*/
height:120px;
/*headerBGColor*/
background-color:#ffffff;border:1px solid /*headerBorderColor*/
#dddddd;
}
#headerContent{
/*headerTitleTopMargin*/
padding-top:70px;
}
#siteFooter{
border:1px solid /*footerBorderColor*/
#dddddd;
/*footerBGColor*/
background-color:#ffffff;
}