.quext-MainContainer a:link, .quext-MainContainer a:link, .quext-MainContainer a:visited, .quext-MainContainer a:focus {
    text-decoration: none !important;
    border: 0px;
    outline: none;
    border-width: 0px;
    outline-width: 0px;
    border-bottom: none;
}

-LinkFullScreen .quext-GameContainer:-webkit-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.quext-GameContainer:-moz-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.quext-GameContainer:-ms-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.quext-GameContainer:-o-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

 .exeQuextIcons-FullScreenExit, .exeQuextIcons-FullScreen, .exeQuextIcons-Minimize {
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

 .exeQuextIcons-Minimize:hover, .exeQuextIcons-FullScreenExit:hover, .exeQuextIcons-FullScreen:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.quext-MainContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.sr-av {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    height: 0
}

.quext-GameContainer {
    position: relative;
    max-width: 750px;
    width: 90%;
    margin: 5px auto;
    padding: 5px;
}

.quext-GameScoreBoard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quext-GameScoreBoard p {
    font-size: 1.1em;
    width: 26px;
    text-align: center;
    vertical-align: middle;
    margin-right: 3px;
    font-weight: bold;
}

.quext-GameScores {
    width: 250px;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.quext-GameScores>p:last-child {
    width: 50px;
    text-align: left;
    margin-left: 3px;
}

.quext-LifesGame {
    width: 158px;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quext-NumberLifesGame {
    display: none;
}

.quext-TimeNumber {
    width: 180px;
    margin: 0 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quext-LinkMaximize {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quext-GameMinimize {
    width: auto;
    margin: 5px auto;
    display: none;
}

.quext-IconMinimize {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    cursor: pointer;
}

.quext-IconMinimize:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.quext-TimeNumber .quext-PTime {
    width: 50px;
    margin-right: 3px;
}

.quext-GameContainer .exeQuextIcons {
    width: 26px;
    height: 26px;
    margin-right: 5px;
    background-size: cover;
}

.exeQuextIcons-Minimize {
    background: url(exequextmin.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Hit {
    background: url(exequexthits.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-FullScreen {
    background: url(exequextfull.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Error {
    background: url(exequextrerrors.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Score {
    background: url(exequextscore.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Time {
    background: url(exequexttime.png);
    background-size: cover;
}

.exeQuextIcons-Number {
    background: url(exequextnumber.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Life {
    background: url(exequextlive.png) no-repeat;
    background-size: cover;
}


.exeQuextIcons-Video {
    background: url(exequextvideo.png) no-repeat;
    background-size: cover;
}

.quext-ShowClue {
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
}

.quext-PShowClue {
    font-size: 1em;
    color: #5877c6;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.quext-Multimedia {
    width: 560px;
    height: 315px;
    margin: 5px auto;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 10px;
}

.quext-Images, .quext-Video, .quext-Protector, .quext-GameOver {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.quext-Protector {
    opacity: 0.00001;
    z-index: 1000;
    background-color: white;
}

.quext-GameOver {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10010;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.quext-DataImageGameOver {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quext-DataGame p {
    font-size: 0.9em;
    font-weight: normal;
}

.quext-HistGGame, .quext-LostGGame {
    width: 45%;
    height: 75%;
    margin-right: 10px;
}

.quext-HistGGame {
    display: none;
}

.quext-ProgressBar {
    position: relative;
    width: 560px;
    height: 5px;
    padding: 0;
    background-color: black;
    margin: 3px auto;
    display: none;
}

.quext-InterBar {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #b3092f;
    width: 0px;
}

.quext-AuthorLicence {
    width: 100%;
    height: 14px;
    margin: 3px auto;
}

.quext-AuthorLicence p {
    line-height: 100%;
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
}

.quext-CodeAccessDiv {
    width: 100%;
    margin: 15px auto;
}

.quext-TextClueGGame {
    width: 100%;
    font-size: 0.9em;
    text-align: center;
}

.quext-instructions {
    width: 100%;
    margin: 5px auto;
}

.quext-instructions p {
    font-size: 1em;
}

.quext-MessageCodeAccessE {
    width: 100%;
    margin: 7px auto;
    text-align: center;
    font-size: 1em;
    vertical-align: middle;
}

.quext-DataCodeAccessE {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quext-DataCodeAccessE label {
    font-size: 0.9em;
}

.quext-CodeAccessE {
    width: 50%;
    height: 100%;
    font-size: 1em;
    text-align: center;
    margin: 0 3px;
}

.quext-GameContainer  .exeQuextIcons-Submit {
    background: url(exequextreply.png) no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.quext-StartGame {
    width: 100%;
    margin: 15px auto;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quext-QuestionDiv {
    width: 100%;
    margin: 5px auto;
    display: none;
}

.quext-Question {
    width: 95%;
    min-height: 45px;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
    color: #071717;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center
}

.quext-DivReply {
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
}

.quext-EdReply {
    margin: 0 5px;
    width: 50%;
    max-width: 200px;
    height: 30px;
    font-size: 0.9em;
    text-align: center;
    padding: 0;
}

.quext-OptionsDiv {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quext-Options {
    min-height: 45px;
    width: 48%;
    margin: 3px;
    background-color: transparent;
    border-radius: 7px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
    color: #071707;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.quext-VideoIntroContainer {
    width: 98%;
    padding: 0;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    align-items: center;
    display: none;
}

.quext-VideoIntroDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    border-radius: 10px;
    display: none;
    z-index: 20000;
    overflow: hidden;
}

.quext-VideoIntroClose {
    position: absolute;
    top: 5px;
    right: 5px;
}

.quext-Cursor {
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    position: absolute;
    display: none;
    z-index: 10000;
}

.quext-MainContainer a.quext-Option1 {
    background-color: #f7c4c4;
    border: 2px solid #b3092f;
}

.quext-MainContainer a.quext-Option1:hover {
    background-color: #b3092f;
}

.quext-MainContainer a.quext-Option2 {
    background-color: #d5dcec;
    border: 2px solid #5877c6;
}

.quext-MainContainer a.quext-Option2:hover {
    background-color: #5877c6;
}

.quext-MainContainer a.quext-Option3 {
    background-color: #cce1c8;
    border: 2px solid #00a300;
}

.quext-MainContainer a.quext-Option3:hover {
    background-color: #00a300;
}

.quext-MainContainer a.quext-Option4 {
    background-color: #f5efd6;
    border: 2px solid #f3d55a;
}

.quext-MainContainer a.quext-Option4:hover {
    background-color: #f3d55a;
}

.quext-ReloadContainer {
    width: 98%;
    padding: 0;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.quext-LinkReload, .quext-LinkPreview, .quext-LinkPauseVideo {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.quext-previewQuestions {
    position: relative;
    max-width: 750px;
    background-color: transparent;
    width: 90%;
    margin: 5px auto;
    min-width: 300px;
    display: none;
}

.quext-previewQuestionsDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    background-color: #071717;
    border-radius: 10px;
    z-index: 20000;
    display: none;
}

.quext-PreviewQuestionsTitle {
    width: 95%;
    margin: 8px auto;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.quext-previewQuestionsClose {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.quext-RepeatActivity {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.quext-PointBar {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 5px;
    width: 5px;
    background-color: #8697cb;
    z-index: 900;
}

.quext-prevQuestP {
    width: 95%;
    margin: 0 auto;
    color: #ffffff;
    font-size: 0.9em;
}

.quext-BottonContainer {
    width: 98%;
    height: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quext-GetScore {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quext-GetScore p {
    padding: 0;
    margin: 0;
}

.quext-IconMinimize {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    cursor: pointer;
}

.quext-parpadea {
    animation-name: quext-parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    -webkit-animation-name: quext-parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 5;
}

@-moz-keyframes quext-parpadeo {
    0% {
        font-size: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes quext-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes quext-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@media screen and (max-width: 800px) {
    .quext-Multimedia {
        width: 470px;
        height: 250px;
    }
    .quext-ProgressBar {
        width: 470px;
    }
    .quext-GameContainer  .exeQuextIcons {
        width: 20px;
        height: 20px;
        margin-right: 3px;
    }
    .quext-GameScoreBoard p {
        width: 13px;
        margin-right: 2px;
    }
    .quext-TimeNumber .quext-PTime {
        width: 50px;
        margin-right: 3px;
        text-align: center;
        vertical-align: middle;
    }
    .quext-GameScores>p:last-child {
        width: 15px;
        text-align: left;
        margin-left: 3px;
    }
    .quext-IconMinimize {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width:650px) {
    .quext-StartGame {
        margin: 15px auto;
    }
    .quext-GameContainer {
        font-size: 0.9em;
    }
    .quext-Multimedia {
        width: 437px;
        height: 246px;
    }
    .quext-ProgressBar {
        width: 437px;
    }
    .quext-IconMinimize {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width:550px) {
    .quext-GameContainer {
        font-size: 0.9rem;
    }
    .quext-GameContainer input[type="text"] {
        padding: 3px 2px;
        display: inline-block;
        box-sizing: border-box;
        line-height: 18px;
        font-size: 0.9em;
        background: #fdfdfd;
        border: 1px solid #828282;
        border-radius: 4px;
    }
    .quext-GameContainer input[type="text"]:active, .quext-GameContainer input[type="text"]:focus {
        background: #fdfdfd;
        border: 1px solid #398ee7;
        border-radius: 4px;
    }
    .quext-StartGame {
        margin: 10px auto;
    }
    .quext-Multimedia {
        width: 370px;
        height: 207px;
    }
    .quext-TimeNumber {
        width: 145px;
        height: 100%;
    }
    .quext-ProgressBar {
        width: 370px;
    }
    .quext-GameScoreBoard p {
        width: 17px;
        height: 17px;
        line-height: 17px;
        font-weight: normal;
    }
    .exeQuextIcons {
        width: 17px;
        height: 17px;
        margin-right: 2px;
    }
    .quext-LifesGame {
        display: none;
    }
    .quext-NumberLifesGame {
        display: flex;
        width: 52px;
        justify-content: center;
        align-items: center;
    }
    .quext-TimeNumber .quext-PTime {
        width: 45px;
        margin-right: 3px;
    }
    .quext-GameScores>p:last-child {
        width: 30px;
        margin-left: 3px;
    }
    .quext-Question {
        min-height: 35px;
        margin: 0 auto;
        border-radius: 4px;
    }
    .quext-Options {
        min-height: 35px;
        width: 47%;
        margin: 2px;
        border-radius: 3px;
    }
    .quext-AuthorLicence {
        height: 12px;
        margin: 2px auto;
    }
    .quext-instructions {
        margin: 2px auto;
    }
    .quext-instructions p {
        margin: 0 auto;
        font-size: 0.8em;
    }
    .quext-LinkMinimize, .quext-LinkFullScreen {
        display: none;
    }
    .quext-GetScore {
        margin: 1px auto;
        padding: 0;
    }
    .quext-BottonContainer {
        padding: 0;
        margin: 1px;
    }
    .quext-HistGGame, .quext-LostGGame {
        width: 30%;
        height: 56%;
        margin-right: 5px;
    }
    .quext-RepeatActivity, .quext-SendScore, .quext-GetScore input[type=button] {
        font-size: 0.9em;
    }

}

@media screen and (max-width:450px) {
    .quext-GameContainer {
        font-size: 0.8rem;
    }
    .quext-StartGame {
        margin: 15px auto;
    }
    .quext-Multimedia {
        width: 269px;
        height: 151px;
    }
    .quext-ProgressBar {
        width: 269px;
    }
    .quext-CodeAccessDiv {
        width: 100%;
        margin: 3px auto;
    }
    .quext-MessageCodeAccessE {
        width: 100%;
        margin: 3px auto;
    }
    .quext-LinkFullScreen {
        display: none;
    }
    .quext-RepeatActivity, .quext-SendScore, .quext-GetScore input[type=button] {
        font-size: 0.8em;
    }
    .quext-IconMinimize {
        width: 32px;
        height: 32px;
    }
    .quext-DataCodeAccessE label {
        display: none;
    }
}

@media screen and (max-width:370px) {
    .quext-GameContainer {
        font-size: 0.8rem;
    }
    .quext-GameScoreBoard p {
        font-size: 0.9em;
    }
    .quext-GameScoreBoard p {
        width: 12px;
        line-height: 12px;
        height: 12px;
        margin-right: 1px;
    }
    .quext-GameContainer .exeQuextIcons {
        width: 12px;
        height: 12px;
        margin-right: 1px;
    }
    .quext-NumberLifesGame {
        width: 28px;
    }
    .quext-TimeNumber .quext-PTime {
        width: 32px;
        margin-right: 2px;
    }
    .quext-GameScores>p:last-child {
        width: 15px;
        margin-left: 3px;
    }
    .quext-Multimedia {
        width: 221px;
        height: 134px;
    }
    .quext-ProgressBar {
        width: 221px;
    }
    .quext-RepeatActivity, .quext-SendScore, .quext-GetScore input[type=button] {
        font-size: 0.8em;
    }
    .quext-IconMinimize {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width:300px) {
    .quext-GameContainer {
        font-size: 0.7rem;
    }
    .quext-Multimedia {
        width: 180px;
        height: 101px;
    }
    .quext-ProgressBar {
        width: 224px;
    }
    .quext-LinkMinimize, .quext-LinkFullScreen, .exeQuextIcons-Time {
        display: none;
    }
    .quext-RepeatActivity, .quext-SendScore, .quext-GetScore input[type=button] {
        font-size: 0.7em;
    }
}

@media screen and (max-width:250px) {
    .quext-GameContainer {
        font-size: 0.6rem;
    }
    .quext-Multimedia {
        width: 140px;
        height: 76px;
    }
    .quext-ProgressBar {
        width: 140px;
    }
    .quext-CodeAccessDiv {
        width: 100%;
        margin: 3px auto;
    }
    .quext-MessageCodeAccessE {
        width: 100%;
        margin: 3px auto;
    }
    .quext-RepeatActivity, .quext-SendScore, .quext-GetScore input[type=button] {
        font-size: 0.6em;
    }
}