.quext-MainContainer a:link, .quext-MainContainer a:link, .quext-MainContainer a:visited, .quext-MainContainer a:focus {
    text-decoration: none !important;
    border: 0;
    outline: none;
    border-width: 0;
    outline-width: 0;
    border-bottom: none;
}

/* Contenedor */

.quext-MainContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.quext-MainContainer * {
    box-sizing: border-box;
}

.quext-MainContainer p {
    margin: 0;
    padding: 0;
}

/* Instrucciones */

.quext-instructions {
    width: 100%;
    margin: 0.3em auto;
}

.quext-instructions p {
    font-size: 1em;
}

/* Minimizado */

.quext-LinkMaximize {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quext-GameMinimize {
    width: auto;
    margin: 0.3em auto;
    display: none;
}

.quext-IconMinimize {
    width: 2em;
    height: 2em;
    margin-right: 0.3em;
    cursor: pointer;
}

.quext-IconMinimize:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* Juego */

.quext-GameContainer {
    position: relative;
    max-width: 750px;
    width: 100%;
    margin: 0.3em auto;
    padding: 0.3em;
}

/* barra de puntuaciones */

.quext-GameScoreBoard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3em;
}

.quext-GameScoreBoard p {
    font-size: 1.1em;
    width: auto;
    text-align: center;
    vertical-align: middle;
    margin-right: 0.3em;
    font-weight: bold;
}

.quext-GameScores {
    width: 100%;
    margin: 0 0.1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.quext-GameScores>p:last-child {
    width: auto;
    text-align: left;
}

.quext-LifesGame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quext-NumberLifesGame {
    display: none;
}

.quext-TimeNumber {
    width: 100%;
    margin: 0 0.3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.quext-PTime {
    width: auto;
    margin-left: 0.3em;
    min-width: 3em;
    text-align: left;
}

/* Pista */

.quext-ShowClue {
    width: 100%;
    min-height: 1em;
    margin-bottom: 0.3em;
    padding: 0;
}

.quext-PShowClue {
    font-size: 1em;
    color: #5877c6;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

/* Multimedia */

.quext-Multimedia {
    position: relative;
    width: 68%;
    max-width: 1024px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0.9em;
    margin: 0.3em auto;
}

.quext-Multimedia:before {
    content: '';
    display: block;
    padding-top: 56%;
}

.quext-Protector, .quext-Cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.quext-Images, .quext-Video, .quext-EText, .quext-GameOver {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.8em;
    text-decoration: none;
    border: 0;
}

.quext-EText {
    overflow-y: auto;
    z-index: 10001;
    border: none;
    font-size:1em;
}

.quext-Protector {
    opacity: 0.00001;
    z-index: 1000;
    background-color: white;
}

.quext-Cursor {
    width: 2em;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1000000;
    display: none;
}



/* Game Over */

.quext-GameOver {
    z-index: 10010;
    display: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quext-DataGameImage {
    position: relative;
    padding: 0;
    width: 40%;
    height: 100%;
}

.quext-DataGameScore {
    padding: 0;
}

.quext-DataGameScore p {
    font-size: 1em;
    margin: 0.7em;
    font-weight: bold;
}

.quext-HistGGame, .quext-LostGGame {
    width: 78%;
    height: 62%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
}

.quext-HistGGame {
    display: none;
}

/* Author */

.quext-AuthorLicence {
    width: 100%;
    min-height: 1.6em;
    margin: 0 auto;
}

.quext-AuthorLicence p {
    width: 100%;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Código acceso */

.quext-CodeAccessDiv {
    width: 100%;
    display: none;
}

.quext-DataCodeAccessE {
    width: 100%;
    margin: 0.7em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quext-MessageCodeAccessE {
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.quext-DataCodeAccessE label {
    font-size: 0.9em;
}

.quext-CodeAccessE {
    width: 50%;
    max-width: 300px;
    font-size: 0.9em;
    margin: 0.7em 0.3em;
}

.quext-GameContainer input[type="text"], .quext-CodeAccessE {
    padding: 3px 2px;
    display: inline-block;
    line-height: 1.7em;
    font-size: 1em;
    background: #fdfdfd;
    border: 1px solid #828282;
    border-radius: 4px;
    text-align: center;
}

.quext-GameContainer input[type="text"]:active, .quext-GameContainer input[type="text"]:focus, input.quext-CodeAccessE:focus, input.quext-CodeAccessE:active {
    background: #fdfdfd;
    border: 1px solid #398ee7;
    border-radius: 4px;
}

/* Inicio juego */

.quext-StartGame {
    width: 100%;
    margin: 0.9em auto;
    font-size: 1.15em;
    font-weight: bold;
    border-radius: 0.3em;
    text-align: center;
    padding: 0.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Pegunta */

.quext-QuestionDiv {
    width: 100%;
    margin: 0.3em auto;
}

.quext-Question {
    min-height: 3.2em;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.4em;
    font-size: 1em;
    border-radius: 0.3em;
    padding: 0.3em;
    color: #071717;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
}

.quext-OptionsDiv {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a.quext-Options {
    min-height: 3em;
    width: 48%;
    margin: 0.1em;
    background-color: transparent;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quext-OptionsDiv a {
    font-size: 1em;
    color: #071707;
}




div:fullscreen .quext-Options {
    font-size: 1.1em;
    min-height: 3.5em;
}

div:-webkit-full-screen .quext-Options {
    font-size: 1.1em;
    min-height: 3.5em;
}

div:-moz-full-screen .quext-Options {
    font-size: 1.1em;
    min-height: 3.5em;
}

div:fullscreen .quext-Question {
    font-size: 1.1em;
    min-height:  2.8em
}

div:-webkit-full-screen .quext-Question {
    font-size: 1.1em;
    min-height: 2.8em
}

div:-moz-full-screen .quext-Question {
    font-size: 1.1em;
    min-height: 2.8em
}

.quext-MainContainer a.quext-Option1 {
    background-color: #f7c4c4;
    border: 2px solid #b3092f;
}

.quext-MainContainer a.quext-Option1:hover {
    background-color: #b3092f;
}

.quext-MainContainer a.quext-Option2 {
    background-color: #d5dcec;
    border: 2px solid #5877c6;
}

.quext-MainContainer a.quext-Option2:hover {
    background-color: #5877c6;
}

.quext-MainContainer a.quext-Option3 {
    background-color: #cce1c8;
    border: 2px solid #00a300;
}

.quext-MainContainer a.quext-Option3:hover {
    background-color: #00a300;
}

.quext-MainContainer a.quext-Option4 {
    background-color: #f5efd6;
    border: 2px solid #f3d55a;
}

.quext-MainContainer a.quext-Option4:hover {
    background-color: #f3d55a;
}


/*  Video Introducción */

.quext-VideoIntroContainer {
    width: 98%;
    padding: 0;
    display: flex;
    margin: 0.3em;
    justify-content: flex-end;
    align-items: center;
    display: none;
}

.quext-VideoIntroDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    border-radius: 0.7em;
    display: none;
    z-index: 20000;
    overflow: hidden;
}

input.quext-VideoIntroClose {
    position: absolute;
    margin:0;
    top: 0.2em;
    right: 0.2em;
    cursor: pointer;
}

/* Puntuacion */

.quext-BottonContainer {
    font-size: 1rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.quext-BottonContainer * {
    margin: 0;
    padding: 0;
}

.quext-GetScore input[type=button] {
    width: auto;
    padding:0.3em;
}

.quext-GetScore {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Link */

.exeQuextIcons-Submit {
    background: url(exequextreply.png) no-repeat;
    background-size: cover;
}

.quext-GameContainer .exeQuextIcons-Video,
.quext-GameContainer .exeQuextIcons-FullScreen,
.quext-GameContainer .exeQuextIcons-FullScreenExit,
.quext-GameContainer .exeQuextIcons-Submit,
.quext-GameContainer .exeQuextIcons-Minimize {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

.quext-GameContainer .exeQuextIcons-Video:hover,
.quext-GameContainer .exeQuextIcons-Minimize:hover,
.quext-GameContainer .exeQuextIcons-FullScreenExit:hover,
.quext-GameContainer .exeQuextIcons-FullScreen:hover,
.quext-GameContainer .exeQuextIcons-Submit:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

div:fullscreen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

div:-webkit-full-screen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

div:-moz-full-screen .exeQuextIcons-FullScreen {
    background: url(exequextnormal.png) no-repeat;
}

/* Iconos */

.quext-LinkVideoIntroShow {
    display: none;
}

.quext-GameContainer .exeQuextIcons {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.3em;
    background-size: cover;
}

.quext-GameContainer .exeQuextIcons-Video,
.quext-GameContainer .exeQuextIcons-Submit {
    width: 1.7em;
    height: 1.7em;
}

.exeQuextIcons-Minimize {
    background: url(exequextmin.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Hit {
    background: url(exequexthits.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-FullScreen {
    background: url(exequextfull.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Error {
    background: url(exequextrerrors.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Score {
    background: url(exequextscore.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Time {
    background: url(exequexttime.png);
    background-size: cover;
}

.exeQuextIcons-Number {
    background: url(exequextnumber.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Life {
    background: url(exequextlive.png) no-repeat;
    background-size: cover;
}

.exeQuextIcons-Video {
    background: url(exequextvideo.png) no-repeat;
    background-size: cover;
}

/* Full Screen */

.quext-GameContainer:-webkit-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.quext-GameContainer:-moz-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.quext-GameContainer:-ms-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.quext-GameContainer:-o-full-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.quext-extra-content {
    margin-top: 1.7em;
}
.quext-EText{
    padding-right: 0.7em;
}
.quext-parpadea {
    animation-name: quext-parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    -webkit-animation-name: quext-parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 5;
}

@-moz-keyframes quext-parpadeo {
    0% {
        font-size: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes quext-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes quext-parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@media screen and (max-width:650px) {
    .quext-GameContainer, .quext-BottonContainer, .quext-instructions {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:550px) {
    .quext-Question{
        margin-bottom: 0.5em;
    }

    .quext-LinkFullScreen {
        display: none;
    }
    .quext-instructions {
        margin: 0.1em auto;
    }
    .quext-instructions p {
        margin: 0 auto;
    }

}

@media screen and (max-width:470px) {

    .quext-Multimedia {
        width: 95%;

    }
    .quext-GameContainer, .quext-BottonContainer, .quext-instructions {
        font-size: 0.8rem;
    }
    .quext-LifesGame {
        display: none;
    }
    .quext-NumberLifesGame {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quext-LinkMinimize {
        display: none;
    }
    .quext-DataCodeAccessE label {
        display: none;
    }
    .quext-GameContainer .exeQuextIcons-MoveOne, .quext-GameContainer .exeQuextIcons-Submit,.quext-GameContainer .exeQuextIcons-Video {
        width: 2em;
        height: 2em;
    }
}

@media screen and (max-width:390px) {
    .quext-GameContainer, .quext-BottonContainer, .quext-instructions {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:340px) {
    .quext-GameScoreBoard p {
        font-weight: normal;
        margin: 0.1em;
        padding: 0;
    }
    .quext-GameContainer .exeQuextIcons {
        margin: 0;
        padding: 0;
    }
    .quext-GameContainer .quext-GameScoreBoard p {
        padding: 0;
    }
    .quext-GameScores {
        width: 50%;
    }
    .quext-TimeNumber {
        width: 45%;
    }
    .quext-instructions p {
        margin: 0 auto;
    }
}

@media screen and (max-width:295px) {
    .quext-GameContainer, .quext-BottonContainer, .quext-instructions {
        font-size: 0.6rem;
    }
    .quext-GameScoreBoard{
        justify-content: flex-start;
    }
    .quext-GameScores {
        width: 50%;
    }
    .quext-TimeNumber {
        width: 42%;
    }
}

@media screen and (max-width:265px) {
    .quext-GameScoreBoard p {
        font-weight: normal;
        margin:2px;
   }
    .quext-GameContainer, .quext-BottonContainer {
        font-size: 0.6rem;
    }
    .quext-GameContainer .exeQuextIcons {
        width: 1.1em;
        height: 1.1em;
    }
    .quext-GameContainer .exeQuextIcons-Submit, .quext-GameContainer .exeQuextIcons-Video {
        width: 2em;
        height: 2em;
    }
    .quext-GameScores {
        width:auto;
    }
    .quext-TimeNumber {
        width: auto;
        justify-content: flex-start;
    }
    .quext-Letter {
        font-size: 1.2em;
        width: 1.2em;
        height: 1.7em;
        margin:0;
    }
}

@media screen and (max-width:235px) {
    .quext-GameScoreBoard .exeQuextIcons-Life, .quext-GameScoreBoard .exeQuextIcons-Time {
        display: none;
    }
    .quext-GameScores {
        width: 52%;
    }
    .quext-TimeNumber {
        width: 43%;
    }
}
@media screen and ( min-width: 700px )  and (max-height: 800px){
    div:fullscreen .quext-Multimedia  {
        width: 55%;
    }
    div:-webkit-full-screen .quext-Multimedia {
        width: 55%;
    }
    div:-moz-full-screen .quext-Multimedia {
        width: 55%;
    }
}