 #aboutDialog {
   padding: 0px 0px 10px 0px;
 }

 #clientBox {
   background-image: url("/images/exe_logo.png");
   background-position: center 15px; 
   background-repeat: no-repeat;
   background-color: #FAFAFA;
   padding-top: 100px;
   color: #000000;
 }

 #detailsBox {
   padding: 8px 10px 10px 8px;
 }

 #groove {
   margin-top: 0px;
 }

 #creditsIframe {
   cursor: default;
   -moz-user-select: none;
 
  }

 #eXeName {
   font-weight: bold;
   color: #909090;
   text-align: center; 
 }
 #version {
   font-weight: bold;
   color: #909090;
   text-align: center; 
 }

 #copyright {
  font-size: x-small; 
  text-align: center; 
 }
 
 #aboutDialog {
   padding: 0px 0px 10px 0px;
 }

 #clientBox {
   background-image: url("/images/exe_logo.png");
   background-position: center 15px; 
   background-repeat: no-repeat;
   background-color: #FAFAFA;
   padding-top: 100px;
   color: #000000;
 }

 #detailsBox {
   padding: 8px 10px 10px 8px;
 }

 #groove {
   margin-top: 0px;
 }

 #creditsIframe {
   cursor: default;
   -moz-user-select: none;
 
  }

 #version {
   font-weight: bold;
   color: #909090;
   text-align: center; 
 }

 #copyright {
  font-size: x-small; 
  text-align: center; 
 }
 
