/*  ===========================================================================
     eXe
     Copyright 2004-2005, University of Auckland

     webui styles.
   =========================================================================== */
   
textarea { font-family: arial, verdana, helvetica, sans-serif;
	   font-size: 13px;
           background: transparent;
	}

/* styles for 'tips for completion' and 'pedagogical help' */

.popupDiv {
   background-color: #EDEFF0;
   border: 2px solid #607489;
   padding: 0px 4px 4px 4px;
   margin-left: 15px;
   text-align:left;
   z-index:99;
   -moz-border-radius: 3px;
}

.popupDivLabel {
 text-align: center;
 font: message-box;
 font-weight: bold;
 color: #fff;
 cursor:move;
 margin: 0px -4px 0px -4px;
 background-image:url(../images/popup_bg.gif);
}




/* styles for iDevice Editor */

#editorWorkspace {
	margin-left: 180px;
}

#editorButtons {
	 float: left;
         position: fixed;
}

#editorButtons input.button
{
border: 3px double #999999;
border-top-color: #CCCCCC;
border-left-color: #CCCCCC;
width: 100px;
padding: 0.25em;
margin: 4px;
background-color: #FFFFFF;
background-image: url(../style/standardwhite/nodeTitle_bg.jpg);
background-repeat: repeat-x;
color: #333333;
font-size: 75%;
font-weight: bold;
font-family: Verdana, Helvetica, Arial, sans-serif;
}








