/*  ===========================================================================
     eXe
     Copyright 2004-2005, University of Auckland
     Copyright 2004-2007 eXe Project, http://eXeLearning.org/

     These style elements are only used in the editing pane of eXe. They do not 
     apply when content is exported. Brent.  
   =========================================================================== */
  
html {
  padding: 10px;
}
 
textarea { font-family: arial, verdana, helvetica, sans-serif;
	   font-size: 13px;
       background: transparent;
}

.classnote{
border: 2px solid #A9A9A9;
-webkit-border-radius: 10px;
-webkit-border-bottom-left-radius: 40px;
-moz-border-radius: 10px;
-moz-border-radius-bottomright: 40px;
border-radius: 10px;
border-bottom-left-radius: 40px;
background: #FFFACD;
padding-left:10px;
padding-right:10px;
padding-top:5px;
margin-top:5px;
margin-bottom:20px;
width:25%;
margin-left:72%;
}
.notetitle{
font: bold 14px verdana;
}
.notetitleex{
font: bold 14px verdana;
border-bottom: 3px solid #cccccc;
cursor:pointer;
padding-left:5px;
padding-bottom:5px;
}
.notebtn{
border: 1px solid #cccccc;
cursor:pointer;
margin-top:5px;
width:100%;
}
.notearea{
display:none;
}

/* styles for iDevice Editor */

#editorWorkspace {
	margin-left: 240px;
}

#editorButtons {
	 float: left;
         position: fixed;
}

#editorButtons input.button
{
border: 3px double #999999;
border-top-color: #CCCCCC;
border-left-color: #CCCCCC;
width: 100px;
padding: 0.25em;
margin: 4px;
background-color: #FFFFFF;
background-image: url(../style/standardwhite/_standardwhite_title_bg.gif);
background-repeat: repeat-x;
color: #333333;
font-size: 75%;
font-weight: bold;
font-family: Verdana, Helvetica, Arial, sans-serif;
}

#editorButtons input.button[disabled] {
	background-color: #dddddd;
	background-image: none;
}

/* styles for Style Manager Editor */
#styleManagerWorkspace {
	margin-left: 150px;
}

#styleManagerButtons {
	 float: left;
     position: fixed;
}

#styleManagerButtons input.button
{
	border: 3px double #999999;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	width: 100px;
	padding: 0.25em;
	margin: 2px;
	background-color: #FFFFFF;
	background-image: url(../style/standardwhite/_standardwhite_title_bg.gif);
	background-repeat: repeat-x;
	color: #333333;
	font-size: 75%;
	font-weight: bold;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

#styleManagerButtons input.button[disabled] {
	background-color: #dddddd;
	background-image: none;
}

.flash {
 border: 1px dashed #6699cc;
 background-image: url(../images/flash_placeholder.gif); 
 background-position: 50% 50%;
 background-repeat: no-repeat;
}

p.editModeHeading {
 font-weight: bold;
 color: red;
 border: 1px solid red;
}

.maths {
border: 1px solid #CCC;
padding: 2px;
color: #000000;
}

.maths a { color: #000000; }
 
/* adds tiny bit of padding to edit.png when in preview mode */
img.submit {
    padding: 0 0 2px 2px;
}

/* exe_lightbox.css */
.exeImageGallery:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.exeImageGallery {display: block}
/* Hides from IE-mac \*/
* html .exeImageGallery {height: 1%}
.exeImageGallery {display: block}
/* End hide from IE-mac */

.exeImageGallery{margin:1em 0 0 15px;padding:0}
.exeImageGallery li{margin:0;padding:15px 15px 15px 0;display:block;float:left;list-style:none}
.exeImageGallery a img{border:none}
.exeImageGallery .tit{display:none}

#lbOverlay{position:fixed; top:0; left:0; z-index:99997; width:100%; height:100%; background-color:#000}
body.exe-ims #lbOverlay,body.exe-scorm #lbOverlay{background-color:#fff}

#lbMain{position:absolute; left:0; width:100%; z-index:99998; text-align:center; line-height:0; display:-moz-inline-stack}
#lbMain a img{border:1px solid #fff}

#lbOuterContainer{position:relative; background-color:#fff; width:200px; height:200px; margin:0 auto; border:1px solid #888}
body.exe-ims #lbOuterContainer,body.exe-scorm #lbOuterContainer{border-color:#ccc}

#lbTopContainer, #lbBottomContainer{background-color:#fff; width:100%; line-height:1.4em; font-size:0.75em; overflow:hidden; margin:0 auto; padding:0; position:relative; z-index:14; display:none}
#lbTopContainer{overflow:hidden; margin-top:5px}

#lbImage{border:1px solid #fff}
#lbImageContainer{padding:10px; z-index:12}
#lbLoading{height:100%; width:100%; margin-top:-10px; background:url(../images/exeGallery_loading.gif) center no-repeat}

#lbHoverNav{position:absolute; top:0; left:0; height:100%; width:100%; z-index:10}
#lbImageContainer>#lbHoverNav{left:0}
#lbHoverNav a{outline:none}

#lbPrev, #lbPrevTop, #lbNext, #lbNextTop, #lbClose, #lbCloseTop, #lbPrint, #lbPrintTop{width:26px; height:28px; float:right; margin:0 0 1px 8px; border:none !important;background-image:url(../images/exeGallery_actions.png);background-repeat:no-repeat;background-position:0 0}
#lbPrev.exeOff, #lbPrevTop.exeOff{background-position:0 -28px}
#lbNext, #lbNextTop{background-position:-26px 0}
#lbNext.exeOff, #lbNextTop.exeOff{background-position:-26px -28px}
#lbClose, #lbCloseTop{background-position:-52px 0}
#lbPrint, #lbPrintTop{background-position:-52px -28px}

#lbTopData, #lbBottomData{float:left; text-align:left; padding-left:10px}
#lbBottomData{padding-bottom:0.5em}
#lbBottomData, #lbTopData{color:#333}

#lbTopNav, #lbBottomNav{float:right; text-align:right; padding-right:10px}
#lbNumTop, #lbNumBottom{font-style:italic}
#lbDescBottom{display:block}
#lbTitleTop, #lbTopNav{margin-top:0.3em}
#lbTitleTop, #lbTitleBottom{display:block; font-weight:bold}
#lbClose, #lbPrint, #lbPlay, #lbPause{margin:0 0 6px 8px}
