/*  ===========================================================================
 eXe
 Copyright 2004-2005, University of Auckland

 webui styles.
   =========================================================================== */
   

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 13px;
	background: #9ca9af;
	}

#main {
	margin: 4px 10px 10px 10px;
	}	

#header {font-size: 20px;
	 font-weight: bold;
	 }	

#left_panel {margin-top:10px; 
	    float: left;
	   	}

/* Form elements for static iDevices */

.fieldset {width:100%;
	   border:0px;}

.fieldset .textfield {
margin:3px;
height:165px;
width:90%;
border:1px solid #C0C0C0;
}

			 	
/* outline container in left_panel */

#outline 
	{ background-color: #FFFFFF;
	  width: 200px;
	  margin-top: 12px;
	  padding: 4px;
	   
	  border: 1px solid #000;
	  -moz-border-radius: 6px;}
				
#outline ul
	{list-style-type: none;
	margin-left: -30px;}

#outline li  a.action
	{font-size: 10px;
	 }

#outline li  a.action:hover
	{background-color: #CCCC99;
         border: 1px solid #000;
	 text-decoration: none;
	 }
	 
#outline a:link, #outline a:visited
{
color: #96852C;
text-decoration: none;
}

#outline a:hover
{text-decoration: underline;}	



/* iDevice Pane */

#iDevice_pane { background-color: #FFFFFF;
	  width: 200px;
	  margin-top: 12px;
	  padding: 4px; 
	  border: 1px solid #000;
	  -moz-border-radius: 6px;

}

#iDevice_pane a:link, #iDevice_pane a:visited
	{color: #96852C;
	text-decoration: none;}
	
#iDevice_pane a:hover
{text-decoration: underline;}



/* authoring pane */

#authoring_pane {
	margin-left: 216px;
	margin-top: 12px;
	padding: 8px;
	background-color: #FFFFFF;
	border: 1px solid #000;
	-moz-border-radius: 6px;
	}	
	
		
