/* Accordion */
.exe-accordion,.exe-accordion *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.exe-accordion{width:90%;margin:2em 0 2em 5%}
.js .exe-accordion{overflow:hidden;box-shadow:0px 1px 3px rgba(0,0,0,0.25);border-radius:3px;background:#fff;width:96%;margin-left:2%}
.exe-accordion-title,.exe-accordion h2{width:100%;padding:15px;display:inline-block;border-bottom:1px solid #1a1a1a;background:#333;transition:all linear 0.15s;text-shadow:0px 1px 0px #1a1a1a;color:#fff}
#main .exe-accordion h2{border-radius:3px;margin:0;font-size:1em}
.js .exe-accordion h2{padding:0;border:0;display:block;background:none;border-radius:3px}
.exe-accordion-title.active,.exe-accordion-title:hover{background:#4c4c4c;text-decoration:none}
.exe-accordion-section:last-child .exe-accordion-title{border-bottom:none}
.exe-accordion-content{padding:0 15px;display:none}
/* Tabs */
.exe-tabs{margin:2em auto;width:90%}
.js .exe-tabs{width:96%}
.exe-tabs .tabs{margin:0;padding:0;list-style:none;overflow:auto}
.exe-tabs h2{margin-top:2em}
.js .exe-tabs h2{margin-top:.5em}
* html .exe-tabs .tabs{width:100%} /* IE6 */
.exe-tabs .tabs li{display:inline}
.exe-tabs .tabs a{display:block;padding:10px 15px;outline:none;float:left}
.exe-tabs .tabs .current a{background:#ededed;border-top-left-radius:5px;border-top-right-radius:5px}
.exe-tabs .tab-content{display:none;background:#ededed;padding:15px;border-radius:5px}
.exe-tabs .default-panel{border-top-left-radius:0}
.exe-tabs .tab-content.current{display:block}
/* Pagination */
.exe-paginated{margin:2em auto;width:90%}
.js .exe-paginated{width:96%}
.exe-paginated .fx-pagination{margin:0 0 11px 0;padding:0;list-style:none;text-align:center}
.exe-paginated h2{margin-top:2em}
.js .exe-paginated h2{margin-top:1em}
.fx-pagination li{display:inline;padding:0;margin:0 3px}
.fx-pagination .fx-prev{margin-right:6px}
.fx-pagination a{outline:none;display:inline-block;padding:3px 11px;cursor:pointer;border-radius:5px;background:#ededed}
.fx-pg a{font-family:Arial,Verdana,Helvetica,sans-serif}
.fx-pagination .disabled{filter:alpha(opacity=30);opacity:.3}
.fx-pagination .disabled,.fx-pagination .disabled a,.fx-pagination .disabled a:hover{cursor:text;text-decoration:none}
.fx-pagination .current a{background:#333;color:#fff}
.page-content{display:none;background:#ededed;padding:1px 15px .5em 15px;border-radius:5px}
.page-content.current{display:block}
/* Carousel */
.exe-carousel{margin:2em auto;width:90%;position:relative}
.js .exe-carousel{width:96%}
.carousel-pagination{margin:11px 0 0 0;padding:0;list-style:none;text-align:center;overflow:auto}
.exe-carousel h2{margin-top:2em}
.js .exe-carousel h2{margin-top:1em}
.carousel-pagination li{display:inline;padding:0;margin:0 3px}
.carousel-pagination a{outline:none;display:inline-block;padding:3px 11px;border-radius:5px;background:#ededed}
.carousel-pagination .disabled{filter:alpha(opacity=30);opacity:.3}
.carousel-pagination .disabled,.carousel-pagination .disabled a,.carousel-pagination .disabled a:hover{cursor:text;text-decoration:none}
.carousel-pagination .current a{background:#333;color:#fff}
.carousel-page-content{display:none;background:#ededed;padding:1px 15px .5em 15px;border-radius:5px;margin:0 65px}
.carousel-page-content.current{display:block}
.carousel-pagination li{font-size:.85em}
.carousel-pagination .exe-carousel-pg{position:absolute;top:15px;left:0;*left:-10px} /* IE6, IE7 */
.carousel-pagination .exe-carousel-pg a{width:50px;height:50px;padding:0;line-height:50px;font-size:25px;font-family:Arial,Verdana,Helvetica,sans-serif;border-radius:25px;text-align:left;text-indent:10px}
.carousel-pagination .exe-carousel-pg a:hover{text-decoration:none;background:#333;color:#fff}
.carousel-pagination .exe-carousel-pg a:focus{text-decoration:none}
.carousel-pagination .exe-carousel-pg.disabled a:hover{filter:alpha(opacity=20);opacity:.2}
.carousel-pagination .exe-carousel-next{left:auto;right:0}
.carousel-pagination .exe-carousel-next a{text-indent:14px}