#gameQEIdeviceForm {
	margin-top: 2em;
}

#gameQEIdeviceForm input[type=number] {
	width: 3em;
}

#gameQEIdeviceForm label {
	margin-right: 0.1em;
}

#gameQEIdeviceForm input[type="radio"], #gameQEIdeviceForm input[type="checkbox"], #gameQEIdeviceForm input[type=button] {
	cursor: pointer;
	font-family: "Atkinson Hyperlegible, Arial, sans-serif" !important
}

.MTLE-IDeviceTitleDiv {
	background-color: white;
}

.MTLE-IDeviceTitleDiv label {
	cursor: pointer;
}

.MTLE-IDeviceTitleDiv input {
	cursor: pointer;
}

/*Panel preguntas */
.MTLE-EPanel {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 100%;
}

.MTLE-TapsRightDiv {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 0;
	border-bottom: 1px solid #ccc;
	gap: 0.7em;

}

.MTLE-LanguajesDiv {
	width: 100%;
}

.MTLE-ProyectTitleDiv{
	margin-bottom: 0.6em;

}
.MTLE-LanguajesDiv input[type=text] {
	width: 100%;

}

.MTLE-LanguajesDiv label {
	white-space: nowrap
}

.MTLE-LanguajesDiv select {
	min-width: 200px;
}

.MTLE-Languajes {
	margin-right: 0.2em;
}

#mtlIdiomasMenu {
	width: 100%;
	border-collapse: collapse;
	margin: auto;
}

#mtlIdiomasMenu thead {
	background-color: #ccc;
}

#mtlIdiomasMenu th, #mtlIdiomasMenu td {
	padding: 8px;
	width: auto;
	border: 1px solid #ccc;
}

#mtlIdiomasMenu td {
	font-size: 1em;
}

#mtlAcciones {
	max-width: none;
	/* Quita cualquier ancho máximo previo */
	width: 80px !important;
	/* Ajusta el ancho al contenido */
}

#mtlIdiomasMenu td:last-child {
	max-width: none;
	/* Quita cualquier ancho máximo previo */
	width: 80px !important;
	/* Ajusta el ancho al contenido */
}



#mtlIdiomasMenu .MTLE-BtnAdd {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 5px 10px;
	margin-right: 10px;
	cursor: pointer;
}

#mtlIdiomasMenu .MTLE-BtnRemove {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

#mtlMessageLanguajes, #intVideoIntroDiv {
	display: flex;
	justify-content: flex-start;
	gap: 0.2em;
	flex-wrap: nowrap;
	width: 100%;
}

.MTLE-BtnCopy, .MTLE-BtnPaste {
	background-color: #cccccc;
	color: black;
	border: none;
	padding: 5px 10px;
	margin-left: 6px;
	cursor: pointer;
	display: block;
}


#mtlMessageLanguajes label, #intVideoIntroDiv label {
	white-space: nowrap;
}

#mtlInputMessage, #mtlEVideoIntro {
	width: 100%;
	max-width: 1000px;

}

.MTLE-MessagesIdevices {
	text-align: left;
	padding-bottom: 0.3em;
	border-bottom: 2px solid #ccc;
	margin-bottom: 0.3em;
}

.MTLE-TapsRightDiv a {
	display: block
}

.MTLE-EOptionsMedia {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	width: 100%;
}

#gameQEIdeviceForm #mtlCodeTest {
	width: 4em;
	margin-right: 0.6em;
}

/* Medias */
.MTLE-EMultiMediaOption {
	height: 100%;
	min-width: 400px;
	position: relative;
	width: 50%;
}

.MTLE-EMultimedia {
	background-color: #fff;
	border-radius: .5em;
	height: 227px;
	margin: 1em auto auto auto;
	position: relative;
	width: 400px;
}

.MTLE-EMultiVideoQuExt {
	background-color: #fff;
	height: 300px;
	margin: 20px auto auto auto;
	position: relative;
	max-width: 528px;
}

.MTLE-EMedia {
	border: 1px solid #cccccc;
	border-radius: .5em;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.MTLE-EMedia:last-of-type {
	display: block;
}

.MTLE-ECursor {
	display: none;
	left: 0;
	position: absolute;
}

.MTLE-Flex {

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.MTLE-TH {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}

.MTLE-THEND {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 100%;
}

.MTLE-Asignar {
	display: inline-block;
}

.MTLE-Flex1 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 0.8em;

}

.MTLE-HelpMessage {
	background-color: #E1F1F9;
	border-radius: 0.3em;
	padding: 0.6em;
	list-style: none;
}

.MTLE-TypeGameHelp {
	display: none;
	margin-bottom: 1em;
	font-size: .95em
}

.MTLE-ENameTema input[type=text]:last-of-type {
	width: 100%;
	margin-left: 0.2em;
}

.MTLE-ENameTema {
	flex-wrap: nowrap;
}

.MTLE-EOptionsGame {
	/*min-height: 300px;*/
	width: 100%;
}

.MTLE-EOptionsGame div {
	margin-bottom: 0.7em;
}

.MTLE-EOptionsGame input[type=text] {
	margin-right: .2em;
	width: 5em;
}

/* Opciones imagen */
.MTLE-EInputImage {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	min-width: 100px;
	width: 100%;
}

#gameQEIdeviceForm .MTLE-EInputImage input[type=text] {
	flex-flow: 1;
	margin-right: 0.2em;
	min-width: 100px;
	width: 100%;
}

.MTLE-EInputImage input[type=button] {
	flex-shrink: 0;
}

.MTLE-EAuthorAlt {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.MTLE-EAuthorAlt div {
	width: 49%;
}

.MTLE-EAuthorAlt label {
	display: block;
}

.MTLE-EAuthorAlt input[type=text] {
	width: 97%;
}

/* Opciones video */
.MTLE-EAuthorVideo input[type=text] {
	width: 85%;
	max-width: 400px;
}

.MTLE-EInputVideo input[type=text] {
	width: 100%;
}

.MTLE-EInputOptionsVideo>div {
	margin-top: 0.6em;
}

.MTLE-EInputOptionsVideo button {
	font-size: 1em;
	height: 1.6em;
}

/* Opciones audio */
.MTLE-EInputAudio {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.MTLE-EInputAudio input[type=text] {
	flex-flow: 1;
	margin-right: 0.2em;
	min-width: 100px;
	width: 100%;
}

.MTLE-EInputAudio input[type=button] {
	flex-shrink: 0;
}

.MTLE-ButtonLink {
	display: block;
	height: 1.6em;
	width: 1.6em;
}

/*Preguntas*/
.MTLE-EQuestionDiv {
	margin-bottom: .3em;
	width: 100%;
}

.MTLE-EQuestion {
	width: 98%;
	padding: 0.2em;
}

.MTLE-EAnswers {
	background: transparent;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

.MTLE-EOptionDiv {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 3px 0;
	min-height: 35px;
	width: 49%;
}

.MTLE-EAnwersOptions {
	width: 100%;
	padding: 0.2em;
	margin-left: 0.3em;
	margin-right: 0.3em;
}

.MTLE-SolutionWordDiv {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: .5em auto;
	width: 100%;
}

.MTLE-ESolutionWord {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-bottom: 0.5em;
	width: 100%;
}

.MTLE-ESolutionWord label {
	display: inline-block;
	width: 11em;
	text-align: right;
	padding-right: .5em
}

.MTLE-SolutionWordDiv input {
	text-align: left;
}


/* Multilingual */

.MTLE-EOrders {
	margin-top: 0.5em;
	display: none;
}

.MTLE-EOrders>div {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	;

}

.MTLE-EOrders>div {
	align-items: left;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-bottom: 0.5em;
}

.MTLE-EOrders>div * {
	margin-right: .2em;
}

.MTLE-EOrders input[type=text] {
	width: 100%;
}

.MTLE-EOrders label {
	white-space: nowrap;
}

.MTLE-EHit {
	background-image: url(quextIEHit.png);
	background-size: 100% 100%;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
}

.MTLE-EError {
	background-image: url(quextIEError.png);
	background-size: 100% 100%;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
}




/*Numero Preguntas */
.MTLE-ENumQuestionDiv {
	align-items: center;
	display: flex;
	height: 1.5em;
	justify-content: center;
	position: absolute;
	right: 0;
	top: -1.9em;
	width: 3em;
	z-index: 20000;
}

.MTLE-ENumQ {
	background-image: url(quextIENumber.png);
	background-size: 100% 100%;
	display: inline-block;
	height: 1.5em;
	margin-right: 0px;
	width: 1.5em;
}

.MTLE-ENumQuestions {
	font-weight: bold;
	height: 1.5em;
	text-align: center;
	width: 2em;
}

.MTLE-ECustomMessage {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin-top: 1em;
	width: 100%;
}

.MTLE-IDevicesDiv {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.MTLE-IdevicesTable {
	width: 100%;
	height: 100%;
}

.MTLE-PanelLeft {
	width: 80%;
	padding-right: 1em;
}

.MTLE-PanelRight {
	width: 20%;
	padding-left: 1em;
	border-left: 2px solid #ccc;
	margin-bottom: 1em;

}


.MTLE-CollapsedTable {
	display: flex;
	width: 100%;
	justify-content: space-between;
}


.MTLE-IdevicesColumn, .MTLE-CollasedColumn {
	width: 32%;
	margin-right: 1%;
}


.MTLE-IDevicesDiv ul {
	list-style: none;

}

.MTLE-IDevicesDiv li {
	margin-left: 0;
	padding-left: 0;

}

.MTLE-IDevicesDiv ul {
	width: 50%;
}

#mtlEIEListInineraries {
	width: 60%;

}

.MTLE-ECustomMessage input[type=text] {
	width: 100%;
	margin-right: 0.1em;
}

.MTLE-ECustomMessage label {
	margin: 0 0.1em;
}

input.MTLE-MESSAGE {
	width: 26em;
}

#mtlEIEListInineraries span {
	margin-right: 0.3em;
}

#mtlEIEListInineraries input {
	margin-right: 0.3em;
}

.MTLE-ENavigationButton {
	cursor: pointer;
	display: inline-block;
}

/* barra edición */
.MTLE-ENavigationButtons {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 1em;
	width: 100%;
}

.MTLE-Add, .MTLE-Remove {
	cursor: pointer;
}


.MTLE-EButtonImage {
	transition: all .3s ease-in-out;
	width: 24px;
	height: 24px;
	cursor: pointer;
	margin-right: 0.4em;
	display: block;
}

.MTLE-EButtonPlay {
	transition: all .3s ease-in-out;
	cursor: pointer;
	width: 32px;
	height: 32px;
	display: block;
}

.MTLE-EButtonPlay:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.MTLE-EButtonImage:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.MTLE-NumberQuestion {
	font-weight: bold;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
	width: 2em;
}

/* Video introdución */
.MTLE-EVIDiv {
	background-color: #f9f9f9;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20000;
}

/* Video introdución */
.MTLE-EVIV {
	width: 100%;
}

.MTLE-EMVI {
	height: 315px;
	margin: 70px auto;
	position: relative;
	width: 560px;
}

.MTLE-EVI, .MTLE-ENoVI {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.MTLE-EVIOptions {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 50px;
	justify-content: flex-start;
	position: absolute;
	width: 100%;
}

.MTLE-EVIOptions * {
	margin-left: 0.3em;
}

.MTLE-EVIOptions input[type=text] {
	text-align: left;
	width: 5em;
}

.MTLE-EVIOptions input[type=text]:first-of-type {
	width: 15em;
}

.MTLE-EVideoIntroDiv {
	border-radius: 10px;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 98%;
	z-index: 20000;
}

.MTLE-EVIClose {
	position: absolute;
	right: 0.3em;
	top: 0.3em;
}

.MTLE-EVIOptionsVQ {
	margin-bottom: 0.6em;
}

.MTLE-EVIOptionsVQ input[type=text] {
	text-align: left;
	width: 5em;
	margin-right: .2em;
}

.MTLE-EVIOptionsVQ #vquextEVIURL {
	width: 15em;
}

/* Ocutar elementos */
.MTLE-EInputOptionsVideo, .MTLE-DP, .MTLE-EInputImage, .MTLE-EVIDiv, .MTLE-ScoreQuestionDiv, .MTLE-ECoord, .MTLE-EFeedbackP, .MTLE-ETitleImage, .MTLE-ETitleVideo,  .MTLE-ESolutionSelect input[type=number], .MTLE-ESolutionSelect label {
	display: none;
}

.MTLE-ESolutionSelect {
	margin-bottom: 0.5em;
}

.MTLE-ESolutionSelect input[type=number] {
	margin: auto 0.2em;
}

#gameQEIdeviceForm .MTLE-EOptionDiv label {
	margin-right: 0.2em;

}

.MTLE-ESolutionSelect input[type=number], .MTLE-ESolutionSelect label {
	display: none;
}

label[for=gameQEScoreQuestion], input#gameQEScoreQuestion {
	display: none;
}

.MTLE-EWordDiv {
	margin: .5em auto;
	width: 100%;
}

#gameQEIdeviceForm .MTLE-ESolutionWord label {
	display: inline-block;
}

#gameQEIdeviceForm .MTLE-ESolutionWord input[type=text] {
	width: 100%;
}

/* To review */
#gameQEIdeviceForm .exe-block-info img {
	margin-left: .2em;
	vertical-align: middle;
}

#gameQEIdeviceFormTab1 * {
	font-size: 0.9em;
}

#gameQEIdeviceFormTab1 p:first-child {
	margin-top: 0;
}

#gameQEIdeviceFormTab1 {
	overflow: auto;
}

#gameQEIdeviceFormTab1 .ci18n {
	float: left;
	width: 50%;
}

@media screen and (max-width:720px) {
	#gameQEIdeviceForm #gameQEIdeviceFormTab1 .ci18n {
		float: none;
		width: 100%;
	}
}

#gameQEIdeviceForm #gameQEIdeviceFormTab1 label {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: .2em;
}

#gameQEIdeviceForm #gameQEIdeviceFormTab1 input {
	font-size: 0.9em;
	width: 300px;
}

/* Tabs (this should be common) */
.exe-form-tabs {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}

#main .exe-form-tabs li {
	display: inline;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.exe-form-tabs li:first-child a {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.exe-form-tabs li:last-child a {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.exe-form-tabs a {
	background: #F9F9F9;
	border: 1px solid #CCC;
	color: #666;
	display: inline-block;
	padding: .5em 1em;
}

.exe-form-tabs li:not(:last-child) a {
	border-right: none;
}

.exe-form-tabs .exe-form-active-tab {
	background: #FFF;
	color: #000;
	font-weight: 500;
}

#gameQESCORMoptions {
	margin-left: 1.5em;
	visibility: hidden;
}

label[for=gameQEActivitySCORM] {
	font-weight: bold;
}

#gameQESCORMinstructionsButton {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsButton ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}

#gameQESCORMinstructionsButton ul li {
	list-style-image: none;
	margin: 0 0 .5em 0;
	padding: 0;
}

#gameQESCORMinstructionsAuto {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsAuto ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}

.GameModeHelpLink {
	margin: 0 2px;
	vertical-align: middle;
}

.GameModeLabel {
	font-weight: normal
}

.unselectable {
	-moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.dragaware {
	cursor: pointer;
}

.draggable_clone {
	position: absolute;
	/* also set via javascript */
	z-index: 100001;
	pointer-events: none;
	/* disable mouse events on the clone */
}

.draggable.dragging, .draggable .dragging {
	opacity: 0.5;
}

.sortable .sortable_clone {
	position: absolute;
	/* also set via javascript */
	z-index: 100001;
	list-style-type: none;
	opacity: 0.5;
}

.sortable .sortable_placeholder {
	box-sizing: border-box;
	list-style-type: none;
	background: #eee;
	border: 2px dotted #52b218;
}