<?xml version="1.0"?>
<theme>
    <name>MAX (MAdrid_Linux)</name>
    <version>2.0</version>
    <compatibility>8+</compatibility>
    <author>EducaMadrid Plataforma Tecnológica</author>
    <author-url>http://www.educa.madrid.org/</author-url>
	<license>Creative Commons by-nc-sa</license>
	<license-url>http://creativecommons.org/licenses/by-nc-sa/3.0/</license-url>
	<description>Plantilla realizada por Ignacio Gros (www.gros.es) para MAX (Consejería de Educación, Juventud y Deporte de la Comunidad de Madrid): http://www.educa2.madrid.org/web/max/ - Iconos: "Iconic" (Creative Commons by-sa), por P. J. Onori (http://www.somerandomdude.com/work/iconic/).</description>
</theme>