body{padding:0;text-align:center;background:#fff url(_max_fondo_pagina.gif)}
#lbOverlay{background:#000}
#content{width:97%;margin:20px auto;text-align:left;position:relative;padding-bottom:21px;min-width:965px;background:#fff url(_max_columna_izquierda.gif) repeat-y 0 0;border:5px solid #000;box-shadow:0 0 10px 0 #666;border-radius:5px}
.no-nav #content{background:#fff}
#main-wrapper{padding:10px 20px 0 250px}
.no-nav #main-wrapper{padding-left:20px}
#main{width:100%}
#header,#emptyHeader{border-top:none;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-right:200px}
#main #nodeDecoration{padding:0;background:none}
/* Navigation */
#skipNav{width:50%;padding:10px}
#skipNav a{background:#9A042F}
#siteNav{width:230px;float:left;padding-right:20px}
#siteNav,#siteNav ul{background:#fff;border-color:#f1f1f1}
#siteNav li:hover,#siteNav li.sfhover{background:#f1f1f1}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav a{display:block;padding:4px 0 4px 10px;border-width:0 5px 1px 0;border-style:solid;color:#4D4D4D;border-color:#f2f2f2 #F2F2F2}
#siteNav a:hover,#siteNav a:focus{color:#000;background:#f1f1f1}
* html #siteNav a{display:inline-block;width:100%} /* IE6 */
#siteNav .main-node{font-weight:bold;font-variant:small-caps;letter-spacing:1px;font-size:1.1em}
#siteNav a.main-node:hover{text-decoration:underline;background:none}
#siteNav ul ul a{padding-left:25px;font-size:.95em;color:#555}
#siteNav .active{color:#1E80B8;font-weight:bold}
#siteNav .other-section{display:none}
#siteNav ul ul ul a{padding-left:50px}
#siteFooter{padding:10px 0 0 250px;border:none}
.no-nav #siteFooter{padding-left:20px}
/* Pagination */
.pagination{border-top:5px solid #B50536;padding-top:20px;text-align:right}
.pagination .sep{display:none}
.pagination a{padding:4px 8px;border-radius:10px;background:#f2f2f2;margin-left:15px;border:1px solid #f1f1f1;color:#000;box-shadow:0 0 3px 0 #ccc}
.pagination a:hover,.pagination a:focus,#topPagination .pagination a:hover,#topPagination .pagination a:focus{text-decoration:none;background-color:#9A042F;color:#fff;border-color:#9A042F}
#topPagination{position:absolute;top:0;width:100%;right:20px}
#topPagination .pagination{border:none;background:none}
#bottomPagination{padding:0 20px 0 250px}
.no-nav #bottomPagination{padding-left:20px}
/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}

#nav-toggler{margin:0;position:absolute;top:8.3em;right:20px}
#nav-toggler a{display:block;width:11px;height:11px;background:url(_max_max_min.gif) no-repeat 0 0;outline:none}
#nav-toggler .hide-nav{background-position:0 -11px}
#nav-toggler span{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}

/* IE6 */
* html body{padding-bottom:20px}
* html #main{width:auto}
* html #siteNav a{width:215px}
* html #siteNav ul ul a{width:200px}
* html #siteNav ul ul ul a{width:175px}

@media screen and (min-width: 701px) and (max-width: 1015px) {
	body{background:#fff}
	#main-wrapper,#siteFooter{padding-left:20px}
	#content{width:100%;min-width:0;background:#fff;border:none;box-shadow:none;margin:0}
	#nodeTitle,.pagination{border-width:2px}
	#bottomPagination{margin-bottom:15px;padding-left:20px}
	/* Horizontal navigation */
	#siteNav .other-section{display:block}
	#siteNav .main-node{font-weight:normal;font-variant:normal;letter-spacing:0;font-size:1em}
	#siteNav,#siteNav ul{float:left;width:100%;list-style:none;padding:0;border-style:solid;border-width:1px 0;margin:0;line-height:1.3em}
	#siteNav ul ul{line-height:1.1em}
	#siteNav{margin-bottom:20px;position:relative;z-index:999;border-top:none;border-bottom-color:#000}
	#siteNav a{display:block;text-decoration:none;padding:.4em 10px;border:none}
	#siteNav li{float:left}
	#siteNav ul ul .daddy{background:url(_max_flecha_nav.gif) no-repeat right 50%}
	#siteNav li ul{position:absolute;left:-999em;height:auto;width:14.4em;w\idth:13.9em;border-width:0.25em}
	* html #siteNav li ul{width:13em}
	#siteNav li li{padding-right:1em;width:13em}
	#siteNav li ul a,#siteNav li ul ul a{font-size:.95em;padding:.45em 10px}
	#siteNav li ul ul{margin:-2.15em 0 0 14em;/*margin:-1.95em 0 0 14em*/}
	* html #siteNav li ul ul{margin-left:13em}
	#siteNav li:hover ul ul,#siteNav li:hover ul ul ul,#siteNav li.sfhover ul ul,#siteNav li.sfhover ul ul ul{left:-999em}
	#siteNav li:hover ul,#siteNav li li:hover ul,#siteNav li li li:hover ul,#siteNav li.sfhover ul,#siteNav li li.sfhover ul,#siteNav li li li.sfhover ul{left:auto}
	#toggle-nav{display:none !important}	
}

@media all and (max-width: 700px) {
	body{background:#fff}
	#header,#emptyHeader{background:#fff;padding-left:10px;height:3.8em;line-height:3.8em;font-size:1.25em;padding-right:10px}
	#content{width:100%;min-width:0;background:#fff;border:none;box-shadow:none;margin:0}
	#skipNav{width:100%;padding:10px 0;text-align:right}
	#skipNav a{border-right:10px solid #fff}
	#siteNav{float:none;width:100%;padding:0}
	#siteNav a{border-right:0}
	#main-wrapper,.no-nav #main-wrapper{padding:0 10px}
	#nodeTitle{margin-top:.5em}
	#siteFooter,.no-nav #siteFooter{padding:10px 10px 0 10px;text-align:center}
	#content .exe-col{float:none;width:100%;padding:0}
	#topPagination{display:none}
	#bottomPagination,.no-nav #bottomPagination{padding:0 10px}
	.pagination{text-align:center;height:35px;position:relative}
	.pagination .prev{position:absolute;left:0;margin:0}
	.pagination .next{position:absolute;right:0}
	#nav-toggler span{position:static;overflow:visible;clip:auto;height:auto} /* Reset */
	#nav-toggler{position:relative;top:0;left:0;margin:0;text-align:center}
	#nav-toggler a{width:100%;height:auto;background:none;background:#F9F9F9;color:#333;border-bottom:1px solid #F2F2F2;line-height:2.3em;font-weight:bold;letter-spacing:1px;font-variant:small-caps}
	#nav-toggler a:hover{background:#f1f1f1;text-decoration:none;text-shadow:1px 1px 1px #fff}		
	#nav-toggler a:focus{text-decoration:none}
}