/*  ===========================================================================
     eXe
     Copyright 2004-2005, University of Auckland

     styles for Mojave style.
   =========================================================================== */

body {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 13px;
    background: #CCCC99;
}

a { color: #336633;
    text-decoration: none;
}

a:hover {
	color: #FFFFCC;
	text-decoration: underline;
}

.popupDiv {
    background-color: #C0C0C0;
    border: 1px solid #000;
    padding: 4px 4px 4px 10px;
    margin-left: 15px;
}

/* styles for node title */

div#nodeDecoration {
	border-top: 1px solid #FFFFCC;
	border-bottom: 1px solid #FFFFCC;
}

p#nodeTitle { 
    color: #FFFFCC;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 2px;
    display: inline;
}



/* --- iDevice Styles -- */

.iDevice {
    background-color: #ACBFC2;
    padding-left: 10px;
    border: 1px solid #FFFFCC;
    margin: 10px;
}

.iDevice p {
	padding-left: 24px;
}

.iDeviceTitle {
    color: #FFF;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    top: -18px;
  
}    

.iDevice_icon {
	padding-top: 10px;
}

p.reading_reference {
    font-style: italic;        
}

p.reading_feedback {
    border: 1px dashed #ADADAD;
    margin: 20px;
    padding: 8px;
    background-color: #FFF;
}

