/*  ===========================================================================
     eXe
     Copyright 2004-2005, University of Auckland

     styles for Mojave style.
   =========================================================================== */

body {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 13px;
    background: #CCCC99;
}


p.nodeTitle { 
    color: #336633;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 2px;
    display: inline;
}

p.reading_reference {
    font-style: italic;        
}

p.reading_feedback {
    border: 1px dashed #ADADAD;
    margin: 20px;
    padding: 8px;
    background-color: #FFF;
}


/* --- iDevice Styles -- */

.iDevice {
    background-color: #ACBFC2;
    padding-left: 10px;
    border: 1px solid #FFFFCC;
    margin: 10px;
}

.iDeviceTitle {
    color: #FFF;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    top: -18px;
  
}    


