/*  ===========================================================================
     eXe
     Copyright 2004-2005, University of Auckland

     default display styles.
   =========================================================================== */

/* authoring pane */

#authoring_pane {
	position: absolute;
	margin-left: 223px;
	margin-top: 90px;
    margin-right: 8px;
	padding: 8px;
	background-color: #F5D291;
	border: 1px solid #0A0A0A;
	-moz-border-radius: 6px;
	}	

p.prev_edit { float: right;}



p.nodeTitle { 
    color: #A89063;
    font-size: 18px;
    padding: 2px;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    display: inline;
}

p.reading_reference {
    font-style: italic;        
}

p.reading_feedback {
    border: 1px dashed #ADADAD;
    margin: 20px;
    padding: 8px;
    background-color: #FFF;
}


/* --- iDevice Styles -- */

#iDevice {
    background-color: #ACBFC2;
    padding: 4px;
    border: 1px solid #F5F5F5;
    margin: 8px;
}

.iDeviceTitle {
    color: #FFF;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    top: -18px;
    left: 5px;
}    


#iDevice li { 
    margin-left:         60px;
    list-style-image:    url("cactus_icon.gif"); 
    list-style-position: outside; 
}
