/*  Copyright University of Auckland 2004
	Created by Brent Simpson, brent.simpson@auckland.ac.nz
	Centre for Flexible and Distance Learning
*/

/* LEFT-HAND NAVIGATION */

#navcontainer {
	width: 169px;
	float: left;
	margin-top: 10px;
	}
				
#navcontainer ul {
	margin-left: 0px;
	padding-left: 0;
	margin-top: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	}

#navcontainer a {
	display: block;
	padding: 3px 0 3px 6px;
	background-color: #CCCC99;
	border-bottom: 1px solid #FFF;
	width: 163px;
	}

#navcontainer a:link, #navlist a:visited {
	color: #336633;
	text-decoration: none;
	}

#navcontainer a:hover {
	color: #336633;
	background-color: #EDEFF0;
	}

/* Hide from IE5-mac. Only IE-win sees this. Fixes the peek-a-boo bug!!! */
 
* html #navcontainer {
  margin-right: 10px;
  }
 
* html p {
  height: 1%;
  margin-left: 0;
  }
 
/* End hide from IE5/mac */

div #active {
	padding: 3px 0 3px 6px;
	width: 163px;
	background-color: #ACBFC2;
	color: #FFFFCC;
	border-bottom: 1px solid #FFF;
	}

div #subnav {
	border-bottom: 1px solid #FFF;
	}
	
#subnav a {
	display: block;
	border: 0 !important;
	width: 157px;
	padding: 3px 0 3px 12px;
	font-size: x-small;
	border-bottom: 1px solid #FFF;
	}

#subnav a:hover {
	color: #336633;
	background-color: #EDEFF0;
	}	
	
#subnav #active {
	background-color: #ACBFC2;
	width: 157px;
	color: #FFFFCC;
	padding: 3px 0 3px 12px;
	font-size: x-small;
	}	
	
#main {
	margin: 10px 10px 10px 180px;
	}
	
