
#gameIdeviceForm {
	margin-top: 2em;
	width: 100%;
}
#gameIdeviceForm input[type=number] {
	width: 3em;
}
#gameIdeviceForm label {
	margin-right: 0.1em;
}
#gameIdeviceForm input[type="radio"], #gameIdeviceForm input[type="checkbox"], #gameIdeviceForm input[type=button] {
	cursor: pointer;
}
/*Panel preguntas */
.FLCRDS-EPanel {
	padding: 0;
	width: 100%;
	max-width: 1200px;
	position: relative;
	padding-top: 1em;
}
.FLCRDS-EPhrase {
	align-items:flex-start;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	width: 100%;


}
.FLCRDS-ECardType{
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 1.1em;
	margin-bottom: 0.3em;
	font-weight: bold;
}
.FLCRDS-EBack {
	background-color:rgb(220, 242, 255);
	border-radius: 0.3em;

}
.FLCRDS-EFront{
	background-color:#eeeeee;
	border-radius: 0.3em;
}
.FLCRDS-EMultimedia {
	margin: 0 auto 0.6em auto;
	position: relative;
	width: 240px;
	min-height: 240px;
	height: 240px;
	min-width: 240px;
	overflow: hidden;
	border: 1px solid rgb(3, 112, 116);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3em;
}
.FLCRDS-ECard{
	top:4px;
	left:4px;
	width: 232px;
	height: 232px;
	min-width: 232px;
	background-color: white;
	position: absolute;

}
.FLCRDS-EMultimedia textarea{
	left:0;
	top:0;
	position: absolute;

}

.FLCRDS-EDatosCarta {
	width: 50%;
	max-width: 450px;
	min-width: 400px;
    border-radius: 0.3em;
	padding: 0.7em;
	padding-bottom: 1.3em;
	height: auto;
	margin-right: 0.6em;
	margin-top: 1em;
	cursor: pointer;

}


.FLCRDS-EDatosCarta input[type=text] {
	margin-right: .2em;
	width: 100%;
}
/* Medias */


.FLCRDS-EImageFit{
	width: 240px;
	min-height: 240px ;
	height: 240px ;
	min-width: 240px;
	object-fit: contain;
	object-position: center;
	margin:auto;
	background-color: white;
	position: absolute;
}
.FLCRDS-EImage, .FLCRDS-NoImage{
	position: absolute;
}

.FLCRDS-ECursor {
	left: 0;
	top:0;
	position: absolute;
	display: none;
}
/* Opciones imagen */

.FLCRDS-EAuthorAlt{
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.FLCRDS-EAuthorAlt div {
	width: 49%;
}

.FLCRDS-EAuthorAlt label {
	display: block;
}
.FLCRDS-EAuthorAlt input[type=text] {
	width: 97%;
}

.FLCRDS-EInputAudio, .FLCRDS-EInputImage, .FLCRDS-EInputText {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	min-width: 100px;
	width: 100%;
}
.FLCRDS-EInputAudio input[type=text],.FLCRDS-EInputImage input[type=text] {
	flex-flow: 1;
	margin-right: 0.2em;
	min-width: 100px;
	width: 100%;

}
.FLCRDS-EInputAudio input[type=button],.FLCRDS-EInputImage input[type=button] {
	flex-shrink: 0;
}

.FLCRDS-ETextDiv {
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
	color:black;
	position: absolute;
	color: '#000000';
	font-weight: bold;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #ccc;
	border-radius: 0.6em;
	font-size: 1.3em;
	word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.FLCRDS-ETextDiv *{
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

}

/* Itinerario */

.FLCRDS-EHit {
	background-image: url(quextIEHit.png);
	background-size: 100% 100%;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
}

.FLCRDS-Hide{
	display: none;
}

.FLCRDS-ECustomMessageDiv, .FLCRDS-ECustomMessageDef{
	margin-top: 0.6em;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.FLCRDS-ECustomMessageDiv label, .FLCRDS-ECustomMessageDef label{
	white-space:nowrap;
	margin-right: 0.1em;
}
.FLCRDS-ECustomMessageDiv input[type=text], .FLCRDS-ECustomMessageDef input[type=text]{
	width: 100%;
	max-width: 1000px;
	margin-right: 0.2em;
}

/*Numero Preguntas */
.FLCRDS-ENumCardDiv {
	align-items: center;
	display: flex;
	height: 1.5em;
	justify-content: center;
	position: absolute;
	right: 0;
	top: -1em;
	width: 3em;
	height: 3em;
	z-index: 100;

}
.FLCRDS-ENumCardsIcon {
	background-image: url(quextIENumber.png);
	background-size: 100% 100%;
	display: inline-block;
	height: 1.5em;
	margin-right: 0px;
	width: 1.5em;
}
.FLCRDS-ENumCards {
	font-weight: bold;
	height: 1.5em;
	text-align: center;
	width: 2em;
}
.FLCRDS-ECustomMessage {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin-top: 1em;
	width: 100%;
}
.FLCRDS-ECustomMessage input[type=text] {
	width: 100%;
	margin-right: 0.1em;
}
.FLCRDS-ECustomMessage label {
	margin: 0 0.1em;
}

/* barra edición */
.FLCRDS-ENavigationButtons {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 1em;
	width: 100%;
}

.FLCRDS-ENavigationButton {
	height: 1.5em;
	margin: 0 .3em;
	min-width: 1.5em;
	width: 1.5em;
}
.FLCRDS-EButtonImage {
	height: 100%;
	transition: all .3s ease-in-out;
	width: 100%;
}
.FLCRDS-EButtonImage:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.FLCRDS-ENumberPhrase {
	font-weight: bold;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
	width: 2em;
}

.FLCRDS-NumberCard{
	text-align: center;
	width: 2em;
}
.FLCRDS-EReverseFacces {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

}

.FLCRDS-EReverseFacces a{
	text-align: center;
	display: inline-block;
	margin-right: 1em;

}

.FLCRDS-ECoord{
	display: none;
}


/* To review */
#gameIdeviceForm .exe-block-info img {
	margin-left: .2em;
	vertical-align: middle;
}
#gameIdeviceFormTab3 * {
	font-size: 0.9em;
}
#gameIdeviceFormTab3 p:first-child {
	margin-top: 0;
}
#gameIdeviceFormTab3 {
	overflow: auto;
}
#gameIdeviceFormTab3 .ci18n {
	float: left;
	width: 50%;
}
@media screen and (max-width:720px) {
	#gameIdeviceForm #gameIdeviceFormTab3 .ci18n {
		float: none;
		width: 100%;
	}
}
#gameIdeviceForm #gameIdeviceFormTab3 label {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: .2em;
}
#gameIdeviceForm #gameIdeviceFormTab3 input {
	font-size: 0.9em;
	width: 300px;
}
/* Tabs (this should be common) */
.exe-form-tabs {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}
#main .exe-form-tabs li {
	display: inline;
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
.exe-form-tabs li:first-child a {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.exe-form-tabs li:last-child a {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.exe-form-tabs a {
	background: #F9F9F9;
	border: 1px solid #CCC;
	color: #666;
	display: inline-block;
	padding: .5em 1em;
}
.exe-form-tabs li:not(:last-child) a {
	border-right: none;
}
.exe-form-tabs .exe-form-active-tab {
	background: #FFF;
	color: #000;
	font-weight: 500;
}
#gameQESCORMoptions {
	margin-left: 1.5em;
	visibility: hidden;
}
label[for=gameQEActivitySCORM] {
	font-weight: bold;
}
#gameQESCORMinstructionsButton {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}
#gameQESCORMinstructionsButton ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}
#gameQESCORMinstructionsButton ul li {
	list-style-image: none;
	margin: 0 0 .5em 0;
	padding: 0;
}
#gameQESCORMinstructionsAuto {
	color: #777;
	display: none;
	margin: 10px 0 0 25px;
}
#gameQESCORMinstructionsAuto ul {
	list-style: none;
	margin: 1.5em 0 .7em 0;
	padding: 0;
}
