.ITNP-MainContainer a,.ITNP-MainContainer a:visited, .ITNP-MainContainer a:focus {
	border: 0;
	border-bottom: none;
	border-width: 0;
	text-decoration: none;
}

/* Contenedor */


.ITNP-MainContainer {
	font-size: 1rem;
	margin: 1em auto;
	padding: 0;
	width: 100%;
	max-width: 1000px;
}

.ITNP-MainContainer * {
	box-sizing: border-box;
}

.ITNP-MainContainer p {
	margin: 0;
	padding: 0;
}

/* Instrucciones */

.ITNP-instructions {
	margin: 0.3em auto;
	width: 100%;
	overflow: auto;
}

/* Minimizado */

.ITNP-GameMinimize {
	display: none;
	margin: 1em auto;
	width: 100%;
}

.ITNP-LinkMaximize {
	align-items: center;
	display: flex;
	justify-content: center;
}

.ITNP-IconMinimize {
	height: 2em;
	margin-right: 0.5em;
	width: 2em;
}

/* Juego */

.ITNP-GameContainer {
	margin: 0 auto;
	max-width: 1000px;
	padding: 1em 0.3em 0 0.3em;
	position: relative;
	width: 100%;
}

/* barra de puntuaciones */

.ITNP-GameScoreBoard {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.3em;
	width: 100%;
}

.ITNP-GameScoreBoard p {
	font-size: 1.1em;
	margin-right: 0.3em;
	text-align: center;
	vertical-align: middle;
}

.ITNP-GameScores {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.ITNP-GameScores>p:last-child {
	text-align: left;
}

.ITNP-LifesGame {
	align-items: center;
	display: flex;
	justify-content: center;
}

.ITNP-NumberLifesGame {
	display: none;
}

.ITNP-TimeNumber {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.ITNP-PTime {
	margin-left: 0.3em;
	min-width: 3.5em;
	text-align: center;
	width: auto;
}

/* Pista */

.ITNP-ShowClue {
	margin: 0.3em auto;
	min-height: 0.4em;
	padding: 0;
	width: 100%;
}

.ITNP-PShowClue {
	color: #5877c6;
	text-align: center;
	width: 100%;
}

/* Multimedia */

.ITNP-Multimedia {
	background-color: transparent;
	border-radius: 0.6em;
	margin: 0.3em auto;
	max-width: 1024px;
	overflow: hidden;
	position: relative;
	width: 65%;
}

.ITNP-Multimedia:before {
	content: '';
	display: block;
	padding-top: 56%;
}

.ITNP-Protector, .ITNP-NoImage, .ITNP-Video, .ITNP-Cover {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width:100%;
	height:100%
}

.ITNP-Images, .ITNP-GameOver, .ITNP-EText {
	border: 0;
	border-radius: 0.6em;
	height: 100%;
	left: 0;
	position: absolute;
	text-decoration: none;
	top: 0;
	width: 100%;
}

.ITNP-EText {
	border: none;
	overflow-y: auto;
	padding-right: 0.7em;
	z-index: 10001;
}

.ITNP-Protector {
	background-color: white;
	opacity: 0.00001;
	z-index: 1000;
}

.ITNP-Cursor {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 2em;
	z-index: 1000000;
}

.ITNP-LinkAudio {
	bottom: 3px;
	display: none;
	position: absolute;
	right: 3px;
	width: 2em;
	z-index: 1005;
}

/* Game Over */

.ITNP-GameOver {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 200;
}

.ITNP-DataImage {
	height: 100%;
	padding: 0;
	position: relative;
	width: 50%;
}

.ITNP-DataScore {
	padding: 0;
	width: 50%;
}

.ITNP-DataScore p {
	margin: 0.7em;
}

.ITNP-HistGGame, .ITNP-LostGGame {
	bottom: 0;
	display: none;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 80%;
}

.ITNP-HistGGame:before, .ITNP-LostGGame:before {
	content: '';
	display: block;
	padding-top: 100%;
}

/* Presentacion */
.ITNP-SlideDiv{
	display: flex;
	justify-content:center;
	align-items: center;

}
#itnNumSlideDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}
.ITNP-SlideButtons, .ITNP-SlideButtonsN {
    color: #333;
    font: normal 16px Helvetica, Arial, sans-serif;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	font-size: 1em;
	padding: 0.6em 0.6em;
	position:relative;
	z-index:100;
	cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	text-align: center;
	user-select: none;
	white-space: nowrap;
	border-radius: 50%;
}
 .ITNP-SlideButtonsN {
    border-radius: 50%;
}
.ITNP-SlideButtons:hover, .ITNP-SlideButtonsN:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); 
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.ITNP-SlideButtons:active .ITNP-SlideButtonsN:active{
    color: #000;
    border-color: #444;
}

.ITNP-SlideNumber{
	display: block;
	min-width: 4em;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

/*Barra de progreso*/

.ITNP-ProgressBar {
	background-color: black;
	display: none;
	height: 0.3em;
	margin: 0.3em auto;
	padding: 0;
	position: relative;
	width: 65%;
}

.ITNP-InterBar {
	background-color: #b3092f;
	height: 0.3em;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 0px;
}

.ITNP-PointBar {
	background-color: #8697cb;
	height: 0.6em;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -0.15em;
	width: 0.6em;
	z-index: 900;
}

.ITNP-Tooltip {
    display: none;
    position: absolute;
    width: 250px;
    padding: 10px;
    margin: 0 0 12px 0;
    z-index: 100;
    bottom: 170%;
    background: #f3d55a;
    color: #1c1b1b;
    text-align: center;
    font-weight: bold;
    font-size: 0.7em;
}
.ITNP-Tooltip:before {
    content: "";
    position: absolute;
    border: 0 solid #f3d55a;
    bottom: -14px;
    z-index: 100;
    border-right-width: 10px;
    border-bottom: 14px solid transparent;
    width: 50%;
    right: 50%;
}
.ITNP-Tooltip:after {
    content: "";
    position: absolute;
    bottom: -14px;
    z-index: 100;
    border: 0 solid #f3d55a;
    border-bottom: 14px solid transparent;
    border-left-width: 10px;
    width: 50%;
    left: 50%;
}


/* Barra de navegación */


.ITNP-NavigationButtons {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 1em;
	width: 100%;
	display: none;
}
.ITNP-NavigationButton {
	height: 1.5em;
	margin: 0 .3em;
	min-width: 1.5em;
	width: 1.5em;
}
.ITNP-NumberQuestion {
	font-weight: bold;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
	width: 2em;
}

/* Author */

.ITNP-AuthorLicence {
	margin: 0.3em auto 0.3em auto;
	min-height: 1.4em;
	width: 100%;
}

.ITNP-AuthorLicence p {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

/* Código acceso */

.ITNP-CodeAccessDiv {
	display: none;
	margin: 1em auto;
	width: 100%;
}

.ITNP-MessageCodeAccessE {
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.ITNP-DataCodeAccessE {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0.7em auto 0 auto;
	width: 100%;
}

.ITNP-CodeAccessE {
	margin: 0 .3em;
	max-width: 300px;
	width: 60%;
	text-align: center;
}

/* Inicio juego */

.ITNP-StartGame {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	margin: 1em auto 0 auto;
	text-align: center;
	user-select: none;
	width: 100%;
}

.ITNP-StartGame a:hover{
	text-decoration:underline;
}

/* Pegunta tipo test */

.ITNP-QuestionDiv {
	display: none;
	margin: 0.3em auto;
	width: 100%;
}

.ITNP-Question {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	border-radius: 0.3em;
	margin: 0 auto;
	margin-bottom: 0.4em;
	min-height: 3.2em;
	padding: 0.3em;
	text-align: center;
	user-select: none;
	vertical-align: middle;
	background-color: transparent;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Respuesta  tipo test */

.ITNP-OptionsDiv {
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

.ITNP-MainContainer a.ITNP-Options {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	align-items: center;
	background-color: #FFF;
	border: 1px solid #777777;
	border-radius: 0.4em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.1em;
	min-height: 3em;
	padding: 0.3em;
	user-select: none;
	width: 48%;
	text-align: center ;
}

.ITNP-OptionsDiv a {
	border: 1px solid #777777;
	color: #1c1b1b;
	color:rgb(255, 145, 0)
}

.ITNP-AnswersDiv {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	padding: 0;
}

.ITNP-Answers {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-right: 0.3em;
	padding: 0;
	width: 8em;
}

.ITNP-AnswersOptions {
	border-radius: 2px;
	height: 1.4em;
	width: 1.4em;
}

.ITNP-Answer1 {
	background-color: #b3092f;
	border: 1px solid #1c1b1b;
	border-radius: 3px;
	margin-left: 0.1em;
}

.ITNP-Answer2 {
	background-color: #5877c6;
	border: 1px solid #1c1b1b;
	border-radius: 3px;
	margin-left: 0.1em;
}

.ITNP-Answer3 {
	background-color: #00a300;
	border: 1px solid #1c1b1b;
	border-radius: 3px;
	margin-left: 0.1em;
}

.ITNP-Answer4 {
	background-color: #f3d55a;
	border: 1px solid #1c1b1b;
	border-radius: 2px;
	margin-left: 0.1em;
}

.ITNP-Answer5 {
	background-color: rgb(218, 78, 218);
	border: 1px solid #1c1b1b;
	border-radius: 2px;
	margin-left: 0.1em;
}
.ITNP-Answer6 {
	background-color: rgb(0, 0, 0);
	border: 1px solid #1c1b1b;
	border-radius: 2px;
	margin-left: 0.1em;
}


/* Pregunta tipo ahorcado */

.ITNP-Definition {
	align-items: center;
	display: flex;
	font-weight: 600;
	justify-content: center;
	margin: 0.5em auto;
	min-height: 2em;
	text-align: center;
	width: 90%;
}

.ITNP-Definition a {
	cursor: pointer;
	margin: 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
	z-index: 220;
}

.ITNP-Prhase {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0.5em auto;
	min-height: 3em;
	width: 97%;
}

.ITNP-Word {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 6px;
	padding-bottom: 2px;
	padding-top: 3px;
}

.ITNP-Letter {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	align-items: center;
	border: 1px solid #555555;
	border-radius: 3px;
	display: flex;
	font-size: 1.3em;
	font-weight: 600;
	height: 1.8em;
	justify-content: center;
	margin: 1px;
	padding: 0;
	text-align: center;
	user-select: none;
	width: 1.3em;
}

.ITNP-Letter.blue {
	color: #5877c6;
}

.ITNP-Letter.green {
	color: #00a300;
}

.ITNP-Letter.red {
	color: #b3092f;
}

.ITNP-Letter.black {
	color: #1c1b1b;
}

/* Respuesta ahorcado */

.ITNP-DivReply {
	align-items: center;
	background-color: transparent;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

.ITNP-EdReply {
	margin: auto 0.2em;
	max-width: 400px;
	width: 60%;
	text-align: center;
}

.ITNP-GameContainer .ITNP-Icons-MoveOne, .ITNP-GameContainer .ITNP-Icons-Submit {
	height: 1.7em;
	width: 1.7em;
}

/*  Video Introducción */

.ITNP-VideoIntroContainer {
	align-items: center;
	display: none;
	justify-content: flex-end;
	margin: 0.3em;
	padding: 0;
	width: 98%;
}

.ITNP-VideoIntroDiv {
	background-color: white;
	border-radius: 0.6em;
	display: none;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20000;
}

input.ITNP-VideoIntroClose{
	cursor: pointer;
	margin: 0;
	position: absolute;
	right: 10px;
	top: 10px;
	background:#fff;
	border:none;
	font-size:0.9em;
	padding:5px 20px;
	border-radius:4px;
}
input.ITNP-VideoIntroClose:hover{
	background:#858585;
	color:#fff;
}

.ITNP-LinkVideoIntroShow {
	display: none;
}

.ITNP-BottonContainerDiv, .ITNP-BottonContainer {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin: 0.1em auto;
	padding: 0;
	width: 100%;
}

.ITNP-BottonContainerDivEnd {
	justify-content: flex-end;
}

/*Intrucciones */

.ITNP-DivInstructions {
	margin: 1em 0 0 0;
	text-align: center;
	width: 95%;
}

.ITNP-parpadea {
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 5;
	-webkit-animation-name: ITNP-parpadeo;
	-webkit-animation-timing-function: linear;
	animation-duration: 1s;
	animation-iteration-count: 5;
	animation-name: ITNP-parpadeo;
	animation-timing-function: linear;
}

/* FeedBack*/

.ITNP-DivFeedBack {
	align-items: center;
	background-color: rgba(232, 232, 232, 0.8);
	border-radius: .6em;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1010;
}

.ITNP-DivFeedBack button {
	cursor: pointer;
}

.itinerario-feedback-game {
	-moz-box-shadow: 0 10px 6px -6px #999;
	-webkit-box-shadow: 0 10px 6px -6px #999999;
	background-color: #fff;
	border: 1px solid #999;
	border-radius: .6em;
	box-shadow: 0 10px 6px -6px #999;
	display: none;
	margin-bottom: 1em;
	max-height: 80%;
	min-height: 10em;
	overflow-y: auto;
	padding: 1em;
	width: 95%;
}

.quext-extra-content, .adivina-extra-content, .encuesta-extra-content, .vquext-extra-content {
	margin-top: 1.7em;
}

/*  Preview QuExtion */

.ITNP-ReloadContainer {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin: 5px;
	padding: 0;
	width: 98%;
}

.ITNP-previewQuestions {
	background-color: transparent;
	display: none;
	margin: 5px auto;
	max-width: 1000px;
	position: relative;
	width: 100%;
}

.ITNP-previewQuestionsDiv {
	background-color: #071717;
	border-radius: 0.6em;
	color: #ffffff;
	display: none;
	height: 100%;
	left: 0;
	overflow-y: auto;
	padding: 0.5em;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20000;
}

.ITNP-PreviewQuestionsTitle {
	font-weight: bold;
	margin: 0 auto 0.5em auto;
	text-align: center;
	width: 95%;
}

.ITNE-Messages input[type=text]{
	width: 70%;
}
.ITNP-prevQuestP {
	font-size: 0.9em;
	margin: 3px auto;
	margin-left: 5px;
	width: 90%;
}

.ITNP-previewQuestionsClose {
	bottom: 0.4em;
	position: absolute;
	right: 0.5em;
}

.ITNP-Icons-Preview {
	background-image: url(exequextsq.png);
	background-size: 100% 100%;
}

.ITNP-Icons-PauseVideo {
	background-image: url(exequextpause.png);
	background-size: 100% 100%;
}

.ITNP-Icons-PlayVideo {
	background-image: url(exequextplayvideo.png);
	background-size: 100% 100%;
}

.ITNP-Icons-Reload {
	background-image: url(exequextreload.png);
	background-size: 100% 100%;
}

.ITNP-Icons-First {
	background-image: url(exequextfirstr.png);
	background-size: 100% 100%;
}
.ITNP-Icons-Next {
	background-image: url(exequextnextr.png);
	background-size: 100% 100%;
}
.ITNP-Icons-Previous {
	background-image: url(exequextpreviousr.png);
	background-size: 100% 100%;
}

.ITNP-Icons-Last {
	background-image: url(exequextlastr.png);
	background-size: 100% 100%;
}

/* Enlace activo */

.ITNP-Activo {
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	-webkit-filter: drop-shadow(.12em .12em .12em rgba(0, 0, 0, 0.5));
	-webkit-transition: transform 0.3s;
	cursor: pointer;
	filter: drop-shadow(.12em .12em .12em rgba(0, 0, 0, 0.5));
	transition: transform 0.3s;
}

.ITNP-LinkMaximize:hover .ITNP-Activo, .ITNP-Activo:hover  {
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Puntuacion */

.ITNP-BottonContainer {
	margin: 0;
	padding: 0;
	width: 100%;
}

.ITNP-BottonContainer * {
	margin: 0;
	padding: 0;
}

.ITNP-GetScore input[type=button] {
	padding: 0.3em 0.5em;
	margin: 0 .5em 1em 0.5em;
	width: auto;
}

.ITNP-GetScore {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top:1em
}

/* Iconos */

.ITNP-GameContainer .ITNP-Icons {
	background-size: 100% 100%;
	height: 1.4em;
	margin-right: 0.3em;
	width: 1.4em;
}


.ITNP-GameContainer .ITNP-Icons-Video, .ITNP-GameContainer .ITNP-Icons-Submit {
	height: 1.7em;
	width: 1.7em;
}

.ITNP-MainContainer .ITNP-Icons-Submit {
	background: url(exequextreply.png) no-repeat;
	background-size: 100% 100%;
}

.ITNP-MainContainer .ITNP-Icons-MoveOne {
	background: url(exequextmoveon.png) no-repeat;
	background-size: 100% 100%;
}

.ITNP-GameContainer .ITNP-Icons-Minimize {
	background-image: url(exequextmin.png);
	background-size: 100% 100%;
}

.ITNP-GameContainer .ITNP-Icons-Hit {
	background-image: url(exequexthits.png);
	background-size: 100% 100%;
}

.ITNP-GameContainer .ITNP-Icons-FullScreen {
	background-image: url(exequextfull.png);
	background-size: 100% 100%;
}

.ITNP-GameContainer .ITNP-Icons-Error {
	background-image: url(exequextrerrors.png);
	background-size: 100% 100%;
}

.ITNP-GameContainer .ITNP-Icons-Score {
	background-image: url(exequextscore.png);
	background-size: 100% 100%;
}

.ITNP-GameContainer .ITNP-Icons-Time {
	background-image: url(exequexttime.png);
	background-size: 100% 100%;
}

.ITNP-GameContainer .ITNP-Icons-Number {
	background-image: url(exequextnumber.png);
	background-size: 100% 100%;
}

.ITNP-GameContainer .ITNP-Icons-Life {
	background-image: url(exequextlive.png);
	background-size: 100% 100%;
}

.ITNP-GameContainer .ITNP-Icons-Video {
	background-image: url(exequextvideo.png);
	background-size: 100% 100%;
}

/* Full Screen */

div:fullscreen .ITNP-Icons-FullScreen {
	background-image: url(exequextnormal.png);
	background-size: 100% 100%;
}

div:-webkit-full-screen .ITNP-Icons-FullScreen {
	background: url(exequextnormal.png);
	background-size: 100% 100%;
}

div:-moz-full-screen .ITNP-Icons-FullScreen {
	background: url(exequextnormal.png);
	background-size: 100% 100%;
}

div:-webkit-full-screen .ITNP-Options {
	min-height: 3.2em;
}

div:-moz-full-screen .ITNP-Options {
	min-height: 3.2em;;
}

div:fullscreen .ITNP-Question {
	min-height: 3.2em;
}

div:-webkit-full-screen .ITNP-Question {
	min-height: 3.2em;
}

div:-moz-full-screen .ITNP-Question {
	min-height: 3.2em;
}

div:fullscreen .ITNP-Options {
	min-height: 3.2em;
}

div:fullscreen .ITNP-Multimedia, div:-webkit-full-screen .ITNP-Multimedia, div:-moz-full-screen .ITNP-Multimedia {
	background-color: #fff;
	margin: 3em;
	margin-left: auto;
	margin-right: auto;
	max-width: 95vmin;
	top: 3em;
	width: 95vmin;
}

.ITNP-GameContainer:-webkit-full-screen {
	background-color: white;
	height: 100vh;
	width: 100%;
}

.ITNP-GameContainer:-moz-full-screen {
	background-color: white;
	height: 100vh;
	width: 100%;
}

.ITNP-GameContainer:-ms-full-screen {
	background-color: white;
	height: 100vh;
	width: 100%;
}

.ITNP-GameContainer:-o-full-screen {
	background-color: white;
	height: 100vh;
	width: 100%;
}

@-moz-keyframes ITNP-parpadeo {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

@-webkit-keyframes ITNP-parpadeo {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

@keyframes ITNP-parpadeo {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}

@media screen and (max-width:550px) {
	.ITNP-MainContainer {
		font-size: 0.9rem;
	}
	.ITNP-Question {
		margin-bottom: 0.5em;
	}
	.ITNP-LinkFullScreen {
		display: none;
	}
	.ITNP-instructions {
		margin: 0.1em auto;
	}
	.ITNP-DivInstructions {
		display: none;
	}
	.ITNP-PShowClue {
		font-size: 0.9em;
	}
	.ITNP-StartGame a {
		font-size: 0.9em;
	}
	.ITNP-AuthorLicence p {
		font-size: 0.9em;
	}
	.ITNP-MainContainer a.ITNP-Options {
	
		width: 95%;

	}
}

@media screen and (max-width:470px) {
	.ITNP-MainContainer {
		font-size: 0.9rem;
	}
	.ITNP-PShowClue {
		font-size: 0.8em;
	}
	.ITNP-AuthorLicence p {
		font-size: 0.8em;
	}
	.ITNP-Question {
		margin-bottom: 0.3em;
	}
	.ITNP-Multimedia {
		width: 95%;
	}
	.ITNP-LifesGame {
		display: none;
	}
	.ITNP-NumberLifesGame {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.ITNP-LinkMinimize {
		display: none;
	}
	.ITNP-DataCodeAccessE label {
		display: none;
	}
	.ITNP-GameContainer .ITNP-Icons-MoveOne, .ITNP-GameContainer .ITNP-Icons-Submit, .ITNP-GameContainer .ITNP-Icons-Video {
		height: 2em;
		width: 2em;
	}
	.ITNP-GameContainer input[type="text"], input.ITNP-EdReply, input.ITNP-CodeAccessE {
		background: #fdfdfd;
		border: 1px solid #828282;
		border-radius: 4px;
		box-sizing: border-box;
		display: inline-block;
		line-height: 1.5em;
		margin: 0 0.3em;
		padding: 0.4em 0.25em;
	}
	.ITNP-GameContainer input[type="text"]:active, .ITNP-GameContainer input[type="text"]:focus, input.ITNP-EdReply:focus, input.ITNP-EdReply:active, input.ITNP-CodeAccessE:focus, input.ITNP-CodeAccessE:active {
		background: #fdfdfd;
		border: 1px solid #398ee7;
		border-radius: 4px;
	}
}

@media screen and (max-width:340px) {
	.ITNP-MainContainer {
		font-size: 0.8rem;
	}
	.ITNP-GameScoreBoard p {
		font-weight: normal;
		margin: 0.1em;
		padding: 0;
	}
	.ITNP-GameContainer .ITNP-Icons {
		margin: 0;
		padding: 0;
	}
	.ITNP-GameContainer .ITNP-GameScoreBoard p {
		padding: 0;
	}
	.ITNP-GameScores {
		width: 50%;
	}
	.ITNP-TimeNumber {
		width: 45%;
	}
	.ITNP-instructions p {
		margin: 0 auto;
	}
}

@media screen and (max-width:295px) {
	.ITNP-MainContainer {
		font-size: 0.7rem;
	}
	.ITNP-GameScoreBoard {
		justify-content: flex-start;
	}
	.ITNP-GameScores {
		width: 50%;
	}
	.ITNP-TimeNumber {
		width: 42%;
	}
}

@media screen and (max-width:265px) {
	.ITNP-MainContainer {
		font-size: 0.6rem;
	}
	.ITNP-GameScoreBoard p {
		font-weight: normal;
		margin: 2px;
	}
	.ITNP-GameContainer .ITNP-Icons {
		height: 1.1em;
		width: 1.1em;
	}
	.ITNP-GameContainer .ITNP-Icons-Submit, .ITNP-GameContainer .ITNP-Icons-Video {
		height: 2em;
		width: 2em;
	}
	.ITNP-GameScores {
		width: auto;
	}
	.ITNP-TimeNumber {
		justify-content: flex-start;
		width: auto;
	}
	.ITNP-Letter {
		font-size: 1.2em;
		height: 1.7em;
		margin: 0;
		width: 1.2em;
	}
}

@media screen and (max-width:235px) {
	.ITNP-GameScoreBoard .ITNP-Icons-Life, .ITNP-GameScoreBoard .ITNP-Icons-Time {
		display: none;
	}
}

@media screen and (min-width: 1400px) {
	div:fullscreen .ITNP-Multimedia {
		background-color: #fff;
		margin: 2em auto;
		max-width: 95vmin;
		top: 1.4em;
		width: 95vmin;
	}
}

@media screen and ( min-width: 700px) and (max-height: 800px) {
	div:fullscreen .ITNP-Multimedia {
		background-color: #fff;
		margin-bottom: 0.6em;
		max-width: 95vmin;
		width: 95vmin;
	}
}



.itinario-instructions{
	overflow:auto;
}
