
body { margin: 0px; }

th { text-align: left; }

#testprogress {
    width: 300px;
}

.test-passes {
    background-color: rgb(26, 198, 64);
}

.test-failures {
    background-color: rgb(241, 12, 20);
}

#testresults {
    width: 300px;
}

#testframe {
    position: fixed;
    top: 0px;
    left: 300px;
    right: 0px;
    bottom: 0px;
    border: 0px;
}
