@CHARSET "UTF-8";

.ux-notification-window .x-window-body {
  text-align: center;
  padding: 15px 5px 15px 5px;
}
.ux-notification-icon-information {
  background-image: url('images/icon16_info.png');
}

.ux-notification-icon-error {
  background-image: url('images/icon16_error.png');
}

.ux-notification-light .x-window-header {
  background-color: transparent;
}

body .ux-notification-light {
  background-image: url('images/fader.png');
}

.ux-notification-light .x-window-body {
  text-align: center;
  padding: 15px 5px 20px 5px;
  background-color: transparent;
  border: 0px solid white;
}

.ux-notification-light .x-window-body em {
  text-style: italic;
}
.ux-notification-light .x-window-body strong {
  text-style: bold;
}