/* Rubrics iDevice (edition CSS) */
/* Action icons (Bitcons) by P.J. Onori, under the Creative Commons Attribution-Share Alike 3.0 Unported License */
#ri_Table,
#ri_RubricEditor p,
#ri_TableEditor table + p{font-family:Arial, Helvetica, sans-serif;font-size:14px}
#ri_Table{margin:1em auto}
#ri_Table input{box-sizing:border-box;padding:2px;width:100%;border:1px solid #FFF;background:none!important}
#ri_Table td span{color:#666;margin-left:3px}
#ri_Table .ri_Weight{color:#666;width:auto}
#ri_Table th input{font-weight:bold}
#ri_Table tr:nth-child(2n-1) td input,#ri_Table tbody tr:nth-child(2n-1) th input{border-color:#F4F4F4}	

#ri_Table > thead > tr > th:first-child .ri_MoveTRToTheLeft,
#ri_Table > thead > tr > th:last-child .ri_MoveTRToTheRight,
#ri_Table > tbody > tr:first-child .ri_MoveTRUp,
#ri_Table > tbody > tr:last-child .ri_MoveTRDown,

#ri_Table > thead > tr > th:first-child .ri_MoveTRToTheRight,
#ri_Table > thead > tr > th:nth-child(2) .ri_MoveTRToTheLeft,
#ri_Table > thead > tr > th:first-child .ri_DeleteColumn,

#ri_Table > tbody > tr:only-child .ri_DeleteTR
{display:none}

#ri_Table caption input{width:400px;text-align:center;font-style:italic;font-size:1.1em}
#ri_Table thead th input{border-color:#ddd}
#ri_Table input:focus{border-color:#bbb!important;background:#FFF!important}

#ri_LoadCEDECRubrics,
#ri_NewTableOptions,
#ri_PreviousContent{display:none}

#ri_CreateNewRubric{margin-right:1em}
#ri_MaxScore{width:3em}
#ri_MaxScoreInstructions{opacity:.8;font-style:italic}

#ri_RubricEditor.loading{background:url(exe-rubrics-loading.gif) no-repeat 50% 50%}
#ri_RubricEditor.loading *{visibility:hidden}
#ri_RubricEditor p{text-align:center;margin-top:1.5em}
#ri_TableEditor table + p{margin-bottom:2em}
#ri_AppendRow,#ri_AppendCol,#ri_Reset{float:right;margin-left:1em}

#ri_RubricInformation p{margin-top:1.5em}
#ri_RubricInformation p:first-child{margin-top:1em}
#ri_RubricInformation input[type='text']{margin-right:1em}

#activeIdevice #ri_RubricIntro{margin-bottom:1em}
#activeIdevice #ri_RubricIntro p{margin-top:.7em}
#activeIdevice #ri_RubricIntro label{font-weight:normal}
#ri_RubricInstructions{width:90%}

#ri_Table .ri_Actions{float:right}
#ri_Table .ri_Actions a{display:inline-block;width:16px;height:16px;background:url(exe-rubrics-actions.gif) no-repeat 0 0;opacity:.3}
#ri_Table .ri_Actions a:hover,#ri_Table .ri_Actions a:focus{opacity:1}
#ri_Table .ri_Actions .ri_MoveTRUp{background-position:0 -20px}
#ri_Table .ri_Actions .ri_MoveTRDown{background-position:0 -40px}
#ri_Table .ri_Actions .ri_MoveTRToTheRight{background-position:0 -80px}
#ri_Table .ri_Actions .ri_MoveTRToTheLeft{background-position:0 -60px}

#ri_TableEditor #ri_Table input.exe-rubric-required{border:1px solid #900}

/* To review (Should this code be common?) */
#ri_TableEditorTab1{overflow:auto;margin-bottom:1.5em}
#ri_TableEditorTab1 .ci18n{width:50%;float:left}
@media screen and (max-width:720px) {
	#ri_TableEditorTab1 .ci18n{width:100%;float:none}	
}
#ri_TableEditorTab1 .ci18n label{display:block;font-weight:bold;margin-bottom:5px}
#ri_TableEditorTab1 .ci18n input{width:300px}