/* Rubrics iDevice (edition CSS) */
/* Action icons (Bitcons) by P.J. Onori, under the Creative Commons Attribution-Share Alike 3.0 Unported License */
#yyyTable,
#yyyRubricEditor p,
#yyyTableEditor table + p{font-family:Arial, Helvetica, sans-serif;font-size:14px}
#yyyTable{margin:1em auto}
#yyyTable input{box-sizing:border-box;padding:2px;width:100%;border:1px solid #FFF;background:none!important}
#yyyTable td span{color:#666;margin-left:3px}
#yyyTable .xxxWeight{color:#666;width:auto}
#yyyTable th input{font-weight:bold}
#yyyTable tr:nth-child(2n-1) td input,#yyyTable tbody tr:nth-child(2n-1) th input{border-color:#F4F4F4}	

#yyyTable > thead > tr > th:first-child .yyyMoveTRToTheLeft,
#yyyTable > thead > tr > th:last-child .yyyMoveTRToTheRight,
#yyyTable > tbody > tr:first-child .yyyMoveTRUp,
#yyyTable > tbody > tr:last-child .yyyMoveTRDown,

#yyyTable > thead > tr > th:first-child .yyyMoveTRToTheRight,
#yyyTable > thead > tr > th:nth-child(2) .yyyMoveTRToTheLeft,
#yyyTable > thead > tr > th:first-child .yyyDeleteColumn,

#yyyTable > tbody > tr:only-child .yyyDeleteTR
{display:none}

#yyyTable caption input{width:400px;text-align:center;font-style:italic;font-size:1.1em}
#yyyTable thead th input{border-color:#ddd}
#yyyTable input:focus{border-color:#bbb!important;background:#FFF!important}

#yyyLoadCEDECRubrics,
#yyyNewTableOptions,
#yyyPreviousContent{display:none}

#yyyCreateNewRubric{margin-right:1em}
#yyyMaxScore{width:3em}
#yyyMaxScoreInstructions{opacity:.8;font-style:italic}

#yyyRubricEditor.loading{background:url(exe-rubrics-loading.gif) no-repeat 50% 50%}
#yyyRubricEditor.loading *{visibility:hidden}
#yyyRubricEditor p{text-align:center;margin-top:1.5em}
#yyyTableEditor table + p{margin-bottom:2em}
#yyyAppendRow,#yyyAppendCol,#yyyReset{float:right;margin-left:1em}

#yyyRubricInformation p{margin-top:1.5em}
#yyyRubricInformation p:first-child{margin-top:1em}
#yyyRubricInformation input[type='text']{margin-right:1em}

#activeIdevice #yyyRubricIntro{margin-bottom:1em}
#activeIdevice #yyyRubricIntro p{margin-top:.7em}
#activeIdevice #yyyRubricIntro label{font-weight:normal}
#yyyRubricInstructions{width:90%}

#yyyTable .yyyActions{float:right}
#yyyTable .yyyActions a{display:inline-block;width:16px;height:16px;background:url(exe-rubrics-actions.gif) no-repeat 0 0;opacity:.3}
#yyyTable .yyyActions a:hover,#yyyTable .yyyActions a:focus{opacity:1}
#yyyTable .yyyActions .yyyMoveTRUp{background-position:0 -20px}
#yyyTable .yyyActions .yyyMoveTRDown{background-position:0 -40px}
#yyyTable .yyyActions .yyyMoveTRToTheRight{background-position:0 -80px}
#yyyTable .yyyActions .yyyMoveTRToTheLeft{background-position:0 -60px}

/* To review (Should this code be common?) */
#yyyTableEditorTab1{overflow:auto;margin-bottom:1.5em}
#yyyTableEditorTab1 .ci18n{width:50%;float:left}
@media screen and (max-width:720px) {
	#yyyTableEditorTab1 .ci18n{width:100%;float:none}	
}
#yyyTableEditorTab1 .ci18n label{display:block;font-weight:bold;margin-bottom:5px}
#yyyTableEditorTab1 .ci18n input{width:300px}