
<H2>Multimedia</H2><p>

#if $description<>""
<div>
<span class="header"></span>
$description
</div>
#end if

#if $instruction<>""
<div>
<span class="header">Instruction</span>
$instruction
</div>
#end if

#if $mediafile<>""
<div>
<span class="header">Mediafile</span>
$mediafile
</div>
#end if

#if $thumbnail<>""
<div>
<span class="header">thumbnail</span>
$thumbnail
</div>
#end if
<hr size="4" width="100%"/>
