<H2>Reading Activity</H2><p>
#if $reference<>""
<div>
<span class="header">Reference</span>
$reference
</div>
#end if

#if $url<>""
<div>
<span class="header">Url</span>
$url
</div>
#end if

#if $instruction<>""
<div>
<span class="header">Instruction</span>
$instruction
</div>
#end if

#if $feedback<>""
<div>
<span class="header">Feedback</span>
$feedback
</div>
#end if
<hr size="4" width="100%"/>
