	#if $graphic<>""
	<div>
		<table>
			<tbody>
				<tr>
					<td><img src="/python/eXe/$courseidentifier/$topicidentifier/$sectionidentifier/$unitidentifier/images/$graphic" width="120" height="96"></td>
				</tr>
			</tbody>
		</table>
	</div>
	#end if

<div>
$description
</div>
<hr size="4" width="100%"/>
