/*
eXe
Copyright 2004-2005, University of Auckland
style sheet for Maori theme by Derek Renata - renade@xtra.co.nz

Modified by Ignacio Gros for eXeLearning.net
See Help - eXe Tutorial for more info on how to modify this style for your needs.
*/
html{padding:0}
body{font:.75em/1.5 Arial,Verdana,Helvetica,sans-serif;padding:15px;margin:0;text-align:left;color:#4D4D4D;background:#DCE3FC url(_kahurangi_page_bg.gif) repeat-x 0 0}
a{color:#069}
a:hover,a:focus{color:#008FD6}
#header,#emptyHeader{text-align:left;height:auto!important;height:1.5em;min-height:1.5em;padding:.75em 0;font-size:1.5em;text-shadow:1px 1px 1px #FFFFFF;border-bottom:1px solid #FFFFFF;border-top:1px solid #FFFFFF;color:#006699} /* Header is also in single page */
#header h1{margin:0;font-size:1em}
#nodeDecoration{text-align:left;padding:1em 0;margin-bottom:2em;background:#D5E5FD;text-shadow:1px 1px 1px #FFFFFF;border-bottom:1px solid #FFFFFF;border-top:1px solid #FFFFFF;color:#006699}
#nodeTitle,.nodeTitle{font-size:1.5em;margin:0;font-weight:bold} /* .nodeTitle when single page */
.nodeTitle{padding:.1em 0 .6em 0;border-bottom:1px solid #FFFFFF;margin-top:1em}
#main h2{font-size:1.4em}
#main .iDeviceTitle{display:inline-block;font-size:1.3em}
h3{font-size:1.25em;color:#666}
#main h4{font-size:1.2em}
#main h5{font-size:1.1em}
.iDevice{background:#F2F2EF url(_kahurangi_idevice_bg.gif) repeat-x 0 0;margin:2em 0;border-radius:5px;border:1px solid #000;padding-top:5px}
.emphasis0{padding:0;background:none;border:none}

/* iDevice icons */
.iDevice_icon{margin:0 5px}
.iDevice_header{background:url(icon_generic.gif) no-repeat 5px 0;padding-left:58px;position:relative}
.activityIdevice .iDevice_header{background-image:url(icon_activity.gif)}
.readingIdevice .iDevice_header{background-image:url(icon_reading.gif)}
.preknowledgeIdevice .iDevice_header{background-image:url(icon_preknowledge.gif)}
.ListaIdevice .iDevice_header,
.QuizTestIdevice .iDevice_header,
.MultichoiceIdevice .iDevice_header,
.TrueFalseIdevice .iDevice_header,
.MultiSelectIdevice .iDevice_header,
.ClozeIdevice .iDevice_header{background-image:url(icon_question.gif)}
.CasestudyIdevice .iDevice_header{background-image:url(icon_casestudy.gif)}
.GalleryIdevice .iDevice_header{background-image:url(icon_gallery.gif)}
.objectivesIdevice .iDevice_header{background-image:url(icon_objectives.gif)}
.ReflectionIdevice .iDevice_header{background-image:url(icon_reflection.gif)}

.iDeviceTitle{top:0;color:#039;height:auto!important;height:1.5em;min-height:1.5em;padding-right:30px;text-shadow:1px 1px 1px #fff}
.iDevice_header_noIcon .iDeviceTitle{padding-left:20px}
#main .iDeviceTitle{*display:inline;*line-height:3em}/* IE6, IE7 */
.iDevice_content{overflow:auto}
.iDevice_inner{padding:10px 20px}
.emphasis0 .iDevice_inner{background:none;padding:0}
#siteFooter{color:#555;font-size:.95em}
input,select,textarea{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
.ExternalUrlIdevice iframe{border:none}
/* Download package iDevice */
.download-packageIdevice .exe-download-package-link a{background:#039}
/* Lightbox */
.exeImageGallery{width:100%}
/* base.css */
.block,.feedback{padding:0}
.feedback{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
li{list-style-position:outside}
#wikipedia-content ul li{list-style-image:none;margin-bottom:auto}
.exe-dl .icon{line-height:17px}
.js .exe-dl dd{margin-left:34px}
.exe-enlarge-icon b{font-size:1.7em}
/* Form buttons */
.feedbackbutton{background:#B8DFFF;margin-bottom:1em}
/* Hide/Show iDevice */
.toggle-idevice{margin:12px 0 0;text-align:right;display:block}
.iDevice_header .toggle-idevice{padding-top:2px;position:absolute;top:0;right:7px}
.toggle-idevice a{display:inline-block;width:14px;height:14px;background:url(_kahurangi_hide_show.gif) no-repeat 0 -14px}
.toggle-idevice .show-idevice{background-position:0 0}
.toggle-idevice span{position:absolute;overflow:hidden;clip:rect(0,0,0,0);height:0}
/* Effects */
.exe-fx .fx-C2,
.exe-fx .fx-C2 a,
.fx-pagination a{background:#F2F2EF}