/* ==========================================
Copyright University of Auckland 2004
Created by Brent Simpson, brent.simpson@auckland.ac.nz
Centre for Flexible and Distance Learning
============================================= */


#navcontainer {
   z-index:1000;
   width: 220px;
   float: left;
   margin-top: 50px;
   padding-top: 0px;
   text-align:left;
   background-image: url(main_bg.gif);
   font: .9em;
   border: 1px solid #FFF;
}

#navcontainer ul {
   margin-left: 0px;
   padding-left: 0;
   margin-top: 0;
   list-style-type: none;
   font-family: Arial, Helvetica, sans-serif;
}

#navcontainer a {
   display: block;
   padding: 4px 0px 4px 18px;
   border-bottom: 1px solid #F2F2EF;
}


#navcontainer .withChild {
 background-image: url(expand.gif);
 background-repeat: no-repeat;
 background-position: 2px 8px;
}

#navcontainer a:link, #navlist a:visited {
   color: #000000;
   background-color: transparent;
   text-decoration: none;
   width: 202px;
}

#navcontainer a:hover {
   color: #4d4d4d;
   background-color:#EEEEEE;
}

/* Hide from IE5-mac. Only IE-win sees this. Fixes the peek-a-boo bug!!! */
* html #navcontainer {
margin-right: 10px;
}
* html p {
height: 1%;
margin-left: 0;
}
/* End hide from IE5/mac */

#active.withChild {
padding: 3px 0px 3px 18px;
width: 202px;
background-color: #CDD4DC;
background-image: url(collapse.gif); !important
color: #ffffff;
}


/* subnav is for displaying sections and units */

#subnav a {
display: block;
width: 196px;
border: 0 !important;
padding: 4px 0px 4px 30px;
}

#subnav a:hover {
color: #4d4d4d;
background-color: #EEEEEE;
padding: 4px 0 4px 30px;
width: 196px;
}	

#subnav #active {
background-color: #CDD4DC;
color: #ffffff;
height: 15px;
width: 196px;
padding: 4px 0 4px 30px;

}	
/* MAIN CONTENT STYLES */
#container {
border-top: 0px solid #CCC;
position:absolute;

}
#main {
	padding: 18px;
	margin: 0px 10px 10px 180px;
	margin-left: 220px;
	margin-top: 30px;
	position:absolute;
	text-align:left;
	width: 60%;
	
	
}
