/* 
Copyright University of Auckland 2004
Created by Brent Simpson, brent.simpson@auckland.ac.nz
Centre for Flexible and Distance Learning

Modified by Ignacio Gros for eXeLearning.net
See Help - eXe Tutorial for more info on how to modify this style for your needs.
*/
#content{width:100%;position:relative;padding-bottom:10px;min-width:380px;border:1px solid #FFFFFF;border-radius:5px;background:url(_kahurangi_white.gif) repeat-y 229px 0}
#main-wrapper{padding:10px 20px 0 250px}
#main{width:100%}
#content{padding-bottom:21px}
#header,#emptyHeader{border-top:none;background:url(_kahurangi_page_bg.gif) repeat-x 0 0;border-top-left-radius:5px;border-top-right-radius:5px;padding-left:15px;overflow:hidden;padding-right:220px}
#nodeDecoration{padding:0;margin:0;background:none;border:none}
#nodeTitle{padding:.1em 0 .6em 0;border-bottom:1px solid #FFFFFF}
/* Navigation */
#skipNav{text-align:center;padding-top:18px}
#skipNav a{background:#069}
#siteNav{width:230px;float:left;padding-right:20px}
#siteNav,#siteNav ul{border-color:#FFFFFF}
#siteNav ul,#siteNav li{margin:0;padding:0;list-style:none}
#siteNav a{display:block;padding:4px 0 4px 25px;color:#000;border-bottom:1px solid #FFF;border-right:1px solid #FFFFFF;background:#D4E4FD}
#siteNav a:hover,#siteNav a:focus{background-color:#eee;color:#222}
* html #siteNav a{display:inline-block;width:100%} /* IE6 */
#siteNav .main-node{font-weight:bold;font-variant:small-caps;letter-spacing:1px;font-size:1.1em}
#siteNav ul ul a{padding-left:35px;font-size:.95em}
#siteNav .active,#siteNav .active:hover,#siteNav .active:focus{color:#fff;background:#9FABBC}
#siteNav .other-section{display:none}
#siteNav ul ul ul a{padding-left:45px}
#siteNav .daddy {background-image:url(_kahurangi_collapse.gif);background-repeat: no-repeat;background-position: 5px 50%}
#siteNav .daddy.active{background-image: url(_kahurangi_expand.gif);background-repeat: no-repeat;background-position:7px 50%}
#content #siteNav ul ul a{background-image:none}
#siteFooter{padding-left:250px}
/* Pagination */
.pagination{border-top:1px solid #FFFFFF;padding-top:20px;text-align:right;color:#263264}
.pagination a{padding:0;margin:0 5px;color:#263264}
#topPagination .page-counter{margin:0 5px}
#bottomPagination .page-counter{margin:0 5px}
#topPagination{position:absolute;top:-2px;width:100%;right:20px}
#topPagination .pagination{border:none}
#bottomPagination{padding:0 20px 0 250px}
/* Autoclear */
#content:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} 
#content{display:inline-block}
html[xmlns] #content{display:block}
* html #content{height: 1%;overflow:visible}

/* No menu */
.no-nav #main-wrapper,.no-nav #bottomPagination,.no-nav #siteFooter{padding-left:20px}
.no-nav #content{background-image:none}

/* IE6 */
* html #main{width:auto}
* html #siteNav a{width:203px}
* html #siteNav ul ul a{width:193px}
* html #siteNav ul ul ul a{width:183px}

/* Search bar */
#exe-client-search-form{margin-top:10px}
#exe-client-search-text{border-color:#9fabbc}
#exe-client-search-submit{border-color:#9fabbc;background:#9fabbc;color:#fff}

/* Responsive design */
@media all and (max-width: 980px) {
	body{padding:0}
	#content{border:none;background-position:199px 0}
	#main-wrapper,#bottomPagination,#siteFooter{padding-left:220px}
	#siteNav{width:200px}
}
@media all and (max-width: 780px) {
	#siteNav .main-node{font-weight:normal;font-variant:normal;letter-spacing:0;font-size:1em}
	#main-wrapper,.no-nav #main-wrapper{padding:10px}
	#header,#emptyHeader{padding-right:10px}
	#siteNav{width:100%;float:none;padding-right:0}
	#content{background-image:none}
	#siteFooter,.no-nav #siteFooter{padding:0 10px;text-align:center}
	.pagination{font-weight:bold;font-size:1.1em}
	.pagination .sep{display:none}
	#topPagination{position:relative;top:auto;width:100%;right:auto;padding:0}
	#topPagination .pagination{padding:0;text-align:center;background:#5C6D84;border-bottom:1px solid #fff}
	#topPagination .prev,#topPagination .next,#topPagination .page-counter{display:none}
	#bottomPagination,.no-nav #bottomPagination{position:relative;padding:0 10px 15px 10px}
	#bottomPagination .prev{position:absolute;left:10px;margin-left:0}
	#bottomPagination .page-counter{position:absolute;width:50%;left:25%;text-align:center;margin:0;font-weight:normal}
	#nav-toggler a,#nav-toggler a:focus{display:inline-block;padding:4px;width:80%;color:#fff;font-variant:small-caps;letter-spacing:1px;outline:none;text-decoration:none}
	#exe-client-search-form{text-align:center}
}