#textIdeviceFeedback{padding:0 20px 5px 20px;border:1px solid #C0C0C0;margin:1.5em 0}
#textIdeviceFeedback legend{font-weight:bold;padding:0 10px}
label[for=textIdeviceContent],label[for=textIdeviceFeedbackContent]{font-weight:bold}
label[for=textIdeviceFeedbackButtonText]{padding-right:.5em}

.closed-fieldset #textIdeviceFeedbackToggler{text-decoration:underline}
.closed-fieldset #textIdeviceFeedbackToggler:hover{text-decoration:none}
#textIdeviceFeedback.closed-fieldset{border:none;padding:0}
#textIdeviceFeedback.closed-fieldset legend{padding:0}
.closed-fieldset div{display:none}